<div class="bgHide" *ngIf="!showDiv" (click)="closeModalDialog()"></div>
<div class="TopButton">
  <span>Polls :  {{(polls | filterBy: search).length }}</span>
  <div class="btninnerDiv">
    <button class="AddBtn" (click)="addPolls()">ADD POLLS</button>
    <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
  </div>
</div>
<!-- <div class="search">
  <div class="input-group md-form form-sm form-2 ">
    <input class="form-control" [(ngModel)]="search.pollText" type="text" placeholder="Search Poll Name" aria-label="Search"
      (click)="openModalDialog()">
    <div class="serachBox" [ngStyle]="{'display': display}">
      <a class="crossBtn" (click)="closeModalDialog()">X</a>
      <div class="innerpopup">
        <form name="form" (ngSubmit)="f.form.valid && searchPost()" #f="ngForm" novalidate>
          <div class="row">
            <div class="from-group col-md-6">
              <label>Start Date</label>
              <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [(ngModel)]="search1.fromdate"
                placeholder="Start Date" class="form-control" name="fromdate" #fromdate="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && fromdate.invalid }" required>
              <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
              <div *ngIf="f.submitted && fromdate.invalid" class="invalid-feedback">
                <div *ngIf="fromdate.errors.required">Start Date is required</div>
              </div>
            </div>
            <div class="from-group col-md-6">
              <label>End Date</label>
              <input [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" [(ngModel)]="search1.todate"
               placeholder="End Date" class="form-control lowerIn" name="todate" #todate="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && todate.invalid }" required>
              <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
              <div *ngIf="f.submitted && todate.invalid" class="invalid-feedback">
                <div *ngIf="todate.errors.required">End Date is required</div>
              </div>
            </div>
          </div>
          <div class="clearBtn newBtn">
              <button class="AddBtn" type="submit"  style="margin-right: 4px;">Search</button>
              <button class="AddBtn" type="reset" (click)="clearBtn();clearBtn1();">Clear</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="container listFullDiv" [class.displSearch]="!showDiv">
  <nb-card *ngFor="let item of polls | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p };" class="pollCard" >
      <button class="editButton badge pointer right" shape="round" size="small" nbButton outline><i class="fas fa-eye editIc"></i>{{item.viewCount}}</button>
      <button (click)="openNewDialog(item)" class="editButton badge pointer" shape="round" size="small" nbButton outline><i class="fas fa-user editIc"></i>{{item.attemptCount}}</button>
    <nb-card-body class="cardBody">
      <p class="pollName">{{item.pollText}}</p>
      <label class="dateFormat">Start date : {{item.startDate | date:'dd-MMM-yyyy, h:mm a'}}</label>
      <label class="dateFormat ed">End date : {{item.endDate  | date:'dd-MMM-yyyy, h:mm a'}}</label>
      <div class="interest">
          <label class="Adate" *ngFor="let content of item.intersetLit">
              <div>{{content.intersetName}}</div>
          </label>
      </div>
      <div *ngIf=" item.pollsta == 3 " class="pollEnd">
        <a>{{item.sta}}</a>
      </div>
      <div *ngIf=" item.pollsta == 2 " class="pollOn">
          <a>{{item.sta}}</a>
        </div>
        <div *ngIf=" item.pollsta == 1 " class="pollPend">
            <a>{{item.sta}}</a>
          </div>
    </nb-card-body>
    <i class="far fa-edit edit editIcon" (click)="editPolls(item)"></i>
  </nb-card>
</div> -->

<!-- <div class="nodata" *ngIf="polls.length == 0">
  <div class="imageNO">
    <img src="../../../assets/images/binders.png">
    <p>No Data Found</p>
  </div>
</div> -->

<!-- table format -->
<div class="TableDiv">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="upperMiddle" scope="col" (click)="sort('pollText')" (click)="invert()"> Title
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'pollText' && !isDesc) ,'fa-sort-desc': (column == 'pollText' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <!-- <th scope="col" class="upperMiddle" (click)="sort('intersetName')"> Interaste 
            <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'intersetName' && !isDesc) ,'fa-sort-desc': (column == 'intersetName' && isDesc) }"
            aria-hidden="true"></i>
        </th> -->
        <th class="upperMiddle" scope="col" (click)="sort('startDate')"> Start Date
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'startDate' && !isDesc),'fa-sort-desc': (column == 'startDate' && isDesc) }"
            aria-hidden="true"></i> 
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('endDate')"> End Date
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'endDate' && !isDesc),'fa-sort-desc': (column == 'endDate' && isDesc) }"
            aria-hidden="true"></i> 
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('sta')"> State
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'sta' && !isDesc),'fa-sort-desc': (column == 'sta' && isDesc) }"
            aria-hidden="true"></i> 
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('viewCount')"> Views
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'viewCount' && !isDesc),'fa-sort-desc': (column == 'viewCount' && isDesc) }"
            aria-hidden="true"></i> 
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('attemptCount')"> Attempts
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'attemptCount' && !isDesc),'fa-sort-desc': (column == 'attemptCount' && isDesc) }"
            aria-hidden="true"></i> 
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('isActive')"> Status
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'isActive' && !isDesc),'fa-sort-desc': (column == 'isActive' && isDesc) }"
            aria-hidden="true"></i> 
        </th>
        <!-- <th scope="col">Status</th>
        <th scope="col">Views</th>
        <th scope="col">Favourite</th> -->
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Title" [(ngModel)]="search.pollText"
              type="search" aria-describedby="basic-addon1" maxlength="20">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Start Date" [(ngModel)]="search.startDate"
              type="search" aria-describedby="basic-addon1" maxlength="15">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="End Date" [(ngModel)]="search.endDate"
              type="search" aria-describedby="basic-addon1" maxlength="15">
          </div>
        </th>
        <!-- <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="State" [(ngModel)]="search.sta"
              type="search" aria-describedby="basic-addon1" maxlength="15">
          </div>
        </th> -->
        <th>
          <div class="Textbox">
            <select class="selectSup" aria-placeholder="State" (change)="myFunction1($event)"
              [(ngModel)]="search.pollsta">
              <option value="" selected>Select</option>
              <option value="1">Not Started</option>
              <option value="2">Poll Ongoing</option>
              <option value="3">Poll Ended</option>
            </select>
          </div>
      </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Views" myNumberOnly [(ngModel)]="search.viewCount"
              type="search" aria-describedby="basic-addon1" maxlength="11">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Attempts" myNumberOnly [(ngModel)]="search.attemptCount"
              type="search" aria-describedby="basic-addon1" maxlength="11">
          </div>
        </th>
        <th>
            <div class="Textbox">
              <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
                [(ngModel)]="search.isActive">
                <option value="" selected>Select</option>
                <option value="1">Active</option>
                <option value="2">Inactive</option>
              </select>
            </div>
        </th>
        <!-- <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col"></th> -->
        <th class="clear"><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
      </tr>
      <tr class="userList" *ngFor="let item of polls | filterBy: search | paginate: {id:'pagination1', itemsPerPage: 10, currentPage: p };">
        <td title="{{item.pollText}}">{{ item.pollText | truncate : 20 : ".." }}</td>
        <!-- <td>
          <label *ngFor="let content of item.intersetLit">
            <div class="innerTagtext">{{content.intersetName | truncate : 20 : ".." }}</div>
          </label>
        </td> -->
        <td>{{item.startDate}}</td>
        <td>{{item.endDate}}</td>
        <!-- <td>
          <div *ngIf=" item.pollsta == 3 ">
          <a class="pollEnd">{{item.sta}}</a>
          </div>
          <div *ngIf=" item.pollsta == 2 ">
            <a class="pollOn">{{item.sta}}</a>
          </div>
          <div *ngIf=" item.pollsta == 1 ">
            <a class="pollPend">{{item.sta}}</a>
          </div>
        </td> -->
        <td>
          <p class="pollPend" *ngIf="item.pollsta == 1">Not Started</p>
          <p no-margin class="pollOn" *ngIf="item.pollsta == 2">Poll Ongoing</p>
          <p no-margin class="pollEnd" *ngIf="item.pollsta == 3">Poll Ended</p>
        </td>
        <td class="edit borderLeft">
          <div class="row innerTagtext">
            <div class="col">
              <i class="fas fa-eye" (click)="showViewDetails(item)"></i><span>{{item.viewCount}}</span>
            </div>
          </div>
        </td>
        <td class="edit borderLeft">
          <div class="row innerTagtext">
            <div class="col" (click)="openNewDialog(item)">
              <i class="fas fa-user"></i><span>{{item.attemptCount}}</span>
            </div>
          </div>
        </td>
        <td>
            <p *ngIf="item.isActive == 1">Active</p>
            <p no-margin *ngIf="item.isActive == 2">Inactive</p>
          </td>
        <td class="edit borderLeft" (click)="editPolls(item)">
          <div class="row innerTagtext">
            <div class="col" style="padding-bottom: 6px;">
              <i class="far fa-edit"></i>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table> 


  <div class="bgHide" *ngIf="!hidePopup" (click)="hideViewDetails()"></div>
  <div class="poopupDiv" *ngIf="!hidePopup">
    <div class="invoiceDiv" id="contentToConvert">
      <div class="row detailsBlock">
        <div class="col-md-10">
          View Details
        </div>
        <div class="col-md-2" (click)="hideViewDetails()">
          CANCEL
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="upperMiddle" scope="col" (click)="sortView('subname')" (click)="invert()"> Name
              <i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'subname' && !isDesc) ,'fa-sort-desc': (column == 'subname' && isDesc) }"
                aria-hidden="true"></i>
            </th>
            <th class="upperMiddle" scope="col" (click)="sortView('subemail')" (click)="invert()"> Date/Time
              <i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'subemail' && !isDesc) ,'fa-sort-desc': (column == 'subemail' && isDesc) }"
                aria-hidden="true"></i>
            </th>
           
            <th class="upperMiddle" scope="col" (click)="sortView('phoneno')" (click)="invert()"> Phone
              <i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'phoneno' && !isDesc) ,'fa-sort-desc': (column == 'phoneno' && isDesc) }"
                aria-hidden="true"></i>
            </th>
            <th scope="col" class="upperMiddle" (click)="sortView('corpname')"> Company 
                <i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'corpname' && !isDesc) ,'fa-sort-desc': (column == 'corpname' && isDesc) }"
                aria-hidden="true"></i>
            </th>
          
            
            <th scope="col"></th>

          
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Name" [(ngModel)]="searchView.subname"
                  type="search" aria-describedby="basic-addon1" maxlength="20">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Date/Time" [(ngModel)]="searchView.subemail"
                  type="search" aria-describedby="basic-addon1" maxlength="20">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Phone" [(ngModel)]="searchView.phoneno"
                  type="search" aria-describedby="basic-addon1" maxlength="10">
              </div>
            </th>
            <th class="clear">
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Company" [(ngModel)]="searchView.corpname"
                type="search" aria-describedby="basic-addon1" maxlength="50">
              </div>
            </th>
           
            
           
            <th class="clear"><button class="AddBtn clearBtn" (click)="clearViewDetail()">CLEAR</button></th>
          </tr>
          <tr class="userList"
          *ngFor="let item of detailView | filterBy: searchView | paginate: {id:'pagination2', itemsPerPage: 10, currentPage: d };let i = index">
            <td title="{{item.subname}}">{{ item.subname | truncate : 20 : ".." }}</td>
            <td title="{{item.subemail}}">{{ item.subemail | truncate : 20 : ".." }}</td>
           
            <td title="{{item.phoneno}}">{{ item.phoneno}}</td>
            <td title="{{item.corpname}}">{{ item.corpname | truncate : 20 : ".." }}</td>
         
            <td> </td>
          </tr>
        </tbody>
      </table>


      <div *ngIf="posts" style="width: 100%; text-align: center;margin-top: 25px;">
        <pagination-controls (pageChange)="d = $event" id="pagination2" maxSize="5" directionLinks="true" autoHide="true">
        </pagination-controls>
      </div>
     

    </div>
  
   
  
  </div>

</div>

<!-- <ngx-poll-results></ngx-poll-results> -->

<div class="nodata" *ngIf="!featureLength">
  <div class="imageNO serErr">
    <p>No Data Found</p>
  </div>
</div>
<div class="nodata" *ngIf="setveractive">
  <div class="imageNO serErr">
    <p>Server Error</p>
  </div>
</div>

<div *ngIf="polls" style="width: 100%; text-align: center;margin-top: 25px;">
  <pagination-controls (pageChange)="p = $event" id="pagination1" maxSize="5" directionLinks="true" autoHide="true">
  </pagination-controls>
</div>
