<div>
  <div class="filter">
    <button class="AddBtn exportBtn" (click)="goBack()">BACK</button>
    <span class="txtn" *ngIf="showNorTable">{{category}} - {{type}} :
      {{(activityDetail| filterBy: searchManual).length}}</span>
    <span class="txtn" *ngIf="showTdsTabe">{{category}} - {{type}} : {{(TDSDetail| filterBy: searchTDS).length}}</span>
    <span class="txtn" *ngIf="showGSTTabe">{{category}} : {{(GSTDetail| filterBy: searchGST).length}}</span>

    <button class="AddBtn exportBtn" (click)="exportExcelCorp()">EXPORT TO EXCEL</button>
  </div>
  <div class="corpButton">
  </div>


  <div class="TableDiv marginClass" *ngIf="showNorTable">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="upperMiddle" scope="col" (click)="sort('subname')" (click)="invert()">NAME
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'subname' && !isDesc) ,'fa-sort-desc': (column == 'subname' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sort('corpname')">COMPANY<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'corpname' && !isDesc),'fa-sort-desc': (column == 'corpname' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('phoneno')">MOB NO.<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'phoneno' && !isDesc),'fa-sort-desc': (column == 'phoneno' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th scope="col" (click)="sort('createdDate')">CREATED DATE<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'createdDate' && !isDesc),'fa-sort-desc': (column == 'createdDate' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('fromDate')">ACTIVE START DATE<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'fromDate' && !isDesc),'fa-sort-desc': (column == 'fromDate' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('gracePeriod')">ACTIVE END DATE<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'gracePeriod' && !isDesc),'fa-sort-desc': (column == 'gracePeriod' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('pkgName')">PACKAGE<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'pkgName' && !isDesc),'fa-sort-desc': (column == 'pkgName' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('amount')">Amount<i class="fa" [ngClass]="{'fa-sort-asc': (column == 'amount' && !isDesc),'fa-sort-desc': (column == 'amount' && isDesc)
              }" aria-hidden="true"></i> </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="activityDetail.length > 0">
        <tr>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Name" alphabetOnly
                [(ngModel)]="searchManual.subname" type="search" aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Company" [(ngModel)]="searchManual.corpname"
                type="search" aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Mob No." myNumberOnly
                [(ngModel)]="searchManual.phoneno" type="search" aria-describedby="basic-addon1" maxlength="10">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Created Date"
                [(ngModel)]="searchManual.createdDate" type="search" aria-describedby="basic-addon1" maxlength="200">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Sub Start date"
                [(ngModel)]="searchManual.fromDate" type="search" aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Sub End date"
                [(ngModel)]="searchManual.gracePeriod" type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Package" [(ngModel)]="searchManual.pkgName"
                type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Amount" myNumberOnly
                [(ngModel)]="searchManual.amount" type="search" aria-describedby="basic-addon1">
            </div>
          </th>

          <th><button class="clearBtn clearBtn" (click)="clearBtnManual()">CLEAR</button></th>
        </tr>
        <tr class="userList1"
          *ngFor="let item of activityDetail  | filterBy: searchManual | paginate: { itemsPerPage: 10, currentPage: q, id: 'q'  }; let i = index">
          <td>{{ item.subname }}</td>
          <td>{{ item.corpname }}</td>
          <!-- <td>corp</td> -->
          <td class="phoneClass">{{ item.phoneno }}</td>
          <td>{{ item.createdDate }}</td>
          <td>{{ item.fromDate }}</td>
          <td>{{ item.gracePeriod }}</td>
          <td>{{ item.pkgName}}</td>
          <td>
            <ng-container *ngIf="item?.currency == 1 && item.amount">&#x20b9;</ng-container>
            <ng-container *ngIf="item?.currency == 2 && item.amount">$</ng-container> {{ item.amount}}
          </td>
          <td></td>
        </tr>
        <tr></tr>
      </tbody>
    </table>




    <div *ngIf="activityDetail" style="width: 100%; text-align: center;margin-top: 10px;">
      <pagination-controls (pageChange)="q = $event" maxSize="5" directionLinks="true" autoHide="true" id='q'>
      </pagination-controls>
    </div>
  </div>

  <div class="TableDiv marginClass" *ngIf="showTdsTabe">
    <table class="table table-hover">
      <thead>
        <tr *ngIf="TDSDetail.length > 0">
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>(Total)</th>
          <th></th>
          <th>(Total)</th>
          <th></th>
        </tr>
        <tr *ngIf="TDSDetail.length > 0">
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>{{ total.Tol_totalAmt | number  }}</th>
          <th></th>
          <th>{{ total.Tol_tdsamount | number  }}</th>

          <th></th>
        </tr>
        <tr>
          <th class="upperMiddle" scope="col" (click)="sortGST('month')">MONTH
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'month' && !isDesc) ,'fa-sort-desc': (column == 'month' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sortTds('name')">COMPANY<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'name' && !isDesc),'fa-sort-desc': (column == 'name' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortTds('patment_mode')">PAYMENT MADE<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'patment_mode' && !isDesc),'fa-sort-desc': (column == 'patment_mode' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortTds('payment_sec')">PAYMENT SECTION<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'payment_sec' && !isDesc),'fa-sort-desc': (column == 'payment_sec' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th scope="col" (click)="sortTds('panNo')">PAN<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'panNo' && !isDesc),'fa-sort-desc': (column == 'panNo' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortTds('transaction_date')">TRANSACTION DATE<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'transaction_date' && !isDesc),'fa-sort-desc': (column == 'transaction_date' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortTds('totalAmt')">AMOUNT CREDITED<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'totalAmt' && !isDesc),'fa-sort-desc': (column == 'totalAmt' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortTds('tdsrate')">RATE<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'tdsrate' && !isDesc),'fa-sort-desc': (column == 'tdsrate' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortTds('tdsamount')">TDS DEDUCTED<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'tdsamount' && !isDesc),'fa-sort-desc': (column == 'tdsamount' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="TDSDetail.length > 0">
        <tr>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="MONTH" alphabetOnly
                [(ngModel)]="searchTDS.month" type="search" aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Company" [(ngModel)]="searchTDS.name"
                type="search" aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Paymnet mode"
                [(ngModel)]="searchTDS.patment_mode" type="search" aria-describedby="basic-addon1" maxlength="10">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Paymnet mode"
                [(ngModel)]="searchTDS.payment_sec" type="search" aria-describedby="basic-addon1" maxlength="10">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="PAN No" [(ngModel)]="searchTDS.panNo"
                type="search" aria-describedby="basic-addon1" maxlength="200">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Transaction date"
                [(ngModel)]="searchTDS.transaction_date" type="search" aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Amount Credited"
                [(ngModel)]="searchTDS.totalAmt" type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="TDS Rate" [(ngModel)]="searchTDS.tdsrate"
                type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="TDS Deducted"
                [(ngModel)]="searchTDS.tdsamount" type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>



          <th><button class="clearBtn clearBtn" (click)="clearTDSManual()">CLEAR</button></th>
        </tr>
        <tr class="userList1"
          *ngFor="let item of TDSDetail  | filterBy: searchTDS | paginate: { itemsPerPage: 10, currentPage: q, id: 'q'  }; let i = index">
          <td>{{ item.month }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.patment_mode }}</td>
          <td>{{ item.payment_sec }}</td>
          <td>{{ item.panNo }}</td>
          <td>{{ item.transaction_date }}</td>
          <td>{{ item.totalAmt | number  }}</td>
          <td>{{ item.tdsrate | number }}</td>
          <td>{{ item.tdsamount | number  }}</td>
          <td></td>
        </tr>
        <tr></tr>
      </tbody>
    </table>




    <div *ngIf="TDSDetail" style="width: 100%; text-align: center;margin-top: 10px;">
      <pagination-controls (pageChange)="q = $event" maxSize="5" directionLinks="true" autoHide="true" id='q'>
      </pagination-controls>
    </div>
  </div>

  <div class="TableDiv marginClass" *ngIf="showGSTTabe">
    <table class="table table-hover">
      <thead>
        <tr *ngIf="GSTDetail.length > 0">
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>(Total)</th>
          <th>(Total)</th>
          <th>(Total)</th>
          <th>(Total)</th>
          <th>(Total)</th>
          <th>(Total)</th>
          <th></th>
        </tr>
        <tr *ngIf="GSTDetail.length > 0">
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>{{ total.Total_taxable_vale | number  }}</th>
          <th>{{ total.Total_cgst | number  }}</th>
          <th>{{ total.Total_sgst | number  }}</th>
          <th>{{ total.Total_igst | number  }}</th>
          <th>{{ total.Total_total_tax | number  }}</th>
          <th>{{ total.Total_total_invoice_value | number  }}</th>
          <th></th>
        </tr>
        <tr *ngIf="GSTDetail.length > 0">
          <th class="upperMiddle" scope="col" (click)="sortGST('invoice_number')">INVOICE NUMBER
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'invoice_number' && !isDesc) ,'fa-sort-desc': (column == 'invoice_number' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sortGST('invoice_date')">INVOICE DATE<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'invoice_date' && !isDesc),'fa-sort-desc': (column == 'invoice_date' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortGST('hsn_code')">HSN CODE<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'hsn_code' && !isDesc),'fa-sort-desc': (column == 'hsn_code' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th scope="col" (click)="sortGST('name')">NAME/COMPANY<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'name' && !isDesc),'fa-sort-desc': (column == 'name' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortGST('gstid')">GST ID<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'gstid' && !isDesc),'fa-sort-desc': (column == 'gstid' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortGST('package_name')">PACKAGE NAME<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'package_name' && !isDesc),'fa-sort-desc': (column == 'package_name' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortGST('payment_mode')">PAYMENT MODE<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'payment_mode' && !isDesc),'fa-sort-desc': (column == 'payment_mode' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortGST('from_date')">BILLING PERIOD FROM<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'from_date' && !isDesc),'fa-sort-desc': (column == 'from_date' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortGST('to_date')">BILLING PERIOD TO<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'to_date' && !isDesc),'fa-sort-desc': (column == 'to_date' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortGST('taxable_vale')">TAXABLE VALUE<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'taxable_vale' && !isDesc),'fa-sort-desc': (column == 'taxable_vale' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortGST('cgst')">CGST<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'cgst' && !isDesc),'fa-sort-desc': (column == 'cgst' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortGST('sgst')">SGST<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'sgst' && !isDesc),'fa-sort-desc': (column == 'sgst' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortGST('igst')">IGST<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'igst' && !isDesc),'fa-sort-desc': (column == 'igst' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sortGST('total_tax')">TOTAL TAX<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'total_tax' && !isDesc),'fa-sort-desc': (column == 'total_tax' && isDesc) }"
              aria-hidden="true"></i> </th>

          <th class="upperMiddle" scope="col" (click)="sortGST('total_invoice_value')">TOTAL INVOICE VALUE<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'total_invoice_value' && !isDesc),'fa-sort-desc': (column == 'total_invoice_value' && isDesc) }"
              aria-hidden="true"></i> </th>







          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="GSTDetail.length > 0">
        <tr>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Invoice no."
                [(ngModel)]="searchGST.invoice_number" type="search" aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Invoice date"
                [(ngModel)]="searchGST.invoice_date" type="search" aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="HSN code" [(ngModel)]="searchGST.hsn_code"
                type="search" aria-describedby="basic-addon1" maxlength="10">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Name/ Company" [(ngModel)]="searchGST.name"
                type="search" aria-describedby="basic-addon1" maxlength="200">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="GST ID" [(ngModel)]="searchGST.gstid"
                type="search" aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Package Name"
                [(ngModel)]="searchGST.package_name" type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Payment Mode"
                [(ngModel)]="searchGST.payment_mode" type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Form Date" [(ngModel)]="searchGST.from_date"
                type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>

          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="To Date" [(ngModel)]="searchGST.to_date"
                type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>

          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Taxable Value"
                [(ngModel)]="searchGST.taxable_vale" type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>

          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="CGST" [(ngModel)]="searchGST.cgst"
                type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>

          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="SGST" [(ngModel)]="searchGST.sgst"
                type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="IGST" [(ngModel)]="searchGST.igst"
                type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Total Tax" [(ngModel)]="searchGST.total_tax"
                type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Total Invoice Value"
                [(ngModel)]="searchGST.total_invoice_value" type="search" aria-describedby="basic-addon1"
                maxlength="15">
            </div>
          </th>

          <th><button class="clearBtn clearBtn" (click)="clearGSTManual()">CLEAR</button></th>
        </tr>
        <tr class="userList1"
          *ngFor="let item of GSTDetail  | filterBy: searchGST | paginate: { itemsPerPage: 10, currentPage: q, id: 'q'  }; let i = index">
          <td>{{ item.invoice_number }}</td>
          <td>{{ item.invoice_date }}</td>
          <td>{{ item.hsn_code }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.gstid }}</td>
          <td>{{ item.package_name }}</td>
          <td>{{ item.payment_mode}}</td>
          <td>{{ item.from_date }}</td>
          <td>{{ item.to_date }}</td>
          <td>{{ item.taxable_vale | number }}</td>
          <td>{{ item.cgst | number  }}</td>
          <td>{{ item.sgst | number }}</td>
          <td>{{ item.igst | number  }}</td>
          <td>{{ item.total_tax | number  }}</td>
          <td>{{ item.total_invoice_value | number }}</td>

          <td></td>
        </tr>
        <tr></tr>
      </tbody>
    </table>




    <div *ngIf="GSTDetail" style="width: 100%; text-align: center;margin-top: 10px;">
      <pagination-controls (pageChange)="q = $event" maxSize="5" directionLinks="true" autoHide="true" id='q'>
      </pagination-controls>
    </div>
  </div>
