<div class="TopButton">
  <span>Emails :  {{(templateList| filterBy: search).length}}</span>
  <div class="btninnerDiv">
    <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
  </div>
</div>

<div class="TableDiv">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="upperMiddle" scope="col" (click)="sort('subject')" (click)="invert()"> Subject
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'subject' && !isDesc) ,'fa-sort-desc': (column == 'subject' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('triggerName')" (click)="invert()"> Trigger Name
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'triggerName' && !isDesc) ,'fa-sort-desc': (column == 'triggerName' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('status')">Status<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'status' && !isDesc),'fa-sort-desc': (column == 'status' && isDesc) }"
            aria-hidden="true"></i> </th>
         <th scope="col"></th>
        <!-- <th scope="col"></th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Subject" [(ngModel)]="search.subject"
              type="search" aria-describedby="basic-addon1" maxlength="100">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Trigger Name" [(ngModel)]="search.triggerName"
              type="search" aria-describedby="basic-addon1" maxlength="45">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
              [(ngModel)]="search.status">
              <option value="" selected>Select</option>
              <option value="1">Active</option>
              <option value="2">Inactive</option>
            </select>
          </div>
        </th>
        <th class="clear"><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
        <!-- <th></th> -->
      </tr>
      <tr class="userList"
        *ngFor="let item of templateList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
        <td title="item.subject">{{ item.subject | truncate : 100 : ".." }}</td>
        <td>{{ item.triggerName }}</td>
        <td>
          <p *ngIf="item.status == 1">Active</p>
          <p no-margin *ngIf="item.status == 2">Inactive</p>
        </td>
        <td class="edit borderLeft"><i class="far fa-edit" (click)="editFeature(item)"></i></td>
      </tr>
    </tbody>
  </table>
  <div class="nodata" *ngIf="!featureLength">
      <div class="imageNO">
        <!-- <img src="../../../assets/images/binders.png"> -->
        <p>No Data Found</p>
      </div>
    </div>
    <div class="nodata" *ngIf="setveractive">
      <div class="imageNO">
        <!-- <img src="../../../assets/images/binders.png"> -->
        <p>Server Error</p>
      </div>
    </div>
</div>

<div *ngIf="templateList" style="width: 100%; text-align: center;margin-top: 10px;">
  <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true" autoHide="true">
  </pagination-controls>
</div>