<div class="TopButton">
    <span>Promotions :  {{(promoList| filterBy: search).length}}</span>
    <div class="btninnerDiv">
        <button class="AddBtn" (click)="AddSub()">ADD</button>
        <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
    </div>
  </div>
  
  <div class="TableDiv">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" (click)="sort('promoHeader')" (click)="invert()">Title<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'promoHeader' && !isDesc) ,'fa-sort-desc': (column == 'promoHeader' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <th scope="col" (click)="sort('promodesc')" (click)="invert()">Description<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'promodesc' && !isDesc) ,'fa-sort-desc': (column == 'promodesc' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <!-- <th scope="col" (click)="sort('price')">Attachment<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'price' && !isDesc),'fa-sort-desc': (column == 'price' && isDesc) }"
              aria-hidden="true"></i> </th> -->
          <th scope="col" (click)="sort('startDate')">Start Date<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'startDate' && !isDesc),'fa-sort-desc': (column == 'startDate' && isDesc) }"
              aria-hidden="true"></i> 
          </th>
          <th scope="col" (click)="sort('endDate')">End Date<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'endDate' && !isDesc),'fa-sort-desc': (column == 'endDate' && isDesc) }"
              aria-hidden="true"></i> 
          </th>
          <th scope="col" (click)="sort('isActive')">Status<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'isActive' && !isDesc),'fa-sort-desc': (column == 'isActive' && isDesc) }"
              aria-hidden="true"></i> 
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Title"  type="search" 
                aria-describedby="basic-addon1" maxlength="20" [(ngModel)]="search.promoHeader">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Description" type="search" 
                aria-describedby="basic-addon1" maxlength="20" [(ngModel)]="search.promodesc">
            </div>
          </th>
        
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Start Date"
                type="search" aria-describedby="basic-addon1" maxlength="15" [(ngModel)]="search.startDate">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="End Date" 
                type="search" aria-describedby="basic-addon1" maxlength="30"  [(ngModel)]="search.startDate">
            </div>
          </th>
          <th>
          
            
                <div class="Textbox">
                  <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
                  [(ngModel)]="search.isActive">
                    <option value="" selected>Select</option>
                    <option value="1">Active</option>
                    <option value="2">Inactive</option>
                  </select>
                </div>
            
          </th>
          <th class="clear"><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
        </tr>

        <tr class="userList"
          *ngFor="let item of promoList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <td>{{ item.promoHeader }}</td>
          <td title="item.promodesc">{{ item.promodesc | truncate : 50 : ".." }}</td>
          <td class="phoneClass">{{ item.startDate}}</td>
          <td class="phoneClass">{{ item.endDate}}</td>        
          <td>
            <p *ngIf="item.isActive == 1">Active</p>
            <p no-margin *ngIf="item.isActive == 2">Inactive</p>
          </td>
          <td class="edit borderLeft"><i class="far fa-edit" (click)="editSub(item)"></i></td>
        </tr>
      </tbody>
    </table>
    <div class="nodata" *ngIf="promoList.length == 0">
      <div class="imageNO">
        <p>No Data Found</p>
      </div>
    </div>
  </div>
  
  <div *ngIf="promoList" style="width: 100%; text-align: center;margin-top: 10px;">
    <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true" autoHide="true">
    </pagination-controls>
  </div>
  