<form [formGroup]="registerForm" class="addDiv">
  <div class="TopButton">
    <div class="btninnerDiv">
      <button type="submit" class="btn AddBtn subBtn" (click)="onSubmit()">Submit</button>
      <button class="btn AddBtn" (click)="back()">Back</button>
    </div>
  </div>
  <div class="mainDiv" style="margin-top:50px">
    <div class="text">
      <h1 *ngIf="editPkgata.length > 0">Edit Package</h1>
      <h1 *ngIf="editPkgata.length == 0">Add Package</h1>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Package Name <span class="mandatory">*</span></label>
        <input type="text" class="form-control" placeholder="Package Name" formControlName="pkgname"
          [ngClass]="{ 'is-invalid': submitted && f.pkgname.errors }" maxlength="50">
        <!-- <label class="warning">Maximum length of characters is 100</label> -->
        <div *ngIf="submitted && f.pkgname.errors" class="invalid-feedback">
          <div *ngIf="f.pkgname.errors.required">Package name is required</div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label>Package Type <span class="mandatory">*</span></label>
        <select (change)="checkPackage($event)" class="custom-select custom-select selectClass"
          formControlName="package">
          <option value="D" selected>Default</option>
          <option value="N">Normal</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Country <span class="mandatory">*</span></label>
        <select class="custom-select custom-select selectClass" formControlName="country"
          (change)="onCountryChange($event)">
          <option value="" selected>Select Country</option>
          <option [value]="item?.countryId" *ngFor="let item of countryList">{{item?.country}}</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label>Currency <span class="mandatory">*</span></label>
        <select class="custom-select custom-select selectClass" formControlName="currency" disabled>
          <option value="" selected>Select Currency</option>
          <option [value]="item?.currencyId" *ngFor="let item of currencyList">{{item?.currencyName}}</option>
        </select>
      </div>

      <!-- <div class="form-group col-md-6">
        <label>Features <span class="mandatory">*</span></label>
        <ng-multiselect-dropdown style="background:white;" class="" [placeholder]="'Features'" [data]="dropdownFeature"
          [settings]="featureSetting" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
          (onDeSelect)="onItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
          [ngModelOptions]="{standalone: true}" [disabled]="false">
        </ng-multiselect-dropdown>
        <div *ngIf="selectedItems.length == 0" class="invalid-feedback">
          <div class="fetmargin statusmargin">{{isCheck}}</div>
        </div>
      </div> -->

      <!-- <div class="form-group col-md-6">
        <label>Price (₹)<span class="mandatory">*</span></label>
        <input type="number" class="form-control" placeholder="Price" formControlName="price" 
            [ngClass]="{ 'is-invalid': submitted && f?.price?.errors }">
        <div *ngIf="submitted && f?.price?.errors" class="invalid-feedback">
          <div *ngIf="f?.price?.errors.required">Price is required</div>
        </div> 
      </div> -->
    </div>

    <div class="form-row">
      <!-- <div class="form-group col-md-6">
        <label>Duration (Months)<span class="mandatory">*</span></label>
        <input type="number" class="form-control" placeholder="Duration" formControlName="duration" 
            [ngClass]="{ 'is-invalid': submitted && f.period.errors }" maxlength="3">
        <div *ngIf="submitted && f.period.errors" class="invalid-feedback">
          <div *ngIf="f.period.errors.required">Duration is required</div>
        </div> 
      </div> -->
      <div class="form-group col-md-6">
        <label>Price
          <ng-container *ngIf="currencyId == 1">(₹)</ng-container>
          <ng-container *ngIf="currencyId == 2">($)</ng-container>
          <span class="mandatory">* </span>
        </label>
        <input type="text" class="form-control" placeholder="Price" formControlName="price" myNumberOnly
          [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
          <div *ngIf="f.price.errors.required">Total Price is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Duration (Months) <span class="mandatory">*</span></label>
        <input (blur)="checkDuration($event)" type="text" class="form-control" placeholder="Duration"
          formControlName="duration" [(ngModel)]="durationfun" myNumberOnly
          [ngClass]="{ 'is-invalid': submitted && f.duration.errors }" maxlength="2">
        <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.duration.errors.required">Duration is required</div>
        </div>
      </div>

      <!-- <div class="form-group col-md-6">
        <label>Discount (%)<span class="mandatory">*</span></label>
        <input (change)="checkVal($event)" type="number" class="form-control" placeholder="Discount"
          formControlName="discount">
        <div *ngIf="submitted && f.discount.errors" class="invalid-feedback">
          <div *ngIf="f.discount.errors.required">Discount is required</div>
        </div> 
      </div> -->
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Discount(%)</label>
        <input (blur)="setDisc($event)" type="text" class="form-control" placeholder="Discount"
          formControlName="discount" min="0" [(ngModel)]="discountfun" myNumberOnly
          [ngClass]="{ 'is-invalid': submitted && f.discount.errors }" max="100" maxlength="3">
        <div *ngIf="submitted && f.discount.errors" class="invalid-feedback">
          <div *ngIf="f.discount.errors.required">Discount is required</div>
          <div *ngIf="f.discount.errors.pattern">Discount is invalid</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Status <span class="mandatory">*</span></label>
          <select class="custom-select custom-select selectClass" formControlName="status">
            <option value="1">Active</option>
            <option value="2">Inactive</option>
          </select>
          <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div class="statusmargin" *ngIf="f.status.errors.required">Status is required</div>
          </div>
        </div>
      </div>

      <div class="form-group col-md-6">
        <label>Description</label>
        <!-- <ckeditor [editor]="Editor" [config]="config" formControlName="description" [data]="descriptionEditor">
        </ckeditor> -->
        <ckeditor [config]="ckeConfig" formControlName="description" [(ngModel)]="editorData">
        </ckeditor>
        <!-- <textarea class="form-control textAr" placeholder="Description" rows="4" formControlName="description"
          maxlength="2000"></textarea> -->
        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.description.errors.required">Description is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label class=toggleLabel> Special</label>
        <div>
          <label class="switch">
            <input type="checkbox" formControlName="highL" value="test" [checked]="test" (change)="onToggle(test)">
            <span class="slider round"></span>
          </label>

        </div>

        <div *ngIf="showAssign && edit" class="asg" text-left>
          <!-- <p class="toggleSwitch"><label>Assigning to Subscribers :</label>
          <ui-switch (change)="onChange($event)" color="white" switchColor="#01579b"></ui-switch>
        </p> -->
          <button type="button" class="AddBtn" (click)="assign()">Assign to all subscribers</button>
        </div>
      </div>


    </div>


    <!-- [checked]="toggleNgModel"  -->
  </div>
</form>
<div class="mainDiv" style="margin-top:50px" *ngIf="editPkgata.length > 0 && test == 1">
  <div class="text">
    <h1>Assign To This Subscribers</h1>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <input type="text" class="form-control" placeholder="Enter Mobile No" maxlength="11" [(ngModel)]="mobileNo">
    </div>
    <div class="form-group col-md-6">
      <button class="btn AddBtn AddBtn1" (click)="assignSpecial()">Assign This subscribers </button>
    </div>
  </div>
</div>
