.question{
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
}
.close{
    position: absolute;
    top: -28px;
    right: 8px;
    font-size: 20px;
}
.download {
    font-size: 13px;
    font-weight: 600;
    color: #4b4b4b;
    position: absolute;
    top: -25px;
    cursor: pointer;
    i  {
        padding-left: 6px;   
    }
}