<div *ngIf="flag === true">
  <div class="download" (click)="captureScreen()">Download<i class="fas fa-download"></i></div>
  <div id="pollCanvasImg">
    <div>
      <title class="question">{{title}} </title> <i class="close fas fa-times-circle"></i>
    </div>
    <!-- <ngx-charts-bar-vertical
      [view]="view"
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)">
    </ngx-charts-bar-vertical> -->
    <div style="display: block;">
      <canvas style="width: 430px;" baseChart 
        [data]="pieChartData" 
        [labels]="pieChartLabels" 
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>
