.TopButton {
  background: white;
  position: sticky;
  top: 65px;
  width: 100%;
  z-index: 2;
  left: 0;
  height: 56px;
  box-shadow: 3px 3px 5px 0px #ccc;
}

.btninnerDiv {
  position: absolute;
  right: 0;
}

.AddBtn {
  padding: 8px 21px;
  border: 1px solid #01579b;
  background: #01579b;
  color: #ffffff;
  transition: .4s ease-in-out;
  cursor: pointer !important;
  border-radius: 3px;
  outline: none;
  margin-top: 10px;
  margin-right: 10px;
}

.AddBtn:hover {
  color: #01579b;
  background: #ffffff;
}

.clearBtn {
  margin: 0;
  padding: 4px 10px;
}

.AddBtn:hover {
  color: #01579b;
  background: #ffffff;
}

.arrBtn {
  float: right;
}

.fa-sort-asc::before {
  content: "[ ↑ ]";
  display: block;
  font-weight: 900;
  padding-left: 2px;
  position: relative;
  bottom: 2px;
}

.fa-sort-desc::before {
  content: "[ ↓ ]";
  display: block;
  font-weight: 900;
  padding-left: 2px;
  position: relative;
  bottom: 2px;
}

.edit i {
  cursor: pointer;
  color: #01579b;
}

.borderLeft {
  border-left: 1px solid #dee2e6;
}

.edit {
  border-right: 1px solid #dee2e6;
  text-align: center !important;
}

.Textbox input {
  //font-size: 10px;
  height: 26px;
  padding: 6px 6px;
  border-radius: 5px !important;
}

.selectSup {
  height: 25px;
  border-radius: 4px;
  border: 2px solid #dadfe6;
  color: #b1b6af;
  outline: none;
}

.userList {
  p {
    margin: 0;
  }
}

.green {
  color: #009f57;
}

.red {
  color: #ff0000b5;
}

.yellow {
  color: #FFC107;
}

.boldClass {
  font-weight: 500;
}

.phoneClass {
  text-align: right;
}

.imageDiv {
  text-align: center;

  img {
    width: 40px;
    height: 40px;
  }
}

.clear {
  text-align: center;
}

.upperMiddle {
  text-align: center;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .uplosdDiv {
    margin-top: 40px;
  }

  .upBtn {
    padding-top: 10px;
  }
}

@media screen and (max-width: 576px) {
  .AddBtn {
    padding: 6px 9px;
    font-size: 12px;
  }

  .clearBtn {
    margin: 0;
    padding: 4px 10px;
  }

  .TopButton {
    top: 53px;
    height: 51px;
  }

  .uplosdDiv {
    margin-top: 25px;
  }
}

@media screen and (max-width: 400px) {
  .TopButton {
    .btninnerDiv {
      .AddBtn {
        padding: 6px 6px;
        font-size: 10px;
        margin-right: 4px;
      }
    }
  }
}
