<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
  <div class="TopButton">
    <div class="btninnerDiv">
      <button  type="submit" class="btn AddBtn subBtn">Submit</button>
      <button class="btn AddBtn" (click)="back()">Back</button>
    </div>
  </div>
  <div class="mainDiv" style="margin-top:50px">
    <div class="text">
      <h1 *ngIf="forumData.length == 0">Add Forum</h1>
      <h1 *ngIf="forumData.length > 0">Edit Forum</h1>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Forum Name <span class="mandatory">*</span></label>
        <input [disabled]="disableAll" 
               (blur)="checkVal($event)" 
               type="text" 
               class="form-control" 
               placeholder="Forum Name" 
               formControlName="pname"
               maxlength="2000"
          [ngClass]="{ 'is-invalid': submitted && f.pname.errors , 'disableClass': disableAll }">
        <!-- <label class="warning">Maximum length of characters is 100</label> -->
        <div *ngIf="submitted && f.pname.errors" class="invalid-feedback">
          <div *ngIf="f.pname.errors.required">
              Forum Name is required
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
          <label>Interests <span class="mandatory">*</span></label>
          <ng-multiselect-dropdown style="background:white;" class="customMulti" [ngClass]="{ 'disabletextdd': disableAll }"
            [placeholder]="'Select Interests'"
            [data]="dropdownList"
            [settings]="dropdownSettings"
            [(ngModel)]="selectedItems"
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="onItemDeSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            [ngModelOptions]="{standalone: true}"
            [disabled]="disableAll"
          >
          </ng-multiselect-dropdown>
          <div *ngIf="selectedItems.length == 0" class="invalid-feedback">
            <div class="statusmargin">{{isCheck1}}</div>
          </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Forum Description <span class="mandatory">*</span></label>
            <textarea (blur)="checkVal($event)" class="form-control textAr"  placeholder="Forum Description" rows="6" formControlName="descri"  maxlength="10000"
            [ngClass]="{ 'is-invalid': submitted && f.descri.errors , 'disableClass': disableAll }"></textarea>
            <div *ngIf="submitted && f.descri.errors" class="invalid-feedback">
                <div *ngIf="f.descri.errors.required">Description is required</div>
            </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Start Date <span class="mandatory">*</span></label>
          <input (blur)="checkVal($event)" class="form-control" [min]="minDate" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" 
          placeholder="Start Date" formControlName="startDt" 
          [ngClass]="{ 'is-invalid': submitted && f.startDt.errors , 'disableClass': disableAll }">
          <owl-date-time [pickerMode]="'dialog'" [pickerType]="'both'" #dt1></owl-date-time>
          <div *ngIf="submitted && f.startDt.errors" class="invalid-feedback">
              <div *ngIf="f.startDt.errors.required">Start Date is required</div>
          </div>
      </div>
      <div class="form-group col-md-6">
        <label>End Date <span class="mandatory">*</span></label>
          <input (blur)="checkVal($event)" class="form-control" [min]="minDate" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" 
          placeholder="End Date" formControlName="endDt" 
          [ngClass]="{ 'is-invalid': submitted && f.endDt.errors , 'disableClass': disableAll }">
          <owl-date-time [pickerMode]="'dialog'" [pickerType]="'both'" #dt2></owl-date-time>
          <div *ngIf="submitted && f.endDt.errors" class="invalid-feedback">
              <div *ngIf="f.endDt.errors.required">End Date is required</div>
          </div>
      </div>
      
    </div>
    <div class="form-row">
      <!-- <div class="form-group col-md-6 addoption">
        <label>Forum Image </label>
          <div class="input-group">
            <span style="color:red;" *ngIf="message">{{message}}</span>
            <input *ngIf="!imgURL" #file type="file" accept='image/*' [(ngModel)]="str1"
              [ngModelOptions]="{standalone: true}" (change)="preview(file.files)" class="custom-file-input"
              id="inputGroupFile02" required aria-describedby="inputGroupFileAddon02" />
            <label *ngIf="!imgURL" style="bottom:0!important;" class="custom-file-label labelnew"
              for="inputGroupFile02">{{name1}}</label>
            <div *ngIf="imgURL" class="imageDiv">
              <img [src]="imgURL">
              <span class="RemoveImageicon" (click)=removeImage();>
                <i class="fas fa-times" aria-hidden="true"></i>
              </span>
            </div>
          </div>

      </div> -->
      <div class="form-group col-md-6">
          <label>Question End time <span class="mandatory">*</span></label>
            <input (blur)="checkVal($event)" class="form-control" [min]="minDate" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" 
            placeholder="Question end time" formControlName="QuestionEnd" 
            [ngClass]="{ 'is-invalid': submitted && f.QuestionEnd.errors , 'disableClass': disableAll }">
            <owl-date-time [pickerMode]="'dialog'" [pickerType]="'both'" #dt3></owl-date-time>
            <div *ngIf="submitted && f.QuestionEnd.errors" class="invalid-feedback">
                <div *ngIf="f.QuestionEnd.errors.required">Question end time is required</div>
            </div>
        </div>
      <div class="form-group col-md-6">
          <label>Status <span class="mandatory">*</span></label>
          <select class="custom-select custom-select selectClass" formControlName="status" style="padding: 10px 12px; border-radius: 6px;">
            <option value="" disabled selected>Select status</option>
            <option value="1">Active</option>
            <option value="2">Inactive</option>
          </select>
          <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div class="statusmargin" *ngIf="f.status.errors.required">Status is required</div>
          </div>
      </div>
     
    </div>
  </div>
</form>


