<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
  <div class="form-row">
    <div class="form-group col-md-3 col-sm-12 col-xs-12">
      <input (blur)="checkVal($event)" class="form-control size-adjust" [max]="maxDate" [owlDateTimeTrigger]="dt1"
        [owlDateTime]="dt1" placeholder="From Date" formControlName="startDt"
        [ngClass]="{ 'is-invalid': submitted && f.startDt.errors , 'disableClass': disableAll }">
      <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" #dt1></owl-date-time>
      <div *ngIf="submitted && f.startDt.errors" class="invalid-feedback">
        <div *ngIf="f.startDt.errors.required">Start Date is required</div>
      </div>
    </div>
    <!-- [max]="maxDate" -->
    <div class="form-group col-md-3 col-sm-12 col-xs-12">
      <input (blur)="checkVal($event)" class="form-control  size-adjust" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
        placeholder="To Date" formControlName="endDt"
        [ngClass]="{ 'is-invalid': submitted && f.endDt.errors , 'disableClass': disableAll }">
      <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" #dt2></owl-date-time>
      <div *ngIf="submitted && f.endDt.errors" class="invalid-feedback">
        <div *ngIf="f.endDt.errors.required">End Date is required</div>
      </div>
    </div>
    <div class="form-group col-md-3 col-sm-6 col-xs-6">
      <div class="btninnerDivShow">
        <button class="AddBtn" type="submit">SHOW</button>
      </div>
    </div>
    <div class="form-group col-md-3 col-sm-6 col-xs-6">
      <div class="btninnerDivExport">
        <button class="AddBtn" (click)="exportExcelCorp()">EXPORT TO EXCEL</button>
      </div>
    </div>

  </div>
</form>


<div class="form-row">
  <div class="form-group col-md-12 label">
    <span class="icon-color1 label-icon">
      <i class="fas fa-users "></i> Bulk
    </span>
    <span class="icon-color2 label-icon">
      <i class="fas fa-child"></i> Non-Bulk
    </span>
    <span class="icon-color3 label-icon">
      <i class="fas fa-plus"></i> Total
    </span>
  </div>

</div>



<div class="row">
  <div *ngFor="let item of activityLists ; let i = index" class="col-md-4 col-sm-6 col-xs-12 col-lg-3">
    <div class="cards-list">
      <div class="card 1">
        <div class="card_title title-black">
          <p class="name">{{item.name}}</p>
        </div>
        <div class="card_icon">
          <div class="form-row">
            <div class="form-group col-4 icon-detail icon-color1" (click)="viewDetails(1,item.name, item.bulk)">
              <i class="fas fa-users"></i>
              <div *ngIf="item.name == 'New Subscription Revenues' || item.name == 'Renewal Revenues' || item.name ==
                'Upgrade Revenues' || item.name == 'Total New Subscription Revenues' || item.name == 'Total Renewal Revenues' || item.name ==
                'Total Upgrade Revenues', else loggedOut">
                {{item.bulk == null ? 0 : item.bulk | number}}
                <span>
                  &#8377;</span>
              </div>
              <div *ngIf="item.name == 'New Subscription Revenues for Overseas' || item.name == 
                'Renewal Revenues for Overseas'|| item.name == 'Upgrade Revenues for Overseas', else loggedOut">
                {{item.bulk == null ? 0 : item.bulk | number}}
                <span>$</span>
              </div>
              <div *ngIf="item.name !== 'New Subscription Revenues' && item.name !== 'Renewal Revenues' && item.name !==
                'Upgrade Revenues' && item.name !== 'New Subscription Revenues for Overseas' && item.name !== 
                'Renewal Revenues for Overseas' && item.name !== 'Upgrade Revenues for Overseas' && item.name !==
                'Total New Subscription Revenues' && item.name !== 'Total Renewal Revenues' && item.name !==
                'Total Upgrade Revenues'">
                {{item.bulk == null ? 0 : item.bulk }}

              </div>

            </div>
            <div class="form-group col-4 icon-detail icon-color2" (click)="viewDetails(2,item.name, item.nonBulk)">
              <i class="fas fa-child"></i>

              <div *ngIf="item.name == 'New Subscription Revenues' || item.name == 'Renewal Revenues' || item.name ==
                'Upgrade Revenues' || item.name == 'Total New Subscription Revenues' || item.name == 'Total Renewal Revenues' || item.name ==
                'Total Upgrade Revenues', else loggedOut">
                {{item.nonBulk == null ? 0 : item.nonBulk | number}}
                <span>
                  &#8377;</span>
              </div>

              <div *ngIf="item.name == 'New Subscription Revenues for Overseas'|| item.name == 
                'Renewal Revenues for Overseas' || item.name == 'Upgrade Revenues for Overseas', else loggedOut">
                {{item.nonBulk == null ? 0 : item.nonBulk | number}}
                <span>
                  $</span>
              </div>


              <div *ngIf="item.name !== 'New Subscription Revenues' && item.name !== 'Renewal Revenues' && item.name !==
                'Upgrade Revenues' && item.name !== 'New Subscription Revenues for Overseas' && item.name !== 
                'Renewal Revenues for Overseas' && item.name !== 'Upgrade Revenues for Overseas' && item.name !==
                'Total New Subscription Revenues' && item.name !== 'Total Renewal Revenues' && item.name !==
                'Total Upgrade Revenues'">
                {{item.nonBulk == null ? 0 : item.nonBulk }}

              </div>

            </div>
            <div class="form-group col-4 icon-detail icon-color3" (click)="viewDetails(3,item.name, item.sum)">
              <i class="fas fa-plus"></i>

              <div *ngIf="item.name == 'New Subscription Revenues' || item.name == 'Renewal Revenues' || item.name ==
                'Upgrade Revenues' || item.name ==
                'Total New Subscription Revenues' || item.name == 'Total Renewal Revenues' || item.name ==
                'Total Upgrade Revenues', else loggedOut">
                {{item.sum == null ? 0 : item.sum | number}}
                <span>
                  &#8377;</span>
              </div>

              <div *ngIf="item.name == 'New Subscription Revenues for Overseas' || item.name == 
                'Renewal Revenues for Overseas' || item.name == 'Upgrade Revenues for Overseas', else loggedOut">
                {{item.sum == null ? 0 : item.sum | number}}
                <span>$</span>
              </div>

              <div *ngIf="item.name !== 'New Subscription Revenues' && item.name !== 'Renewal Revenues' && item.name !==
                'Upgrade Revenues' && item.name !== 'New Subscription Revenues for Overseas' && item.name !== 
                'Renewal Revenues for Overseas' && item.name !== 'Upgrade Revenues for Overseas' && item.name !==
                'Total New Subscription Revenues' && item.name !== 'Total Renewal Revenues' && item.name !==
                'Total Upgrade Revenues'">
                {{item.sum == null ? 0 : item.sum }}

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row center">
  <div *ngFor="let item of gstList ; let i = index" class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
    <div class="cards-list">
      <div class="card 1" (click)="viewDetails(1,'GST', item.bulk)">
        <div class="card_title title-black">
          <p class="name">GST Revenue</p>
        </div>
        <div class="card_icon">
          <div class="form-row">
            <div class="form-group col-3 icon-detail icon-color1">
              <!-- <i class="fas fa-users"></i> -->
              <p>SGST</p>

              <div>
                {{item.SGST == null ? 0 : item.SGST | number}}
                <span>
                  &#8377;</span>
              </div>
            </div>
            <div class="form-group col-3 icon-detail icon-color2">
              <!-- <i class="fas fa-child"></i> -->
              <p>
                CGST
              </p>

              <div>
                {{item.CGST == null ? 0 : item.CGST | number}}
                <span>
                  &#8377;</span>
              </div>
            </div>
            <div class="form-group col-3 icon-detail icon-color3">
              <!-- <i class="fas fa-plus"></i>  -->
              <p>
                IGST
              </p>

              <div>
                {{item.IGST == null ? 0 : item.IGST | number}}
                <span>
                  &#8377;</span>
              </div>
            </div>
            <div class="form-group col-3 icon-detail icon-color3">
              <!-- <i class="fas fa-plus"></i>  -->
              <p>
                GST
              </p>

              <div>
                {{item.GST == null ? 0 : item.GST | number}}
                <span>
                  &#8377;</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
