.AddBtn{
    padding: 8px 21px;
    border: 1px solid #01579b;
    background: #01579b;
    color: #ffffff;
    transition: .4s ease-in-out;
    cursor: pointer!important;
    border-radius: 3px;
    outline: none;
    margin-top: 5px;
    margin-right: 10px;
}
.center {
  margin: auto;
width: 70%;

}

@mixin card-sm {
    //write CSS code here
    background: white;
    padding: 10px;
    min-height: 150px;
}

@mixin card-md {
    //write CSS code here
    background: white;
    padding: 10px;
    min-height: 120px;
}

.btninnerDivShow {
    text-align: left;
}
.btninnerDivExport{
  text-align: right;
}

.icon-detail{
    color: #01579b;
    text-align: center;
    font-size: 16px;
}

.icon-color1{
  color: #4dc836;;
}
.icon-color3{
  color: #0fced7e0;
}

.icon-color2{
  color: #e5274b;
}

.size-adjust {
  padding: 6px 12px !important;
  margin-top: 4px !important;
}

.label{
  color: #01579b;
  // text-align: center;
  font-size: 16px;
}

.icon-detail:not(:last-child) { border-right: 1px solid rgb(196, 196, 190); }


.label-icon:not(:first-child) {padding-left: 18px;; }


.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  // background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  // background-color: rgba(255, 255, 255, 0.8);
  // border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 30px;
  text-align: center;
}


.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    }
    
    .div1 { 
        grid-area: 1 / 1 / 2 / 3; 
        // @include card-sm
    }
    .div2 {
         grid-area: 1 / 3 / 2 / 5;
         @include card-sm
         }
    .div3 {
         grid-area: 1 / 5 / 2 / 7; 
         @include card-sm
        }
    .div4 { 
        grid-area: 2 / 1 / 3 / 3; 
        @include card-sm
    }
    .div5 { 
        grid-area: 2 / 3 / 3 / 5;
        @include card-sm
     }
    .div6 { 
        grid-area: 2 / 5 / 3 / 7; 
        @include card-sm
    }
    .div7 { 
        grid-area: 3 / 1 / 4 / 4;
        @include card-md
     }
    .div8 { grid-area: 3 / 4 / 4 / 7; 
        @include card-md
    }
    .div9 { grid-area: 4 / 1 / 5 / 4; 
        @include card-md
        }
    .div10 { grid-area: 4 / 4 / 5 / 7; 
        @include card-md
    }
    

    .cards-list {
        z-index: 0;
        width: 100%;
        // display: flex;
        // justify-content: space-around;
        // flex-wrap: wrap;
      }
      
      .card {
        margin: 10px 0px;
        // width: 300px;
        height: 135px;
        border-radius: 15px;
        //   box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
        // cursor: pointer;
        transition: 0.4s;
      }
      
    
      
      .card .card_title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 0px 0px 40px 40px;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 16px;
        padding: 0px 16px;

        margin: 12px;
        height: 58px;
      }

      .card_title .name{
          margin: 0px;
          color: #01579b;
      }

      .card .card_icon {
        text-align: center;
        cursor: pointer;
        border-radius: 0px 0px 40px 40px;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 30px;
    //   margin-top: -200px;
        height: 78px;
      }
      
      .card:hover {
        transform: scale(1.1, 1.1);
        box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.25), 
          -1px -1px 10px 1px rgba(100, 99, 99, 0.22);
      }
      
      .title-white {
        color: white;
      }
      
      .title-black {
        color: black;
      }
      
      @media all and (max-width: 500px) {
        .card-list {
          /* On small screens, we are no longer using row direction but column */
          flex-direction: column;
        }
      }
      
      @media screen and (max-width: 480px) {
        .label {
          text-align: center;
        }
      }