<div class="TopButton">
  <div class="btninnerDiv">
    <button *ngIf="showUpload" class="btn AddBtn subBtn" (click)="upload()">UPLOAD</button>
    <!-- <button class="AddBtn corpButton userExport" (click)="uploadDeals()" [ngClass]="{'dis': dontupload}" [disabled]="dontupload" *ngIf="showResult">UPLOAD</button> -->
    <button class="AddBtn corpButton userExport" *ngIf="showResult" (click)="exportExcel()">EXPORT TO EXCEL</button>
    <button class="btn AddBtn subBtn" (click)="back()">BACK</button>
  </div>
</div>
<nb-tabset (changeTab)="selectTab($event)" *ngIf="!showResult">
  <nb-tab tabTitle="Valid">

    <div class="TableDiv marginClass">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="upperMiddle" scope="col">Name</th>
            <th class="upperMiddle" scope="col">Email</th>
            <th class="upperMiddle" scope="col">Mobile No.</th>
            <!-- <th class="upperMiddle" scope="col" >Corporate Code</th> -->
            <th class="upperMiddle" scope="col">Address</th>
            <th class="upperMiddle" scope="col">Designation</th>
            <th class="upperMiddle" scope="col">GST</th>
            <th class="upperMiddle text-center" scope="col">COUNTRY CODE</th>
            <th class="upperMiddle text-center" scope="col">Status</th>
            <!-- <th scope="col" >reason</th> -->
          </tr>
        </thead>
        <tbody>
          <tr class="userList" *ngFor="let item of validdata">
            <td>{{ item.Name }}</td>
            <td>{{ item.Email }}</td>
            <td>{{ item.Mobile }}</td>
            <!-- <td>{{ item.CorporateCode }}</td> -->
            <td>{{ item.Address }}</td>
            <td>{{ item.Designation }}</td>
            <td>{{ item.GST }}</td>
            <td class="text-center">{{ item.Country_Code }}</td>
            <td class="text-center">{{ item.valid }}</td>
          </tr>
        </tbody>
      </table>
      <div class="nodata" *ngIf="validdata.length == 0">
        <div class="imageNO noclass">
          <p>No Data Found</p>
        </div>
      </div>
    </div>
  </nb-tab>
  <nb-tab tabTitle="Invalid">
    <div class="TableDiv marginClass">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="upperMiddle" scope="col">Name</th>
            <th class="upperMiddle" scope="col">Email</th>
            <th class="upperMiddle" scope="col">Mobile No.</th>
            <!-- <th class="upperMiddle" scope="col" >Corporate Code</th> -->
            <th class="upperMiddle" scope="col">Address</th>
            <th class="upperMiddle" scope="col">Designation</th>
            <th class="upperMiddle" scope="col">GST</th>
            <th class="upperMiddle" scope="col">Status</th>
            <th class="upperMiddle" scope="col">reason</th>
          </tr>
        </thead>
        <tbody>
          <tr class="userList" *ngFor="let item of invaliddata">
            <td>{{ item.Name }}</td>
            <td>{{ item.Email }}</td>
            <td>{{ item.Mobile }}</td>
            <!-- <td>{{ item.CorporateCode }}</td> -->
            <td>{{ item.Address }}</td>
            <td>{{ item.Designation }}</td>
            <td>{{ item.GST }}</td>
            <td>{{ item.valid }}</td>
            <td>{{ item.reason }}</td>
          </tr>
        </tbody>
      </table>
      <div class="nodata" *ngIf="invaliddata.length == 0">
        <div class="imageNO noclass">
          <p>No Data Found</p>
        </div>
      </div>
    </div>
  </nb-tab>
</nb-tabset>
<!-- <div class="text" *ngIf="showResult">
  <h1>Result</h1>
</div> -->
<div class="TableDiv" *ngIf="showResult">
  <div class="row resultdis" *ngIf="dontupload">
    <div class="col-md-6 colorclass">Valid Subscribers : {{validcount.length}}</div>
    <div class="col-md-6 colorclass">Invalid Subscriber : {{invalidcount.length}}</div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="upperMiddle" scope="col">Name</th>
        <th class="upperMiddle" scope="col">Email</th>
        <th class="upperMiddle" scope="col">Mobile No.</th>
        <!-- <th class="upperMiddle" scope="col" >Corporate Code</th> -->
        <th class="upperMiddle" scope="col">Address</th>
        <th class="upperMiddle" scope="col">Designation</th>
        <th class="upperMiddle" scope="col">GST</th>
        <th class="upperMiddle" scope="col">Result</th>
      </tr>
    </thead>
    <tbody>
      <tr class="userList" *ngFor="let item of resultData">
        <td>{{ item.v_subname }}</td>
        <td>{{ item.v_subemail }}</td>
        <td>{{ item.v_phoneno }}</td>
        <!-- <td>{{ item.v_corpcode }}</td> -->
        <td>{{ item.v_subaddress }}</td>
        <td>{{ item.v_designation }}</td>
        <td>{{ item.v_gst }}</td>
        <td [ngClass]="{'invalidU': item.flag == 0 , 'validU': item.flag == 1}">{{ item.result }}</td>
      </tr>
    </tbody>
  </table>
</div>


<!-- pop up -->
<div class="bgHide" *ngIf="hidePopup" (click)="hideinvoice()"></div>
<div class="poopupDiv" *ngIf="hidePopup">
  <h1 text-center>Do you really want to go back ?</h1>
  <span (click)="hideinvoice()" class="close">X</span>
  <p>Deals will not be mapped to the uploaded users.</p>

  <div class="btndivPop">
    <button (click)="hideinvoice()" type="button" class="btn AddBtn">NO</button>
    <button type="button" class="btn AddBtn" (click)="confirmSubmit()">YES</button>
  </div>
</div>
