
// pop up 
.bgHide{
  position: fixed;
  background: #1b1a1a12;
  z-index: 1041;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.poopupDiv{
  width: 35%;
  text-align: center;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  background: #ffffff;
  padding: 16px;
  border-radius: 7px;
  box-shadow: 1px 2px 10px 0px #585757;
  z-index: 1041;
  .close{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    color: #5d5858;
    font-size: 15px;
    cursor: pointer;
  }
  h1{   
    margin: 0;
    font-size: 18px;   
    padding-bottom: 10px;    
    span{
        font-size: 14px;
        float: right;
    }
  }
  .btndivPop{
    .AddBtn{
      margin-right: 15px;
    }
  }
}
// ========================================]


.saveBtns{
    padding: 8px 20px;
  border: 1px solid #337ab7;
  background: #337ab7;
  color: #ffffff;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer !important;
  border-radius: 3px;
  outline: none;
  /* margin-top: 10px; */
  margin-top: 8px;
}
.btndiv{
    text-align: center;
}
.btninnerDiv{
    float: right;
    padding: 8px;
  }
  .AddBtn{
      padding: 7px 21px;
      border: 1px solid #01579b;
      background: #01579b;
      color: #ffffff;
      transition: .4s ease-in-out;
      cursor: pointer!important;
      border-radius: 3px;
      outline: none;
    //   margin-top: 10px;
      margin-right: 10px;
  }
  .AddBtn:hover{
      color: #01579b;
      background: #ffffff; 
  }
  .backDiv{
    position: absolute;
    right: 0;
  }
  .text h1{
    margin: 0;
    background:#f1f5f8 ;
    display: inline-block;
    color: #01579b;
    border-radius: 3px;
    padding: 0px 6px;
}
.TableDiv{
    margin-top: 1rem;
}
.TopButton {
  background: white;
  position: sticky;
  margin-bottom: 20px;
  top: 62px;
  width: 100%;
  left: 0;
  height: 56px;
  -webkit-box-shadow: 3px 3px 5px 0px #ccc;
  box-shadow: 3px 3px 5px 0px #ccc;
  z-index: 3;
  .btninnerDiv{
    position: absolute;
    right: 0;
    top: 6px;
  }
}
.nodata{
  .imageNO{
    margin-top: 10px;
  }
}
.TableDiv{
  overflow: scroll;
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px #99cbf361;
 //border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; 
  margin-top: 7vh;
  table{
    width: 1100px;
  }
}
.TableDiv table>thead{
  background: #99cbf361;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.TableDiv table>thead>tr>th {
  color: #01579b;
  cursor: pointer;
}
.marginClass{
  margin-top: 0 !important;
}
.upperMiddle{
  text-align: center;
  text-transform: uppercase;
}
.invalidU{
  color: red;
}
.validU{
  color: green;
}
.dis:hover{
  background: #01579b;
  color: #ffffff;
  cursor: default !important;
}
.resultdis{
  padding: 10px;
}
.colorclass{
  font-size: 23px;
  color: black;
}
.noclass{
  margin-top: 24px !important;
  p{
    margin: 0;
  }
}
@media screen and (max-width: 576px) {
  .AddBtn{
      padding: 6px 9px;
      font-size: 12px;
  }
  .clearBtn{
      margin: 0;
      padding: 4px 10px;
  }
  .TopButton{
    top: 53px;
    height: 51px;
  }
}