<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
  <div class="TopButton">
    <div class="btninnerDiv">
      <button type="submit" class="btn AddBtn subBtn">Submit</button>
      <button class="btn AddBtn" (click)="back()">Back</button>
    </div>
  </div>
  <div class="mainDiv" style="margin-top:50px">
    <div class="text">
      <h1 *ngIf="editSubata.length > 0">Edit Subscription</h1>
      <h1 *ngIf="editSubata.length == 0">Add Subscription</h1>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Subscription Name <span class="mandatory">*</span></label>
        <input (change)="checkVal($event)" type="text" class="form-control" placeholder="Subscription Name" formControlName="subsc"
          [ngClass]="{ 'is-invalid': submitted && f.subsc.errors }">
        <label class="warning">Maximum length of characters is 100</label>
          <div *ngIf="submitted && f.subsc.errors" class="invalid-feedback">
              <div *ngIf="f.subsc.errors.required">Subscription name is required</div>
              <!-- <div *ngIf="f.subsc.errors.pattern">Special characters are not allowed</div> -->
          </div>
      </div>
      <div class="form-group col-md-6">
        <label>Features <span class="mandatory">*</span></label>
        <ng-multiselect-dropdown style="background:white;" class="customMulti"
            [placeholder]="'Select subscription'"
            [data]="dropdownList"
            [settings]="dropdownSettings"
            [(ngModel)]="selectedItems"
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="onItemDeSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            [ngModelOptions]="{standalone: true}"
          >
          </ng-multiselect-dropdown>
          <div *ngIf="selectedItems.length == 0" class="invalid-feedback">
            <div class="fetmargin">{{isCheck}}</div>
          </div>
      </div>
    </div>
    <!-- <div class="form-row">
      <div class="form-group col-md-6">
        <label>Price (₹)<span class="mandatory">*</span></label>
        <input (change)="checkVal($event)" type="number" class="form-control" placeholder="Price"
          formControlName="price" [ngClass]="{ 'is-invalid': submitted && f.price.errors }">
        <div *ngIf="submitted && f.price.errors" class="invalid-feedback">
          <div *ngIf="f.price.errors.required">Price is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Period (Days)<span class="mandatory">*</span></label>
        <input (change)="checkVal($event)" type="number" class="form-control" placeholder="Period"
          formControlName="period" [ngClass]="{ 'is-invalid': submitted && f.period.errors }" maxlength="3">
        <div *ngIf="submitted && f.period.errors" class="invalid-feedback">
          <div *ngIf="f.period.errors.required">Period is required</div>
        </div>
      </div>
    </div> -->
        <!-- <ng-multiselect-dropdown style="background:white;" class="customMulti"
            [placeholder]="'Select subscription'"
            [data]="dropdownList"
            [settings]="dropdownSettings"
            [(ngModel)]="selectedItems"
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="onItemDeSelect($event)"
            [ngModelOptions]="{standalone: true}"
          >
          </ng-multiselect-dropdown> -->
        <!-- <input type="text" class="form-control" placeholder="Subscription" formControlName="subsc"
          [ngClass]="{ 'is-invalid': submitted && f.subsc.errors }">
          <div *ngIf="submitted && f.subsc.errors" class="invalid-feedback">
              <div *ngIf="f.subsc.errors.required">Subscription is required</div>
              <div *ngIf="f.subsc.errors.pattern">Special characters are not allowed</div>
          </div> -->
        <!-- <label>Remaining Days <span class="mandatory">*</span></label>
        <input type="number" class="form-control" placeholder="Remaining Days" formControlName="days"
        [ngClass]="{ 'is-invalid': submitted && f.mob.errors }">
        <div *ngIf="submitted && f.mob.errors" class="invalid-feedback">
            <div *ngIf="f.mob.errors.required">Mobile No. is required</div>
            <div *ngIf="f.mob.errors.pattern">Please enter valid mobile no.</div>
        </div> -->

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Status <span class="mandatory">*</span></label>
        <select class="custom-select custom-select selectClass" formControlName="status">
          <option value="1">Active</option>
          <option value="2">Inactive</option>
        </select>
        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div class="statusmargin" *ngIf="f.status.errors.required">Status is required</div>
            <!-- <div *ngIf="f.subsc.errors.pattern">Special characters are not allowed</div> -->
        </div>
      </div>
    </div>
  </div>
</form>