input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.TopButton {
  background: white;
  position: fixed;
  top: 65px;
  width: 100%;
  z-index: 2;
  left: 0;
  height: 56px;
  box-shadow: 3px 3px 5px 0px #ccc;
}

.btninnerDiv {
  position: absolute;
  right: 0;
}

.AddBtn {
  padding: 8px 21px;
  border: 1px solid #01579b;
  background: #01579b;
  color: #ffffff;
  transition: .4s ease-in-out;
  cursor: pointer !important;
  border-radius: 3px;
  outline: none;
  margin-top: 10px;
  margin-right: 37px;
}

.subBtn {
  margin-right: 15px;
}

.AddBtn:hover {
  color: #01579b;
  background: #ffffff;
}

.mainDiv {
  border: 1px solid #c1c7cd;
  padding: 0 10px;
  margin-top: 31px;
  border-radius: 7px;
}

.mainDiv:first-child {
  margin-top: 1%;
}

.text {
  position: relative;
  top: -17px;
}

.text h1 {
  margin: 0;
  background: #f1f5f8;
  display: inline-block;
  color: #01579b;
  border-radius: 3px;
  padding: 0px 6px;
}

.text h3 {
  color: #01579b;
  padding: 0px;
  font-size: 18px;
}

.addDiv input {
  border-radius: 6px !important;
  border: 1px solid #dadfe6 !important;
}

.gender1 label {
  color: #89939e !important;
}

// ========================================
//image file
.imageDiv img {
  width: 100%;
  height: 100%;
  // object-fit: contain;
}

.imageDiv {
  height: 200px;
  width: 350px;
  margin: auto;
  position: relative;
  border: 1px solid;
}

.RemoveImageicon {
  position: absolute;
  font-size: 14px;
  top: -11px;
  right: -11px;
  color: #01579b;
  cursor: pointer;
  border: 1px solid;
  padding: 3px 6px;
  border-radius: 50%;
  background: white;
}

.errormsg {
  padding-top: 3vh;
  margin: 0;
  font-size: 80%;
  color: #dc3545;
}

// ========================================

// toggle button
.toggleDiv {
  padding-top: 15px;
}

.switch {
  position: relative;
  display: inline-block;
  // width: 60px;
  // height: 34px;
  width: 50px;
  height: 28px;
  margin-left: 0;
  // top:-5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 7px;
  bottom: 7px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #01579b;
}

input:focus+.slider {
  box-shadow: 0 0 1px #01579b;
}

input:checked+.slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

//  image
.addfieldlogin {
  input {
    padding: 6px 12px;
  }

  ::placeholder {
    color: #dadfe6;
  }
}

.toggleDiv .row {
  padding-top: 16px;
  padding-bottom: 5px;
}

.invalid-feedback {
  display: contents;
}

.mandatory {
  color: red;
}

.newBtn {
  color: #01579b;
  background: #ffffff;
  margin-right: 10px;
  border-color: #01579b;
  display: block;
}

.pos {
  margin-top: 4.3%;
  margin-bottom: 0px;
}

.newBtn:hover {
  color: #01579b;
}

.saveBtns {
  padding: 4px 16px;
  border: 1px solid #337ab7;
  background: #337ab7;
  color: #ffffff;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer !important;
  border-radius: 3px;
  outline: none;
  /* margin-top: 10px; */
  margin-right: 12px;
}

.selectClass {
  padding: 0.75rem 1.125rem !important;
  height: initial !important;
}

.disabletext {
  background-color: #0b0b0b0d;
  color: #ababab;
}

.customMulti {
  .multiselect-dropdown {
    .dropdown-btn {
      padding: 0.75rem;
    }
  }
}

.multiselect-dropdown .dropdown-btn {
  padding: 0.75rem 1.125rem !important;
}

.warning {
  margin-top: .5rem;
  margin-bottom: 0;
  color: #b8b8b8;
}

.statusmargin {
  margin-top: 0.25rem;
}

.statusmargin1 {
  margin-top: 13px;
}

.ImageDiv img {
  max-width: 100%;
  max-height: 100%;
}

.ImageDiv {
  width: 100%;
  height: 100px;
  text-align: center;
}

.toggleDiv {
  padding-bottom: 5px;
}

.toggleDiv .row {
  padding-top: 35px;
}

.RemoveImageicon {
  position: absolute;
  font-size: 14px;
  top: -11px;
  right: -11px;
  color: #01579b;
  cursor: pointer;
  border: 1px solid;
  padding: 3px 6px;
  border-radius: 50%;
  background: white;
}

.caticon {
  padding-left: 22px;
}

// .errormsg{
//     margin-top: 20px;
// }
.textAr {
  resize: none;
  height: 150px;
  border-radius: 6px !important;
}

.custom-file-label {
  padding-top: 10px;
  height: 44px !important;
}

.custom-file-label::after {
  height: calc(calc(3rem + 2px) - 1px * 2) !important;
  padding: 0.8rem 0.75rem !important;
}

@media screen and (max-width: 576px) {
  .AddBtn {
    margin-right: 22px;
    padding: 6px 17px;
  }

  .imageDiv {
    width: 258px;
  }

  .TopButton {
    top: 53px;
    height: 51px;
  }

  .toggleDiv .row {
    padding-top: 20px;
  }

  .switch {
    width: 41px;
    height: 21px;
  }

  // .slider:before{
  //   height: 15px;
  //   width: 15px;
  //   bottom: 3px;
  // }
  // input:checked + .slider:before {
  //   -webkit-transform: translateX(17px);
  //   -ms-transform: translateX(17px);
  //   transform: translateX(17px);
  // }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleLabel {
  padding-bottom: 8px;
  padding-left: 4px;
}

.multipleimage {
  // list-style-type: decimal;
  // padding-top: 6px;
  padding-left: 28px;

  li {
    font-size: 13px;
    padding-bottom: 6px;
    padding-left: 6px;
  }
}

.dynamicLink {
  font-size: 14px;
  padding: 10px;
  margin-top: 25px;
}

.form-control {
  &.color-control {
    width: 34px;
    height: 26px;
    border-radius: 4px !important;
  }
}

.fieldsList {
  display: flex;

  li {
    margin-right: 45px;
    margin-bottom: 0;

    &:last-child {
      margin-right: 0;
    }
  }
}

.uploadSection {
  background: #FFF;
  border-radius: 4px;
  border: 1px solid #cccccc;
  padding: 0 5px;

  >.form-row {
    border-bottom: 1px solid #cccccc;
    padding: 15px;

    .form-row {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

}

.btn-browse {
  background: #e9ecef;
  color: #89939e;
  text-transform: capitalize;
  width: 100%;
  border-color: #e1e1e1;
  border-width: 1px;
  border-radius: 0.25rem;
  font-size: 13px;

  &:hover {
    color: #89939e;
  }
}

.img-box {
  background: #e9ecef;
  color: #89939e;
  text-transform: capitalize;
  width: 90%;
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  height: 90px;
  margin: auto;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  video {
    object-fit: cover;

    &::-webkit-media-controls {
      display: none;
      -webkit-appearance: none;
    }
  }
}

.input-box {
  display: flex;

  input {
    height: 34px;
    border-radius: 4px !important;
    margin-right: 10px;
    padding-right: 30px;
  }

  button {
    padding: 0;
    background: transparent;
    border: 1px solid #dadfe6;
    width: 34px;
    height: 34px;
    min-width: 34px;
    border-radius: 4px;

    &.btn-remove {
      position: absolute;
      right: 50px;
      border: none;
    }
  }
}

.imgInput {
  position: relative;

  input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}


// Custome checkbox

// .custom-checkbox-group{
//   padding: 0 0 2rem;
// }

.form-group .checkbox-ct{
  margin-left: 50px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #01579b;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}


// Two toggle

// .toggle-container {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin: 20px;
// }

// .slider-wrapper {
//   position: relative;
//   width: 200px; /* Adjust width as needed */
//   height: 50px; /* Adjust height as needed */
// }

// .slider-wrapper input {
//   display: none;
// }

// .toggle-label {
//   display: block;
//   overflow: hidden;
//   cursor: pointer;
//   border: 2px solid #ccc;
//   border-radius: 25px;
//   margin: 0;
//   position: relative;
//   width: 100%;
//   height: 100%;
// }

// .toggle-inner {
//   display: flex;
//   width: 200%;
//   margin-left: -100%;
//   transition: margin 0.3s ease-in 0s;
// }

// .toggle-text-left,
// .toggle-text-right {
//   display: block;
//   width: 50%;
//   height: 100%;
//   line-height: 46px; /* Adjust for vertical centering */
//   text-align: center;
//   color: white;
//   font-weight: bold;
// }

// .toggle-text-left {
//   background-color: #ff3b30;
// }

// .toggle-text-right {
//   background-color: #34c759;
// }

// .toggle-switch {
//   display: block;
//   width: 50px;
//   margin: 0;
//   background: #fff;
//   position: absolute;
//   top: 2px;
//   bottom: 2px;
//   left: 50%;
//   transform: translateX(-50%);
//   border: 2px solid #ccc;
//   border-radius: 25px;
//   transition: all 0.3s ease-in 0s;
// }

// input:checked + .toggle-label .toggle-inner {
//   margin-left: 0;
// }

// input:checked + .toggle-label .toggle-switch {
//   left: calc(100% - 50%);
// }



// .toggle-switch {
//   position: relative;
//   width: 60px;
//   display: inline-block;
//   text-align: left;
// }

// .toggle-switch input {
//   display: none;
// }

// .toggle-label {
//   display: block;
//   overflow: hidden;
//   cursor: pointer;
//   border: 2px solid #ccc;
//   border-radius: 20px;
//   margin: 0;
// }

// .toggle-inner {
//   display: block;
//   width: 200%;
//   margin-left: -100%;
//   transition: margin 0.3s ease-in 0s;
// }

// .toggle-inner::before,
// .toggle-inner::after {
//   display: block;
//   float: left;
//   width: 50%;
//   height: 30px;
//   padding: 0;
//   line-height: 30px;
//   color: white;
//   font-weight: bold;
//   box-sizing: border-box;
// }

// .toggle-inner::before {
//   content: "ON";
//   padding-left: 10px;
//   background-color: #34c759;
//   color: white;
// }

// .toggle-inner::after {
//   content: "OFF";
//   padding-right: 10px;
//   background-color: #ff3b30;
//   color: white;
//   text-align: right;
// }

// .toggle-switch {
//   display: block;
//   width: 18px;
//   margin: 6px;
//   background: #fff;
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 32px;
//   border: 2px solid #ccc;
//   border-radius: 20px;
//   transition: all 0.3s ease-in 0s;
// }

// input:checked + .toggle-label .toggle-inner {
//   margin-left: 0;
// }

// input:checked + .toggle-label .toggle-switch {
//   right: 0;
// }
