// pop up 
.bgHide {
  position: fixed;
  background: #1b1a1a12;
  z-index: 1041;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.poopupDiv {
  width: 60%;
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: #ffffff;
  // padding: 16px;
  border-radius: 7px;
  box-shadow: 1px 2px 10px 0px #585757;
  z-index: 1041;

  .close {
    position: absolute;
    right: 4px;
    top: 4px;
    padding: 12px;
    color: #000;
    font-size: 15px;
    cursor: pointer;
  }

  // .header{
  //     margin: 0;
  //     font-size: 16px;  
  //     text-align: left;   
  //     padding-bottom: 10px;
  //     h1{   

  //     }
  //     span{
  //         font-size: 14px;
  //         float: right;
  //         padding-right: 30px;
  //     }
  // }
  // table{
  //     width: 100%;
  //     th,td{
  //         padding: 8px 0;
  //         text-align: left;
  //         padding-left: 5px;
  //     }
  //     .heading{
  //         background: #e8e8e8;
  //     }
  //     .topbor{
  //         border-top: 1px solid;
  //         border-bottom: 1px solid;
  //     }
  //     span{
  //         float: right;
  //     }
  // }
  .featbale {
    width: 100%;
    // border: 3px solid black;
    border-bottom: 2px solid black;
    margin-top: 30px;

    .bkcl {
      color: black;
    }

    th,
    td {
      padding: 8px 0;
      text-align: left;
      padding-left: 5px;
      padding-right: 5px;
    }

    .heading {
      background: #01579b;
      color: white;
      border-bottom: 2.5px solid black;
      border-top: 2.5px solid black;
    }

    .highl {
      background: #d2e4f2;
      color: black;
    }

    .topbor {
      border-top: 1px solid;
      border-bottom: 1px solid;
    }

    span {
      float: right;
    }
  }
}

// ========================================]

.uplosdDiv {
  width: 100%;
  background: white;
  padding: 15px;
  left: 50px;
  display: block;

  // margin-top: 30px;
  .upBtn {
    .AddBtn {
      margin-top: 0;
    }
  }
}


.TopButton {
  background: white;
  position: sticky;
  top: 65px;
  width: 100%;
  z-index: 2;
  left: 0;
  height: 56px;
  box-shadow: 3px 3px 5px 0px #ccc;

  span {
    position: absolute;
    left: 12px;
    top: 14px;
    font-size: 20px;
    color: #01579b;
  }
}

.btninnerDiv {
  position: absolute;
  right: 0;
}

.TableDiv {
  overflow: scroll;
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px #99cbf361;
  //border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-top: 7vh;

  table {
    margin-bottom: 0 !important;
    padding-bottom: 1rem;
    min-width: 1400px;
  }
}

.TableDiv table>thead {
  background: #99cbf361;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.TableDiv table>thead>tr>th {
  color: #01579b;
  cursor: pointer;
}

.Textbox input {
  //font-size: 10px;
  height: 26px;
  padding: 6px 6px;
  border-radius: 5px !important;
}

::-webkit-input-placeholder {
  font-size: 10px;
}


.AddBtn {
  padding: 8px 21px;
  border: 1px solid #01579b;
  background: #01579b;
  color: #ffffff;
  transition: .4s ease-in-out;
  cursor: pointer !important;
  border-radius: 3px;
  outline: none;
  margin-top: 10px;
  margin-right: 10px;
}

.AddBtn:hover {
  color: #01579b;
  background: #ffffff;
}

.clearBtn {
  margin: 0;
  padding: 4px 10px;
}

.AddBtn:hover {
  color: #01579b;
  background: #ffffff;
}

.arrBtn {
  float: right;
}

.fa-sort-asc::before {
  content: "[ ↑ ]";
  display: block;
  font-weight: 900;
  padding-left: 2px;
  position: relative;
  bottom: 2px;
}

.fa-sort-desc::before {
  content: "[ ↓ ]";
  display: block;
  font-weight: 900;
  padding-left: 2px;
  position: relative;
  bottom: 2px;
}

.edit i {
  cursor: pointer;
  color: #01579b;
}

.borderLeft {
  border-left: 1px solid #dee2e6;

  .options {
    display: -webkit-box !important;
    box-sizing: border-box;
    margin: 0;
  }
}

.edit {
  border-right: 1px solid #dee2e6;
  text-align: center !important;
}

.Textbox input {
  //font-size: 10px;
  height: 26px;
  padding: 6px 6px;
  border-radius: 5px !important;
}

.selectSup {
  height: 25px;
  border-radius: 4px;
  border: 2px solid #dadfe6;
  color: #b1b6af;
  outline: none;
}

.userList {

  // cursor: pointer;
  p {
    margin: 0;
  }
}

.green {
  color: #009f57;
}

.red {
  color: #ff0000b5;
}

.yellow {
  color: #FFC107;
}

.boldClass {
  font-weight: 500;
}

.phoneClass {
  text-align: right;
}

.clear {
  text-align: center;
}

.upperMiddle {
  text-align: center;
  text-transform: uppercase;
}

.pointer {
  cursor: pointer;
  color: #01579b;
}

.noclass {
  margin-top: 24px !important;

  p {
    margin: 0;
  }
}

.header {
  .corp {
    h1 {
      margin: 0;
      font-size: 20px;
      text-align: initial;
      font-family: unset;
    }

    p {
      text-align: initial;
      margin: 10px 0px 4px 0px;

      span {
        margin: 2px 0;
        color: black;
      }
    }
  }

  .recp {
    span {
      p {
        margin: 2px 0;
        color: black;
      }
    }
  }
}

.rightAl {
  text-align: right;
}

// table{
//     margin-top: 6px;
// }
.btndivPop {
  padding-bottom: 16px;

  .AddBtn {
    margin-right: 15px;
  }
}

.invoiceDiv {
  padding: 60px 30px;
  overflow: auto;
  height: 550px;
}

.ullist {
  list-style-type: none;
}

.head {
  border-bottom: 2px solid black;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  .logo {
    margin: 0;
  }

  .comp {
    margin: 0;
    padding-left: 20px;

    span {
      color: #700c96;
      font-family: serif;
      text-transform: uppercase;
      font-family: "Copperplate Gothic Light";
      font-weight: 600;
    }
  }
}

.ind {
  margin-top: 10px;

  p {
    text-align: initial;
    border: 2px solid black;
    margin: 0;
    padding: 4px 6px;
    background: #d2e4f2;
    color: black;
    font-weight: 500;
  }

  .row1 {
    padding: 4px 0px;
    border-bottom: 2px solid black;
    margin: 0;

    .col1 {
      text-align: initial;
      color: black;
      padding: 0 8px;
    }

    .col2 {
      text-align: end;
      color: black;
      padding: 0 8px;
    }
  }

  table {
    text-align: initial;
    font-family: initial;
    border-bottom: 3px solid black;

    td {
      padding-left: 8px;
    }
  }
}

.end {
  text-align: end !important;
}

.sign {
  padding: 60px 0px;
  border-bottom: 2px solid black;

  p {
    margin: 0;
    /* text-decoration: dashed; */
    font-style: italic;
    font-family: initial;
    color: black;
    font-weight: 600;
  }
}

.ofc {
  color: black;

  span {
    font-size: 16px;
    font-weight: 600;
  }

  p {
    margin: 0;
  }
}

.sidebordr {
  border-left: 2.5px solid black;
  border-right: 2.5px solid black;
}

.lowertblborder {
  border-bottom: 2px solid black !important;
}

.comp {
  margin-top: 10px;
  text-align: initial;
  padding: 4px 6px;

  label {
    font-size: 18px;
    color: black;
    font-weight: 500;
  }

  p {
    font-style: italic;
    color: #175d96;
    font-weight: 500;
    margin-bottom: 5px;
  }

  div {
    width: 30%;
    color: black;
  }
}

@media screen and (max-width: 768px) {
  .uplosdDiv {
    // margin-top: 40px;
  }

  .upBtn {
    padding-top: 10px;
  }

  .poopupDiv {
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .AddBtn {
    padding: 6px 9px;
    font-size: 12px;
  }

  .clearBtn {
    margin: 0;
    padding: 4px 10px;
  }

  .TopButton {
    top: 53px;
    height: 51px;
  }

  .uplosdDiv {
    // margin-top: 25px;
  }
}

@media screen and (max-width: 400px) {
  .TopButton {
    .btninnerDiv {
      .AddBtn {
        padding: 6px 6px;
        font-size: 10px;
        margin-right: 4px;
      }
    }
  }
}

.colr {
  background: #d2e4f2;
  border: 2px solid black !important;
  font-weight: 500;
}
