<form [formGroup]="sectionForm" class="addDiv">
  <!-- (ngSubmit)="onSubmit()" -->
  <div class="TopButton">
    <div class="btninnerDiv">
      <button type="submit" class="btn AddBtn subBtn" (click)="onSubmit()">Submit</button>
      <button class="btn AddBtn" (click)="back()">Back</button>
    </div>
  </div>
  <div class="mainDiv" style="margin-top:50px">
    <div class="text">
      <h1>Add Section</h1>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Section Name <span class="mandatory">*</span></label>
        <input type="text" class="form-control" placeholder="Section Name" formControlName="sectionName"
          [ngClass]="{ 'is-invalid': submitted && f.sectionName.errors }" maxlength="20">
        <div *ngIf="submitted && f.sectionName.errors" class="invalid-feedback">
          <div *ngIf="f.sectionName.errors.required">Section Name is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Primary Layout <span class="mandatory">*</span></label>
        <div class="inputBtn">
          <select class="custom-select custom-select selectClass" formControlName="primaryLayout">
            <option value="" selected>Select Layout</option>
            <option [value]="item?.layoutId" *ngFor="let item of primaryList">{{item?.layoutName}}</option>
          </select>
          <button class="btn" (click)="open(sectionForm.controls.primaryLayout.value, 1)">Preview</button>
        </div>
        <div *ngIf="submitted && f.primaryLayout.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.primaryLayout.errors.required">Primary Layout is required</div>
        </div>
      </div>
      <div class="form-group col-md-6" *ngIf="sectionForm.controls.primaryLayout.value">
        <label>Primary Layout Count <span class="mandatory">*</span></label>
        <input type="text" class="form-control" placeholder="Primary Layout Count" formControlName="primaryLayoutQty"
          onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null :
          event.charCode >= 48 && event.charCode <= 57" maxlength="2">
        <div *ngIf="submitted && f.primaryLayoutQty.errors" class="invalid-feedback">
          <div *ngIf="f.primaryLayoutQty.errors.required">Primary Layout Count is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Secondary Layout</label>
        <div class="inputBtn">
          <select class="custom-select custom-select selectClass" formControlName="secondaryLayout"
            (change)="onChange($event)">
            <option value="" selected>Select Layout</option>
            <option [value]="item?.layoutId" *ngFor="let item of secondaryList">{{item?.layoutName}}</option>
          </select>
          <button class="btn" (click)="open(sectionForm.controls.secondaryLayout.value, 2)">Preview</button>
        </div>
        <div *ngIf="submitted && f.secondaryLayout.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.secondaryLayout.errors.required">Secondary Layout is required</div>
        </div>
      </div>
      <div class="form-group col-md-6" *ngIf="sectionForm.controls.secondaryLayout.value">
        <label>Secondary Layout Count <span class="mandatory">*</span></label>
        <input type="text" class="form-control" placeholder="Secondary Layout Count"
          formControlName="secondaryLayoutQty" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null :
          event.charCode >= 48 && event.charCode <= 57" maxlength="2">
        <div
          *ngIf="submitted && sectionForm.controls.secondaryLayoutQty.errors && sectionForm.controls.secondaryLayoutQty.errors.required"
          class="invalid-feedback">
          Secondary Layout Count is required.
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Primary Layout For Web<span class="mandatory">*</span></label>
        <div class="inputBtn">
          <select class="custom-select custom-select selectClass" formControlName="webprimaryLayout">
            <option value="" selected>Select Layout</option>
            <option [value]="item?.layoutId" *ngFor="let item of webprimaryList">{{item?.layoutName}}</option>
          </select>
          <button class="btn" (click)="openWeb(sectionForm.controls.webprimaryLayout.value, 1)">Preview</button>
        </div>
        <div *ngIf="submitted && f.webprimaryLayout.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.webprimaryLayout.errors.required">Web Primary Layout is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Secondary Layout For Web</label>
        <div class="inputBtn">
          <select class="custom-select custom-select selectClass" formControlName="websecondaryLayout"
            (change)="onChange($event)">
            <option value="" selected>Select Layout</option>
            <option [value]="item?.layoutId" *ngFor="let item of websecondaryList">{{item?.layoutName}}</option>
          </select>
          <button class="btn" (click)="openWeb(sectionForm.controls.websecondaryLayout.value, 2)">Preview</button>
        </div>
        <div *ngIf="submitted && f.websecondaryLayout.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.websecondaryLayout.errors.required">Web Secondary Layout is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Mandatory Section <span class="mandatory">*</span></label>
        <select class="custom-select custom-select selectClass" formControlName="isMandatory">
          <option value="" selected>Select Mandatory Section</option>
          <option value="1">Yes</option>
          <option value="2">No</option>
        </select>
        <div *ngIf="submitted && f.isMandatory.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.isMandatory.errors.required">Mandatory Section is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Section Description </label>
        <textarea class="form-control textAr" placeholder="Description" rows="4" formControlName="sectionDescription"
          [ngClass]="{ 'is-invalid': submitted && f.sectionDescription.errors }" maxlength="100"></textarea>
        <div *ngIf="submitted && f.sectionDescription.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.sectionDescription.errors.required">Status Description is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Status <span class="mandatory">*</span></label>
        <select class="custom-select custom-select selectClass" formControlName="sectionStatus">
          <option value="" selected>Select Status</option>
          <option value="1">Active</option>
          <option value="2">Inactive</option>
        </select>
        <div *ngIf="submitted && f.sectionStatus.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.sectionStatus.errors.required">Status is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Upload Image </label>
        <div class="clear"></div>
        <div class="row">
          <div class="col-md-3">
            <div class="imgInput">
              <!-- <input #fileInput type="file" class="form-control" formControlName="sectionImg"
                accept="image/x-png, image/jpeg" (change)="openImageLibrary($event)"> -->
              <button class="btn" (click)="openImageLibrary()">Browse</button>
            </div>
          </div>
          <div class="col-md-8" *ngIf="sectionForm.controls.sectionImg.value && previewImg">
            <div class="imgPreview">
              <img [src]="previewImg" [alt]="previewImg">
              <button (click)="resetImg()">
                <img src="../../../../assets/icons/delete.svg" alt="">
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="submitted && f.sectionImg.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.sectionImg.errors.required">Image is required</div>
        </div>
      </div>

    </div>
  </div>
</form>
