<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
    <div class="TopButton">
      <div class="btninnerDiv">
        <button type="submit" class="btn AddBtn subBtn">Submit</button>
        <button class="btn AddBtn" (click)="back()">Back</button>
      </div>
    </div>
    <div class="mainDiv" style="margin-top:50px">
      <div class="text">
          <h1 *ngIf="editUserData.length == 0">Add Corporation</h1>
        <h1 *ngIf="editUserData.length > 0">Edit Corporation</h1>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Corpoartion Code <span class="mandatory">*</span></label>
          <input (blur)="checkVal($event)" type="text" class="form-control" placeholder="Corpoartion Code" formControlName="corpCode"
            [ngClass]="{ 'is-invalid': submitted && f.corpCode.errors , 'disabletext': corpHide }" maxlength="20">
          <div *ngIf="submitted && f.corpCode.errors" class="invalid-feedback">
            <div *ngIf="f.corpCode.errors.required">Corpoartion code is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>Corpoartion Name <span class="mandatory">*</span></label>
          <input (blur)="checkVal($event)" type="text" class="form-control" placeholder="Corpoartion Name"
            formControlName="corpName" [ngClass]="{ 'is-invalid': submitted && f.corpName.errors }" maxlength="200">
          <div *ngIf="submitted && f.corpName.errors" class="invalid-feedback">
            <div *ngIf="f.corpName.errors.required">Corpoartion name is required</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
            <label>Contact Person <span class="mandatory">*</span></label>
            <input (blur)="checkVal($event)" type="text" class="form-control" placeholder="Contact Person"
              formControlName="contactPer" [ngClass]="{ 'is-invalid': submitted && f.contactPer.errors }" maxlength="100">
            <div *ngIf="submitted && f.contactPer.errors" class="invalid-feedback">
              <div *ngIf="f.contactPer.errors.required">Contact person is required</div>
            </div>
        </div>
        <div class="form-group col-md-6">
          <label>Email <span class="mandatory">*</span></label>
          <input (blur)="checkVal($event)" type="text" class="form-control" placeholder="Email" formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && f.email.errors }" maxlength="45">
          <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <div *ngIf="f.email.errors.required">Email is required</div>
            <div *ngIf="f.email.errors.pattern">Email is invalid</div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Phone <span class="mandatory">*</span></label>
          <input (blur)="checkVal($event)" type="text" class="form-control" placeholder="Phone"
            formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" maxlength="10">
          <div *ngIf="submitted && f.phone.errors" class="invalid-feedback"  max="10">
            <div *ngIf="f.phone.errors.required">Phone is required</div>
              <div *ngIf="f.phone.errors.pattern">Please enter valid mobile no.</div>
          </div>
        </div>
        <div class="form-group col-md-6">
            <label>GST 
              <!-- <span class="mandatory">*</span> -->
            </label>
            <input (blur)="checkVal($event)" type="text" class="form-control" placeholder="GST"
              formControlName="gst" [ngClass]="{ 'is-invalid': submitted && f.gst.errors }"  maxlength="15">
            <!-- <div *ngIf="submitted && f.gst.errors" class="invalid-feedback">
              <div *ngIf="f.gst.errors.required">GST is required</div>
              
            </div> -->
        </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
              <label>Address <span class="mandatory">*</span></label>
              <textarea (blur)="checkVal($event)" class="form-control textAr"  placeholder="Address" rows="6" formControlName="address" 
              [ngClass]="{ 'is-invalid': submitted && f.address.errors }" maxlength="2000"></textarea>
              <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                  <div *ngIf="f.address.errors.required">Address is required</div>
              </div>
          </div>
        <div class="form-group col-md-6">
          <label>Status <span class="mandatory">*</span></label>
          <select class="custom-select custom-select selectClass" formControlName="status">
            <option value="1">Active</option>
            <option value="2">Inactive</option>
          </select>
          <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
              <div class="statusmargin" *ngIf="f.status.errors.required">Status is required</div>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class=popup *ngIf="showAlert">
    <div class="innerdiv">
    <div class="modal-header">
      <h4 class="titilecolor">Corporate Inactive</h4>
      <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p><strong>Are you sure you want to Inactive Corporate</strong></p>
      <p>All realted Users and Deal associated to this corporate will be inactive.
      <!-- <span class="text-danger">This operation can not be undone.</span> -->
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">Cancel</button>
      <button type="button" ngbAutofocus class="btn btn-danger" (click)="onSubmitInactive()">Ok</button>
    </div>
    </div>
  
  </div>
  