<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
  <div class="TopButton">
    <div class="btninnerDiv">
      <button type="submit" class="btn AddBtn subBtn">Submit</button>
      <button class="btn AddBtn" (click)="back()">Back</button>
    </div>
  </div>
  <div class="mainDiv" style="margin-top:50px">
    <div class="text">
      <h1>Edit</h1>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Label <span class="mandatory">*</span></label>
        <input (change)="checkVal($event)" type="text" class="form-control" placeholder="Label" formControlName="label"
          [ngClass]="{ 'is-invalid': submitted && f.label.errors }" maxlength="100">
        <div *ngIf="submitted && f.label.errors" class="invalid-feedback">
          <div *ngIf="f.label.errors.required">Label is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
          <label>Subject <span class="mandatory">*</span></label>
          <input (change)="checkVal($event)" type="text" class="form-control" placeholder="Subject" formControlName="subject"
          [ngClass]="{ 'is-invalid': submitted && f.subject.errors }" maxlength="500">
          <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
            <div class="statusmargin" *ngIf="f.subject.errors.required">Subject is required</div>
          </div>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
          <label><a  title="click here to go to editor" class="acolor" href="https://wordtohtml.net/" target="_blank"><i class="fas fa-info-circle"></i> Content </a> <span class="mandatory">*</span></label>
              <textarea (change)="checkVal($event)" class="form-control textAr"  placeholder="Content" rows="6" formControlName="content" 
              [ngClass]="{ 'is-invalid': submitted && f.content.errors }"></textarea>
              <div *ngIf="submitted && f.content.errors" class="invalid-feedback">
                  <div *ngIf="f.content.errors.required">Content is required</div>
              </div>
        </div>
      </div>

    <div class="form-row">
        <div class="form-group col-md-6">
          <label>Attachment </label>
          <div class="input-group">
            <input type="file" class="custom-file-input" id="customFileLangHTML" 
                 (change)="readFileUrl($event)" attr.data-title="{{fileName}}">
            <label class="custom-file-label labelnew" for="customFileLangHTML" data-browse="browse">{{fileName}}</label>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label>From Email <span class="mandatory">*</span></label>
          <input (change)="checkVal($event)" type="text" class="form-control" placeholder="From Email" formControlName="fromEmail"
          [ngClass]="{ 'is-invalid': submitted && f.fromEmail.errors }" maxlength="45">
          <div *ngIf="submitted && f.fromEmail.errors" class="invalid-feedback">
            <div class="statusmargin" *ngIf="f.fromEmail.errors.required">From Email is required</div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Footer </label>
          <input (change)="checkVal($event)" type="text" class="form-control" placeholder="Footer" formControlName="footer"
            [ngClass]="{ 'is-invalid': submitted && f.footer.errors }" maxlength="1000">
          <div *ngIf="submitted && f.footer.errors" class="invalid-feedback">
            <div *ngIf="f.footer.errors.required">Footer is required</div>
          </div>
        </div>
        <div class="form-group col-md-6">
            <label>Trigger Name <span class="mandatory">*</span></label>
            <input (change)="checkVal($event)" type="text" class="form-control" placeholder="Trigger Name" formControlName="triggerName"
            [ngClass]="{ 'is-invalid': submitted && f.triggerName.errors }" maxlength="45">
            <div *ngIf="submitted && f.triggerName.errors" class="invalid-feedback">
              <div class="statusmargin" *ngIf="f.triggerName.errors.required">Trigger Name is required</div>
            </div>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
            <label>Status <span class="mandatory">*</span></label>
            <select class="custom-select custom-select selectClass" formControlName="status">
              <option value="1">Active</option>
              <option value="2">Inactive</option>
            </select>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
              <div class="statusmargin" *ngIf="f.status.errors.required">Status is required</div>
            </div>
        </div>
      </div>
  </div>
</form>
