<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-190 p-b-30">
      <form class="form login100-form validate-form"  [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <!-- <div class="login100-form-avatar">
          <img src="images/avatar-01.jpg" alt="AVATAR">
        </div> -->

        <div class="logintitle">Change Password Panel</div>

        <div class="inputdiv" >
          <span class="symbol-input100"><i class="fa fa-lock"></i></span>

          <input autocomplete="off"  class="input100" type="text" name="oldpass" placeholder="Old Password" required formControlName="oldpass"
            [ngClass]="{ 'is-invalid': submitted && f.oldpass.errors }" maxlength="50">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <!-- <i class="fa fa-user"></i> -->
          </span>
        </div>
        <div *ngIf="submitted && f.oldpass.errors" class="invalid-feedback">
          <div *ngIf="f.oldpass.errors.required">Username is required</div>
        </div>

        <div class="inputdiv">
          <span class="symbol-input100"><i class="fa fa-lock"></i></span>
          <input autocomplete="off"  class="input100" type="{{type2}}" name="password" placeholder="New Password" required
            formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" maxlength="50">
          <span class="focus-input100"></span>
          <span class="showPass" *ngIf="!showPass" (click)="showPassword()"><i class="fas fa-eye"></i></span>
          <span class="showPass" *ngIf="showPass" (click)="showPassword()"><i class="fas fa-eye-slash"></i></span>
        </div>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>

        <div class="inputdiv">
          <span class="symbol-input100"><i class="fa fa-lock"></i></span>
          <input autocomplete="off" class="input100" type="{{type2}}" name="recPass" placeholder="Confirm Password" required
            formControlName="recPass" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" maxlength="50">
          <span class="focus-input100"></span>
          <span class="showPass" *ngIf="!showPass" (click)="showPassword()"><i class="fas fa-eye"></i></span>
          <span class="showPass" *ngIf="showPass" (click)="showPassword()"><i class="fas fa-eye-slash"></i></span>
        </div>
        <div *ngIf="submitted && f.recPass.errors" class="invalid-feedback">
          <div *ngIf="f.recPass.errors.required">Password is required</div>
        </div>



       

       
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit">
            Save
          </button>

          <button class="login100-form-btn" (click)="goBack();" >
            Back
          </button>

         
        </div>

      </form>

     </div>
  </div>
</div>