nb-layout-column{
    padding: 0!important;  
  }
  .welcome{
      font-size: 26px;
      font-weight: 700;
  }
  .form input {
      outline: none;
      border: none;
  }
  
  input:focus::-webkit-input-placeholder { color:transparent; }
  input:focus:-moz-placeholder { color:transparent; }
  input:focus::-moz-placeholder { color:transparent; }
  input:focus:-ms-input-placeholder { color:transparent; }
  
  input::-webkit-input-placeholder { color: #999999; }
  input:-moz-placeholder { color: #999999; }
  input::-moz-placeholder { color: #999999; }
  input:-ms-input-placeholder { color: #999999; }
  
  
  .limiter {
    width: 100%;
    margin: 0 auto;
  }
  .forget {
    text-align: right;
    width: 96%;
    color: white;
    cursor: pointer;
  }
  .container-login100 {
    width: 100%;  
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../../../assets/images/Blue_bg.jpg);
    position: fixed;
    z-index: 1;
  }
  
  // .container-login100::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   z-index: -1;
  //   width: 100%;
  //   height: 100%;
  //   top: 0;
  //   left: 0;
  //   background: #005bea;
  //   background: -webkit-linear-gradient(bottom, #005bea, #00c6fb);
  //   background: -o-linear-gradient(bottom, #005bea, #00c6fb);
  //   background: -moz-linear-gradient(bottom, #005bea, #00c6fb);
  //   background: linear-gradient(bottom, #005bea, #00c6fb);
  //   opacity: 0.9;
  // }
  
  .wrap-login100 {
    width: 390px;
    background: transparent;
  }
  
  
  .login100-form {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .logintitle {
    font-family:sans-serif;
    font-size: 24px;
    color: #fff;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 16px;
  }
  
  .inputdiv{
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 15px;
  }
  
  .input100 {
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #333333;
  
    display: block;
    width: 100%;
    background: #fff;
    height: 40px;
    border-radius: 25px;
    padding: 0 30px 0 53px;
  }
  
  // input focus
  .focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(252, 252, 252, 0.863);
  }
  
  .input100:focus + .focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
  }
  
  @-webkit-keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 80px 30px;
      opacity: 0;
    }
  }
  
  @keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 80px 30px;
      opacity: 0;
    }
  }
  
  .showPass{
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 22px;
    align-items: center;
    display: flex;
    -webkit-box-align: center;
    height: 100%;
    font-size: 15px;
    color: #999999;
    cursor: pointer;
  }
  
  .symbol-input100 {
    font-size: 15px;
    color: #999999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    pointer-events: none;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }
  
  .input100:focus + .focus-input100 + .symbol-input100 {
    color: #029fee;
    padding-left: 23px;
  }
  
  .container-login100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .login100-form-btn {
    font-family: sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #e0e0e0;
    border: none;
    outline: none;
    width: 46%;
    height: 40px;
    border-radius: 25px;
    background: -webkit-gradient(linear, left top, right top, from(#0d2a5c), to(#0d2a5c));
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
  
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    -moz-transition: all 500ms ease; 
    transition: all 500ms ease;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }
  
  // .login100-form-btn::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   z-index: -1;
  //   width: 100%;
  //   height: 100%;
  //   border-radius: 25px;
  //   top: 0;
  //   left: 0;
  //   background: -webkit-gradient(linear, left top, right top, from(#2267d5), to(#296379));
  //   -webkit-transition: all 0.4s;
  //   -o-transition: all 0.4s;
  //   -moz-transition: all 0.4s;
  //   transition: all 0.4s;
  //   opacity: 0;
  // }
  
  .login100-form-btn:hover {
      background: -webkit-gradient(linear, left top, right top, from(#092049), to(#092049));
  }
  
  // .login100-form-btn:hover:before {
  //   opacity: 1;
  // }
  .invalid-feedback {
    color: red;
    display: block;
    padding: 0px 3px 15px 3px;
    color: #fff;
    margin-top: 0;
    font-size: 13px;
    margin-left: 26px;
  }
  
  @media (max-width: 576px) {
    .wrap-login100 {
      padding-top: 80px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }