

.barBg{
    padding: 16px;
    background-color: white;
}

.grapHead{
    font-weight: 500;
    text-align: center;
    font-size: 16px;
    color: black;
}

.borderBtRt {
    border-right: 16px solid #f2f3f4;
    border-bottom: 16px solid #f2f3f4;
}

.borderBt {
    border-bottom: 16px solid #f2f3f4;
}

.btninnerDiv {
    text-align: center;
}
.exlBtn {
    color: #01579b;
    border: none;
    background: #fff;
}



    .AddBtn{
        padding: 8px 21px;
        border: 1px solid #01579b;
        background: #01579b;
        color: #ffffff;
        transition: .4s ease-in-out;
        cursor: pointer!important;
        border-radius: 3px;
        outline: none;
        margin-top: 5px;
        margin-right: 10px;
    }
    
    
    .btninnerDivShow {
        text-align: left;
    }
    .btninnerDivExport{
      text-align: right;
    }
    
   
    .size-adjust {
      padding: 6px 12px !important;
      margin-top: 4px !important;
    }
    
    .label{
      color: #01579b;
      // text-align: center;
      font-size: 16px;
    }
    
  
 
