<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
  <div class="form-row">
    <div class="form-group col-md-5 col-sm-12 col-xs-12">
        <input (blur)="checkVal($event)" class="form-control size-adjust" [max]="maxDate"  [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" 
        placeholder="From Date" formControlName="startDt" 
        [ngClass]="{ 'is-invalid': submitted && f.startDt.errors , 'disableClass': disableAll }"
        >
        <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" #dt1></owl-date-time>
        <div *ngIf="submitted && f.startDt.errors" class="invalid-feedback">
            <div *ngIf="f.startDt.errors.required">Start Date is required</div>
        </div>
    </div>
    <div class="form-group col-md-5 col-sm-12 col-xs-12">
        <input (blur)="checkVal($event)" class="form-control  size-adjust" [max]="maxDate"
        [min]="startDt" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" 
        placeholder="To Date" formControlName="endDt" 
        [ngClass]="{ 'is-invalid': submitted && f.endDt.errors , 'disableClass': disableAll }">
        <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" #dt2></owl-date-time>
        <div *ngIf="submitted && f.endDt.errors" class="invalid-feedback">
            <div *ngIf="f.endDt.errors.required">End Date is required</div>
        </div>
    </div>
    <div  class="form-group col-md-2 col-sm-12 col-xs-12"> 
      <div class="btninnerDivShow">
        <button class="AddBtn"type="submit">SHOW</button>
      </div>
    </div>

    <!-- <div  class="form-group col-md-2 col-sm-12 col-xs-12"> 
      <year-picker (change)="onYearChange($event.target.value)"></year-picker> 

    </div>
    <div  class="form-group col-md-2 col-sm-12 col-xs-12"> 
      <month-picker (change)="onMonthChange($event.target.value)"> </month-picker>

    </div>


    <div  class="form-group col-md-2 col-sm-12 col-xs-12"> 
      <year-picker (change)="onYearEnd($event.target.value)"></year-picker> 

    </div>
    <div  class="form-group col-md-2 col-sm-12 col-xs-12"> 
      <month-picker (change)="onMonthEnd($event.target.value)"> </month-picker>

    </div> -->






   
  
  </div>
</form>




<div class="row" > 
  <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 barBg borderBtRt" > 
    <div class="btninnerDivExport">
      <button class="exlBtn" (click)="exportExcelTotalRegitra()"><i class="fas fa-file-excel"></i></button>
    </div>
    <div style="display: block;">
      <div class="grapHead">
        Total Registration
      </div>

      <canvas baseChart *ngIf="showtotalReg"
        [datasets]="totRegisChartData"
        [labels]="totRegisChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 barBg borderBt " > 
    <div class="btninnerDivExport">
      <button class="exlBtn" (click)="exportExcelActivebulkD()"><i class="fas fa-file-excel"></i></button>
    </div>
    <div style="display: block">
      <div class="grapHead">
        Active Bulk Deal
      </div>
      <canvas baseChart *ngIf="showtotalReg"
        [datasets]="bulkDealData"
        [labels]="totRegisChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 barBg borderBtRt" > 
    <div class="btninnerDivExport">
      <button class="exlBtn" (click)="exportExcelTotalActiveSubs()"><i class="fas fa-file-excel"></i></button>
    </div>
    <div style="display: block;">
      <div class="grapHead">
        Total Active Subscribers
      </div>
      <canvas baseChart *ngIf="showtotalReg"
        [datasets]="activeSubsChartData"
        [labels]="totRegisChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>


  <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 barBg borderBt" > 
    <div class="btninnerDivExport">
      <button class="exlBtn" (click)="exportExcelNewSubs()"><i class="fas fa-file-excel"></i></button>
    </div>
    <div style="display: block;">
      <div class="grapHead">
        New Subscribers
      </div>
      <canvas baseChart *ngIf="showtotalReg"
        [datasets]="activeNewsChartData"
        [labels]="totRegisChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>


  <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 barBg borderBtRt" > 
    <div class="btninnerDivExport">
      <button class="exlBtn" (click)="exportExcelReneWals()"><i class="fas fa-file-excel"></i></button>
    </div>
    <div style="display: block;">
      <div class="grapHead">
        Renewals 
      </div>
      <canvas baseChart *ngIf="showtotalReg"
        [datasets]="renewalsChartData"
        [labels]="totRegisChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 barBg borderBt" > 
    <div class="btninnerDivExport">
      <button class="exlBtn" (click)="exportExcelNonRenewals()"><i class="fas fa-file-excel"></i></button>
    </div>
    <div style="display: block;">
      <div class="grapHead">
        Non Renewals
      </div>
      <canvas baseChart *ngIf="showtotalReg"
        [datasets]="nonRenewalChartData"
        [labels]="totRegisChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 barBg borderBtRt" > 
    <div class="btninnerDivExport">
      <button class="exlBtn" (click)="exportExcelInvoiceVal()"><i class="fas fa-file-excel"></i></button>
    </div>
    <div style="display: block;">
      <div class="grapHead">
        Invoice Value's
      </div>
      <canvas baseChart *ngIf="showtotalReg"
        [datasets]="invoicebarChartData"
        [labels]="totRegisChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>

  <div class="col-md-6 col-sm-12 col-xs-12 col-lg-6 barBg borderBt" > 
    <div class="btninnerDivExport">
      <button class="exlBtn" (click)="exportExcelGSTVal()"><i class="fas fa-file-excel"></i></button>
    </div>
    <div style="display: block;">
      <div class="grapHead">
        GST Value's
      </div>
      
      <canvas baseChart *ngIf="showtotalReg"
        [datasets]="gstbarChartData"
        [labels]="totRegisChartLabels"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 barBg" > 
    <div class="btninnerDivExport">
      <button class="exlBtn" (click)="exportExcelPost()"><i class="fas fa-file-excel"></i></button>
    </div>
    <div class="grapHead">
      Posts
    </div>
    <div style="display: block;">
     
      <canvas baseChart *ngIf="showtotalReg"
        [datasets]="multiplebarChartData"
        [labels]="totRegisChartLabels"
        [options]="fourbarChartOptions"
        [plugins]="barChartPlugins"
        [legend]="barChartLegend"
        [chartType]="barChartType">
      </canvas>
    </div>
  </div>


</div>




