<!-- <div *ngFor="let item of tableList | filterBy: search;let i = index"> -->
<!-- <div class="TopButton" *ngIf="i == tableList.length"> -->
<div class="TopButton">
  <span>Corporations : {{(tableList| filterBy: search).length}}</span>
  <div class="btninnerDiv">
    <button class="AddBtn" (click)="AddSub()">ADD</button>
    <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
  </div>
</div>
<!-- </div> -->

<div class="TableDiv">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="upperMiddle" scope="col" (click)="sort('corpCode')" (click)="invert()"> Corpoartion Code
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'corpCode' && !isDesc) ,'fa-sort-desc': (column == 'corpCode' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('corpName')" (click)="invert()"> Corpoartion Name
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'corpName' && !isDesc) ,'fa-sort-desc': (column == 'corpName' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('contactPer')" (click)="invert()"> Contact Person
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'contactPer' && !isDesc) ,'fa-sort-desc': (column == 'contactPer' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('email')" (click)="invert()"> Email
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'email' && !isDesc) ,'fa-sort-desc': (column == 'email' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('phone')" (click)="invert()"> Phone
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'phone' && !isDesc) ,'fa-sort-desc': (column == 'phone' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('gst')" (click)="invert()"> GST
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'gst' && !isDesc) ,'fa-sort-desc': (column == 'gst' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('createdDate')" (click)="invert()"> Created Date
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'createdDate' && !isDesc) ,'fa-sort-desc': (column == 'createdDate' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('userCount')" (click)="invert()"> No. of Persons
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'userCount' && !isDesc) ,'fa-sort-desc': (column == 'userCount' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('totalDeals')" (click)="invert()"> Total Deals
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'totalDeals' && !isDesc) ,'fa-sort-desc': (column == 'totalDeals' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('dealstatus')" (click)="invert()"> Deal Status
          <i class="fa" [ngClass]="{'fa-sort-asc': (column == 'dealstatus' && !isDesc) ,'fa-sort-desc': (column == 'dealstatus' &&
              isDesc) }" aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('status')">Status<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'status' && !isDesc),'fa-sort-desc': (column == 'status' && isDesc) }"
            aria-hidden="true"></i> </th>
        <th scope="col"></th>
        <!-- <th scope="col"></th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Corpoartion Code" [(ngModel)]="search.corpCode"
              type="search" aria-describedby="basic-addon1" maxlength="20">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Corpoartion Name" [(ngModel)]="search.corpName"
              type="search" aria-describedby="basic-addon1" maxlength="200">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Contact Person" alphabetOnly
              [(ngModel)]="search.contactPer" type="search" aria-describedby="basic-addon1" maxlength="100">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Email" [(ngModel)]="search.email" type="search"
              aria-describedby="basic-addon1" maxlength="45">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Phone" myNumberOnly [(ngModel)]="search.phone"
              type="search" aria-describedby="basic-addon1" maxlength="10">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="GST" [(ngModel)]="search.gst" type="search"
              aria-describedby="basic-addon1" maxlength="15">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Created Date" [(ngModel)]="search.createdDate"
              type="search" aria-describedby="basic-addon1" maxlength="15">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="No. of Persons" myNumberOnly
              [(ngModel)]="search.userCount" type="search" aria-describedby="basic-addon1" maxlength="11">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Total Deals" myNumberOnly
              [(ngModel)]="search.totalDeals" type="search" aria-describedby="basic-addon1" maxlength="11">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <select class="selectSup" aria-placeholder="Status" (change)="dealStatusEvt($event)"
              [(ngModel)]="search.dealstatus">
              <option value="" selected>Select</option>
              <option value="1">Pending</option>
              <option value="2">Running</option>
              <option value="3">Expired</option>
            </select>
          </div>
        </th>
        <th>
          <div class="Textbox">
            <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
              [(ngModel)]="search.status">
              <option value="" selected>Select</option>
              <option value="1">Active</option>
              <option value="2">Inactive</option>
            </select>
          </div>
        </th>
        <th class="clear"><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
        <!-- <th></th> -->
      </tr>
      <tr class="userList"
        *ngFor="let item of tableList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p } ; let i = index">
        <td title="Click here for more details" class="pointer" (click)="gotoDeals(item)">{{ item.corpCode }}</td>
        <td title="Click here for more details" class="pointer" (click)="gotoDeals(item)">{{ item.corpName }}</td>
        <td title="Click here for more details" class="pointer" (click)="gotoDeals(item)">{{ item.contactPer }}</td>
        <td title="Click here for more details" class="pointer" (click)="gotoDeals(item)">{{ item.email }}</td>
        <td title="Click here for more details" class="phoneClass pointer" (click)="gotoDeals(item)">{{ item.phone }}
        </td>
        <td title="Click here for more details" class="pointer" (click)="gotoDeals(item)">{{ item.gst }}</td>
        <td title="Click here for more details" class="pointer" (click)="gotoDeals(item)">
          {{ item.createdDate | date: 'dd-MMM-yyyy' }}</td>
        <td title="Click here for more details" class="phoneClass pointer" (click)="gotoDeals(item)">
          {{ item.userCount }}</td>
        <td title="Click here for more details" class="phoneClass pointer" (click)="gotoDeals(item)">
          {{ item.totalDeals }}</td>
        <td title="Click here for more details" class="pointer" (click)="gotoDeals(item)">
          <p *ngIf="item.dealstatus == 1">Pending</p>
          <p *ngIf="item.dealstatus == 2">Running</p>
          <p no-margin *ngIf="item.dealstatus == 3">Expired</p>
        </td>
        <td title="Click here for more details" class="pointer" (click)="gotoDeals(item)">
          <p *ngIf="item.status == 1">Active</p>
          <p no-margin *ngIf="item.status == 2">Inactive</p>
        </td>
        <td class="edit borderLeft"><i class="far fa-edit" (click)="editFeature(item)"></i></td>
      </tr>
    </tbody>
  </table>
  <div class="nodata" *ngIf="!featureLength">
    <div class="imageNO">
      <p>No Data Found</p>
    </div>
  </div>
  <div class="nodata" *ngIf="setveractive">
    <div class="imageNO">
      <p>Server Error</p>
    </div>
  </div>
</div>

<div *ngIf="tableList" style="width: 100%; text-align: center;margin-top: 10px;">
  <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true" autoHide="true">
  </pagination-controls>
</div>
