.AddBtn{
    padding: 8px 21px;
    border: 1px solid #01579b;
    background: #01579b;
    color: #ffffff;
    transition: .4s ease-in-out;
    cursor: pointer!important;
    border-radius: 3px;
    outline: none;
    margin-top: 5px;
    margin-right: 10px;
}

.size-adjust {
  padding: 6px 12px !important;
  margin-top: 4px !important;
}

.selectClass{
    padding: 0.75rem 1.125rem !important;
    height: initial !important;
  }

  .cards-list {
    z-index: 0;
    width: 100%;
    // display: flex;
    // justify-content: space-around;
    // flex-wrap: wrap;
  }
  
  .card {
    margin: 10px 0px;
    // width: 300px;
    height: 135px;
    border-radius: 15px;
    //   box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
    cursor: pointer;
    transition: 0.4s;
  }
  

  
  .card .card_title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 0px 16px;

    margin: 12px;
    height: 26px;
  }

  .card_title .name{
      margin: 0px;
      color: #01579b;
  }
  .btninnerDivExport {
    text-align: right;
  }

  .icon-color1{
    color: #9df58d;
    font-weight: 600;
  }
  
  
  .icon-color2{
    color: #e7768b;
    font-weight: 600;

  }

  .label{
    
    // text-align: center;
    font-size: 16px;
  }  
  
  .label-icon:not(:first-child) {padding-left: 18px;; }

  .card .card_icon {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
//   margin-top: -200px;
    height: 40px;
  }
  

  .card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.25), 
      -1px -1px 10px 1px rgba(100, 99, 99, 0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }


  .row-space{
      margin-left: 20px;
      font-weight: 500;
  }
  
  .btninnerDiv {
    text-align: center;
}