<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
  <div class="form-row">
    <div class="form-group col-md-3 col-sm-12 col-xs-12">
      <input class="form-control size-adjust" [max]="maxDate" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1"
        placeholder="From Date" formControlName="startDt"
        [ngClass]="{ 'is-invalid': submitted && f.startDt.errors , 'disableClass': disableAll }">
      <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" #dt1></owl-date-time>
      <div *ngIf="submitted && f.startDt.errors" class="invalid-feedback">
        <div *ngIf="f.startDt.errors.required">Start Date is required</div>
      </div>
    </div>
    <div class="form-group col-md-3 col-sm-12 col-xs-12">
      <input class="form-control size-adjust" [max]="maxDate" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2"
        placeholder="To Date" formControlName="endDt"
        [ngClass]="{ 'is-invalid': submitted && f.endDt.errors , 'disableClass': disableAll }">
      <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" #dt2></owl-date-time>
      <div *ngIf="submitted && f.endDt.errors" class="invalid-feedback">
        <div *ngIf="f.endDt.errors.required">End Date is required</div>
      </div>
    </div>
    <!-- <div  class="form-group col-lg-3 col-md-4 col-sm-4 col-xs-4"> 
      <select class="custom-select custom-select selectClass" formControlName="status">
        <option value="1">Active</option>
        <option value="2">Inactive</option>
      </select>
      <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.status.errors.required">Status is required</div>
      </div>
    </div> -->
    <div class="form-group col-md-3 col-sm-6 col-xs-6">
      <div class="btninnerDivShow">
        <button class="AddBtn" type="submit">SHOW</button>
      </div>
    </div>
    <div class="form-group col-md-3 col-sm-6 col-xs-6">
      <div class="btninnerDivExport">
        <button class="AddBtn" (click)="exportExcelCorp()">EXPORT TO EXCEL</button>
      </div>
    </div>

  </div>
</form>

<div class="form-row">
  <div class="form-group col-md-12 label">
    <span class="icon-color1 label-icon">
      <i class="fa fa-check "></i> Active
    </span>
    <span class="icon-color2 label-icon">
      <i class="fa fa-times"></i> Not-Active
    </span>
  </div>
</div>

<div class="row">
  <div *ngFor="let item of packageLists; let i = index" class="col-md-4 col-sm-6 col-xs-12 col-lg-3">
    <div class="cards-list" (click)="viewDetail(item)">
      <div class="card 1" [ngStyle]="{'background' : item.isActiveName == 'Active' ? '#9df58d': '#e7768b'}"
        style="color:black">
        <div class="card_title title-black">
          <p class="name">{{item.pkgName}}</p>
        </div>
        <div>
          <div class="form-row row-space">
            <div class="col-md-6">
              Subscribers:
            </div>
            <div class="col-md-6">
              {{item.SubscribersCount}}
            </div>
            <!-- Subscribers: -->
          </div>
          <div class="form-row row-space" *ngIf="item.pkgName !== 'Default'">
            <div class="col-md-6">
              Revenue:
            </div>
            <div class="col-md-6">
              <ng-container *ngIf="item?.currency == 1">&#x20b9;</ng-container>
              <ng-container *ngIf="item?.currency != 1">$</ng-container>
              {{item.RevenuesSum == null ? 0 : item.RevenuesSum | number }}
            </div>

          </div>
          <div class="form-row row-space" *ngIf="item.pkgName !== 'Default'">
            <div class="col-md-6">
              Renewed:
            </div>
            <div class="col-md-6">
              {{item.RenewedCount}}
            </div>

          </div>
          <div class="form-row row-space" *ngIf="item.pkgName !== 'Default'">
            <div class="col-md-6">
              Non-Renewed:
            </div>
            <div class="col-md-6">
              {{item.ExpiredCount  }}
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
