<div class="TopButton">
  <span>{{corpName}} Deals : {{(dealsList| filterBy: search).length}}</span>
  <div class="btninnerDiv">
    <button class="AddBtn" [disabled]="!makenot" (click)="showFile()">UPLOAD USERS</button>
    <button class="AddBtn" [disabled]="!makenot" (click)="AddDeals()">ADD DEAL</button>
    <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
    <button class="AddBtn" (click)="back()">BACK</button>
  </div>
</div>

<div class="uplosdDiv" [ngStyle]="{'display': display}">
  <div class="innerUpload">
    <div class="row">
      <div class="col-md-6">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFileLangHTML"
            accept=".csv,.xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            (change)="readFileUrl($event)" attr.data-title="{{fileName}}">
          <label class="custom-file-label labelnew" for="customFileLangHTML" data-browse="browse">{{fileName}}</label>
        </div>
      </div>
      <div class=" upBtn col-md-6">
        <button class="AddBtn" (click)="uploadSheet()">VALIDATE</button>
        <button class="AddBtn" (click)="download()">DOWNLOAD TEMPLATE</button>
        <button class="AddBtn" (click)="remFile()">CANCEL</button>
      </div>
    </div>
  </div>
</div>

<div class="TableDiv">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="upperMiddle" scope="col" (click)="sort('trackId')" (click)="invert()"> Tracker ID
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'trackId' && !isDesc) ,'fa-sort-desc': (column == 'trackId' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('pkgName')" (click)="invert()"> Package
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'pkgName' && !isDesc) ,'fa-sort-desc': (column == 'pkgName' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('purDate')" (click)="invert()"> Purchase Date
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'purDate' && !isDesc) ,'fa-sort-desc': (column == 'purDate' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('fromDate')" (click)="invert()"> From Date
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'fromDate' && !isDesc) ,'fa-sort-desc': (column == 'fromDate' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('toDate')" (click)="invert()"> To Date
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'toDate' && !isDesc) ,'fa-sort-desc': (column == 'toDate' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('modifiedDate')" (click)="invert()"> Modified Date
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'modifiedDate' && !isDesc) ,'fa-sort-desc': (column == 'modifiedDate' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('felenth')" (click)="invert()"> No. of Contents
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'felenth' && !isDesc) ,'fa-sort-desc': (column == 'felenth' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('discountPercent')" (click)="invert()"> Discount (%)
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'discountPercent' && !isDesc) ,'fa-sort-desc': (column == 'discountPercent' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('durationId')" (click)="invert()"> Duration (Months)
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'durationId' && !isDesc) ,'fa-sort-desc': (column == 'durationId' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('userCount')" (click)="invert()"> No. of Persons
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'userCount' && !isDesc) ,'fa-sort-desc': (column == 'userCount' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('totalAmt')" (click)="invert()"> Total Price
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'totalAmt' && !isDesc) ,'fa-sort-desc': (column == 'totalAmt' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('payType')" (click)="invert()"> Payment Type
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'payType' && !isDesc) ,'fa-sort-desc': (column == 'payType' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('receiptNo')" (click)="invert()"> Receipt No.
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'receiptNo' && !isDesc) ,'fa-sort-desc': (column == 'receiptNo' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('payDate')" (click)="invert()"> Payment Date
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'payDate' && !isDesc) ,'fa-sort-desc': (column == 'payDate' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('dealstaId')" (click)="invert()"> State
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'dealstaId' && !isDesc) ,'fa-sort-desc': (column == 'dealstaId' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('isActive')">Status<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'isActive' && !isDesc),'fa-sort-desc': (column == 'isActive' && isDesc) }"
            aria-hidden="true"></i> </th>
        <th scope="col"></th>
        <!-- <th scope="col"></th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Tracker ID" [(ngModel)]="search.trackId"
              type="search" aria-describedby="basic-addon1" maxlength="8">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Package" [(ngModel)]="search.pkgName"
              type="search" aria-describedby="basic-addon1" maxlength="50">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="From Date" [(ngModel)]="search.fromDate"
              type="search" aria-describedby="basic-addon1" maxlength="15">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Purchase Date" [(ngModel)]="search.purDate"
              type="search" aria-describedby="basic-addon1" maxlength="15">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="To Date" [(ngModel)]="search.toDate"
              type="search" aria-describedby="basic-addon1" maxlength="15">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Modified Date" [(ngModel)]="search.modifiedDate"
              type="search" aria-describedby="basic-addon1" maxlength="15">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="No. of Contents" myNumberOnly
              [(ngModel)]="search.felenth" type="search" aria-describedby="basic-addon1" maxlength="10">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Discount" myNumberOnly
              [(ngModel)]="search.discountPercent" type="search" aria-describedby="basic-addon1" maxlength="3">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Duration" myNumberOnly
              [(ngModel)]="search.durationId" type="search" aria-describedby="basic-addon1" maxlength="11">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="No. of Persons" myNumberOnly
              [(ngModel)]="search.userCount" type="search" aria-describedby="basic-addon1" maxlength="11">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Total Price" myNumberOnly
              [(ngModel)]="search.totalAmt" type="search" aria-describedby="basic-addon1" maxlength="11">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Payment Type" [(ngModel)]="search.payType"
              type="search" aria-describedby="basic-addon1">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Receipt No." [(ngModel)]="search.receiptNo"
              type="search" aria-describedby="basic-addon1">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Payment Date" [(ngModel)]="search.payDate"
              type="search" aria-describedby="basic-addon1">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <div class="Textbox">
              <!-- <input class="form-control with-primary-addon" placeholder="State" [(ngModel)]="search.dealstaname"
                    type="search" aria-describedby="basic-addon1"> -->
              <select class="selectSup" aria-placeholder="Status" (change)="changeState($event)"
                [(ngModel)]="search.dealstaId">
                <option value="" selected>Select</option>
                <option value="1">Pending</option>
                <option value="2">Running</option>
                <option value="3">Expired</option>
              </select>
            </div>
          </div>
        </th>
        <th>
          <div class="Textbox">
            <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
              [(ngModel)]="search.isActive">
              <option value="" selected>Select</option>
              <option value="1">Active</option>
              <option value="2">Inactive</option>
            </select>
          </div>
        </th>
        <th class="clear"><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
        <!-- <th></th> -->
      </tr>
      <tr class="userList"
        *ngFor="let item of dealsList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
        <td>{{ item.trackId }}</td>
        <td>{{ item.pkgName }}</td>
        <td>{{ item.purDate | date :'dd-MMM-yyyy' }}</td>
        <td>{{ item.fromDate | date :'dd-MMM-yyyy' }}</td>
        <td>{{ item.toDate | date :'dd-MMM-yyyy' }}</td>
        <td>{{ item.modifiedDate | date :'dd-MMM-yyyy' }}</td>
        <td class="phoneClass">{{ item.felenth }}</td>
        <td class="phoneClass">{{ item.discountPercent }}</td>
        <td class="phoneClass">{{ item.durationId }}</td>
        <td class="phoneClass">{{ item.userCount }}</td>
        <td class="phoneClass">{{ item.totalAmt | number }}</td>
        <td class="phoneClass">{{ item.payType }}</td>
        <td class="phoneClass">{{ item.receiptNo }}</td>
        <td class="phoneClass"><span *ngIf="item.payDate">{{ item?.payDate | date :'dd-MMM-yyyy' }}</span></td>

        <td>
          <!-- {{ item.dealstaname }} -->
          <p *ngIf="item.dealstaId == 1" class="text-warning">Pending</p>
          <p no-margin *ngIf="item.dealstaId == 2" class="text-success">Running</p>
          <p no-margin *ngIf="item.dealstaId == 3" class="text-danger">Expired</p>
        </td>
        <td>
          <p *ngIf="item.isActive == 1">Active</p>
          <p no-margin *ngIf="item.isActive == 2">Inactive</p>
        </td>
        <td class="edit borderLeft">
          <div class="row options">
            <div class="col">
              <i title="edit" class="far fa-edit" (click)="editDeals(item)"></i>
            </div>
            <div *ngIf="item.activeInvoice" class="col">
              <i title="renew" (click)="renewDeals(item)" class="fas fa-sync-alt"></i>
            </div>
            <div class="col">
              <i (click)="showinvoice(item)" title="invoice" class="fas fa-file-invoice"></i>
            </div>
          </div>
          <!-- <i class="far fa-edit" (click)="editDeals(item)"></i> -->
        </td>
        <!-- <td class="edit borderLeft"><i class="far fa-user" (click)="showinvoice(item)"></i></td> -->
      </tr>
    </tbody>
  </table>
  <div class="nodata" *ngIf="!featureLength">
    <div class="imageNO noclass">
      <p>No Data Found</p>
    </div>
  </div>
  <div class="nodata" *ngIf="setveractive">
    <div class="imageNO">
      <p>Server Error</p>
    </div>
  </div>
</div>

<!-- pop up -->
<div class="bgHide" *ngIf="!hidePopup" (click)="hideinvoice()"></div>
<div class="poopupDiv" *ngIf="!hidePopup">
  <!-- <div class="header"><h1>{{corpName}}</h1> <span>Receipt No. <p>{{cardDetails.receiptNo}}</p></span></div>
  <span (click)="hideinvoice()" class="close">X</span> -->
  <div class="invoiceDiv" id="contentToConvert">
    <!-- <div class="row header">
    <div class="col-md-9 corp">
      <h1>{{corpName}}</h1>
      <p>Tracker Id: <span>{{cardDetails.trackId}}</span></p>
      <p>Package: <span>{{cardDetails.selPckage.pkgName}}</span></p>
      <p>Payment Type: <span>{{cardDetails.payType}}</span></p>
      <p>Payment Date: <span>{{cardDetails.payDate | date :'dd-MMM-yyyy'}}</span></p>
    </div>
    <div class="col-md-3 recp">
      <span>Receipt No. <p>{{cardDetails.receiptNo}}</p></span>
    </div>
  </div> -->
    <div class="head">
      <div class="form-grou logo">
        <img src="../../../../assets/images/MIC_blue.jpg" width="150" height="60" alt="" class="hoimg01a">
      </div>
      <div class="form-group comp">
        <span>Regsus Consulting Private Limited</span>
      </div>
    </div>
    <div class="ind">
      <p>TAX INVOICE</p>
      <div class="row row1">
        <div class="col-md-6 col1">No : {{cardDetails.invoiceNo}}</div>
        <div class="col-md-6 col2">{{cardDetails.createdDate | date: 'dd-MMM-yyyy'}}</div>
      </div>
    </div>
    <div class="comp">
      <p *ngIf="cardDetails.corpname">{{cardDetails.corpname}}</p>
      <p *ngIf="address">{{ address }}</p>
      <p>GST Number: <ng-container *ngIf="gstNumber">{{gstNumber}}</ng-container>
      </p>

    </div>
    <div class="ind">
      <p>Billing Period : <span>{{cardDetails.fromDate | date: 'dd-MMM-yyyy'}} to
          {{cardDetails.toDate | date: 'dd-MMM-yyyy'}}</span></p>
    </div>
    <div class="ind">
      <div class="row row1 colr">
        <div class="col-md-6 col1">Package : {{cardDetails.selPckage.pkgName}}</div>
        <div class="col-md-6 col2">Users : {{cardDetails.userCount}}</div>
      </div>
    </div>
    <table class="featbale" [ngClass]="{ 'removeborder' : hidePopup }">
      <tr class="heading sidebordr">
        <th>Particulars</th>
        <th>&nbsp;</th>
        <!-- <th class="end">Price x Duration(Month)</th> -->
        <th class="end">
          <div style="display: inline-block;text-align: center;">Total <br>
            <ng-container *ngIf="cardDetails?.currencyType == 2">$</ng-container>
            <ng-container *ngIf="cardDetails?.currencyType == 1">₹</ng-container>
          </div>

        </th>
      </tr>
      <!-- <tr class="highl sidebordr" *ngFor="let item of cardDetails.featureList">
        <td>{{item.featurename}}</td>
        <td class="rightAl end">{{item.baserate | number}} X {{cardDetails.durationId}} </td>
        <td class="rightAl end">{{featuretotal(item.baserate,cardDetails.durationId) | number}}</td>
      </tr> -->
      <tr class="topbor sidebordr">
        <td class="bkcl">Subscription rate per user</td>
        <td></td>
        <!-- <td>Duration({{cardDetails.duration}}) x</td> -->
        <td class="end bkcl">{{cardDetails.selPckage.price | number}}</td>
      </tr>
      <tr class="topbor sidebordr">
        <td class="bkcl">Subscription rate x Users</td>
        <td class="rightAl end bkcl">{{cardDetails.selPckage.price | number}} x {{cardDetails.userCount}}</td>
        <!-- <td>Duration({{cardDetails.duration}}) x</td> -->
        <td class="rightAl end bkcl">{{cardDetails.baseAmt | number}}</td>
      </tr>
      <!-- <tr class="highl sidebordr" *ngIf="cardDetails?.discountPercent !== 0">
        <td>Discount</td>
        <td class="rightAl end">{{cardDetails.discountPercent}}%</td>
        <td class="rightAl end">- {{percent(cardDetails.baseAmt, cardDetails.discountPercent) | number}}</td>
      </tr> -->
      <tr class="topbor sidebordr">
        <td class="bkcl">Total taxable amount</td>
        <td class="rightAl end bkcl">{{cardDetails.baseAmt | number}} -
          {{percent(cardDetails.baseAmt, cardDetails.discountPercent)}}</td>
        <!-- <td>Duration({{cardDetails.duration}}) x</td> -->
        <td class="rightAl end bkcl">
          {{cardDetails.baseAmt - percent(cardDetails.baseAmt, cardDetails.discountPercent) | number}}</td>
      </tr>
      <tr class="highl sidebordr">
        <!-- *ngIf="!showGSt" -->
        <td>IGST</td>
        <td class="rightAl end">{{cardDetails.igst}}%</td>
        <td class="rightAl end">+
          {{gstpercent(cardDetails.baseAmt, cardDetails.discountPercent, cardDetails.igst) | number}}</td>
      </tr>
      <tr class="highl sidebordr">
        <!-- *ngIf="!showGSt" -->
        <td>CGST</td>
        <td class="rightAl end">{{cardDetails.cgst}}%</td>
        <td class="rightAl end">+
          {{gstpercent(cardDetails.baseAmt, cardDetails.discountPercent, cardDetails.cgst) | number}}</td>
      </tr>
      <tr class="highl sidebordr">
        <!-- *ngIf="showGSt" -->
        <td>SGST</td>
        <td class="rightAl end">{{cardDetails.sgst}}%</td>
        <td class="rightAl end">+
          {{gstpercent(cardDetails.baseAmt, cardDetails.discountPercent, cardDetails.sgst) | number}}</td>
      </tr>
      <tr class="topbor sidebordr">
        <td class="bkcl">Grand Total(in numbers)</td>
        <td></td>
        <td class="rightAl end bkcl"><b>
            <ng-container *ngIf="cardDetails?.currencyId == 1">&#8377;</ng-container>
            <ng-container *ngIf="cardDetails?.currencyId == 2">$</ng-container>
            {{acGrandTotal() | number}}
          </b></td>
      </tr>
      <tr class="topbor sidebordr lowertblborder">
        <td class="bkcl">Grand Total(in words)</td>
        <td></td>
        <td class="rightAl end bkcl"><b>
            <ng-container *ngIf="cardDetails?.currencyType == 1">Rupees</ng-container>
            <ng-container *ngIf="cardDetails?.currencyType == 2">US Doller</ng-container>
            {{acGrandTotalW() | titlecase}} Only
          </b></td>
      </tr>
    </table>
    <div class="ind">
      <p>Our Details</p>
      <table width="100%">
        <tr>
          <td>Name:</td>
          <td>Regsus Consulting Private Limited</td>
        </tr>
        <tr>
          <td>PAN:</td>
          <td>AAECR4030J</td>
        </tr>
        <tr>
          <td>GSTIN:</td>
          <td>27AAECR4030J1ZG</td>
        </tr>
        <!-- <tr>
          <td>Banking Details:</td>
          <td>HDFC Bank Current A/c No. 0182 256 000 2021
            Thakur Complex Branch, Kandivli East, Mumbai
            RTGS /NEFT: HDFC0000182
            SWIFT: HDFCINBB
          </td>
        </tr> -->
      </table>
    </div>
    <div class="sign">
      <p>This is system generated invoice and does not need a signature</p>
    </div>
    <div class="ofc">
      <span>Registered Office</span>
      <p>614, Goyal Trade Centre, Shantivan, Borivali (E), Mumbai – 400 066</p>
      <p>(Maharashtra), India</p>
    </div>
  </div>
  <div class="btndivPop">
    <button (click)="hideinvoice()" type="button" class="btn AddBtn">Cancel</button>
    <button type="button" class="btn AddBtn" (click)="captureScreen()">Download</button>
    <button type="button" class="btn AddBtn" (click)="emailInvoice(cardDetails?.tmId)">Email</button>
  </div>
</div>

<!-- ==================================================== -->
<div *ngIf="dealsList" style="width: 100%; text-align: center;margin-top: 10px;">
  <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true" autoHide="true">
  </pagination-controls>
</div>
