<div class="TopButton">
    <span>Categories :  {{(categoryList| filterBy: search).length}}</span>
    <div class="btninnerDiv">
      <button class="AddBtn" (click)="addCat()">ADD</button>
      <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
    </div>
  </div>

  <div class="TableDiv">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="upperMiddle" scope="col" (click)="sort('cat')" (click)="invert()">Category Name
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'cat' && !isDesc) ,'fa-sort-desc': (column == 'cat' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <th class="clear upperMiddle" scope="col" >Category Icon<i class="fa clear"
              [ngClass]="{'fa-sort-asc': (column == 'catIcon' && !isDesc),'fa-sort-desc': (column == 'catIcon' && isDesc) }"
              aria-hidden="true"></i> </th>
          <!-- <th scope="col" (click)="sort('cDate')">Created Date<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'cDate' && !isDesc),'fa-sort-desc': (column == 'cDate' && isDesc) }"
              aria-hidden="true"></i> </th> -->
          <th class="upperMiddle" scope="col" (click)="sort('status')">Status<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'status' && !isDesc),'fa-sort-desc': (column == 'status' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th scope="col"></th>
          <!-- <th scope="col"></th> -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Category Name" alphabetOnly [(ngModel)]="search.cat" type="search"
                aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <!-- <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Category Icon" [(ngModel)]="search.catIcon"
                type="search" aria-describedby="basic-addon1">
            </div> -->
          </th>
          <!-- <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Created Date" [(ngModel)]="search.cDate"
                type="search" aria-describedby="basic-addon1">
            </div>
          </th> -->
          <th>
            <div class="Textbox">
              <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
                [(ngModel)]="search.status">
                <option value="" selected>Select</option>
                <option value="1">Active</option>
                <option value="2">Inactive</option>
              </select>
            </div>
          </th>
          <th class="clear"><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
          <!-- <th></th> -->
        </tr>
        <tr class="userList"
          *ngFor="let item of categoryList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <td>{{ item.cat }}</td>
          <td class="imageDiv" *ngIf="item.catIcon == null">NA</td>
          <td class="imageDiv" *ngIf="item.catIcon != null"><img [src] = "item.catIcon"></td>
          <!-- <td>{{ item.cDate }}</td> -->
          <td>
            <p *ngIf="item.status == 1">Active</p>
            <p no-margin *ngIf="item.status == 2">Inactive</p>
          </td>
          <td class="edit borderLeft"><i class="far fa-edit" (click)="editCat(item)"></i></td>
        </tr>
      </tbody>
    </table>
    <div class="nodata" *ngIf="!featureLength">
        <div class="imageNO">
          <p>No Data Found</p>
        </div>
      </div>
      <div class="nodata" *ngIf="setveractive">
        <div class="imageNO">
          <p>Server Error</p>
        </div>
      </div>
  </div>
  
  <div *ngIf="categoryList" style="width: 100%; text-align: center;margin-top: 10px;">
    <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true" autoHide="true">
    </pagination-controls>
  </div>
