<div class="bgHide" *ngIf="!showDiv" (click)="closeModalDialog()"></div>
<div class="TopButton">
  <span>Forums :  {{(forumList | filterBy: search).length }}</span>
  <div class="btninnerDiv">
       <button class="AddBtn" (click)="addForums()">ADD FORUM</button>
      <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
  </div>
 
</div>
<!-- <div class="search">
  <div class="input-group md-form form-sm form-2 ">
    <input class="form-control" [(ngModel)]="search.forumTitle" type="text" placeholder="Search Forum Name" aria-label="Search"
      (click)="openModalDialog()">
    <div class="serachBox" [ngStyle]="{'display': display}">
      <a class="crossBtn" (click)="closeModalDialog()">X</a>
      <div class="innerpopup">
        <form name="form" (ngSubmit)="f.form.valid && searchPost()" #f="ngForm" novalidate>
          <div class="row">
            <div class="from-group col-md-6">
              <label>Start Date</label>
              <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [(ngModel)]="search1.fromdate"
                placeholder="Start Date" class="form-control" name="fromdate" #fromdate="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && fromdate.invalid }" required>
              <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
              <div *ngIf="f.submitted && fromdate.invalid" class="invalid-feedback">
                <div *ngIf="fromdate.errors.required">Start Date is required</div>
              </div>
            </div>
            <div class="from-group col-md-6">
              <label>End Date</label>
              <input [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" [(ngModel)]="search1.todate"
               placeholder="End Date" class="form-control lowerIn" name="todate" #todate="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && todate.invalid }" required>
              <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
              <div *ngIf="f.submitted && todate.invalid" class="invalid-feedback">
                <div *ngIf="todate.errors.required">End Date is required</div>
              </div>
            </div>
          </div>

          <div class="row col-md-12 searchTag BelowRow">
              <div class="from-group col-md-6 selectaginner firstRow" style="padding-left: 0;">
                  <ng-multiselect-dropdown style="background:white;" class="customMulti"
                  [placeholder]="'Select Interests'"
                  [data]="interestList"
                  [settings]="dropdownSettings"
                  [(ngModel)]="selectedItems"
                  (onSelect)="onItemSelect($event)"
                  (onDeSelect)="onItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  [ngModelOptions]="{standalone: true}"
                >
                </ng-multiselect-dropdown>
                <div *ngIf="selectedItems.length == 0" class="invalid-feedback">
                  <div class="statusmargin">{{isCheck1}}</div>
                </div>
              </div>
          </div>

          <div class="clearBtn newBtn">
              <button class="AddBtn" type="submit"  style="margin-right: 4px;">Search</button>
              <button class="AddBtn" type="reset" (click)="clearBtn();clearBtn1();">Clear</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div> -->
<!-- <div class="container listFullDiv" [class.displSearch]="!showDiv">
  <nb-card *ngFor="let item of forumList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p };" class="pollCard" >
      <button class="editButton badge right1" shape="round" size="small" nbButton outline><i class="fas fa-thumbs-up editIc"></i>{{item.LikeCount}}</button>
      <button class="editButton badge right" shape="round" size="small" nbButton outline><i class="fas fa-bookmark editIc"></i>{{item.favCount}}</button>
      <button (click)="viewForum(item)" class="editButton pointer badge" shape="round" size="small" nbButton outline><i class="fas fa-comment-dots"></i> {{item.commentCount}}</button>
    <nb-card-body class="cardBody">
      <p class="pollName">{{item.forumTitle}}</p>
      <label class="dateFormat">Start date : {{item.forumStartDate | date:'dd-MMM-yyyy, h:mm a'}}</label>
      <label class="dateFormat ed">End date : {{item.forumEndDate  | date:'dd-MMM-yyyy, h:mm a'}}</label>
      <div class="interest">
          <label class="Adate" *ngFor="let content of item.intersetLit">
              <div>{{content.intersetName}}</div>
          </label>
      </div>
      <div *ngIf="item.forumsta == 3" class="pollEnd">
        <a>{{item.sta}}</a>
      </div>
      <div *ngIf="item.forumsta == 2" class="pollOn">
          <a>{{item.sta}}</a>
        </div>
        <div *ngIf="item.forumsta == 1" class="pollPend">
            <a>{{item.sta}}</a>
          </div>
    </nb-card-body>
    <i class="far fa-edit edit editIcon" (click)="editForums(item)"></i>
  </nb-card>
</div> -->

<!-- <div class="nodata" *ngIf="!featureLength">
    <div class="imageNO serErr">
      <p>No Data Found</p>
    </div>
</div>
<div class="nodata" *ngIf="setveractive">
    <div class="imageNO serErr">
      <p>Server Error</p>
    </div>
  </div> -->


  <div class="TableDiv">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="upperMiddle" scope="col" (click)="sort('forumTitle')" (click)="invert()"> Forum Name
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'forumTitle' && !isDesc) ,'fa-sort-desc': (column == 'forumTitle' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <!-- <th class="upperMiddle" scope="col"  > Interests
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'intersetName' && !isDesc) ,'fa-sort-desc': (column == 'intersetName' && isDesc) }"
              aria-hidden="true"></i>
          </th> -->
          <th class="upperMiddle" scope="col" (click)="sort('forumStartDate')" (click)="invert()"> Start Date
              <i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'forumStartDate' && !isDesc) ,'fa-sort-desc': (column == 'forumStartDate' && isDesc) }"
                aria-hidden="true"></i>
            </th>
          <th class="upperMiddle" scope="col" (click)="sort('forumEndDate')" (click)="invert()">End Date<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'forumEndDate' && !isDesc),'fa-sort-desc': (column == 'forumEndDate' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sort('forumsta')" (click)="invert()">State<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'forumsta' && !isDesc),'fa-sort-desc': (column == 'forumsta' && isDesc) }"
            aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sort('favCount')" (click)="invert()">favCount<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'favCount' && !isDesc),'fa-sort-desc': (column == 'favCount' && isDesc) }"
            aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sort('viewCount')"> Views
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'viewCount' && !isDesc),'fa-sort-desc': (column == 'viewCount' && isDesc) }"
              aria-hidden="true"></i> 
          </th>
          <th class="upperMiddle" scope="col" (click)="sort('commentCount')" (click)="invert()">Comments<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'commentCount' && !isDesc),'fa-sort-desc': (column == 'commentCount' && isDesc) }"
            aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sort('isActive')"> Status
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'isActive' && !isDesc),'fa-sort-desc': (column == 'isActive' && isDesc) }"
              aria-hidden="true"></i> 
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" maxlength="20" placeholder="Forum Name" [(ngModel)]="search2.forumTitle"
                type="search" aria-describedby="basic-addon1">
            </div>
          </th>
          <!-- <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Interest" [(ngModel)]="search2.intersetName"
                type="search" aria-describedby="basic-addon1">
            </div>
          </th> -->
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" maxlength="15" placeholder="Start Date" [(ngModel)]="search2.forumStartDate"
                type="search" aria-describedby="basic-addon1">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon"maxlength="15"  placeholder="End Date" [(ngModel)]="search2.forumEndDate"
                type="search" aria-describedby="basic-addon1">
            </div>
          </th>
          <!-- <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" maxlength="15" placeholder="Status" [(ngModel)]="search2.sta"
                type="search" aria-describedby="basic-addon1">
            </div>
          </th> -->
          <th>
            <div class="Textbox">
              <select class="selectSup" aria-placeholder="State" (change)="myFunction1($event)"
                [(ngModel)]="search2.forumsta">
                <option value="" selected>Select</option>
                <option value="1">Not Started</option>
                <option value="2">Forum Ongoing</option>
                <option value="3">Forum Ended</option>
              </select>
            </div>
          </th>
          <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" maxlength="5" placeholder="favCount" myNumberOnly [(ngModel)]="search2.favCount"
                  type="search" aria-describedby="basic-addon1">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Views" myNumberOnly [(ngModel)]="search2.viewCount"
                  type="search" aria-describedby="basic-addon1" maxlength="11">
              </div>
            </th>
            <th>
                <div class="Textbox">
                  <input class="form-control with-primary-addon" placeholder="Comments" maxlength="5" myNumberOnly [(ngModel)]="search2.commentCount"
                    type="search" aria-describedby="basic-addon1">
                </div>
              </th>
          <!-- <th>
              
              <div class="Textbox">
                  <select class="selectSup" aria-placeholder="Status" (change)="checkPaid($event)"
                    [(ngModel)]="search.paidType">
                    <option value="" selected>Select</option>
                    <option value="1">Paid</option>
                    <option value="2">Free</option>
                  </select>
                </div>
          </th> -->
          <th>
            <div class="Textbox">
              <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
                [(ngModel)]="search2.isActive">
                <option value="" selected>Select</option>
                <option value="1">Active</option>
                <option value="2">Inactive</option>
              </select>
            </div>
          </th>
          <th class="clear">
            <button class="AddBtn clearBtn" style="margin: 0;
            padding: 4px 10px;" (click)="clearBtn2()">CLEAR
            </button>
          </th>
          <!-- <th></th> -->
        </tr>
         <tr class="userList"
          *ngFor="let item of forumList | filterBy: search2 | paginate: { id:'pagination1', itemsPerPage: 10, currentPage: p }; let i = index" >
          <td>{{ item.forumTitle  | truncate : 20 : ".." }}</td>
          <!-- <td><p  *ngFor="let content of item.intersetLit; let j = index"> {{ content.intersetName }}
          <span  *ngIf="j < item.intersetLit.length-1">,   
          </span> </p></td> -->
          <td>
             {{item.forumStartDate}}
          </td>
          <td>
            {{item.forumEndDate}}
          </td>
          <td>
            <div *ngIf="item.forumsta == 3" class="pollEnd">
              <a>{{item.sta}}</a>
            </div>
            <div *ngIf="item.forumsta == 2" class="pollOn">
              <a>{{item.sta}}</a>
            </div>
            <div *ngIf="item.forumsta == 1" class="pollPend">
              <a>{{item.sta}}</a>
            </div>
          </td>
          <!-- <td class="icons">
              {{item.LikeCount}} <i class="fa fa-thumbs-up" aria-hidden="true"></i>
          </td>
          <td class="icons">
              {{item.commentCount}} <i class="fa fa-comments" aria-hidden="true"></i>
          </td>
          <td class="icons edit borderLeft"><i class="far fa-edit" style="cursor: pointer;" (click)="editForums(item)"></i></td> -->
         
          <td style="border-right: 1px solid #dee2e6;
                     text-align: center !important;
                     border-left: 1px solid #dee2e6;">
              <div class="row innerTagtext">
                <div class="col">
                  <i class="fas fa-bookmark" (click)="showFavouriteDetails(item)" style="color: #01579b; cursor: pointer;"></i><span style="padding-left: 10px;"> {{item.favCount}} </span>
                </div>
              </div>
            </td>
            
          <td style="border-right: 1px solid #dee2e6;
            text-align: center !important;
            border-left: 1px solid #dee2e6;">
              <div class="row innerTagtext">
                <div class="col">
                  <i class="fas fa-eye" (click)="showViewDetails(item)" style="color: #01579b; cursor: pointer;"></i><span style="padding-left: 10px;"> {{item.viewCount}} </span>
                </div>
              </div>
            </td>

            <td style="border-right: 1px solid #dee2e6;
                      text-align: center !important;
                      border-left: 1px solid #dee2e6;">
              <div class="row innerTagtext">
                <div class="col" (click)="openNewDialog(item)">
                  <i class="fa fa-comments" (click)="viewForum(item)" style="color: #01579b; cursor: pointer;"></i><span style="padding-left: 10px;" > {{item.commentCount}} </span>
                </div>
              </div>
            </td>
            <td>
              <p *ngIf="item.isActive == 1">Active</p>
              <p no-margin *ngIf="item.isActive == 2">Inactive</p>
            </td>
            <td style="border-right: 1px solid #dee2e6;
                       text-align: center !important;
                       border-left: 1px solid #dee2e6;" 
                       (click)="editForums(item)">
              <div class="row innerTagtext">
                <div class="col" style="padding-bottom: 6px;">
                  <i class="far fa-edit" style="cursor: pointer; color: #01579b;"></i>
                </div>
              </div>
            </td>
        </tr>
      </tbody>
    </table>
    <div class="nodata" *ngIf="!featureLength">
      <div class="imageNO">
        <!-- <img src="../../../assets/images/binders.png"> -->
        <p>No Data Found</p>
      </div>
    </div>
    <div class="nodata" *ngIf="setveractive">
      <div class="imageNO">
        <!-- <img src="../../../assets/images/binders.png"> -->
        <p>Server Error</p>
      </div>
    </div>


    <div class="bgHide" *ngIf="!hidePopup" (click)="hideViewDetails()"></div>
    <div class="poopupDiv" *ngIf="!hidePopup">
      <div class="invoiceDiv" id="contentToConvert">
        <div class="row detailsBlock">
          <div class="col-md-10">
            {{ viewsName }}
          </div>
          <div class="col-md-2" (click)="hideViewDetails()">
            CANCEL
          </div>
        </div>
       
        <table class="table table-hover">
          <thead>
            <tr>
              <th class="upperMiddle" scope="col" (click)="sortView('subname')" (click)="invert()"> Name
                <i class="fa"
                  [ngClass]="{'fa-sort-asc': (column == 'subname' && !isDesc) ,'fa-sort-desc': (column == 'subname' && isDesc) }"
                  aria-hidden="true"></i>
              </th>
              <th class="upperMiddle" scope="col" (click)="sortView('subemail')" (click)="invert()"> Date/Time
                <i class="fa"
                  [ngClass]="{'fa-sort-asc': (column == 'subemail' && !isDesc) ,'fa-sort-desc': (column == 'subemail' && isDesc) }"
                  aria-hidden="true"></i>
              </th>
             
              <th class="upperMiddle" scope="col" (click)="sortView('phoneno')" (click)="invert()"> Phone
                <i class="fa"
                  [ngClass]="{'fa-sort-asc': (column == 'phoneno' && !isDesc) ,'fa-sort-desc': (column == 'phoneno' && isDesc) }"
                  aria-hidden="true"></i>
              </th>
              <th scope="col" class="upperMiddle" (click)="sortView('corpname')"> Company 
                  <i class="fa"
                  [ngClass]="{'fa-sort-asc': (column == 'corpname' && !isDesc) ,'fa-sort-desc': (column == 'corpname' && isDesc) }"
                  aria-hidden="true"></i>
              </th>
            
              
              <th scope="col"></th>
  
            
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                <div class="Textbox">
                  <input class="form-control with-primary-addon" placeholder="Name" [(ngModel)]="searchView.subname"
                    type="search" aria-describedby="basic-addon1" maxlength="20">
                </div>
              </th>
              <th>
                <div class="Textbox">
                  <input class="form-control with-primary-addon" placeholder="Date/Time" [(ngModel)]="searchView.subemail"
                    type="search" aria-describedby="basic-addon1" maxlength="20">
                </div>
              </th>
              <th>
                <div class="Textbox">
                  <input class="form-control with-primary-addon" placeholder="Phone" [(ngModel)]="searchView.phoneno"
                    type="search" aria-describedby="basic-addon1" maxlength="10">
                </div>
              </th>
              <th class="clear">
                <div class="Textbox">
                  <input class="form-control with-primary-addon" placeholder="Company" [(ngModel)]="searchView.corpname"
                  type="search" aria-describedby="basic-addon1" maxlength="50">
                </div>
              </th>
             
              
             
              <th class="clear"><button class="AddBtn clearBtn" (click)="clearViewDetail()">CLEAR</button></th>
            </tr>
            <tr class="userList"
            *ngFor="let item of detailView | filterBy: searchView | paginate: { id:'pagination2', itemsPerPage: 10, currentPage: d };let i = index">
              <td title="{{item.subname}}">{{ item.subname | truncate : 20 : ".." }}</td>
              <td title="{{item.subemail}}">{{ item.subemail | truncate : 20 : ".." }}</td>
             
              <td title="{{item.phoneno}}">{{ item.phoneno}}</td>
              <td title="{{item.corpname}}">{{ item.corpname | truncate : 20 : ".." }}</td>
           
              <td> </td>
            </tr>
          </tbody>
        </table>
  
  
        <div *ngIf="posts" style="width: 100%; text-align: center;margin-top: 25px;">
          <pagination-controls (pageChange)="d = $event" id="pagination2" maxSize="5" directionLinks="true" autoHide="true">
          </pagination-controls>
        </div>
       
  
      </div>
    
     
    
    </div>
 

  </div>

 
 

<div *ngIf="forumList" style="width: 100%; text-align: center;margin-top: 25px;">
  <pagination-controls (pageChange)="p = $event" id="pagination1" maxSize="5" directionLinks="true" autoHide="true">
  </pagination-controls>
</div>

