input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.icons {
  text-align: center; 
  i  {
    color: #01579b;
  }
}
.TableDiv{
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px #99cbf361;
 //border-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; 
  margin-top: 25px;
}
.TableDiv table>thead{
  background: #99cbf361;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.TableDiv table>thead>tr>th {
  color: #01579b;
  cursor: pointer;
}

.upperMiddle{
  text-align: center;
  text-transform: uppercase;
}
// .AddBtn{
//   padding: 8px 21px;
//   border: 1px solid #01579b;
//   background: #01579b;
//   color: #ffffff;
//   transition: .4s ease-in-out;
//   cursor: pointer!important;
//   border-radius: 3px;
//   outline: none;
//   margin-top: 10px;
//   margin-right: 10px;
// }

// .AddBtn:hover{
//   color: #01579b;
//   background: #ffffff; 
// }
.AddBtn{
  padding: 8px 21px;
  border: 1px solid #01579b;
  background: #01579b;
  color: #ffffff;
  transition: .4s ease-in-out;
  cursor: pointer!important;
  border-radius: 3px;
  outline: none;
  margin-top: 10px;
  margin-right: 10px;
}
.AddBtn:hover{
  color: #01579b;
  background: #ffffff; 
}

@media screen and (max-width: 576px) {
  .AddBtn{
      padding: 6px 9px;
      font-size: 12px;
  }
  .clearBtn{
      margin: 0;
      padding: 4px 10px;
  }
  .TopButton{
    top: 53px;
    height: 51px;
  }
  .uplosdDiv{
      margin-top: 25px;
  }
}

.fa-sort-asc::before{
  content: "[ ↑ ]";
  display: block;
  font-weight: 900;
  padding-left: 2px;
  position: relative;
  bottom: 2px;
}
.fa-sort-desc::before{
  content: "[ ↓ ]";
  display: block;
  font-weight: 900;
  padding-left: 2px;
  position: relative;
  bottom: 2px;
}

.Textbox input{
  //font-size: 10px;
   height: 26px; 
   padding: 6px 6px;
   border-radius: 5px !important;
}

.selectSup{
  height: 25px;
  border-radius: 4px;
  border: 2px solid #dadfe6;
  color: #b1b6af;
  outline: none;
  width: 100%;
}

.bgHide {
  background: #2d282800;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
}

.TopButton {
  background: white;
  position: sticky;
  top: 65px;
  width: 100%;
  z-index: 2;
  left: 0;
  height: 56px;
  box-shadow: 3px 3px 5px 0px #ccc;
}

.showhide {
  transition: 2s ease-in;
}

.displSearch {
  margin-top: 39vh;
  transition: 500ms ease-in-out;
  // animation: slowDown 1.2s;
  // animation-fill-mode: forwards;
}

// @keyframes slowDown {
//     from {margin-top:0;}
//     to {margin-top:29vh;}
// }
.search {
  position: sticky;
  // transform: translate(-50%, -50%);
  // width: 52%;
  // top: 50%;
  // left: 50%;
  width: 100%;
  z-index: 1;
  padding-top: 8vh;
  input {
    width: 90%;
    border-radius: 6px !important;
    outline: none;
    padding: 7px 12px;
    border-radius: 6px;
    border: 1px solid #cdcdcd8a;
    background: #fdfdfd;
    box-shadow: 0 2px 12px 0 #dfe3eb;
  }

  // .advance{
  //     span{
  //         border-top-right-radius: 6px;
  //         border-bottom-right-radius: 6px;
  //         background: #01579b;
  //         color: white;
  //         border-color: #01579b;
  //         i{
  //             padding-bottom: 6px;
  //             padding-left: 6px;
  //         }
  //     }
  // }

  .serachBox {
    // display:none;
    position: absolute;
    top: 37px;
    width: 100%;
    // margin: auto;
    // position: relative;
    background: #fdfdfd;
    padding: 25px 45px;
    border: 1px solid #e6e6e6bd;
    border-top: transparent;
    /* border-radius: 6px; */
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: 0 2px 12px 0 #e6e6e6c7;
    -webkit-animation: mymove 3s;
    -webkit-animation-fill-mode: forwards;
    animation: mymove 0.5s;
    animation-fill-mode: forwards;

    @keyframes mymove {
      from {
        top: 0px;
        opacity: 0;
      }

      to {
        top: 37px;
        opacity: 1;
      }
    }

    .searchTag{
      padding-top: 12px;
    }
    .innerpopup {
      position: relative;

      label {
        padding-right: 3px;
        font-weight: 600;
      }

      input {
        width: 90%;
        border-radius: 6px !important;
        outline: none;
        padding: 7px 12px;
        border-radius: 6px;
        border: 1px solid #cdcdcd8a;
        background: #fdfdfd;
        box-shadow: 0 2px 12px 0 #dfe3eb;
        width: 100%;
        border: 1px solid #adadad26;

        ::placeholder {
          color: red;
        }
      }

      .clearBtn {
        // position: absolute;
        bottom: 0;
        right: 0;
        float: right;

        button {
          padding: 5px 14px;
          margin-right: 0;
        }
      }

      .custom-select {
        height: 32px;
        font-size: 13px;
        padding-left: 8px;
        color: gray;
      }
    }
  }
}

.crossBtn {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 7px 9px;
  color: #6f777d;
  font-size: 16px;
  cursor: pointer;
}

.btninnerDiv {
  position: absolute;
  right: 0;
}

.AddBtn,
.listBtn {
  padding: 8px 21px;
  border: 1px solid #01579b;
  background: #01579b;
  color: #ffffff;
  transition: .4s ease-in-out;
  cursor: pointer !important;
  border-radius: 3px;
  outline: none;
  margin-top: 10px;
  margin-right: 17px;
}

.AddBtn:hover {
  color: #01579b;
  background: #ffffff;
}

.listBtn {
  color: #01579b;
  background: #ffffff;
  padding: 5px 12px;
  font-size: 19px;
}

.gridDiv,
.listFullDiv {
  opacity: 1;
  // padding-top: 6vh;
  animation: slow 1.1s forwards;
}
.catName{
  vertical-align: bottom;
  color: #89939e !important;
  font-size: 12px !important;
  padding-left: 3px;
}
.pollCard{
  border-radius: 8px;
  box-shadow: 0px 0px 6px 6px #dfe3eb;
  margin: 20px;
  position: relative;
}
.editButton{
  background: #01579b !important;
  padding: 4px 14px !important;
}
.pollName{
  padding: 0px 2px 8px 2px;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.dateFormat{
  margin: 0;
  padding: 0px 2px;
  font-size: 12px;
  font-weight: 300;
}
.ed{
  margin-left: 10px;
}
.editIc{
  padding: 0px 6px 0px 0px;
}
.editButton:hover{
  background: #01579b !important;
}
.badge{
  position: absolute;
  right: -12px;
  top: -14px;
  width: 70px;
}
.cardBody{
  position: relative;
}
.pollEnd{
  margin-top: 4px;
  a{
    // padding: 2px 8px;
    // background: #e95d5ddd;
    color: #e95d5ddd;
    // border-radius: 25px;
  }
}
.pollOn{
  margin-top: 4px;
  a{
    // padding: 2px 8px;
    // background: #26b226;
    color: #26b226;
    // border-radius: 25px;
  }
}
.pollPend{
  margin-top: 4px;
  a{
    // padding: 2px 8px;
    // background: orange;
    color: orange;
    // border-radius: 25px;
  }
}
@keyframes slow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cardDiv {
  padding-bottom: 12px;
  cursor: pointer;

  .card {
    position: relative;
    border: none !important;
    border-radius: 6px;
    box-shadow: 0 2px 12px 0 #dfe3eb;
    box-shadow: 0px 5px 14px 0px #dfe3eb;
    background-color: #fff!important;

  }

  .imageDiv {}

  .innerImage {
    height: 28vh;
    position: relative;

    h3 {
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      width: 100%;
      left: 50%;
      text-align: center;
      color: #fff;
      font-size: 17px;
      font-weight: 700;
      bottom: 0;
      line-height: 1;
    }
  }

  .imageDiv img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    // background-image: url(../../../assets/images/camera1.jpg);
  }

  .innerImage::before {
    content: '';
    background: #2d2b2b99;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  .contentDiv {
    padding: 8px 23px;
    .contentDisc{
      min-height: 4.5vh;
      overflow: hidden;
    }
    .Adate {
      img{
        height: 22px;
        width: 22px;
        padding-right: 2px;
      }
      i {
        padding-right: 6px;
        font-size: 20px;
      }

      h5 {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 3px;
        color: #999999;
      }

      p {
        margin-bottom: 5px;
        font-size: 12px;
      }
    }

    .edit{
      border-right: 1px solid #dee2e6;
      text-align: center !important;
    }

    .borderLeft{
      border-right: 1px solid #dee2e6;
      text-align: center !important;
      border-left: 1px solid #dee2e6;
    
    }

    // .edit {
    //   position: absolute;
    //   bottom: 0px;
    //   right: -10.5%;
    //   padding: 4px;
    //   border: 1px solid #c9ced4;
    //   border-right: 0;
    //   border-bottom: 0;
    //   border-radius: 0px;
    //   color: #01579b;
    //   border-top-left-radius: 3px;
    // }

    h3 {
      font-size: 13px;
      font-weight: 700;
      margin-bottom: 5px;
    }

    p {
      font-size: 12px;
      // margin-bottom: 20px;
    }

    .tab {
      // bottom: 3px;
      // position: absolute;
    }

    span {
      color: #0b6fbf;
      font-size: 13px;

      i {
        padding-right: 4px;
      }
    }
  }
}

.listDiv {
  .imageDiv1 {
    max-width: 36vh;
    padding-left: 0;

    img {
      height: 100%;
      width: 100%;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
      border-top-right-radius: 0px;
    }
  }

  .contentDiv {
    padding: 8px 15px;

    .edit {
      right: 1.8%;
    }

    h3 {
      font-size: 20px;
    }

    p {
      font-size: 15px;
      margin-bottom: 20px;
    }

    span {
      padding-right: 12px;
      font-size: 14px;
    }
  }
}
.postAdjust{
  // padding: 0px 8px;
  p{
    i{
      padding-right: 3px;
      font-size: 20px;
    }
  }
}
.newClass{
  background: white;
  position: relative;
  padding-left: 0;
}
.editIcon{
  position: absolute;
  bottom: 0px;
  right: 0;
  padding: 4px;
  border: 1px solid #c9ced4;
  border-right: 0;
  border-bottom: 0;
  border-radius: 0px;
  color: #01579b;
  border-top-left-radius: 3px;
  cursor: pointer;
}
.pointer{
  cursor: pointer !important;
}
.right {
  right: 64px !important;
  cursor: default !important;
}
.right1 {
    right: 140px !important;
    cursor: default !important;
  }
.Adate {
  div{
    border: 1px solid #01579b;
    color: #01579b;
    padding: 2px 4px;
    border-radius: 6px;
    margin-left: 4px;
  }
  &:nth-child(1){
    margin-left: 0;
  }
}
.interest{
  margin-top: 8px;
}
.serErr{
  margin-top: 12px;
}
.searchTag{
    padding-top: 12px;
    // padding-left: 0;
    padding-right: 0;
    .selectaginner{
      padding-right: 0;
    }
  }
  .BelowRow{
    margin: 0;
    padding: 12px 0 0 0;
    .firstRow{
      padding-left: 0;
      padding-right: 16px !important;
    }
    .secondRow{
      padding-right: 1px;
    }
}
.invalid-feedback{
    display: contents;
}
.statusmargin{
  margin-top: 0.25rem;
}
.serErr{
  margin-top: 5%;
}
@media only screen and (max-width: 991px) {
  .search {
    // left: 36%;
    // width: 58%;
  }

  .listDiv {
    .contentDiv {
      .edit {
        right: 2.8%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .search {
    .serachBox {
      padding: 17px 27px;

      .innerpopup {
        label {
          display: none;
        }

        input:first-child {
          padding-bottom: 5px;
        }
        .lowerIn{
          margin-top: 12px;
        }
      }
    }
  }

  .cardDiv .contentDiv .edit {
    bottom: -10.9%;
    right: 2%;
  }

  .listBtn {
    font-size: 16px;
  }

  .listDiv {
    .contentDiv {
      h3 {
        font-size: 17px;
        line-height: 1.18;
      }

      p {
        font-size: 13px;
        line-height: 1.2;
      }

      .edit {
        // right: 1.5%;
        // bottom: -7.9%;
        right: 3.5%;
        bottom: 0%;
      }
    }

    .imageDiv1 {
      max-width: inherit;
      padding-right: 10px;
      padding-left: 10px;
    }

  }
}
  
@media only screen and (max-width: 576px) {
  .search {
    // display: none;
  }

  .ed{
    margin-left: 0px;
  }

  .AddBtn {
    margin-right: 22px;
    padding: 6px 17px;
  }

  .TopButton {
    top: 53px;
    height: 51px;
  }

  .cardDiv {

    .imageDiv,
    .contentDiv {
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .card {
    padding: 0px;
  }

  .cardDiv .contentDiv .edit {
    bottom: -10.9%;
    right: 2%;
    // bottom: -1.9%;
    // right: 0%;
  }

  .listDiv {
    .imageDiv1 img {
      border-top-left-radius: 6px;
      border-bottom-left-radius: 0px;
      border-top-right-radius: 6px;
    }

    .contentDiv {
      .edit {
        bottom: -0.9%;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .cardDiv .contentDiv {
    padding: 8px 16px;
  }

  .cardDiv .contentDiv .edit {
    bottom: 0%;
    right: 2.6%;
  }

}

.invoiceDiv{
  padding: 18px 30px;
  overflow: auto;
  height: 630px;
}

.detailsBlock{
  margin-bottom: 16px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}




// pop up 
.bgHide{
  position: fixed;
  background: #1b1a1a12;
  z-index: 1041;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.poopupDiv{
  width: 60%;
  text-align: center;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  background: #ffffff;
  // padding: 16px;
  border-radius: 7px;
  box-shadow: 1px 2px 10px 0px #585757;
  z-index: 1041;
  .close{
      position: absolute;
      right: 4px;
      top: 4px;
      padding: 12px;
      color: #000;
      font-size: 15px;
      cursor: pointer;
  }
  // .header{
  //     margin: 0;
  //     font-size: 16px;  
  //     text-align: left;   
  //     padding-bottom: 10px;
  //     h1{   

  //     }
  //     span{
  //         font-size: 14px;
  //         float: right;
  //         padding-right: 30px;
  //     }
  // }
  .featbale{
      width: 100%;
      // border: 3px solid black;
      border-bottom: 2px solid black;
      margin-top: 30px;
      .bkcl{
          color: black;
      }
      th,td{
          padding: 8px 0;
          text-align: left;
          padding-left: 5px;
          padding-right: 5px;
      }
      .heading{
          background: #01579b;
          color: white;
          border-bottom: 2.5px solid black;
          border-top: 2.5px solid black;
      }
      .highl{
          background: #d2e4f2;
          color: black;
      }
      .topbor{
          border-top: 1px solid;
          border-bottom: 1px solid;
      }
      span{
          float: right;
      }
  }
}


@media screen and (max-width: 768px) {
  .uplosdDiv{
      // margin-top: 40px;
  }
  .upBtn{
      padding-top: 10px;
  }
  .poopupDiv{
      width: 90%;
  }
}

