<div *ngIf="show == true">
  <div class="filter">
    <span class="txt">Bulk Deal : <span class="badge">{{(userList| filterBy: searchManual).length}}</span></span>
    <button class="AddBtn exportBtn" (click)="exportExcelCorp()">EXPORT TO EXCEL</button>
  </div>
  <div class="corpButton">
    <!-- <button class=" AddBtn" (click)="showFile1()">SUBSCRIPTION RENEWAL</button> -->
  </div>

  <!-- <div class="uplosdDiv" [ngStyle]="{'display': display1}">
      <div class="innerUpload">
        <div class="row">
          <div class="col-5">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFileLangHTML1"
                accept=".csv,.xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                (change)="readFileUrl1($event)" attr.data-title="{{fileName1}}">
              <label class="custom-file-label" for="customFileLangHTML1" data-browse="browse">{{fileName1}}</label>
            </div>
          </div>
          <div class="upBtn col-md-6">
            <button class="AddBtn" (click)="uploadSheet()">Upload</button>
            <button class="AddBtn">Download Template</button>
            <button class="AddBtn" (click)="remFile1()">Cancel</button>
          </div>
        </div>
      </div>
    </div> -->

  <div class="TableDiv marginClass">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="upperMiddle" scope="col" (click)="sort('name')" (click)="invert()">Name
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'name' && !isDesc) ,'fa-sort-desc': (column == 'name' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sort('email')">Email<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'email' && !isDesc),'fa-sort-desc': (column == 'email' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('phone')">Mobile No.<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'phone' && !isDesc),'fa-sort-desc': (column == 'phone' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('company')">Company<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'company' && !isDesc),'fa-sort-desc': (column == 'company' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('designation')">Package Name<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'designation' && !isDesc),'fa-sort-desc': (column == 'designation' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('gst')">GST No.<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'gst' && !isDesc),'fa-sort-desc': (column == 'gst' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('createdDate')">Registered Date<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'createdDate' && !isDesc),'fa-sort-desc': (column == 'createdDate' && isDesc) }"
              aria-hidden="true"></i> </th>

          <th class="upperMiddle" (click)="sort('last_logged_date')" scope="col">Last Login_Date <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'last_logged_date' && !isDesc),'fa-sort-desc': (column == 'last_logged_date' && isDesc) }"
              aria-hidden="true"></i></th>

          <th class="upperMiddle" (click)="sort('last_refreshed_date')" scope="col">Last Viewed_Date
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'last_refreshed_date' && !isDesc),'fa-sort-desc': (column == 'last_refreshed_date' && isDesc) }"
              aria-hidden="true"></i>
          </th>


          <th class="upperMiddle" scope="col" (click)="sort('subcStarus')">Subscription<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'subcStarus' && !isDesc),'fa-sort-desc': (column == 'subcStarus' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('status')">Status<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'status' && !isDesc),'fa-sort-desc': (column == 'status' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th scope="col">Logout</th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="userList.length > 0">
        <tr>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Name" alphabetOnly
                [(ngModel)]="searchManual.name" type="search" aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Email" [(ngModel)]="searchManual.email"
                type="search" aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Mobile No." myNumberOnly
                [(ngModel)]="searchManual.phone" type="search" aria-describedby="basic-addon1" maxlength="10">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Company" [(ngModel)]="searchManual.company"
                type="search" aria-describedby="basic-addon1" maxlength="200">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Designation"
                [(ngModel)]="searchManual.designation" type="search" aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="GST No." [(ngModel)]="searchManual.gst"
                type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Registered Date"
                [(ngModel)]="searchManual.createdDate" type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Last Login Date"
                [(ngModel)]="searchManual.last_logged_date" type="search" aria-describedby="basic-addon1"
                maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Last View Date"
                [(ngModel)]="searchManual.last_refreshed_date" type="search" aria-describedby="basic-addon1"
                maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <select class="selectSup" aria-placeholder="Subscription" (change)="subChange($event)"
                [(ngModel)]="searchManual.subcStarus">
                <option value="" selected>Select</option>
                <option value="2">Active</option>
                <option value="1">Inactive</option>
              </select>
            </div>
          </th>
          <th>
            <div class="Textbox">
              <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
                [(ngModel)]="searchManual.status">
                <option value="" selected>Select</option>
                <option value="1">Active</option>
                <option value="2">Inactive</option>
              </select>
            </div>
          </th>
          <th>Logout</th>

          <th><button class="AddBtn clearBtn" (click)="clearBtnManual()">CLEAR</button></th>
        </tr>
        <tr class="userList1"
          *ngFor="let item of userList  | filterBy: searchManual | paginate: { itemsPerPage: 10, currentPage: q, id: 'q'  }; let i = index">
          <!-- | filterBy: search | paginate: { itemsPerPage: 10, currentPage: q, id: 'q'  }; let i = index" -->
          <td>{{ item.name }}</td>
          <td>{{ item.email }}</td>
          <td class="phoneClass">{{ item.phone }}</td>
          <td>{{ item.company }}</td>
          <td>{{ item.packagename }}</td>
          <td>{{ item.gst }}</td>
          <td>{{ item.createdDate }}</td>
          <!-- | date:'dd-MMM-yyyy' -->
          <td>
            {{item.last_logged_date }}
            <!-- | date:'dd-MMM-yyyy, h:mm a' -->
          </td>
          <td>
            {{item.last_refreshed_date }}
            <!-- | date:'dd-MMM-yyyy, h:mm a' -->
          </td>
          <td>
            <p *ngIf="item.subcStarus == 2">Active</p>
            <p no-margin *ngIf="item.subcStarus == 1">Inactive</p>
          </td>
          <td>
            <p *ngIf="item.status == 1">Active</p>
            <p no-margin *ngIf="item.status == 2">Inactive</p>
          </td>
          <td class="edit borderLeft"><i class="fas fa-sign-out-alt" (click)="logout(item.subId, item.name)"></i></td>

          <td class="edit borderLeft" (click)="editCorpuser(item,'manual')"><i class="far fa-edit"></i></td>
        </tr>
        <tr></tr>
      </tbody>
    </table>
    <div class="nodata" *ngIf="!featureLength">
      <div class="imageNO">
        <p>No Data Found</p>
      </div>
    </div>
    <div class="nodata" *ngIf="setveractive">
      <div class="imageNO">
        <p>Server Error</p>
      </div>
    </div>
  </div>



  <div *ngIf="userList" style="width: 100%; text-align: center;margin-top: 10px;">
    <pagination-controls (pageChange)="q = $event" maxSize="5" directionLinks="true" autoHide="true" id='q'>
    </pagination-controls>
  </div>
</div>



<div *ngIf="show == false">
  <div class="filter">
    <span class="txt">Non-Corporate : <span class="badge">{{(tableList| filterBy: search).length}}</span></span>
    <button class="AddBtn userExport" (click)="exportExcel()">EXPORT TO EXCEL</button>
    <button class="AddBtn" (click)="addUser('app')">ADD USER</button>
  </div>
  <div class="TableDiv marginClass">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="upperMiddle" scope="col" (click)="sort('name')" (click)="invert()">Name
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'name' && !isDesc) ,'fa-sort-desc': (column == 'name' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sort('email')">Email<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'email' && !isDesc),'fa-sort-desc': (column == 'email' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('phone')">Mobile No.<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'phone' && !isDesc),'fa-sort-desc': (column == 'phone' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('company')">Company<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'company' && !isDesc),'fa-sort-desc': (column == 'company' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('designation')">Designation<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'designation' && !isDesc),'fa-sort-desc': (column == 'designation' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('gst')">GST No.<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'gst' && !isDesc),'fa-sort-desc': (column == 'gst' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th scope="col" (click)="sort('createdDate')">Registered Date<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'createdDate' && !isDesc),'fa-sort-desc': (column == 'createdDate' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th scope="col" (click)="sort('packageName')">Package<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'packageName' && !isDesc),'fa-sort-desc': (column == 'packageName' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th scope="col" (click)="sort('startDate')">Start Date<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'startDate' && !isDesc),'fa-sort-desc': (column == 'startDate' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th scope="col" (click)="sort('endDate')"> End Date<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'endDate' && !isDesc),'fa-sort-desc': (column == 'endDate' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" (click)="sort('refreshedDate')" scope="col">Last Viewed_Date
            <i class="fa" [ngClass]="{'fa-sort-asc': (column == 'refreshedDate' && !isDesc),'fa-sort-desc': (column ==
              'refreshedDate' && isDesc) }" aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sort('subcStarus')">Subscription<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'subcStarus' && !isDesc),'fa-sort-desc': (column == 'subcStarus' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('status')">Status<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'status' && !isDesc),'fa-sort-desc': (column == 'status' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th scope="col">Logout</th>
          <th scope="col"></th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Name" [(ngModel)]="search.name" type="search"
                aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Email" [(ngModel)]="search.email"
                type="search" aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Mobile No." [(ngModel)]="search.phone"
                type="search" aria-describedby="basic-addon1" maxlength="10">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Company" [(ngModel)]="search.company"
                type="search" aria-describedby="basic-addon1" maxlength="200">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Designation" [(ngModel)]="search.designation"
                type="search" aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="GST No." [(ngModel)]="search.gst"
                type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Registered Date"
                [(ngModel)]="search.createdDate" type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Package" [(ngModel)]="search.packageName"
                type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Start Date" [(ngModel)]="search.startDate"
                type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="End Date" [(ngModel)]="search.endDate"
                type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Last View Date"
                [(ngModel)]="search.refreshedDate" type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <select class="selectSup" aria-placeholder="Subscription" (change)="subChange($event)"
                [(ngModel)]="search.subcStarus">
                <option value="" selected>Select</option>
                <option value="2">Active</option>
                <option value="1">Inactive</option>
              </select>
            </div>
          </th>
          <th>
            <div class="Textbox">
              <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
                [(ngModel)]="search.status">
                <option value="" selected>Select</option>
                <option value="1">Active</option>
                <option value="2">Inactive</option>
              </select>
            </div>
          </th>
          <th>Logout</th>

          <th><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
        </tr>
        <tr class="userList"
          *ngFor="let item of tableList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p, id: 'p'  }; let i = index">
          <td title="Click here for more details" (click)="gotoDeals(item,'app')">{{ item.name }}</td>
          <td title="Click here for more details" (click)="gotoDeals(item,'app')">{{ item.email }}</td>
          <td title="Click here for more details" class="phoneClass" (click)="gotoDeals(item,'app')">{{ item.phone }}
          </td>
          <td title="Click here for more details" (click)="gotoDeals(item,'app')">{{ item.company }}</td>
          <td title="Click here for more details" (click)="gotoDeals(item,'app')">{{ item.designation }}</td>
          <td title="Click here for more details" (click)="gotoDeals(item,'app')">{{ item.gst }}</td>
          <td title="Click here for more details" (click)="gotoDeals(item,'app')">
            {{ item.createdDate | date:'dd-MMM-yyyy'}}
          <td title="Click here for more details" (click)="gotoDeals(item,'app')">{{ item.packageName }}
          <td title="Click here for more details" (click)="gotoDeals(item,'app')">
            {{ item.startDate | date:'dd-MMM-yyyy'}}
          <td title="Click here for more details" (click)="gotoDeals(item,'app')">{{ item.endDate | date:'dd-MMM-yyyy'}}
          </td>
          <td title="Click here for more details" (click)="gotoDeals(item,'app')">
            {{item.refreshedDate | date:'dd-MMM-yyyy'}}</td>
          <td title="Click here for more details" (click)="gotoDeals(item,'app')">
            <p *ngIf="item.subcStarus == 2">Active</p>
            <p no-margin *ngIf="item.subcStarus == 1">Inactive</p>
          </td>
          <td title="Click here for more details" (click)="gotoDeals(item,'app')">
            <p *ngIf="item.status == 1">Active</p>
            <p no-margin *ngIf="item.status == 2">Inactive</p>
          </td>
          <td class="edit borderLeft"><i class="fas fa-sign-out-alt" (click)="logout(item.subId, item.name)"></i></td>
          <td class="edit borderLeft"><i class="far fa-edit" (click)="edituser(item,'app')"></i></td>
        </tr>
      </tbody>
    </table>
    <div class="nodata" *ngIf="!featureLength1">
      <div class="imageNO">
        <p>No Data Found</p>
      </div>
    </div>
    <div class="nodata" *ngIf="setveractive1">
      <div class="imageNO">
        <p>Server Error</p>
      </div>
    </div>
  </div>


  <div *ngIf="tableList" style="width: 100%; text-align: center;margin-top: 10px;">
    <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true" autoHide="true" id='p'>
    </pagination-controls>
  </div>
</div>





<!-- pop up -->
<div class="bgHide" *ngIf="!hidePopup" (click)="closepopup()"></div>
<div class="poopupDiv" *ngIf="!hidePopup">
  <h1>Active Subscription</h1><span (click)="closepopup()" class="close">X</span>
  <table *ngFor="let item of activeDeals;let i = index">
    <tr *ngIf="i == 0">
      <td>TRACKER ID: {{item.trackId}}</td>
      <td>PURCHASE DATE: {{item.subscribeDate}}</td>
      <td>DISCOUNT(%): {{item.discountPercent}}</td>
      <td>TOTAL PRICE : {{item.total}}</td>
    </tr>
    <tr *ngIf="i == 0">
      <td>FROM DATE: {{item.startDate}}</td>
      <td>TO DATE: {{item.endDate}}</td>
      <td>DURATION: {{item.months}}</td>
      <td>FEATURES: {{item.featurenames}}</td>
      <!-- <td class="feature">FEATURES : <p *ngFor="let content of item.features;let i = index">{{content.featurename}}<span *ngIf="i < item.features.length-1">,</span></p> </td> -->
    </tr>
  </table>

  <h1>Previous Subscriptions</h1>
  <div class="Table">
    <table>
      <tr class="heading">
        <th>TRACKER ID</th>
        <th>PURCHASE DATE</th>
        <th>DISCOUNT(%)</th>
        <th>TOTAL PRICE</th>
        <th>FROM DATE</th>
        <th>TO DATE </th>
        <th>DURATION</th>
        <th>FEATURES</th>
      </tr>
      <tr *ngFor="let item of activeDeals;let i = index">
        <td *ngIf="i > 0">{{item.trackId}}</td>
        <td *ngIf="i > 0">{{item.subscribeDate}}</td>
        <td *ngIf="i > 0">{{item.discountPercent}}</td>
        <td *ngIf="i > 0">{{item.total}}</td>
        <td *ngIf="i > 0">{{item.startDate}}</td>
        <td *ngIf="i > 0">{{item.endDate}}</td>
        <td *ngIf="i > 0">{{item.months}}</td>
        <td *ngIf="i > 0">{{item.featurenames}}</td>
        <!-- <td class="feature"> <p *ngFor="let content of item.features;let i = index;"> {{content.featurename}}<span *ngIf="i < item.features.length-1">,</span></p></td> -->
      </tr>
    </table>
  </div>
</div>
