<div class="TopButton">
    <div class="btninnerDiv">
      <button class="AddBtn" (click)="addDuration()">ADD</button>
      <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
    </div>
  </div>
  
  <div class="TableDiv">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="upperMiddle" scope="col" (click)="sort('months')" (click)="invert()"> Duration(Month)
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'months' && !isDesc) ,'fa-sort-desc': (column == 'months' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <!-- <th scope="col" (click)="sort('perPrice')" (click)="invert()"> Per Price
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'perPrice' && !isDesc) ,'fa-sort-desc': (column == 'perPrice' && isDesc) }"
              aria-hidden="true"></i>
          </th> -->
          <th class="upperMiddle" scope="col" (click)="sort('discount')" (click)="invert()"> Discount(%)
              <i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'discount' && !isDesc) ,'fa-sort-desc': (column == 'discount' && isDesc) }"
                aria-hidden="true"></i>
            </th>
          <th class="upperMiddle" scope="col" (click)="sort('status')">Status<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'status' && !isDesc),'fa-sort-desc': (column == 'status' && isDesc) }"
              aria-hidden="true"></i> </th>
           <th scope="col"></th>
          <!-- <th scope="col"></th> -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Duration" [(ngModel)]="search.months"
                type="search" aria-describedby="basic-addon1">
            </div>
          </th>
          <!-- <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Per Price" [(ngModel)]="search.perPrice"
                type="search" aria-describedby="basic-addon1">
            </div>
          </th> -->
          <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Discount" [(ngModel)]="search.discount"
                  type="search" aria-describedby="basic-addon1">
              </div>
            </th>
          <th>
            <div class="Textbox">
              <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
                [(ngModel)]="search.status">
                <option value="" selected>Select</option>
                <option value="1">Active</option>
                <option value="2">Inactive</option>
              </select>
            </div>
          </th>
          <th class="clear"><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
          <!-- <th></th> -->
        </tr>
        <tr class="userList"
          *ngFor="let item of durationList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <td class="phoneClass">{{ item.months }}</td>
          <!-- <td class="phoneClass">{{ item.perPrice }}</td> -->
          <td class="phoneClass">{{ item.discount }}</td>
          <td>
            <p *ngIf="item.status == 1">Active</p>
            <p no-margin *ngIf="item.status == 2">Inactive</p>
          </td>
          <td class="edit borderLeft"><i class="far fa-edit" (click)="editDuration(item)"></i></td>
        </tr>
      </tbody>
    </table>
    <div class="nodata" *ngIf="!featureLength">
      <div class="imageNO">
        <!-- <img src="../../../assets/images/binders.png"> -->
        <p>No Data Found</p>
      </div>
    </div>
    <div class="nodata" *ngIf="setveractive">
      <div class="imageNO">
        <!-- <img src="../../../assets/images/binders.png"> -->
        <p>Server Error</p>
      </div>
    </div>
  </div>
  
  <div *ngIf="durationList" style="width: 100%; text-align: center;margin-top: 10px;">
    <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true" autoHide="true">
    </pagination-controls>
  </div>