<div class="TopButton mb-4">
  <span>Section Order By</span>
  <div class="btninnerDiv">
    <button class="AddBtn" (click)="onBack()">BACK</button>
    <button class="AddBtn" (click)="onSave()">SAVE</button>
  </div>
</div>

<nb-tabset (changeTab)="tabChange($event)" class="tabs">
  <nb-tab tabTitle="App View">
    <div class="orderlist" cdkDropList (cdkDropListDropped)="drop($event, 'app')">
      <div *ngFor="let item of appList" cdkDrag>
        <!-- | orderBy: 'appsortorder': 'asc' -->
        <img src="../../../../assets/icons/Sort.svg" alt="">
        <p>{{item?.name}}</p>
      </div>
    </div>
  </nb-tab>
  <nb-tab tabTitle="Web View">
    <div class="orderlist" cdkDropList (cdkDropListDropped)="drop($event, 'web')">
      <div *ngFor="let item of webList" cdkDrag>
        <img src="../../../../assets/icons/Sort.svg" alt="">
        <p>{{item?.name}}</p>
      </div>
    </div>
  </nb-tab>
  <!-- <nb-tab tabTitle="Transactions" disabled>
    <p>List of <strong>transactions</strong>.</p>
  </nb-tab> -->
</nb-tabset>
