.TopButton {
  background: white;
  position: sticky;
  top: 65px;
  width: 100%;
  z-index: 99;
  left: 0;
  height: 56px;
  box-shadow: 3px 3px 5px 0px #ccc;
}

.btninnerDiv {
  position: absolute;
  right: 0;
}

.AddBtn {
  padding: 8px 21px;
  border: 1px solid #01579b;
  background: #01579b;
  color: #ffffff;
  transition: .4s ease-in-out;
  cursor: pointer !important;
  border-radius: 3px;
  outline: none;
  margin-top: 10px;
  margin-right: 10px;
}

.AddBtn:hover {
  color: #01579b;
  background: #ffffff;
}

.orderlist,
.cdk-drag-preview {
  >div {
    background: #FFF;
    display: flex;
    align-items: center;
    padding: 14px 15px;
    border: 1px solid #ccc;
    cursor: move;

    img {
      width: 24px;
      height: 24px;
      margin-right: 15px;
    }

    p {
      margin: 0;
      color: #565656;
      font-size: 18px;
    }
  }
}

.box {
  padding: 10px;
  border: solid 1px #ccc;
}

.cdk-drag-preview {
  background: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 14px 15px;
  border: 1px solid #ccc;

  img {
    width: 24px;
    height: 24px;
    margin-right: 15px;
  }

  p {
    margin: 0;
    color: #565656;
    font-size: 18px;
  }
}
