// pop up 
.bgHide{
    position: fixed;
    background: #1b1a1a12;
    z-index: 1041;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .poopupDiv{
    width: 50%;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background: #ffffff;
    padding: 16px;
    border-radius: 7px;
    box-shadow: 1px 2px 10px 0px #585757;
    z-index: 1041;
    .close{
        position: absolute;
        right: 0;
        top: 0;
        padding: 12px;
        color: #5d5858;
        font-size: 15px;
        cursor: pointer;
    }
    h1{   
      margin: 0;
      font-size: 18px;   
      padding-bottom: 10px;    
      text-align: left;
      span{
          font-size: 14px;
          float: right;
      }
    }
    h1:first-child{
        padding-top: 12px;
    }
    
    table{
      width: 100%;
      th,td{
          padding: 8px 0;
          text-align: left;
          padding-left: 5px;
      }
      .heading{
          background: #e8e8e8;
      }
      .topbor{
          border-top: 1px solid;
          border-bottom: 1px solid;
      }
      span{
          float: right;
      }
    }
    .Table{
        overflow: scroll;
        table{
            min-width: 1400px;
        }
    }
    .feature{
        p{
            display: inline-block;
            padding-right: 5px;
            margin-bottom: 0;
        }
    }
  }
  // ========================================

.uplosdDiv{
    width: 100%;
    background: white;
    padding: 15px;
    left: 50px;
    display: block;
    // margin-top: 30px;
    .upBtn{
        // text-align: end;
        .AddBtn{
            margin-top: 0;
        }
    }
}


.TopButton{
    background: white;
    position: fixed;
    top: 62px;
    z-index: 3;
    width: 100%;
    left: 0;
    height: 56px;
    box-shadow: 3px 3px 5px 0px #ccc;
}
.btninnerDiv{
  position: absolute;
  right: 0;
}
.TableDiv{
    background: #ffffff;
    box-shadow: 0px 0px 4px 1px #99cbf361;
   //border-radius: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px; 
    margin-top: 7vh;
    overflow-x: scroll;
}
.TableDiv table>thead{
    background: #99cbf361;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.TableDiv table>thead>tr>th {
    color: #01579b;
    cursor: pointer;
}

.Textbox input{
    //font-size: 10px;
     height: 26px; 
     padding: 6px 6px;
     border-radius: 5px !important;
}
::-webkit-input-placeholder{
    font-size: 10px;
}


.AddBtn{
    padding: 8px 21px;
    border: 1px solid #01579b;
    background: #01579b;
    color: #ffffff;
    transition: .4s ease-in-out;
    cursor: pointer!important;
    border-radius: 3px;
    outline: none;
    margin-top: -7px;
    margin-right: 10px;
    float: right;
}
.AddBtn:hover{
    color: #01579b;
    background: #ffffff; 
}
.clearBtn{
    margin: 0;
    padding: 4px 10px;
}
.AddBtn:hover{
    color: #01579b;
    background: #ffffff; 
}

.arrBtn{
    float: right;
}
.fa-sort-asc::before{
    content: "[ ↑ ]";
    display: block;
    font-weight: 900;
    padding-left: 2px;
    position: relative;
    bottom: 2px;
}
.fa-sort-desc::before{
    content: "[ ↓ ]";
    display: block;
    font-weight: 900;
    padding-left: 2px;
    position: relative;
    bottom: 2px;
}
.edit i{
    cursor: pointer;
    color: #01579b;
}
.borderLeft{
    border-left: 1px solid #dee2e6;
}
.edit{
    border-right: 1px solid #dee2e6;
    text-align: center !important;
}
.Textbox input{
    //font-size: 10px;
     height: 26px; 
     padding: 6px 6px;
     border-radius: 5px !important;
}
.selectSup{
    height: 25px;
    border-radius: 4px;
    border: 2px solid #dadfe6;
    color: #b1b6af;
    outline: none;
}
.userList{
    cursor: pointer;
    p{
        margin: 0;
    }
}
.userList1{
    // cursor: pointer;
    p{
        margin: 0;
    }
}
.innerUpload{
    .row{
        .col-md-4{
            padding-bottom: 6px;
        }
    }
}
.dealsDetails{
    color: #565353;
    .row{
        padding-top: 4px;
    }
    label{
        margin-bottom: 0;
        font-weight: 600;
        color: #0e0e0e;
    }
}
.green{
    color:#009f57;
}
.red{
    color:#ff0000b5;
}
.yellow{
    color:#FFC107;
}
.boldClass{
    font-weight: 500;
}
.phoneClass{
    text-align: right;
}
.corpButton{
    // position: fixed;
    // right: 0;
    // top: 65px;
    // z-index: 3;
    // position: fixed;
    // right: 38px;
    // top: 98px;
    // z-index: 4;
}
.adButton{
    // position: fixed;
    // right: 170px;
    // top: 65px;
    // z-index: 3;
    position: fixed;
    right: 208px;
    top: 97px;
    z-index: 4;
}
.lowerRow{
    margin-top: 10px;
}
.selectClass{
    padding: 0.75rem 1.125rem !important;
    height: initial !important;
  }
.labelnew{
    margin: 0;
    height: 44px;
    padding-top: 10px;
}
.custom-file-label::after{
    height: calc(calc(2.98rem + 2px) - 1px * 2);
    padding: 0.675rem 0.75rem;
}
.disableCheck{
    pointer-events: none;
    cursor: not-allowed;
}
.marginClass{
    margin-top: 3vh !important;
}
.upperMiddle{
    text-align: center;
    text-transform: uppercase;
}
.filter{
    background: white;
    padding: 17.5px 0px;
        .txt{
            margin-left: 36px;
            font-size: 16px;
            .badge{
                padding: 0;
                /* background-color: #01579b; */
                color: #01579b;
                /* border-radius: 50%; */
                font-size: 16px;
            }
        }
}
@media screen and (max-width: 768px) {
    .TableDiv{
        overflow: scroll;
    }
    .uplosdDiv{
        margin-top: 40px;
    }
    .upBtn{
        padding-top: 10px;
        text-align: end;
    }
    .dealsDetails{
        .row{
            padding-top: 0px;
        }
    }
    .userExport,.corpButton{
        // right: 15px;
        position: static!important;
        padding-top: 12px;
    }
}
@media screen and (max-width: 576px) {
    .AddBtn{
        padding: 6px 9px;
        font-size: 12px;
    }
    .clearBtn{
        margin: 0;
        padding: 4px 10px;
    }
    .TopButton{
      top: 53px;
      height: 51px;
    }
    .uplosdDiv{
        margin-top: 25px;
    }
    .corpButton{
        position: fixed;
        right: 8px;
        top: 53px;
        z-index: 3;
    }
    .exportBtn{
        margin-right: 0px;
        right: 3px;
    }
}
@media screen and (max-width: 400px) {
    .TopButton{
        .btninnerDiv{
            .AddBtn{
                padding: 6px 6px;
                font-size: 10px;
                margin-right: 4px;
            }
        }
    }
}