
<nb-tabset (changeTab)="selectTab($event)">
  <nb-tab tabTitle="Bulk Deal">
    <div class="filter">
      <span class="txt">Bulk Deal : <span class="badge">{{(userList| filterBy: search).length}}</span></span>
      <button class="AddBtn exportBtn" (click)="exportExcelCorp()">EXPORT TO EXCEL</button>
    </div>
    <div class="corpButton">
      <!-- <button class=" AddBtn" (click)="showFile1()">SUBSCRIPTION RENEWAL</button> -->
    </div>
    <!-- <div class="uplosdDiv" [ngStyle]="{'display': display}">
            <div class="innerUpload">
              <div class="row">
                  <div class="col-md-4">
                      <select (change)="checkCompany($event)" class="custom-select custom-select selectClass" [ngModel]="company">
                          <option value="" selected>Select Company</option>
                          <option *ngFor="let content of companyList" value="{{content.corpId}}">{{content.corpname}}</option>
                        </select>
                  </div>
                  
                  <div class="col-md-4">
                    <select (change)="checkDeal($event)" class="custom-select custom-select selectClass" [ngModel]="deal">
                        <option value="" selected>Select Deal</option>
                        <option *ngFor="let content of dealList" value="{{content.trackId}}">{{content.trackId}}</option>
                      </select>
                    </div>
                  
                  <div class="col-md-4">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="customFileLangHTML"
                      accept=".csv,.xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" 
                            (change)="readFileUrl($event)" attr.data-title="{{fileName}}">
                      <label class="custom-file-label labelnew" for="customFileLangHTML" data-browse="browse">{{fileName}}</label>
                    </div>
                  </div>
              </div>
      
              <div class="row lowerRow">
                <div class=" upBtn col-md-6">
                  <button class="AddBtn" (click)="uploadSheet()">VALIDATE</button>
                  <button class="AddBtn" (click)="download()">DOWNLOAD TEMPLATE</button>
                  <button class="AddBtn" (click)="remFile()">CANCEL</button>
                </div>
                
                <div class="col-md-6 dealsDetails" *ngFor="let item of previewData">
                  <label>Deals Details :-</label>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">Purchase Date : {{item.purchaseDate | date :'dd-MMM-yyyy'}}</div>
                    <div class="col-md-6 col-sm-12">From Date : {{item.fromDate | date :'dd-MMM-yyyy'}}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">To Date : {{item.toDate | date :'dd-MMM-yyyy'}}</div>
                    <div class="col-md-6 col-sm-12">Features : {{item.featname}}</div>
                   
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-12"> Duration(Months) : {{item.duration}}</div>
                    <div class="col-md-6 col-sm-12">Discount(%) : {{item.discountPercent}}</div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-12">No. of users : {{item.pax}}</div>
                    <div class="col-md-6 col-sm-12">Total(₹) : {{item.totalAmt}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->

    <div class="uplosdDiv" [ngStyle]="{'display': display1}">
      <div class="innerUpload">
        <div class="row">
          <div class="col-5">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="customFileLangHTML1"
                accept=".csv,.xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                (change)="readFileUrl1($event)" attr.data-title="{{fileName1}}">
              <label class="custom-file-label" for="customFileLangHTML1" data-browse="browse">{{fileName1}}</label>
            </div>
          </div>
          <div class="upBtn col-md-6">
            <button class="AddBtn" (click)="uploadSheet()">Upload</button>
            <button class="AddBtn">Download Template</button>
            <button class="AddBtn" (click)="remFile1()">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <div class="TableDiv marginClass">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="upperMiddle" scope="col" (click)="sort('name')" (click)="invert()">Name
              <i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'name' && !isDesc) ,'fa-sort-desc': (column == 'name' && isDesc) }"
                aria-hidden="true"></i>
            </th>
            <th class="upperMiddle" scope="col" (click)="sort('email')">Email<i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'email' && !isDesc),'fa-sort-desc': (column == 'email' && isDesc) }"
                aria-hidden="true"></i> </th>
            <th class="upperMiddle" scope="col" (click)="sort('phone')">Mobile No.<i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'phone' && !isDesc),'fa-sort-desc': (column == 'phone' && isDesc) }"
                aria-hidden="true"></i> </th>
            <th class="upperMiddle" scope="col" (click)="sort('company')">Company<i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'company' && !isDesc),'fa-sort-desc': (column == 'company' && isDesc) }"
                aria-hidden="true"></i> </th>
            <th class="upperMiddle" scope="col" (click)="sort('designation')">Designation<i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'designation' && !isDesc),'fa-sort-desc': (column == 'designation' && isDesc) }"
                aria-hidden="true"></i> </th>
            <th class="upperMiddle" scope="col" (click)="sort('gst')">GST No.<i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'gst' && !isDesc),'fa-sort-desc': (column == 'gst' && isDesc) }"
                aria-hidden="true"></i> </th>
            <!-- <th scope="col" (click)="sort('userType')">Is Corporate<i class="fa"
                      [ngClass]="{'fa-sort-asc': (column == 'userType' && !isDesc),'fa-sort-desc': (column == 'userType' && isDesc) }"
                      aria-hidden="true"></i> </th> -->
            <th scope="col" (click)="sort('createdDate')">Registered Date<i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'createdDate' && !isDesc),'fa-sort-desc': (column == 'createdDate' && isDesc) }"
                aria-hidden="true"></i> </th>
            <!-- <th scope="col" (click)="sort('subsc')">Subscription<i class="fa"
                      [ngClass]="{'fa-sort-asc': (column == 'subsc' && !isDesc),'fa-sort-desc': (column == 'subsc' && isDesc) }"
                      aria-hidden="true"></i> </th>
                  <th scope="col" (click)="sort('subscstart')">Subscription Start Date<i class="fa"
                      [ngClass]="{'fa-sort-asc': (column == 'subscstart' && !isDesc),'fa-sort-desc': (column == 'subscstart' && isDesc) }"
                      aria-hidden="true"></i> </th>
                  <th scope="col" (click)="sort('subscend')">Subscription End Date<i class="fa"
                      [ngClass]="{'fa-sort-asc': (column == 'subscend' && !isDesc),'fa-sort-desc': (column == 'subscend' && isDesc) }"
                      aria-hidden="true"></i> </th> -->
            <!-- <th scope="col" (click)="sort('days')">Days Remaining<i class="fa"
                    [ngClass]="{'fa-sort-asc': (column == 'days' && !isDesc),'fa-sort-desc': (column == 'days' && isDesc) }"
                    aria-hidden="true"></i> </th> -->
            <th class="upperMiddle" scope="col" (click)="sort('subcStarus')">Subscription<i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'subcStarus' && !isDesc),'fa-sort-desc': (column == 'subcStarus' && isDesc) }"
                aria-hidden="true"></i> </th>
            <th class="upperMiddle" scope="col" (click)="sort('status')">Status<i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'status' && !isDesc),'fa-sort-desc': (column == 'status' && isDesc) }"
                aria-hidden="true"></i> </th>
            <!-- <th scope="col"></th> -->
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Name" alphabetOnly [(ngModel)]="search.name"
                  type="search" aria-describedby="basic-addon1" maxlength="45">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Email" [(ngModel)]="search.email"
                  type="search" aria-describedby="basic-addon1" maxlength="45">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Mobile No." myNumberOnly
                  [(ngModel)]="search.phone" type="search" aria-describedby="basic-addon1" maxlength="10">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Company" [(ngModel)]="search.company"
                  type="search" aria-describedby="basic-addon1" maxlength="200">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Designation"
                  [(ngModel)]="search.designation" type="search" aria-describedby="basic-addon1" maxlength="45">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="GST No." [(ngModel)]="search.gst"
                  type="search" aria-describedby="basic-addon1" maxlength="15">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Registered Date"
                  [(ngModel)]="search.createdDate" type="search" aria-describedby="basic-addon1" maxlength="15">
              </div>
            </th>
            <!--  <th>
                    <div class="Textbox">
                      <input class="form-control with-primary-addon" placeholder="Subscription" [(ngModel)]="search.subsc"
                        type="search" aria-describedby="basic-addon1">
                    </div>
                  </th>
                  <th>
                    <div class="Textbox">
                      <input class="form-control with-primary-addon" placeholder="Subscription Start Date" [(ngModel)]="search.subscstart"
                        type="search" aria-describedby="basic-addon1">
                    </div>
                  </th>
                  <th>
                    <div class="Textbox">
                      <input class="form-control with-primary-addon" placeholder="Subscription End Date" [(ngModel)]="search.subscend"
                        type="search" aria-describedby="basic-addon1">
                    </div>
                  </th> -->
            <!-- <th>
                  <div class="Textbox">
                    <input class="form-control with-primary-addon" placeholder="Days Remaining" [(ngModel)]="search.days"
                      type="search" aria-describedby="basic-addon1">
                  </div>
                </th>  -->
            <!-- <th>
                    <div class="Textbox">
                      <select class="selectSup" aria-placeholder="Is Corporate" (change)="checkCorp($event)"
                        [(ngModel)]="search.status">
                        <option value="" selected>Select</option>
                        <option value="1">No</option>
                        <option value="2">Yes</option>
                      </select>
                    </div>
                  </th> -->
            <th>
              <div class="Textbox">
                <select class="selectSup" aria-placeholder="Subscription" (change)="subChange($event)"
                  [(ngModel)]="search.subcStarus">
                  <option value="" selected>Select</option>
                  <option value="2">Active</option>
                  <option value="1">Inactive</option>
                </select>
              </div>
            </th>
            <th>
              <div class="Textbox">
                <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
                  [(ngModel)]="search.status">
                  <option value="" selected>Select</option>
                  <option value="1">Active</option>
                  <option value="2">Inactive</option>
                </select>
              </div>
            </th>
            <th><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
            <!-- <th></th> -->
          </tr>
          <tr class="userList1"
            *ngFor="let item of userList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: q, id: 'q'  }; let i = index">
            <td>{{ item.name }}</td>
            <td>{{ item.email }}</td>
            <td class="phoneClass">{{ item.phone }}</td>
            <td>{{ item.company }}</td>
            <td>{{ item.designation }}</td>
            <td>{{ item.gst }}</td>
            <td>{{ item.createdDate | date:'dd-MMM-yyyy'}}</td>
            <!-- <td>{{ item.subsc }}</td>
                  <td>{{ item.subscstart }}</td>
                  <td>{{ item.subscend }}</td> -->
            <!-- <td >{{ item.days }}</td> -->
            <!-- <td>
                    <p *ngIf="item.userType == 1">No</p>
                    <p no-margin *ngIf="item.userType == 2">Yes</p>
                  </td> -->
            <td>
              <p *ngIf="item.subcStarus == 2">Active</p>
              <p no-margin *ngIf="item.subcStarus == 1">Inactive</p>
            </td>
            <td>
              <p *ngIf="item.status == 1">Active</p>
              <p no-margin *ngIf="item.status == 2">Inactive</p>
            </td>
            <td class="edit borderLeft" (click)="editCorpuser(item)"><i class="far fa-edit"></i></td>
            <!-- <td class="edit"><i class="fas fa-eye" (click)="userDetails(item)"></i></td>       -->
          </tr>
          <tr>

          </tr>
        </tbody>
      </table>
      <div class="nodata" *ngIf="!featureLength">
        <div class="imageNO">
          <p>No Data Found</p>
        </div>
      </div>
      <div class="nodata" *ngIf="setveractive">
        <div class="imageNO">
          <p>Server Error</p>
        </div>
      </div>
    </div>

    <div *ngIf="userList" style="width: 100%; text-align: center;margin-top: 10px;">
      <pagination-controls (pageChange)="q = $event" maxSize="5" directionLinks="true" autoHide="true" id='q'>
      </pagination-controls>
    </div>
  </nb-tab>

  <nb-tab tabTitle="Non-Corporate" #nc>
    <div class="filter">
      <span class="txt">Non-Corporate : <span class="badge">{{(tableList| filterBy: search).length}}</span></span>
      <button class="AddBtn userExport" (click)="exportExcel()">EXPORT TO EXCEL</button>
      <button class="AddBtn" (click)="addUser()">ADD USER</button>
    </div>
    <div class="TableDiv marginClass">
      <table class="table table-hover">
        <thead>
          <tr>
            <th class="upperMiddle" scope="col" (click)="sort('name')" (click)="invert()">Name
              <i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'name' && !isDesc) ,'fa-sort-desc': (column == 'name' && isDesc) }"
                aria-hidden="true"></i>
            </th>
            <th class="upperMiddle" scope="col" (click)="sort('email')">Email<i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'email' && !isDesc),'fa-sort-desc': (column == 'email' && isDesc) }"
                aria-hidden="true"></i> </th>
            <th class="upperMiddle" scope="col" (click)="sort('phone')">Mobile No.<i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'phone' && !isDesc),'fa-sort-desc': (column == 'phone' && isDesc) }"
                aria-hidden="true"></i> </th>
            <th class="upperMiddle" scope="col" (click)="sort('company')">Company<i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'company' && !isDesc),'fa-sort-desc': (column == 'company' && isDesc) }"
                aria-hidden="true"></i> </th>
            <th class="upperMiddle" scope="col" (click)="sort('designation')">Designation<i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'designation' && !isDesc),'fa-sort-desc': (column == 'designation' && isDesc) }"
                aria-hidden="true"></i> </th>
            <th class="upperMiddle" scope="col" (click)="sort('gst')">GST No.<i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'gst' && !isDesc),'fa-sort-desc': (column == 'gst' && isDesc) }"
                aria-hidden="true"></i> </th>
            <th scope="col" (click)="sort('createdDate')">Registered Date<i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'createdDate' && !isDesc),'fa-sort-desc': (column == 'createdDate' && isDesc) }"
                aria-hidden="true"></i> </th>
            <th class="upperMiddle" scope="col" (click)="sort('subcStarus')">Subscription<i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'subcStarus' && !isDesc),'fa-sort-desc': (column == 'subcStarus' && isDesc) }"
                aria-hidden="true"></i> </th>
            <th class="upperMiddle" scope="col" (click)="sort('status')">Status<i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'status' && !isDesc),'fa-sort-desc': (column == 'status' && isDesc) }"
                aria-hidden="true"></i> </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Name" [(ngModel)]="search.name"
                  type="search" aria-describedby="basic-addon1" maxlength="45">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Email" [(ngModel)]="search.email"
                  type="search" aria-describedby="basic-addon1" maxlength="45">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Mobile No." [(ngModel)]="search.phone"
                  type="search" aria-describedby="basic-addon1" maxlength="10">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Company" [(ngModel)]="search.company"
                  type="search" aria-describedby="basic-addon1" maxlength="200">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Designation"
                  [(ngModel)]="search.designation" type="search" aria-describedby="basic-addon1" maxlength="45">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="GST No." [(ngModel)]="search.gst"
                  type="search" aria-describedby="basic-addon1" maxlength="15">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Registered Date"
                  [(ngModel)]="search.createdDate" type="search" aria-describedby="basic-addon1" maxlength="15">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <select class="selectSup" aria-placeholder="Subscription" (change)="subChange($event)"
                  [(ngModel)]="search.subcStarus">
                  <option value="" selected>Select</option>
                  <option value="2">Active</option>
                  <option value="1">Inactive</option>
                </select>
              </div>
            </th>
            <th>
              <div class="Textbox">
                <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
                  [(ngModel)]="search.status">
                  <option value="" selected>Select</option>
                  <option value="1">Active</option>
                  <option value="2">Inactive</option>
                </select>
              </div>
            </th>
            <th><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
          </tr>
          <tr class="userList"
            *ngFor="let item of tableList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p, id: 'p'  }; let i = index">
            <td title="Click here for more details" (click)="gotoDeals(item)">{{ item.name }}</td>
            <td title="Click here for more details" (click)="gotoDeals(item)">{{ item.email }}</td>
            <td title="Click here for more details" class="phoneClass" (click)="gotoDeals(item)">{{ item.phone }}</td>
            <td title="Click here for more details" (click)="gotoDeals(item)">{{ item.company }}</td>
            <td title="Click here for more details" (click)="gotoDeals(item)">{{ item.designation }}</td>
            <td title="Click here for more details" (click)="gotoDeals(item)">{{ item.gst }}</td>
            <td title="Click here for more details" (click)="gotoDeals(item)">{{ item.createdDate | date:'dd-MMM-yyyy'}}
            </td>
            <td title="Click here for more details" (click)="gotoDeals(item)">
              <p *ngIf="item.subcStarus == 2">Active</p>
              <p no-margin *ngIf="item.subcStarus == 1">Inactive</p>
            </td>
            <td title="Click here for more details" (click)="gotoDeals(item)">
              <p *ngIf="item.status == 1">Active</p>
              <p no-margin *ngIf="item.status == 2">Inactive</p>
            </td>
            <td class="edit borderLeft"><i class="far fa-edit" (click)="edituser(item)"></i></td>
          </tr>
        </tbody>
      </table>
      <div class="nodata" *ngIf="!featureLength1">
        <div class="imageNO">
          <p>No Data Found</p>
        </div>
      </div>
      <div class="nodata" *ngIf="setveractive1">
        <div class="imageNO">
          <p>Server Error</p>
        </div>
      </div>
    </div>

    <div *ngIf="tableList" style="width: 100%; text-align: center;margin-top: 10px;">
      <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true" autoHide="true" id='p'>
      </pagination-controls>
    </div>
  </nb-tab>

</nb-tabset>


<!-- pop up -->
<div class="bgHide" *ngIf="!hidePopup" (click)="closepopup()"></div>
<div class="poopupDiv" *ngIf="!hidePopup">
  <h1>Active Subscription</h1><span (click)="closepopup()" class="close">X</span>
  <table *ngFor="let item of activeDeals;let i = index">
    <tr *ngIf="i == 0">
      <td>TRACKER ID: {{item.trackId}}</td>
      <td>PURCHASE DATE: {{item.subscribeDate}}</td>
      <td>DISCOUNT(%): {{item.discountPercent}}</td>
      <td>TOTAL PRICE : {{item.total}}</td>
    </tr>
    <tr *ngIf="i == 0">
      <td>FROM DATE: {{item.startDate}}</td>
      <td>TO DATE: {{item.endDate}}</td>
      <td>DURATION: {{item.months}}</td>
      <td>FEATURES: {{item.featurenames}}</td>
      <!-- <td class="feature">FEATURES : <p *ngFor="let content of item.features;let i = index">{{content.featurename}}<span *ngIf="i < item.features.length-1">,</span></p> </td> -->
    </tr>
  </table>

  <h1>Previous Subscriptions</h1>
  <div class="Table">
    <table>
      <tr class="heading">
        <th>TRACKER ID</th>
        <th>PURCHASE DATE</th>
        <th>DISCOUNT(%)</th>
        <th>TOTAL PRICE</th>
        <th>FROM DATE</th>
        <th>TO DATE </th>
        <th>DURATION</th>
        <th>FEATURES</th>
      </tr>
      <tr *ngFor="let item of activeDeals;let i = index">
        <td *ngIf="i > 0">{{item.trackId}}</td>
        <td *ngIf="i > 0">{{item.subscribeDate}}</td>
        <td *ngIf="i > 0">{{item.discountPercent}}</td>
        <td *ngIf="i > 0">{{item.total}}</td>
        <td *ngIf="i > 0">{{item.startDate}}</td>
        <td *ngIf="i > 0">{{item.endDate}}</td>
        <td *ngIf="i > 0">{{item.months}}</td>
        <td *ngIf="i > 0">{{item.featurenames}}</td>
        <!-- <td class="feature"> <p *ngFor="let content of item.features;let i = index;"> {{content.featurename}}<span *ngIf="i < item.features.length-1">,</span></p></td> -->
      </tr>
    </table>
  </div>
</div>