<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
    <div class="TopButton">
      <div class="btninnerDiv">
        <button type="submit" class="btn AddBtn subBtn">Submit</button>
        <button class="btn AddBtn" (click)="back()">Back</button>
      </div>
    </div>
    <div class="mainDiv" style="margin-top:50px">
      <div class="text">
        <h1>Edit Features</h1>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-6">
            <label>Feature Code <span class="mandatory">*</span></label>
            <input disabled (change)="Validation($event)" type="text" class="form-control disabletext" placeholder="Feature Code" formControlName="fcode"
              [ngClass]="{ 'is-invalid': submitted && f.fcode.errors }" maxlength="20">
            <div *ngIf="submitted && f.fcode.errors" class="invalid-feedback">
              <div *ngIf="f.fcode.errors.required">Feature is required</div>
            </div>
        </div>
        <div class="form-group col-md-6">
          <label>Feature <span class="mandatory">*</span></label>
          <input (change)="Validation($event)" type="text" class="form-control" placeholder="Feature" formControlName="featureName"
            [ngClass]="{ 'is-invalid': submitted && f.featureName.errors }" maxlength="50">
          <!-- <label class="warning">Maximum length of characters is 100</label> -->
          <div *ngIf="submitted && f.featureName.errors" class="invalid-feedback">
            <div *ngIf="f.featureName.errors.required">Feature is required</div>
            <div *ngIf="f.featureName.errors.pattern">Numbers and Special characters are not allowed</div>
          </div>
        </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
              <label>Paid Type <span class="mandatory">*</span></label>
              <select class="custom-select custom-select selectClass" formControlName="paidType">
                <option value="1">Paid</option>
                <option value="2">Free</option>
              </select>
              <div *ngIf="submitted && f.paidType.errors" class="invalid-feedback">
                  <div class="statusmargin" *ngIf="f.paidType.errors.required">Status is required</div>
              </div>
          </div>
          <div class="form-group col-md-6">
              <label>Status <span class="mandatory">*</span></label>
              <select class="custom-select custom-select selectClass" formControlName="status">
                <option value="1">Active</option>
                <option value="2">Inactive</option>
              </select>
              <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                  <div class="statusmargin" *ngIf="f.status.errors.required">Status is required</div>
              </div>
          </div>
      </div>
    </div>
  </form>
