<form [formGroup]="registerForm" class="addDiv">
  <div class="TopButton">
    <div class="btninnerDiv">
      <button type="submit" class="btn AddBtn subBtn" (click)="onSubmit()">
        Submit
      </button>
      <button class="btn AddBtn" (click)="back()">Back</button>
    </div>
  </div>
  <div class="mainDiv" style="margin-top: 50px">
    <div class="text">
      <h1 *ngIf="PostData.length == 0">Add Live Feed</h1>
      <h1 *ngIf="PostData.length > 0">Edit Live Feed</h1>
      <h3 class="dynamicLink" *ngIf="PostData.length > 0">{{ DynamicLink }}</h3>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Headline <span class="mandatory">*</span></label>
        <input
          (blur)="checkVal($event)"
          type="text"
          class="form-control"
          placeholder="Headline"
          formControlName="pname"
          [ngClass]="{ 'is-invalid': submitted && f.pname.errors }"
          maxlength="2000"
        />
        <!-- <label class="warning">Maximum length of characters is 100</label> -->
        <div *ngIf="submitted && f.pname.errors" class="invalid-feedback">
          <div *ngIf="f.pname.errors.required">Headline is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <!-- [min]="minDate" -->
        <label>Publish Date <span class="mandatory">*</span></label>
        <input
          (blur)="checkVal($event)"
          class="form-control"
          [owlDateTimeTrigger]="dt1"
          [owlDateTime]="dt1"
          placeholder="Publish Date"
          formControlName="publishDt"
          [ngClass]="{ 'is-invalid': submitted && f.publishDt.errors }"
          [min]="minPublishDate"
        />
        <owl-date-time
          [pickerMode]="'dialog'"
          [pickerType]="'both'"
          #dt1
        ></owl-date-time>
        <div *ngIf="submitted && f.publishDt.errors" class="invalid-feedback">
          <div *ngIf="f.publishDt.errors.required">Start Date is required</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <!-- <div class="form-group col-md-6">
        <label>Section <span class="mandatory">*</span></label>
        <select
          class="custom-select custom-select selectClass"
          formControlName="catTy"
          (change)="changeSection($event)"
        >
          <option value="" selected disabled>Select Section</option>
          <option
            *ngFor="let item of categoryType"
            value="{{ item.sectionId }}"
          >
            {{ item.sectionName }}
          </option>
        </select>
        <div *ngIf="submitted && f.catTy.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.catTy.errors.required">
            Section is required
          </div>
        </div>
      </div> -->
      <div class="form-group col-md-6">
        <label>Interest <span class="mandatory">*</span></label>
        <ng-multiselect-dropdown
          style="background: white"
          class="customMulti"
          [placeholder]="'Select Interest'"
          [data]="interestddlList"
          [settings]="dropdownSettings"
          [(ngModel)]="selectedItems"
          (onSelect)="onItemSelect($event)"
          (onDeSelect)="onItemDeSelect($event)"
          (onSelectAll)="onSelectAll($event)"
          [ngModelOptions]="{ standalone: true }"
        >
        </ng-multiselect-dropdown>
        <div *ngIf="selectedItems.length == 0" class="invalid-feedback">
          <div class="statusmargin">{{ isCheck }}</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Author <span class="mandatory">*</span></label>
        <select
          class="custom-select custom-select selectClass"
          formControlName="authN"
        >
          <option value="" selected disabled>Select Author</option>
          <option
            *ngFor="let content of authorList"
            value="{{ content.authorid }}"
          >
            {{ content.authorname }}
          </option>
        </select>
        <div *ngIf="submitted && f.authN.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.authN.errors.required">
            Author is required
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Category <span class="mandatory">*</span></label>
        <select
          class="custom-select custom-select selectClass"
          formControlName="catg"
        >
          <option value="" selected disabled>Select Category</option>
          <option
            *ngFor="let content of categoryList"
            value="{{ content.categoryId }}"
          >
            {{ content.cateName }}
          </option>
        </select>
        <div *ngIf="submitted && f.catg.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.catg.errors.required">
            Category is required
          </div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Tags</label>
        <ng-select2
          class="select2"
          [data]="tagsddlList"
          [options]="options"
          [(ngModel)]="value"
          [placeholder]="'Please choose your tags'"
          (valueChanged)="changed($event)"
          [width]="'100%'"
          formControlName="tags"
        >
        </ng-select2>

        <!-- <select class="custom-select custom-select selectClass" formControlName="tags">
          <option value="" selected>Tags</option>
          <option *ngFor="let item of interestsList" value="{{item.id}}">{{item.name}}</option>
        </select> -->
        <div *ngIf="submitted && f.tags.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.tags.errors.required">
            Tags is required
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Description <span class="mandatory">*</span></label>

        <!-- <ckeditor
          [config]="ckeConfig"
          [(ngModel)]="editorData"
          [ngModelOptions]="{ standalone: true }"
        >

        </ckeditor> -->

        <!-- <ckeditor [config]="{ extraPlugins: 'divarea' }" formControlName="descri">
        </ckeditor> -->
        <ckeditor
          [config]="{ extraPlugins: 'divarea' }"
          formControlName="descri"
        >
        </ckeditor>
        <div *ngIf="submitted && f.descri.errors" class="invalid-feedback">
          <div *ngIf="f.descri.errors.required">Description is required</div>
        </div>
        <!-- <div *ngIf="submitted && !editorData" class="invalid-feedback">
          <div>Description is required</div>
        </div> -->
      </div>
      <div class="form-group col-md-6">
        <label>Url Link <span class="mandatory">*</span></label>
        <textarea
          class="form-control"
          placeholder="Url link"
          rows="4"
          formControlName="url"
          maxlength="100"
        ></textarea>
        <div *ngIf="submitted && f.url.errors" class="invalid-feedback">
          <div *ngIf="f.url.errors.required">URL is required</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-12">
        <ul class="list-unstyled p-0 fieldsList">
          <!-- <li class="form-group">
            <label>Text Background</label>
            <input
              [(colorPicker)]="textBg"
              [style.background]="textBg"
              formControlName="textBg"
              class="form-control color-control cursor-p"
            />
          </li>
          <li class="form-group">
            <label>Image Background</label>
            <input
              [(colorPicker)]="imgBg"
              [style.background]="imgBg"
              formControlName="imgBg"
              class="form-control color-control cursor-p"
            />
          </li> -->
          <li class="form-group status_toggel">
            <label>Status</label>
            <div class="clear"></div>
            <div>
              <label class="switch">
                <input
                  type="checkbox"
                  formControlName="status"
                  [checked]="registerForm.controls.status.value == 1"
                  (change)="statusChange($event)"
                />
                <span class="slider round"></span>
              </label>
            </div>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
              <div class="statusmargin" *ngIf="f.status.errors.required">
                Status is required
              </div>
            </div>
          </li>
          <!-- <li class="form-group">
            <label>Top</label>
            <div>
              <label class="switch">
                <input
                  type="checkbox"
                  formControlName="highL"
                  value="test"
                  (click)="onToggle(test)"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </li>
          <li class="form-group">
            <label> Notification </label>
            <div>
              <label class="switch">
                <input
                  type="checkbox"
                  formControlName="noti"
                  value="not"
                  (click)="notification(not)"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </li>
          <li class="form-group">
            <label> Email </label>
            <div>
              <label class="switch">
                <input
                  type="checkbox"
                  formControlName="emailNoti"
                  value="emailnot"
                  (click)="notificationEmail(emailnot)"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </li>

          <li class="form-group">
            <label>Premium</label>
            <div>
              <label class="switch">
                <input
                  type="checkbox"
                  formControlName="premium"
                  (change)="premiumChange($event)"
                />
                <span class="slider round"></span>
              </label>
            </div>
          </li> -->
        </ul>
      </div>
    </div>

    <div class="uploadSection mb-4">
      <ng-container *ngFor="let item of uploadData">
        <div class="form-row" [ngClass]="item?.class" *ngIf="item?.show">
          <div class="col-md-2 upload_text">
            <label>{{ item?.label }}</label>
          </div>
          <div class="col-md-1">
            <div class="imgInput">
              <button class="btn btn-browse" (click)="open(item)">
                {{ item?.btnText }}
              </button>
            </div>
          </div>
          <div class="col-md-9">
            <ng-container *ngIf="item?.data.length > 0">
              <div
                *ngFor="let items of item?.data"
                class="form-row align-items-center"
              >
                <div class="col-md-2" *ngIf="items?.fileurl">
                  <div class="img-box">
                    <img
                      *ngIf="items?.filetypeid == 4"
                      [src]="
                        items?.fileurl
                          ? imgUrl + items?.fileurl
                          : imageplaceholder
                      "
                      [alt]="item?.label"
                    />
                    <video
                      *ngIf="items?.filetypeid == 5"
                      controls
                      style="width: 100%; height: 100%"
                    >
                      <source
                        type="video/mp4"
                        [src]="imgUrl + items?.fileurl"
                      />
                    </video>
                  </div>
                </div>
                <div class="col-md-7" *ngIf="items?.fileurl">
                  <div class="input-box">
                    <input
                      #uploadImageUrl
                      type="text"
                      class="form-control"
                      placeholder="Url"
                      [ngModel]="imgUrl + items?.fileurl"
                      [ngModelOptions]="{ standalone: true }"
                    />
                    <button
                      class="btn btn-remove"
                      (click)="removeImgUrl(item, items)"
                    >
                      <img src=".././../../../assets/icons/cancel.svg" />
                    </button>
                    <button
                      class="btn btn-copy"
                      (click)="copyText(uploadImageUrl)"
                    >
                      <img src=".././../../../assets/icons/copy.svg" />
                    </button>
                  </div>
                </div>
              </div>
            </ng-container>
            <!-- <div *ngIf="item.isError" class="invalid-feedback">
              Video thumbnail is required
            </div> -->
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</form>
