<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
  <div class="TopButton">
    <div class="btninnerDiv">
      <button type="submit" class="btn AddBtn subBtn">Submit</button>
      <button class="btn AddBtn" (click)="back()">Back</button>
    </div>
  </div>
  <div class="mainDiv" style="margin-top:50px">
    <div class="text">
      <h1 *ngIf="this.reportData.length == 0">Add MS Report</h1>
      <h1 *ngIf="this.reportData.length > 0">Edit MS Report</h1>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Report Name <span class="mandatory">*</span></label>
        <input (blur)="checkVal($event)" type="text" class="form-control" maxlength="2000" placeholder="Report Name"
          formControlName="rname" [ngClass]="{ 'is-invalid': submitted && f.rname.errors }">
        <div *ngIf="submitted && f.rname.errors" class="invalid-feedback">
          <div *ngIf="f.rname.errors.required">Report name is required</div>
          <div *ngIf="f.rname.errors.owlDateTimeMax">Please select past months</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Report Month <span class="mandatory">*</span></label>
        <input placeholder="Report Month" [owlDateTimeTrigger]="dt" [owlDateTime]="dt" [formControl]="dateTime"
          (blur)="checkVal($event)" class="form-control" placeholder="Report Month" formControlName="rmonth"
          [ngClass]="{ 'is-invalid': submitted && f.rmonth.errors , 'disabletext': disableAll }">
        <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" [startView]="'multi-years'"
          (yearSelected)="chosenYearHandler($event)" (monthSelected)="chosenMonthHandler($event, dt)" #dt="owlDateTime">
        </owl-date-time>
        <!-- <select class="custom-select custom-select selectClass" formControlName="rmonth">
            <option *ngFor="let content of monthList" value="{{content.monthcode}}">{{content.monthcode}}</option>
          </select> -->
        <div *ngIf="submitted && f.rmonth.errors" class="invalid-feedback">
          <div *ngIf="f.rmonth.errors.required">Report Month is required</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>File <span class="mandatory">*</span></label>
        <div class="input-group">
          <div *ngIf="typeRef" class="custom-file">
            <input type="file" required #file class="custom-file-input" id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01" accept="application/pdf" [(ngModel)]="str"
              [ngModelOptions]="{standalone: true}" (change)="changeLabelName(file.files)">
            <label class="custom-file-label" for="inputGroupFile01">{{name}}</label>
          </div>
          <div *ngIf="!typeRef" class="type">
            <p>{{ showlbl }}
              <span class="RemoveFile" (click)=removeFile();>
                <i class="fas fa-times" aria-hidden="true"></i>
              </span>
            </p>
          </div>
        </div>
        <div *ngIf="!str" class="invalid-feedback">
          <div class="msg">{{isFile}}</div>
        </div>
        <p class="errormsg" *ngIf="errorImsg">File must be between the size of 100Kb - 5Mb</p>
      </div>
      <div class="form-group col-md-6">
        <label>Status <span class="mandatory">*</span></label>
        <select class="custom-select custom-select selectClass" formControlName="status">
          <option value="1">Active</option>
          <option value="2">Inactive</option>
        </select>
        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.status.errors.required">Status is required</div>
        </div>
      </div>
    </div>
  </div>
</form>