input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.TopButton{
    background: white;
    position: fixed;
    top: 65px;
    width: 100%;
    z-index: 1;
    left: 0;
    height: 56px;
    box-shadow: 3px 3px 5px 0px #ccc;
}
.btninnerDiv{
  position: absolute;
  right: 0;
}
.AddBtn{
    padding: 8px 21px;
    border: 1px solid #01579b;
    background: #01579b;
    color: #ffffff;
    transition: .4s ease-in-out;
    cursor: pointer!important;
    border-radius: 3px;
    outline: none;
    margin-top: 10px;
    margin-right: 37px;
}
.subBtn{
  margin-right: 15px;
}
.AddBtn:hover{
    color: #01579b;
    background: #ffffff; 
}

.mainDiv{  
    border: 1px solid #c1c7cd;
    padding: 0 10px;
    margin-top: 31px;
    border-radius: 7px;
}
.mainDiv:first-child{
    margin-top: 1%;
}
.text{
    position: relative;
    top: -17px;
}
.text h1{
    margin: 0;
    background:#f1f5f8 ;
    display: inline-block;
    color: #01579b;
    border-radius: 3px;
    padding: 0px 6px;
}
.addDiv input{
    border-radius: 6px!important;
    border: 1px solid #dadfe6!important;
}

.gender1 label{
    color: #89939e!important;
}

//image file
.imageDiv img{
  width: 100%;
  height: 100%;
  // object-fit: contain;
}
.imageDiv{
  height: 200px;
  width: 350px; 
  margin: auto;
  position: relative;
  border: 1px solid;
}
.RemoveImageicon{
  position: absolute;
  font-size: 14px;
  top: -11px;
  right: -11px;
  color: #01579b;
  cursor: pointer;
  border: 1px solid;
  padding: 3px 6px;
  border-radius: 50%;
  background: white;
}


.toggleDiv{
  padding-top: 15px;
}
// toggle button
.switch {
    position: relative;
    display: inline-block;
    // width: 60px;
    // height: 34px;
    width: 50px;
    height: 28px;
    margin-left: 10px;
    top:-5px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    // height: 26px;
    // width: 26px;
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #01579b;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #01579b;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

//  image
.addfieldlogin{
  input{
    padding: 6px 12px;
  }
  ::placeholder{
    color: #dadfe6;
  }
}
.toggleDiv .row{
  padding-top: 16px;
  padding-bottom: 5px;
}
.invalid-feedback{
  display: contents;
}
.mandatory{
  color: red;
}
.newBtn{
  color: #01579b;
    background: #ffffff; 
    margin-right: 10px;
    border-color: #01579b;
    display: block;
}
.pos{
  margin-top: 4.3%;
  margin-bottom: 0px;
}
.newBtn:hover{
  color: #01579b;
}
.saveBtns{
  padding: 4px 16px;
  border: 1px solid #337ab7;
  background: #337ab7;
  color: #ffffff;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer !important;
  border-radius: 3px;
  outline: none;
  /* margin-top: 10px; */
  margin-right: 12px;
}
.selectClass{
    padding: 0.75rem 1.125rem !important;
    height: initial !important;
  }
.disabletext{
  background-color: #0b0b0b0d;
  color: #ababab;
}
.customMulti{
  .multiselect-dropdown{
    .dropdown-btn{
      padding: 0.75rem;
    }
  }
}
.multiselect-dropdown .dropdown-btn {
  padding: 0.75rem 1.125rem !important;
}
.warning{
  margin-top: .5rem;
  margin-bottom: 0;
  color: #b8b8b8;
}
.statusmargin{
    margin-top: 0.25rem;
  }
  .statusmargin1{
    margin-top: 13px;
  }
  .ImageDiv img{
    max-width: 100%;
    max-height: 100%;
}
.ImageDiv{
    width: 100%;
    height: 100px;
    text-align: center;
}
.toggleDiv{
  padding-bottom: 5px;
}
.toggleDiv .row{
  padding-top: 35px;
}
.RemoveImageicon{
    position: absolute;
    font-size: 14px;
    top: -11px;
    right: -11px;
    color: #01579b;
    cursor: pointer;
    border: 1px solid;
    padding: 3px 6px;
    border-radius: 50%;
    background: white;
}
.errormsg {
  padding-top: 1vh;
  margin: 0;
  font-size: 80%;
  color: #dc3545;
}
.caticon{
    padding-left: 22px;
}
// .errormsg{
//     margin-top: 20px;
// }
.textAr{
  resize: none;
  height: 150px;
  border-radius: 6px !important;
}
.type{
  border: 1px solid #ced4da;
  border-radius: 3PX;
  background: #fff;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  p{
    margin: 5px 19px 5px 0px;
    padding: 0.75rem 1.125rem !important;
    font-size: 15px;
    text-transform: capitalize;
    color: #6b6767;
    overflow: hidden;
    i{
      font-size: 14px;
      padding-right: 5px;
      position: absolute;
      right: 10px;
      top: 18px;
    }
  }
}
.custom-file-input {
  position: relative;
  z-index: 2;
  width: 100%;
  // height: calc(2.25rem + 2px);
  margin: 0;
  opacity: 0;
}
.custom-file-label{
  padding-top: 10px;
  height: 44px !important;
}
.custom-file-label::after {
  height: calc(calc(3rem + 2px) - 1px * 2) !important;
    padding: 0.8rem 0.75rem !important;
}
.msg{
  margin-top: 14px;
}
@media screen and (max-width: 576px) {
  .AddBtn{
    margin-right: 22px;
    padding: 6px 17px;
  }
  .imageDiv{
    width: 258px;
  }
  .TopButton{
    top: 53px;
    height: 51px;
  }
  .toggleDiv .row{
    padding-top: 20px;
  }
  .switch{
    width: 41px;
    height: 21px;
  }
  .slider:before{
    height: 15px;
    width: 15px;
    bottom: 3px;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(17px);
    -ms-transform: translateX(17px);
    transform: translateX(17px);
  }
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

// /* The slider */
// .slider {
//   position: absolute;
//   cursor: pointer;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background-color: #ccc;
//   -webkit-transition: .4s;
//   transition: .4s;
// }

// .slider:before {
//   position: absolute;
//   content: "";
//   height: 26px;
//   width: 26px;
//   left: 4px;
//   bottom: 4px;
//   background-color: white;
//   -webkit-transition: .4s;
//   transition: .4s;
// }

// input:checked + .slider {
//   background-color: #2196F3;
// }

// input:focus + .slider {
//   box-shadow: 0 0 1px #2196F3;
// }

// input:checked + .slider:before {
//   -webkit-transform: translateX(26px);
//   -ms-transform: translateX(26px);
//   transform: translateX(26px);
// }

// /* Rounded sliders */
// .slider.round {
//   border-radius: 34px;
// }

// .slider.round:before {
//   border-radius: 50%;
// }

.toggleLabel{
  padding-bottom: 8px;
  padding-left: 4px;
}




