.list{
    padding: 0 16px 16px 16px;
}
.inscrp{
    .corp{
        padding-right: 0;
    }
    .ins{
        padding-left: 0;
    }
}
.footerDiv{
    // padding: 16px 16px 0px 16px;
    background: white;
    width: 99.9%;
    // border-top: 1px solid #585757;
    z-index: 2;
    // bottom:0;
}
.AddBtn{
    border-radius: 0;
    width: 100%;
    background-color: #01579b;
    cursor: pointer !important;
}