 <div class="list">
    <angular2-multiselect [data]="participants" [(ngModel)]="selectedItems" [settings]="settings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"  (onSelectAll)="onSelectAll($event)">
        <c-badge>
                  <ng-template let-item="item">
                      <img [src]="image" style="width: 16px; margin-right: 5px;border-radius: 50%;" />
                      <label style="margin: 0px;margin-top: 1px;">{{item.pname}}</label>
                  </ng-template>
        </c-badge>
        <c-item>
                <ng-template let-item="item">
                  <img [src]="image" style="width: 30px; border: 1px solid #efefef;margin-right: 10px;border-radius: 50%;" />
                  <label style="color: #333;min-width: 150px;">{{item.pname}}</label>
                </ng-template>
        </c-item>
      </angular2-multiselect>
 </div>
 <div class="row inscrp">
   <div class="col-md-6 corp">
      <ng-multiselect-dropdown style="background:white;" class="customMulti"
      [placeholder]="'Select Corporation'"
      [data]="corporations"
      [settings]="dropdownCorpSettings"
      [(ngModel)]="selectedCorps"
      (onSelect)="onItemSelect($event)"
      (onDeSelect)="onItemDeSelect($event)"
      (onSelectAll)="onSelectAll($event)"
      [ngModelOptions]="{standalone: true}"
    >
    </ng-multiselect-dropdown>
   </div>
   
   <div class="col-md-6 ins">
      <ng-multiselect-dropdown style="background:white;" class="customMulti"
      [placeholder]="'Select Interests'"
      [data]="interests"
      [settings]="dropdownSettings"
      [(ngModel)]="selectedIns"
      (onSelect)="onItemSelect($event)"
      (onDeSelect)="onItemDeSelect($event)"
      (onSelectAll)="onSelectAll($event)"
      [ngModelOptions]="{standalone: true}"
    >
    </ng-multiselect-dropdown> 
   </div>
 </div>
 <div class="footerDiv">
    <button [disabled]="selectedItems.length == 0" class="btn AddBtn">SAVE</button>
</div>
 
