<div class="bgHide" *ngIf="!showDiv" (click)="closeModalDialog()"></div>
<div class="TopButton">
  <span>News : {{ (posts | filterBy : search).length }}</span>
  <div class="btninnerDiv">
    <button class="AddBtn" (click)="addArticle()">ADD NEW +</button>
    <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
  </div>
</div>

<!-- table format -->
<div class="TableDiv">
  <table class="table table-hover">
    <thead>
      <tr>
        <th
          class="upperMiddle"
          scope="col"
          (click)="sort('name')"
          (click)="invert()"
        >
          Title
          <i
            class="fa"
            [ngClass]="{
              'fa-sort-asc': column == 'name' && !isDesc,
              'fa-sort-desc': column == 'name' && isDesc
            }"
            aria-hidden="true"
          ></i>
        </th>
        <th
          class="upperMiddle"
          scope="col"
          (click)="sort('categoryId')"
          (click)="invert()"
        >
          Category
          <i
            class="fa"
            [ngClass]="{
              'fa-sort-asc': column == 'categoryId' && !isDesc,
              'fa-sort-desc': column == 'categoryId' && isDesc
            }"
            aria-hidden="true"
          ></i>
        </th>

        <th
          class="upperMiddle"
          scope="col"
          (click)="sort('description')"
          (click)="invert()"
        >
          Discription
          <i
            class="fa"
            [ngClass]="{
              'fa-sort-asc': column == 'description' && !isDesc,
              'fa-sort-desc': column == 'description' && isDesc
            }"
            aria-hidden="true"
          ></i>
        </th>
        <!-- <th scope="col" class="upperMiddle" (click)="sort('neOpincomment')">
          Comment
          <i
            class="fa"
            [ngClass]="{
              'fa-sort-asc': column == 'neOpincomment' && !isDesc,
              'fa-sort-desc': column == 'neOpincomment' && isDesc
            }"
            aria-hidden="true"
          ></i>
        </th> -->

        <!-- <th class="upperMiddle" scope="col" (click)="sort('createdDate')">
          Created Date
          <i
            class="fa"
            [ngClass]="{
              'fa-sort-asc': column == 'createdDate' && !isDesc,
              'fa-sort-desc': column == 'createdDate' && isDesc
            }"
            aria-hidden="true"
          ></i>
        </th> -->

        <th class="upperMiddle" scope="col" (click)="sort('publishDate')">
          Published date
          <i
            class="fa"
            [ngClass]="{
              'fa-sort-asc': column == 'publishDate' && !isDesc,
              'fa-sort-desc': column == 'publishDate' && isDesc
            }"
            aria-hidden="true"
          ></i>
        </th>
        <!-- <th class="upperMiddle" scope="col" (click)="sort('viewCount')">
          Views
          <i
            class="fa"
            [ngClass]="{
              'fa-sort-asc': column == 'viewCount' && !isDesc,
              'fa-sort-desc': column == 'viewCount' && isDesc
            }"
            aria-hidden="true"
          ></i>
        </th> -->
        <!-- <th class="upperMiddle" scope="col" (click)="sort('favCount')">
          Favourite
          <i
            class="fa"
            [ngClass]="{
              'fa-sort-asc': column == 'favCount' && !isDesc,
              'fa-sort-desc': column == 'favCount' && isDesc
            }"
            aria-hidden="true"
          ></i>
        </th> -->

        <th class="upperMiddle" scope="col" (click)="sort('isActive')">
          Status
          <i
            class="fa"
            [ngClass]="{
              'fa-sort-asc': column == 'isActive' && !isDesc,
              'fa-sort-desc': column == 'isActive' && isDesc
            }"
            aria-hidden="true"
          ></i>
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <div class="Textbox">
            <input
              class="form-control with-primary-addon"
              placeholder="Title"
              [(ngModel)]="search.name"
              type="search"
              aria-describedby="basic-addon1"
              maxlength="20"
            />
          </div>
        </th>
        <th>
          <div class="Textbox">
            <select
              class="selectSup"
              aria-placeholder="Status"
              (change)="myFunctionCat($event)"
              [(ngModel)]="search.categoryId"
            >
              <option value="" selected>Select Category</option>
              <option
                [value]="item?.categoryId"
                *ngFor="let item of categoryList"
              >
                {{ item?.cateName }}
              </option>
            </select>
          </div>
        </th>

        <th>
          <div class="Textbox">
            <input
              class="form-control with-primary-addon"
              placeholder="Discription"
              [(ngModel)]="search.description"
              type="search"
              aria-describedby="basic-addon1"
              maxlength="50"
            />
          </div>
        </th>
        <!-- <th class="clear">
          <div class="Textbox">
            <input
              class="form-control with-primary-addon"
              placeholder="Comment"
              [(ngModel)]="search.neOpincomment"
              type="search"
              aria-describedby="basic-addon1"
              maxlength="50"
            />
          </div>
        </th> -->

        <!-- <th>
          <div class="Textbox">
            <input
              class="form-control with-primary-addon"
              placeholder="Date"
              [(ngModel)]="search.createdDate"
              type="search"
              aria-describedby="basic-addon1"
              maxlength="30"
            />
          </div>
        </th> -->
        <th>
          <div class="Textbox">
            <input
              class="form-control with-primary-addon"
              placeholder="Date"
              [(ngModel)]="search.publishDate"
              type="search"
              aria-describedby="basic-addon1"
              maxlength="30"
            />
          </div>
        </th>
        <!-- <th>
          <div class="Textbox">
            <input
              class="form-control with-primary-addon"
              placeholder="Views"
              myNumberOnly
              [(ngModel)]="search.viewCount"
              type="search"
              aria-describedby="basic-addon1"
              maxlength="11"
            />
          </div>
        </th> -->
        <!-- <th>
          <div class="Textbox">
            <input
              class="form-control with-primary-addon"
              placeholder="Favourite"
              myNumberOnly
              [(ngModel)]="search.favCount"
              type="search"
              aria-describedby="basic-addon1"
              maxlength="11"
            />
          </div>
        </th> -->

        <th>
          <div class="Textbox">
            <select
              class="selectSup"
              aria-placeholder="Status"
              (change)="myFunction($event)"
              [(ngModel)]="search.isActive"
              style="width: 75px"
            >
              <option value="" selected>Select</option>
              <option value="1">Active</option>
              <option value="2">Inactive</option>
            </select>
          </div>
        </th>
        <th class="clear">
          <button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button>
        </th>
      </tr>
      <tr
        class="userList"
        *ngFor="
          let item of posts
            | filterBy : search
            | paginate
              : { id: 'pagination1', itemsPerPage: 10, currentPage: p };
          let i = index
        "
      >
        <td title="{{ item.name }}">
          {{ item.name | truncate : 20 : ".." }}
        </td>
        <td title="{{ item.categoryId }}">
          <span style="visibility: hidden">{{ item?.categoryId }}</span>
          {{ item.cateName | truncate : 20 : ".." }}
        </td>

        <td title="{{ item.description }}">
          {{ item.description | truncate : 50 : ".." }}
        </td>
        <!-- <td title="{{ item.neOpincomment }}">
          {{ item.neOpincomment | truncate : 50 : ".." }}
        </td> -->

        <!-- <td>{{ item.createdDate }}</td> -->
        <td>{{ item.publishDate | date : "dd-MMM-yyyy,hh:mm aaa" }}</td>
        <!-- <td class="edit borderLeft">
          <div class="row innerTagtext">
            <div class="col">
              <i class="fas fa-eye" (click)="showViewDetails(item)"></i
              ><span>{{ item.viewCount }}</span>
            </div>
          </div>
        </td> -->
        <!-- <td class="edit borderLeft">
          <div class="row innerTagtext">
            <div class="col">
              <i class="fas fa-bookmark" (click)="showViewFavourite(item)"></i
              ><span>{{ item.favCount }}</span>
            </div>
          </div>
        </td> -->
        <td>
          <p *ngIf="item.isActive == 1">Active</p>
          <p no-margin *ngIf="item.isActive == 2">Inactive</p>
        </td>
        <td class="edit borderLeft">
          <div class="row innerTagtext">
            <div class="col" style="padding-bottom: 6px; padding-right: 0">
              <i class="far fa-edit" (click)="editArticle(item, 1, 1)"></i>
            </div>
            <!-- <div class="col" style="padding-bottom: 6px; padding-left: 0">
              <i class="far fa-copy" (click)="editArticle(item, 1, 0)"></i>
            </div> -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="nodata" *ngIf="!featureLength">
    <div class="imageNO">
      <p>No Data Found</p>
    </div>
  </div>
  <div class="nodata" *ngIf="setveractive">
    <div class="imageNO">
      <p>Server Error</p>
    </div>
  </div>

  <!-- <div class="bgHide" *ngIf="!hidePopup" (click)="hideViewDetails()"></div>
  <div class="poopupDiv" *ngIf="!hidePopup">
    <div class="invoiceDiv" id="contentToConvert">
      <div class="row detailsBlock">
        <div class="col-md-10">
          {{ viewsName }}
        </div>
        <div class="col-md-2" (click)="hideViewDetails()">CANCEL</div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th
              class="upperMiddle"
              scope="col"
              (click)="sortView('subname')"
              (click)="invert()"
            >
              Name
              <i
                class="fa"
                [ngClass]="{
                  'fa-sort-asc': column == 'subname' && !isDesc,
                  'fa-sort-desc': column == 'subname' && isDesc
                }"
                aria-hidden="true"
              ></i>
            </th>
            <th
              class="upperMiddle"
              scope="col"
              (click)="sortView('subemail')"
              (click)="invert()"
            >
              Date/Time
              <i
                class="fa"
                [ngClass]="{
                  'fa-sort-asc': column == 'subemail' && !isDesc,
                  'fa-sort-desc': column == 'subemail' && isDesc
                }"
                aria-hidden="true"
              ></i>
            </th>

            <th
              class="upperMiddle"
              scope="col"
              (click)="sortView('phoneno')"
              (click)="invert()"
            >
              Phone
              <i
                class="fa"
                [ngClass]="{
                  'fa-sort-asc': column == 'phoneno' && !isDesc,
                  'fa-sort-desc': column == 'phoneno' && isDesc
                }"
                aria-hidden="true"
              ></i>
            </th>
            <th scope="col" class="upperMiddle" (click)="sortView('corpname')">
              Company
              <i
                class="fa"
                [ngClass]="{
                  'fa-sort-asc': column == 'corpname' && !isDesc,
                  'fa-sort-desc': column == 'corpname' && isDesc
                }"
                aria-hidden="true"
              ></i>
            </th>

            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div class="Textbox">
                <input
                  class="form-control with-primary-addon"
                  placeholder="Name"
                  [(ngModel)]="searchView.subname"
                  type="search"
                  aria-describedby="basic-addon1"
                  maxlength="20"
                />
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input
                  class="form-control with-primary-addon"
                  placeholder="Date/Time"
                  [(ngModel)]="searchView.subemail"
                  type="search"
                  aria-describedby="basic-addon1"
                  maxlength="20"
                />
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input
                  class="form-control with-primary-addon"
                  placeholder="Phone"
                  [(ngModel)]="searchView.phoneno"
                  type="search"
                  aria-describedby="basic-addon1"
                  maxlength="10"
                />
              </div>
            </th>
            <th class="clear">
              <div class="Textbox">
                <input
                  class="form-control with-primary-addon"
                  placeholder="Company"
                  [(ngModel)]="searchView.corpname"
                  type="search"
                  aria-describedby="basic-addon1"
                  maxlength="50"
                />
              </div>
            </th>

            <th class="clear">
              <button class="AddBtn clearBtn" (click)="clearViewDetail()">
                CLEAR
              </button>
            </th>
          </tr>
          <tr
            class="userList"
            *ngFor="
              let item of detailView
                | filterBy : searchView
                | paginate
                  : { id: 'pagination2', itemsPerPage: 10, currentPage: d };
              let i = index
            " 
          >
            <td title="{{ item.name }}">
              {{ item.name | truncate : 20 : ".." }}
            </td>
            <td title="{{ item.subemail }}">
              {{ item.subemail | truncate : 20 : ".." }}
            </td>

            <td title="{{ item.phoneno }}">{{ item.phoneno }}</td>
            <td title="{{ item.corpname }}">
              {{ item.corpname | truncate : 20 : ".." }}
            </td>

            <td></td>
          </tr>
        </tbody>
      </table>

      <div style="width: 100%; text-align: center; margin-top: 25px">
        <pagination-controls
          (pageChange)="d = $event"
          id="pagination2"
          maxSize="5"
          directionLinks="true"
          autoHide="true"
        >
        </pagination-controls>
      </div>
    </div>
  </div> -->

  <div *ngIf="posts" style="width: 100%; text-align: center; margin-top: 25px">
    <pagination-controls
      (pageChange)="p = $event"
      id="pagination1"
      maxSize="5"
      directionLinks="true"
      autoHide="true"
    >
    </pagination-controls>
  </div>
</div>
