<div class="TopButton">
  <span>Free Trail Request :</span>
  <div class="btninnerDiv">
    <button class="AddBtn">EXPORT TO EXCEL</button>
  </div>
</div>
<div class="TableDiv">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="upperMiddle" scope="col">
          Name
          <!-- <i
            class="fa"
            [ngClass]="{
              'fa-sort-asc': column == 'name' && !isDesc,
              'fa-sort-desc': column == 'name' && isDesc
            }"
            aria-hidden="true"
          ></i> -->
        </th>
        <th class="upperMiddle" scope="col">
          Email
          <!-- <i
            class="fa"
            [ngClass]="{
              'fa-sort-asc': column == 'description' && !isDesc,
              'fa-sort-desc': column == 'description' && isDesc
            }"
            aria-hidden="true"
          ></i> -->
        </th>
        <th class="upperMiddle" scope="col">Status</th>
        <th class="upperMiddle" scope="col">
          Mobile Number
          <!-- <i
            class="fa"
            [ngClass]="{
              'fa-sort-asc': column == 'ismandatory' && !isDesc,
              'fa-sort-desc': column == 'ismandatory' && isDesc
            }"
            aria-hidden="true"
          ></i> -->
        </th>

        <th class="upperMiddle" scope="col">
          Action

          <!-- <i
            class="fa"
            [ngClass]="{
              'fa-sort-asc': column == 'status' && !isDesc,
              'fa-sort-desc': column == 'status' && isDesc
            }"
            aria-hidden="true"
          ></i> -->
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <div class="Textbox">
            <input
              class="form-control with-primary-addon"
              placeholder="Name"
              alphabetOnly
              [(ngModel)]="search.name"
              type="search"
              aria-describedby="basic-addon1"
              maxlength="45"
            />
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input
              class="form-control with-primary-addon"
              placeholder="Email"
              [(ngModel)]="search.email"
              type="search"
              aria-describedby="basic-addon1"
              maxlength="45"
            />
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input
              class="form-control with-primary-addon"
              placeholder="Mobile number"
              [(ngModel)]="search.mobile_number"
              type="search"
              aria-describedby="basic-addon1"
              maxlength="45"
            />
          </div>
        </th>

        <th>
          <div class="Textbox">
            <!-- <input class="form-control with-primary-addon" placeholder="State" [(ngModel)]="search.dealstaname"
                  type="search" aria-describedby="basic-addon1"> -->
            <select
              class="selectSup"
              aria-placeholder="Status"
              (change)="changeState($event)"
              [(ngModel)]="search.status"
            >
              <option value="" selected>Select</option>
              <option value="1">Accept</option>
              <option value="2">Reject</option>
            </select>
          </div>
        </th>
      </tr>

      <tr class="userList" *ngFor="let item of tableList; let i = index">
        <td title="{{ item.name }}" class="text-center">{{ item.name }}</td>

        <td title="{{ item.email }}" class="text-center">{{ item.email }}</td>

        <td title="{{ item.mobile_number }}" class="text-center">
          {{ item.mobile_number }}
        </td>

        <td title="{{ item.statusId }}" class="text-center">
          <!-- {{ item.dealstaname }} -->

          <p no-margin *ngIf="item.statusId == 1" class="text-success">
            Accept
          </p>
          <p no-margin *ngIf="item.statusId == 2" class="text-danger">Reject</p>
        </td>

        <td class="text-center">
          <button
            class="AddBtn clearBtn"
            style="margin-right: 10px"
            (click)="openAcceptPopup()"
          >
            Accept
          </button>
          <button class="AddBtn clearBtn" (click)="openRejectPopup()">
            Reject
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="nodata" *ngIf="tableList.length == 0">
    <div class="imageNO">
      <p>No Data Found</p>
    </div>
  </div>
  <div class="nodata" *ngIf="setveractive">
    <div class="imageNO">
      <p>Server Error</p>
    </div>
  </div>
</div>
<div
  *ngIf="tableList"
  style="width: 100%; text-align: center; margin-top: 10px"
>
  <pagination-controls
    (pageChange)="p = $event"
    maxSize="5"
    directionLinks="true"
  >
  </pagination-controls>
</div>

<!-- <ngx-free-trail-popup [isVisible]="isPopupVisible">
  <p>Your popup content goes here.</p>
</ngx-free-trail-popup> -->

<div class="popup" *ngIf="isPopupVisible">
  <div class="popup-content">
    <span class="close" (click)="closePopup()">&times;</span>
    <div class="form-row mt-3">
      <div class="form-group col-md-12" *ngIf="show_accept_data">
        <label>Packages</label>
        <ng-select2
          class="select2"
          [data]="tagsddlList"
          [options]="options"
          [(ngModel)]="value"
          [placeholder]="'Please Select Packages'"
          (valueChanged)="changed($event)"
          [width]="'100%'"
        >
        </ng-select2>
      </div>
      <div class="form-group col-md-12">
        <label>Comment</label>
        <textarea
          class="form-control textAr"
          placeholder=""
          rows="4"
          maxlength="100"
        ></textarea>
      </div>
    </div>
    <div class="text-center">
      <button class="AddBtn" (click)="save()">Save</button>
      <!-- <button class="save-button" type="button" (click)="save()">Save</button> -->
    </div>
  </div>
</div>
