.TopButton {
    background: white;
    position: sticky;
    top: 65px;
    width: 100%;
    z-index: 2;
    left: 0;
    height: 56px;
    box-shadow: 3px 3px 5px 0px #ccc;
  }
  
  .btninnerDiv {
    position: absolute;
    right: 0;
  }
  
  .AddBtn {
    padding: 8px 21px;
    border: 1px solid #01579b;
    background: #01579b;
    color: #ffffff;
    transition: .4s ease-in-out;
    cursor: pointer !important;
    border-radius: 3px;
    outline: none;
    margin-top: 10px;
    margin-right: 10px;
  }

  .SaveBtn{
    padding: 15px 30px;
    font-size: 20px;
    border: 1px solid #01579b;
    background: #01579b;
    color: #ffffff;
    transition: .4s ease-in-out;
    cursor: pointer !important;
    border-radius: 3px;
    outline: none;
    // margin-top: 10px;
    // margin-right: 10px;
  }

  .SaveBtn:hover {
    color: #01579b;
    background: #ffffff;
  }

  .selectSup {
    height: 25px;
    border-radius: 4px;
    border: 2px solid #dadfe6;
    color: #b1b6af;
    outline: none;
  }
  
  .AddBtn:hover {
    color: #01579b;
    background: #ffffff;
  }
  
  .clearBtn {
    margin: 0;
    padding: 4px 10px;
  }
  
  .AddBtn:hover {
    color: #01579b;
    background: #ffffff;
  }
  
  .arrBtn {
    float: right;
  }
  
  .fa-sort-asc::before {
    content: "[ ↑ ]";
    display: block;
    font-weight: 900;
    padding-left: 2px;
    position: relative;
    bottom: 2px;
  }
  
  .fa-sort-desc::before {
    content: "[ ↓ ]";
    display: block;
    font-weight: 900;
    padding-left: 2px;
    position: relative;
    bottom: 2px;
  }
  
  .edit i {
    cursor: pointer;
    color: #01579b;
  }
  
  .borderLeft {
    border-left: 1px solid #dee2e6;
  }
  
  .edit {
    border-right: 1px solid #dee2e6;
    text-align: center !important;
  }
  
  .Textbox input {
    //font-size: 10px;
    height: 26px;
    padding: 6px 6px;
    border-radius: 5px !important;
  }
  
  .selectSup {
    height: 25px;
    border-radius: 4px;
    border: 2px solid #dadfe6;
    color: #b1b6af;
    outline: none;
  }
  
  .userList {
    p {
      margin: 0;
    }
  }
  
  .green {
    color: #009f57;
  }
  
  .red {
    color: #ff0000b5;
  }
  
  .yellow {
    color: #FFC107;
  }
  
  .boldClass {
    font-weight: 500;
  }
  
  .phoneClass {
    text-align: right;
  }
  
  .imageDiv {
    text-align: center;
  
    img {
      width: 40px;
      height: 40px;
    }
  }
  
  .clear {
    text-align: center;
  }
  
  .upperMiddle {
    text-align: center;
    text-transform: uppercase;
  }
  
  @media screen and (max-width: 768px) {
    .uplosdDiv {
      margin-top: 40px;
    }
  
    .upBtn {
      padding-top: 10px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .AddBtn {
      padding: 6px 9px;
      font-size: 12px;
    }

    .SaveBtn{
      padding: 6px 9px;
      font-size: 12px;
    }
  
    .clearBtn {
      margin: 0;
      padding: 4px 10px;
    }
  
    .TopButton {
      top: 53px;
      height: 51px;
    }
  
    .uplosdDiv {
      margin-top: 25px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .TopButton {
      .btninnerDiv {
        .AddBtn {
          padding: 6px 6px;
          font-size: 10px;
          margin-right: 4px;
        }
      }
    }

    .SaveBtn{
      padding: 6px 6px;
      font-size: 10px;
    }

  }
  

  // Pop-Up
  .popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .popup{
    .show {
      display: flex;
    }
  }
  
  .popup-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px; /* Default for larger screens */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 8px;
    animation: popup-animation 0.3s ease-in-out;
  }
  
  .close {
    color: #aaa;
    float: right;
    
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
  }

  // .save-button-container {
  //   text-align: center;
  //   margin-top: 20px;
  // }
  
  // .save-button {
  //   background-color: #4CAF50; /* Green */
  //   border: none;
  //   color: white;
  //   padding: 10px 20px;
  //   text-align: center;
  //   text-decoration: none;
  //   display: inline-block;
  //   font-size: 16px;
  //   margin: 4px 2px;
  //   cursor: pointer;
  //   border-radius: 8px;
  // }
  
  @keyframes popup-animation {
    from {transform: translateY(-50px); opacity: 0;}
    to {transform: translateY(0); opacity: 1;}
  }
  
  /* Tablet */
  @media screen and (max-width: 768px) {
    .popup-content {
      width: 80%;
    }
  }
  
  /* Mobile */
  @media screen and (max-width: 480px) {
    .popup-content {
      width: 95%;
      padding: 15px;
    }
  
    .close {
      font-size: 24px;
    }
  }