<nb-card>
  <div class="wrapper">
    <div class="header">
      <h4 class="m-0">All Files</h4>

      <div class="imgInput">
        <input #fileInput type="file" multiple class="form-control"
          accept="image/*,.pdf,.xlsx,.xls,video/mp4,video/x-m4v,video/*,.mp3,audio/*" (change)="uploadImage($event)">
        <button class="btn btn-border">+ Add File</button>
      </div>
    </div>
    <div class="img-wrapper">
      <ul *ngIf="imageLibraryData.length> 0" class="list-unstyled py-0">
        <li *ngFor="let item of imageLibraryData" (click)="selectItems(item)" [ngClass]="{ 'active': item?.checked }">
          <!-- <img *ngIf="item?.filetype == 'png' || item?.filetype == 'jpg' || item?.filetype == 'svg'"
            [src]="item.fileurl ? imgUrl + item.fileurl : imageplaceholder" [alt]="
        item?.filename">
          <img *ngIf="item?.filetype == 'pdf'" [src]="pdfplaceholder " [alt]="
        item?.filename">
          <img *ngIf="item?.filetype == 'xlsx'" [src]="excelplaceholder " [alt]="
          item?.filename">
          <img *ngIf="item?.filetype == 'file' || item?.filetype == 'txt' || item?.filetype == null"
            [src]="imageplaceholder" [alt]="
        item?.filename"> -->
          <img *ngIf="item?.filetypeid == 4" [src]="item.fileurl ? imgUrl + item.fileurl : imageplaceholder"
            [alt]="item?.filename">
          <img *ngIf="item?.filetypeid == 1" [src]="pdfplaceholder " [alt]="item?.filename">
          <img *ngIf="item?.filetypeid == 2" [src]="excelplaceholder " [alt]="item?.filename">
          <img *ngIf="item?.filetypeid == 3" [src]="imageplaceholder" [alt]="item?.filename">
          <video *ngIf="item?.filetypeid == 5" controls style="width: 100%; height: 100%;">
            <source type="video/mp4" [src]="imgUrl+item?.fileurl ">
          </video>
          <!-- <img [src]="item.imgUrl" alt=""> -->
          <input *ngIf="data?.multiImgs" type="checkbox" [(ngModel)]="item.checked" [name]="item.imgUrl">
          <div *ngIf="item?.originalfile" class="text">{{item?.originalfile}}</div>

          <div class="overlay"></div>
        </li>
      </ul>
      <div class="nodata" *ngIf="imageLibraryData.length == 0">
        <p>No Data Found</p>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="col-md-12">
          <input class="form-control with-primary-addon" type="text" [(ngModel)]="searchText" (keyup)="searchKeyup()"
            (keyup.enter)="search()" placeholder="Search">
        </div>
        <!-- <div class="col-md-4">
          <select class="custom-select custom-select selectClass" (change)="onCategoryChange($event)">
            <option value="" selected disabled>File Type</option>
            <option *ngFor="let item of categoryTypeList" [value]="item?.id">{{item.fileType}}
            </option>
          </select>
        </div> -->
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 text-right">
          <button class="btn" (click)="close()">Cancel</button>
          <button class="btn ml-3" (click)="uploadData()">Upload</button>
        </div>
      </div>
    </div>
  </div>

</nb-card>
