nb-card {
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  border-radius: 0;
  border: none;

  .wrapper {
    position: relative;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  position: sticky;
  top: 0;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 15px;
  height: 100vh;
  overflow-y: auto;
  align-content: flex-start;

  li {
    width: 23%;
    height: 165px;
    text-align: center;
    border: 1px solid #cbc8c8;
    border-radius: 6px;
    background: #f4f4f4;
    margin: 10px 1%;
    position: relative;
    overflow: hidden;


    &.active {

      .overlay {
        display: block;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    video {
      &::-webkit-media-controls {
        display: none;
        -webkit-appearance: none;
      }
    }

    div {
      &.text {
        color: #01579b;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #FFF;
        font-size: 13px;
        padding: 4px 10px;
        width: 100%;
        min-height: 38px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
      }
    }

    input {
      position: absolute;
      right: 5px;
      top: 5px;
    }

    .overlay {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(1, 86, 159, 0.15);
      width: 100%;
      height: 100%;
      border-radius: 4px;
    }
  }
}

.imgInput {
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.btn {
  padding: 8px 20px;
  border: 1px solid #01579b;
  background: #01579b;
  color: #ffffff;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer;
  border-radius: 3px;
  outline: none;

  &.btn-border {
    color: #01579b;
    background: #FFF;

    &:hover {
      color: #FFF;
      background: #01579b;
    }
  }

  &:hover {
    background: #FFF;
    color: #01579b;
  }
}

.footer {
  position: sticky;
  bottom: 0;
  z-index: 999;
  background: #FFF;
  left: 0;
  padding: 15px 20px;
}

.img-wrapper {
  min-height: calc(100vh - 180px);
  position: relative;

  .nodata {
    height: 100%;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);

    p {
      font-size: 23px;
      font-weight: 700;
      color: #01579b;
    }
  }
}
