<div class="TopButton">
    <span>MS Report :  {{(reportList| filterBy: search).length}}</span>
    <div class="btninnerDiv">
      <button class="AddBtn" (click)="addMS()">ADD</button>      
      <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
    </div>
  </div>
  
  <div class="TableDiv">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="upperMiddle" scope="col" (click)="sort('repName')" (click)="invert()"> Report Name
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'repName' && !isDesc) ,'fa-sort-desc': (column == 'repName' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sort('repMonth')" (click)="invert()"> Survey Month
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'repMonth' && !isDesc) ,'fa-sort-desc': (column == 'repMonth' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sort('createdDate')" (click)="invert()"> Report Date
              <i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'createdDate' && !isDesc) ,'fa-sort-desc': (column == 'createdDate' && isDesc) }"
                aria-hidden="true"></i>
            </th>
          <th class="upperMiddle" scope="col" (click)="sort('isActive')">Status<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'isActive' && !isDesc),'fa-sort-desc': (column == 'isActive' && isDesc) }"
              aria-hidden="true"></i> </th>
           <th scope="col"></th>
          <!-- <th scope="col"></th> -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Feature Code" [(ngModel)]="search.repName"
                type="search" aria-describedby="basic-addon1" maxlength="200">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Report Month" [(ngModel)]="search.repMonth"
                type="search" aria-describedby="basic-addon1" maxlength="11">
            </div>
          </th>
          <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Report Date" [(ngModel)]="search.createdDate"
                  type="search" aria-describedby="basic-addon1" maxlength="11">
              </div>
            </th>
          <th>
            <div class="Textbox">
              <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
                [(ngModel)]="search.isActive">
                <option value="" selected>Select</option>
                <option value="1">Active</option>
                <option value="2">Inactive</option>
              </select>
            </div>
          </th>
          <th class="clear"><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
          <!-- <th></th> -->
        </tr>
        <tr class="userList"
          *ngFor="let item of reportList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <td>{{ item.repName }}</td>
          <td>{{ item.repMonth }}</td>
          <td>{{ item.createdDate | date : 'dd-MMM-yyyy'}}</td>
          <td>
            <p *ngIf="item.isActive == 1">Active</p>
            <p no-margin *ngIf="item.isActive == 2">Inactive</p>
          </td>
          <td class="edit borderLeft">

              <div class="row options">
                  <div class="col">
                      <i class="far fa-edit" (click)="editMS(item)"></i>
                  </div>
                  <div class="col">
                      <i title="download" (click)="DownloadPdf(item.download)" class="fas fa-file-download"></i>
                  </div>
                </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="nodata" *ngIf="!featureLength">
      <div class="imageNO">
        <!-- <img src="../../../assets/images/binders.png"> -->
        <p>No Data Found</p>
      </div>
    </div>
    <div class="nodata" *ngIf="setveractive">
      <div class="imageNO">
        <!-- <img src="../../../assets/images/binders.png"> -->
        <p>Server Error</p>
      </div>
    </div>
  </div>
  
  <div *ngIf="reportList" style="width: 100%; text-align: center;margin-top: 10px;">
    <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true" autoHide="true">
    </pagination-controls>
  </div>
