<!-- <select class="form-control" multiple="multiple">
  <option selected="selected">orange</option>
  <option>white</option>
  <option selected="selected">purple</option>
</select> -->

<form [formGroup]="registerForm" class="addDiv">
    <div class="TopButton">
        <div class="btninnerDiv">
            <button type="submit" class="btn AddBtn subBtn" (click)="onSubmit()">
        Submit
      </button>
            <button class="btn AddBtn" (click)="back()">Back</button>
        </div>
    </div>
    <div class="mainDiv" style="margin-top: 50px">
        <div class="text">
            <!-- <h1 *ngIf="PostData.length == 0">Add Content</h1>
            <h1 *ngIf="PostData.length > 0">Edit Content</h1>
            <h3 class="dynamicLink" *ngIf="PostData.length > 0">{{DynamicLink}}</h3> -->
            <h1>Separator Management Form</h1>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Postion <span class="mandatory">*</span></label>
                <input type="text" class="form-control textAr" placeholder="Position" formControlName="postion" />
                <!-- <label class="warning">Maximum length of characters is 100</label> -->
                <div *ngIf="submitted && f.postion.errors" class="invalid-feedback">
                    <div *ngIf="f.postion.errors.required">Position is required</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label>Link Type<span class="mandatory">*</span></label>
                <select class="custom-select custom-select selectClass" formControlName="linktype">
          <option value="" selected disabled>Select Link Type</option>
          <option value="1">Internal</option>
          <option value="2">External</option>
        </select>
                <div *ngIf="submitted && f.linktype.errors" class="invalid-feedback">
                    <div class="statusmargin" *ngIf="f.linktype.errors.required">
                        Link Type is required
                    </div>
                </div>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>HTML Editor <span class="mandatory">*</span></label>
                <ckeditor [config]="ckeConfig" [(ngModel)]="editorData" [ngModelOptions]="{ standalone: true }">
                    <!-- formControlName="descri" -->
                </ckeditor>
                <!-- <div *ngIf="submitted && !editorData" class="invalid-feedback">
          <small class="text-danger">Description is required.</small>
        </div> -->
                <div *ngIf="submitted && !editorData" class="invalid-feedback">
                    <div>Description is required</div>
                </div>
                <!-- <div *ngIf="submitted && f.editorData.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.editorData.errors.required">
            Description is required
          </div>
        </div> -->
            </div>
            <div class="form-group col-md-6">
                <label>content Link <span class="mandatory">*</span></label>
                <textarea class="form-control textAr" placeholder="content link" rows="4" formControlName="contentlink" maxlength="100"></textarea>
                <div *ngIf="submitted && f.contentlink.errors" class="invalid-feedback">
                    <div class="statusmargin" *ngIf="f.contentlink.errors.required">
                        Content Link is required
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group status_toggel">
            <label>Status</label>
            <div class="clear"></div>
            <div>
                <label class="switch">
      <input
        type="checkbox"
        formControlName="status"
        [checked]="registerForm.controls.status.value == 1"
        (change)="statusChange($event)"
      />
      <span class="slider round"></span>
    </label>
            </div>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                <div class="statusmargin" *ngIf="f.status.errors.required">
                    Status is required
                </div>
            </div>
        </div>
    </div>
</form>
<!-- *ngIf="!getMultipleurl.length > 0" -->
