<div class="bgHide" *ngIf="!showDiv" (click)="closeModalDialog()"></div>
<div class="TopButton">
  <span>News : {{(posts| filterBy: search).length}}</span>
  <div class="btninnerDiv">
    <button class="AddBtn" (click)="addArticle()">ADD NEW +</button>
    <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
  </div>
</div>

<!-- old ticcket -->
<!-- 
<div class="search">
  <div class="input-group md-form form-sm form-2 ">
    <input class="form-control" [(ngModel)]="search.neOpinName" type="text" placeholder="Search News and Opinion Name" aria-label="Search"
      (click)="openModalDialog()">
    <div class="serachBox" [ngStyle]="{'display': display}">
      <a class="crossBtn" (click)="closeModalDialog()">X</a>
      <div class="innerpopup">
        <form name="form" (ngSubmit)="f.form.valid && searchPost()" #f="ngForm" novalidate>
          <div class="row">
            <div class="from-group col-md-6">
              <label>From Date</label>
              <input [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [(ngModel)]="search1.fromdate"
                placeholder="From Date" class="form-control" name="fromdate" #fromdate="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && fromdate.invalid }" required>
              <owl-date-time [pickerType]="'calendar'" #dt1></owl-date-time>
              <div *ngIf="f.submitted && fromdate.invalid" class="invalid-feedback">
                <div *ngIf="fromdate.errors.required">Form Date is required</div>
              </div>
            </div>
            <div class="from-group col-md-6">
              <label>To Date</label>
              <input [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" [(ngModel)]="search1.todate"
               placeholder="To Date" class="form-control lowerIn" name="todate" #todate="ngModel"
                [ngClass]="{ 'is-invalid': f.submitted && todate.invalid }" required>
              <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
              <div *ngIf="f.submitted && todate.invalid" class="invalid-feedback">
                <div *ngIf="todate.errors.required">To Date is required</div>
              </div>
            </div>
          </div>
          <div class="row col-md-12 searchTag BelowRow">
              <div class="from-group col-md-6 selectaginner firstRow" style="padding-left: 0;">
                  <ng-multiselect-dropdown style="background:white;" class="customMulti"
                  [placeholder]="'Select Interests'"
                  [data]="interestList"
                  [settings]="dropdownSettings1"
                  [(ngModel)]="selectedItems1"
                  (onSelect)="onItemSelect($event)"
                  (onDeSelect)="onItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  [ngModelOptions]="{standalone: true}"
                >
                </ng-multiselect-dropdown>
                <div *ngIf="selectedItems1.length == 0" class="invalid-feedback">
                  <div class="statusmargin">{{isCheck1}}</div>
                </div>
              </div>
            <div class="col-md-6 secondRow">
              <select class="custom-select custom-select selectClass" [(ngModel)]="catID" [ngModelOptions]="{standalone: true}">
                <option value="" selected>Select Category</option>
                <option *ngFor="let content of categoryList" value="{{content.categoryId}}">{{content.cateName}}</option>
              </select>
              <div *ngIf="!catID" class="invalid-feedback">
                <div class="statusmargin">{{isCheck}}</div>
              </div>
            </div>
          </div>
          <div class="clearBtn">
              <button class="AddBtn" type="submit"  style="margin-right: 4px;">Search</button>
              <button class="AddBtn" type="reset" (click)="clearBtn();clearBtn1();">Clear</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="container listFullDiv" [class.displSearch]="!showDiv">
  <div class="col-md-12 no-padding lib-item listDiv cardDiv" data-category="view"
    *ngFor="let item of posts | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p };">
    <div class="card">
      <div class="row col-md-12 newClass box-shadow">
        <div class="col-lg-3 col-md-4 col-sm-5 imageDiv1">
          <img [src]="item.neOpinimage">
        </div>
        <div class="col-lg-9 col-md-8 col-sm-7 contentDiv">
          <div class="row mainRow">
              <img title="{{item.cateName}}" [src]="item.cateIcon" height="23">
              <h3>{{ item.neOpinName | truncate : 40 : ".."}}</h3>
              <div class="Adate">
                  <p><i class="far fa-calendar-alt"></i><span>{{item.createdDate | date :'dd-MMM-yyyy' }}</span></p>
              </div>
          </div>
          <div>
              <p class="descDiv">{{ item.neOpindesc | truncate : 280 : ".."}}</p>
          </div>
          <div *ngIf="item.neOpinURL" class="Adate">
            <p><i class="fas fa-globe"></i><a [href]="item.neOpinURL" target="_blank">Source for {{item.neOpinName}}</a></p>
          </div>
          <div *ngIf="item.neOpincomment" class="Adate">
            <p><i class="fas fa-comment-dots"></i><span class="changeColor">{{item.neOpincomment | truncate : 100 : ".."}}</span></p>
          </div>
          <div class="Adate">
              <p><i class="fas fa-bookmark"></i><span>{{item.favCount}}</span> <i class="fas fa-eye"></i><span>{{item.viewCount}}</span></p>
            </div>
          <label class="Adate" *ngFor="let content of item.intersetLit">
              <div>{{content.intersetName}}</div>
              </label>
        </div>
      </div>
      <i class="far fa-edit edit editIcon" (click)="editArticle(item)"></i>
    </div>
  </div>
</div>

<div class="nodata" *ngIf="!featureLength">
    <div class="imageNO">
      <p>No Data Found</p>
    </div>
  </div>
  <div class="nodata" *ngIf="setveractive">
    <div class="imageNO">
      <p>Server Error</p>
    </div>
  </div> -->


<!-- table format -->
<div class="TableDiv">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="upperMiddle" scope="col" (click)="sort('neOpinName')" (click)="invert()"> Title
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'neOpinName' && !isDesc) ,'fa-sort-desc': (column == 'neOpinName' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('categoryId')" (click)="invert()"> Category
          <i class="fa" [ngClass]="{'fa-sort-asc': (column == 'categoryId' && !isDesc) ,'fa-sort-desc': (column == 'categoryId' &&
            isDesc) }" aria-hidden="true"></i>
        </th>
        <!-- <th class="upperMiddle" scope="col" (click)="sort('featureName')" (click)="invert()"> Image
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'featureName' && !isDesc) ,'fa-sort-desc': (column == 'featureName' && isDesc) }"
            aria-hidden="true"></i>
        </th> -->
        <th class="upperMiddle" scope="col" (click)="sort('neOpindesc')" (click)="invert()"> Discription
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'neOpindesc' && !isDesc) ,'fa-sort-desc': (column == 'neOpindesc' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th scope="col" class="upperMiddle" (click)="sort('neOpincomment')"> Comment
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'neOpincomment' && !isDesc) ,'fa-sort-desc': (column == 'neOpincomment' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <!-- <th scope="col" class="upperMiddle" (click)="sort('intersetName')"> Interaste 
            <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'intersetName' && !isDesc) ,'fa-sort-desc': (column == 'intersetName' && isDesc) }"
            aria-hidden="true"></i>
        </th> -->
        <th class="upperMiddle" scope="col" (click)="sort('createdDate')"> Created Date
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'createdDate' && !isDesc),'fa-sort-desc': (column == 'createdDate' && isDesc) }"
            aria-hidden="true"></i>
        </th>

        <th class="upperMiddle" scope="col" (click)="sort('publishDate')"> Published date
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'publishDate' && !isDesc),'fa-sort-desc': (column == 'publishDate' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('viewCount')"> Views
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'viewCount' && !isDesc),'fa-sort-desc': (column == 'viewCount' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('favCount')"> Favourite
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'favCount' && !isDesc),'fa-sort-desc': (column == 'favCount' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <!-- <th class="upperMiddle" scope="col">Views</th>
        <th class="upperMiddle" scope="col">Favourite</th> -->
        <th class="upperMiddle" scope="col" (click)="sort('isActive')"> Status
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'isActive' && !isDesc),'fa-sort-desc': (column == 'isActive' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Title" [(ngModel)]="search.neOpinName"
              type="search" aria-describedby="basic-addon1" maxlength="20">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <select class="selectSup" aria-placeholder="Status" (change)="myFunctionCat($event)"
              [(ngModel)]="search.categoryId">
              <option value="" selected>Select Category</option>
              <option [value]="item?.categoryId" *ngFor="let item of categoryList">{{item?.cateName}}</option>
            </select>
          </div>
          <!-- <div class="Textbox">            
            <input class="form-control with-primary-addon" placeholder="Title" [(ngModel)]="search.cateName"
              type="search" aria-describedby="basic-addon1" maxlength="20">
          </div> -->
        </th>
        <!-- <th></th> -->
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Discription" [(ngModel)]="search.neOpindesc"
              type="search" aria-describedby="basic-addon1" maxlength="50">
          </div>
        </th>
        <th class="clear">
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Comment" [(ngModel)]="search.neOpincomment"
              type="search" aria-describedby="basic-addon1" maxlength="50">
          </div>
        </th>
        <!-- <th class="clear">
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Interaste" [(ngModel)]="searchTag.intersetName"
            type="search" aria-describedby="basic-addon1">
          </div>
        </th> -->
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Date" [(ngModel)]="search.createdDate"
              type="search" aria-describedby="basic-addon1" maxlength="30">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Date" [(ngModel)]="search.publishDate"
              type="search" aria-describedby="basic-addon1" maxlength="30">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Views" myNumberOnly
              [(ngModel)]="search.viewCount" type="search" aria-describedby="basic-addon1" maxlength="11">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Favourite" myNumberOnly
              [(ngModel)]="search.favCount" type="search" aria-describedby="basic-addon1" maxlength="11">
          </div>
        </th>
        <!-- <th scope="col"></th>
        <th scope="col"></th> -->
        <th>
          <div class="Textbox">
            <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
              [(ngModel)]="search.isActive" style="width: 75px;">
              <option value="" selected>Select</option>
              <option value="1">Active</option>
              <option value="2">Inactive</option>
            </select>
          </div>
        </th>
        <th class="clear"><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
      </tr>
      <tr class="userList"
        *ngFor="let item of posts | filterBy: search | paginate: { id:'pagination1', itemsPerPage: 10, currentPage: p };let i = index">
        <td title="{{item.neOpinName}}">{{ item.neOpinName | truncate : 20 : ".." }}</td>
        <td title="{{item.categoryId}}"><span style="visibility:hidden">{{item?.categoryId}}</span>
          {{ item.cateName | truncate : 20 : ".." }}</td>
        <!-- <td>
          <div class="tableimg">
            <img [src]="item.neOpinimage">
          </div>
        </td> -->
        <td title="{{item.neOpindesc}}">{{ item.neOpindesc | truncate : 50 : ".."}}</td>
        <td title="{{item.neOpincomment}}">{{ item.neOpincomment | truncate : 50 : ".." }}</td>
        <!-- <td>
          <label *ngFor="let content of item.intersetLit | filterBy: searchTag ">
            <div class="innerTagtext">{{content.intersetName | truncate : 20 : ".." }}</div>
          </label>
        </td> -->
        <td>{{item.createdDate}}</td>
        <td>{{item.publishDate}}</td>
        <td class="edit borderLeft">
          <div class="row innerTagtext">
            <div class="col">
              <i class="fas fa-eye" (click)="showViewDetails(item)"></i><span>{{item.viewCount}}</span>
            </div>
          </div>
        </td>
        <td class="edit borderLeft">
          <div class="row innerTagtext">
            <div class="col">
              <i class="fas fa-bookmark" (click)="showViewFavourite(item)"></i><span>{{item.favCount}}</span>
            </div>
          </div>
        </td>
        <td>
          <p *ngIf="item.isActive == 1">Active</p>
          <p no-margin *ngIf="item.isActive == 2">Inactive</p>
        </td>
        <td class="edit borderLeft">
          <div class="row innerTagtext">
            <div class="col" style="padding-bottom: 6px;padding-right: 0;">
              <i class="far fa-edit" (click)="editArticle(item, 1, 1)"></i>
            </div>
            <div class="col" style="padding-bottom: 6px;padding-left: 0;">
              <i class="far fa-copy" (click)="editArticle(item, 1, 0)"></i>
            </div>
            <!-- <div class="col">
              <a [href]="item.neOpinURL"><i class="fas fa-globe"></i></a>
            </div> -->
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="nodata" *ngIf="!featureLength">
    <div class="imageNO">
      <p>No Data Found</p>
    </div>
  </div>
  <div class="nodata" *ngIf="setveractive">
    <div class="imageNO">
      <p>Server Error</p>
    </div>
  </div>

  <div class="bgHide" *ngIf="!hidePopup" (click)="hideViewDetails()"></div>
  <div class="poopupDiv" *ngIf="!hidePopup">

    <div class="invoiceDiv" id="contentToConvert">
      <div class="row detailsBlock">
        <div class="col-md-10">
          {{ viewsName }}
        </div>
        <div class="col-md-2" (click)="hideViewDetails()">
          CANCEL
        </div>
      </div>

      <table class="table table-hover">
        <thead>
          <tr>
            <th class="upperMiddle" scope="col" (click)="sortView('subname')" (click)="invert()"> Name
              <i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'subname' && !isDesc) ,'fa-sort-desc': (column == 'subname' && isDesc) }"
                aria-hidden="true"></i>
            </th>
            <th class="upperMiddle" scope="col" (click)="sortView('subemail')" (click)="invert()"> Date/Time
              <i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'subemail' && !isDesc) ,'fa-sort-desc': (column == 'subemail' && isDesc) }"
                aria-hidden="true"></i>
            </th>

            <th class="upperMiddle" scope="col" (click)="sortView('phoneno')" (click)="invert()"> Phone
              <i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'phoneno' && !isDesc) ,'fa-sort-desc': (column == 'phoneno' && isDesc) }"
                aria-hidden="true"></i>
            </th>
            <th scope="col" class="upperMiddle" (click)="sortView('corpname')"> Company
              <i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'corpname' && !isDesc) ,'fa-sort-desc': (column == 'corpname' && isDesc) }"
                aria-hidden="true"></i>
            </th>


            <th scope="col"></th>


          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Name" [(ngModel)]="searchView.subname"
                  type="search" aria-describedby="basic-addon1" maxlength="20">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Date/Time" [(ngModel)]="searchView.subemail"
                  type="search" aria-describedby="basic-addon1" maxlength="20">
              </div>
            </th>
            <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Phone" [(ngModel)]="searchView.phoneno"
                  type="search" aria-describedby="basic-addon1" maxlength="10">
              </div>
            </th>
            <th class="clear">
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Company" [(ngModel)]="searchView.corpname"
                  type="search" aria-describedby="basic-addon1" maxlength="50">
              </div>
            </th>



            <th class="clear"><button class="AddBtn clearBtn" (click)="clearViewDetail()">CLEAR</button></th>
          </tr>
          <tr class="userList"
            *ngFor="let item of detailView | filterBy: searchView | paginate: { id:'pagination2', itemsPerPage: 10, currentPage: d };let i = index">
            <td title="{{item.subname}}">{{ item.subname | truncate : 20 : ".." }}</td>
            <td title="{{item.subemail}}">{{ item.subemail | truncate : 20 : ".." }}</td>

            <td title="{{item.phoneno}}">{{ item.phoneno}}</td>
            <td title="{{item.corpname}}">{{ item.corpname | truncate : 20 : ".." }}</td>

            <td> </td>
          </tr>
        </tbody>
      </table>


      <div style="width: 100%; text-align: center;margin-top: 25px;">
        <pagination-controls (pageChange)="d = $event" id="pagination2" maxSize="5" directionLinks="true"
          autoHide="true">
        </pagination-controls>
      </div>


    </div>


    <!-- <div class="btndivPop"> -->
    <!-- <button (click)="hideViewDetails()" type="button" class="btn AddBtn">Cancel</button> -->
    <!-- <button type="button" class="btn AddBtn" (click)="captureScreen()">Download</button> -->
    <!-- </div> -->
  </div>


  <div *ngIf="posts" style="width: 100%; text-align: center;margin-top: 25px;">
    <pagination-controls (pageChange)="p = $event" id="pagination1" maxSize="5" directionLinks="true" autoHide="true">
    </pagination-controls>
  </div>
</div>
