// pop up 
.bgHide{
  position: fixed;
  background: #1b1a1a12;
  z-index: 1041;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.poopupDiv{
  width: 60%;
  text-align: center;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  background: #ffffff;
  // padding: 16px;
  border-radius: 7px;
  box-shadow: 1px 2px 10px 0px #585757;
  z-index: 1041;
  .close{
      position: absolute;
      right: 4px;
      top: 4px;
      padding: 12px;
      color: #000;
      font-size: 15px;
      cursor: pointer;
  }
  // .header{
  //     margin: 0;
  //     font-size: 16px;  
  //     text-align: left;   
  //     padding-bottom: 10px;
  //     h1{   

  //     }
  //     span{
  //         font-size: 14px;
  //         float: right;
  //         padding-right: 30px;
  //     }
  // }
  .featbale{
      width: 100%;
      // border: 3px solid black;
      border-bottom: 2px solid black;
      margin-top: 30px;
      .bkcl{
          color: black;
      }
      th,td{
          padding: 8px 0;
          text-align: left;
          padding-left: 5px;
          padding-right: 5px;
      }
      .heading{
          background: #01579b;
          color: white;
          border-bottom: 2.5px solid black;
          border-top: 2.5px solid black;
      }
      .highl{
          background: #d2e4f2;
          color: black;
      }
      .topbor{
          border-top: 1px solid;
          border-bottom: 1px solid;
      }
      span{
          float: right;
      }
  }
}


@media screen and (max-width: 768px) {
  .uplosdDiv{
      // margin-top: 40px;
  }
  .upBtn{
      padding-top: 10px;
  }
  .poopupDiv{
      width: 90%;
  }
}

.invoiceDiv{
  padding: 18px 30px;
  overflow: auto;
  height: 630px;
}

.detailsBlock{
  margin-bottom: 16px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}



// table format
.tableimg {
  img {
    height: 100px;
    width: 100px;
  }
}
.innerTagtext {
  justify-content: center;
  align-content: center;
  // flex-wrap: nowrap;
  .col {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    i {
      align-self: center;
    }
  }
  span {
    padding-left: 12px; 
  }
}

.TopButton{
  background: white;
  position: sticky;
  top: 65px;
  width: 100%;
  z-index: 2;
  left: 0;
  height: 56px;
  box-shadow: 3px 3px 5px 0px #ccc;
}
.btninnerDiv{
  position: absolute;
  right: 0;
}


.AddBtn{
  padding: 8px 21px;
  border: 1px solid #01579b;
  background: #01579b;
  color: #ffffff;
  transition: .4s ease-in-out;
  cursor: pointer!important;
  border-radius: 3px;
  outline: none;
  margin-top: 10px;
  margin-right: 10px;
}
.AddBtn:hover{
  color: #01579b;
  background: #ffffff; 
}
.clearBtn{
  margin: 0;
  padding: 4px 10px;
}
.AddBtn:hover{
  color: #01579b;
  background: #ffffff; 
}

.arrBtn{
  float: right;
}
.fa-sort-asc::before{
  content: "[ ↑ ]";
  display: block;
  font-weight: 900;
  padding-left: 2px;
  position: relative;
  bottom: 2px;
}
.fa-sort-desc::before{
  content: "[ ↓ ]";
  display: block;
  font-weight: 900;
  padding-left: 2px;
  position: relative;
  bottom: 2px;
}
.edit i{
  cursor: pointer;
  color: #01579b;
}
.borderLeft{
  border-left: 1px solid #dee2e6;
}
.edit{
  border-right: 1px solid #dee2e6;
  text-align: center !important;
}
.Textbox input{
  //font-size: 10px;
   height: 26px; 
   padding: 6px 6px;
   border-radius: 5px !important;
}
.selectSup{
  height: 25px;
  border-radius: 4px;
  border: 2px solid #dadfe6;
  color: #b1b6af;
  outline: none;
  width: 100%;
}
.userList{
  p{
      margin: 0;
  }
}

.boldClass{
  font-weight: 500;
}
.phoneClass{
  text-align: right;
}
.clear{
  text-align: center;
}
.upperMiddle{
  text-align: center;
  text-transform: uppercase;
}


.TableDiv{
  overflow: auto;
}

@media screen and (max-width: 768px) {
  .uplosdDiv{
      margin-top: 40px;
  }
  .upBtn{
      padding-top: 10px;
  }
}
@media screen and (max-width: 576px) {
  .AddBtn{
      padding: 6px 9px;
      font-size: 12px;
  }
  .clearBtn{
      margin: 0;
      padding: 4px 10px;
  }
  .TopButton{
    top: 53px;
    height: 51px;
  }
  .uplosdDiv{
      margin-top: 25px;
  }
}
@media screen and (max-width: 400px) {
  .TopButton{
    .btninnerDiv{
      .AddBtn{
          padding: 6px 6px;
          font-size: 10px;
          margin-right: 4px;
      }
    }
  }
}
