<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
  <div class="TopButton">
    <div class="btninnerDiv">
      <button type="submit" class="btn AddBtn subBtn">Submit</button>
      <button class="btn AddBtn" (click)="back()">Back</button>
    </div>
  </div>
  <div class="mainDiv" style="margin-top:50px">
    <div class="text">
      <h1 *ngIf="editCatgData.length > 0">Edit Category</h1>
      <h1 *ngIf="editCatgData.length == 0">Add Category</h1>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Category Name <span class="mandatory">*</span></label>
        <input (change)="checkVal($event)" type="text" class="form-control" placeholder="Category Name"
          formControlName="cat" [ngClass]="{ 'is-invalid': submitted && f.cat.errors }" maxlength="45">
        <!-- <label class="warning">Maximum length of characters is 100</label> -->
        <div *ngIf="submitted && f.cat.errors" class="invalid-feedback">
          <div *ngIf="f.cat.errors.required">Category Name is required</div>
          <div *ngIf="f.cat.errors.pattern">Numbers and Special characters are not allowed</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Category Icon <span class="mandatory">*</span></label>
        <div class="input-group">
          <span style="color:red;" *ngIf="message">{{message}}</span>
          <input *ngIf="!imgURL" #file type="file" accept='image/*' [(ngModel)]="str1"
            [ngModelOptions]="{standalone: true}" (change)="preview(file.files)" class="custom-file-input"
            id="inputGroupFile02" required aria-describedby="inputGroupFileAddon02" />
          <label *ngIf="!imgURL" style="bottom:0!important;" class="custom-file-label labelnew"
            for="inputGroupFile02">{{name1}}</label>
          <div *ngIf="imgURL" class="imageDiv">
            <img [src]="imgURL">
            <span class="RemoveImageicon" (click)=removeImage();>
              <i class="fas fa-times" aria-hidden="true"></i>
            </span> 
          </div>
          <p class="errormsg" *ngIf="errorImsg">File must be between the size of 1-5 MB</p>
        </div>
        <div *ngIf="!str1" class="invalid-feedback">
          <div class="errormsg">{{isImg}}</div>
        </div>
        <div *ngIf="message" class="invalid-feedback">
          <div>{{message}}</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <!-- <div class="form-group col-md-6">
        <label>Created Date </label>
        <input disabled type="text" class="form-control disabletext" placeholder="Created Date" formControlName="cDate"
          [ngClass]="{ 'is-invalid': submitted && f.cDate.errors }">
        <div *ngIf="submitted && f.cDate.errors" class="invalid-feedback">
        </div>
      </div> -->
        <div class="form-group col-md-6">
          <label>Status <span class="mandatory">*</span></label>
          <select class="custom-select custom-select selectClass" formControlName="status">
            <option value="1">Active</option>
            <option value="2">Inactive</option>
          </select>
          <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div class="statusmargin" *ngIf="f.status.errors.required">Status is required</div>
          </div>
        </div>
      </div>
    </div>
</form>