.header {
  position: sticky;
  top: 65px;
  width: 100%;
  z-index: 2;
  left: 0;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 3px 3px 5px 0px #ccc;
  background: #FFF;
  padding: 0 10px;
}

.imgInput {
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
  }
}

.btninnerDiv {
  display: flex;

  select {
    margin-right: 10px;
    height: 40px;
    width: 190px;
  }
}

.AddBtn {
  padding: 10px 21px;
  border: 1px solid #01579b;
  background: #FFF;
  color: #01579b;
  transition: .4s ease-in-out;
  cursor: pointer !important;
  border-radius: 3px;
  outline: none;
  white-space: nowrap;
  height: 40px;
}

.AddBtn:hover {
  color: #FFF;
  background: #01579b;
}

.clearBtn {
  margin: 0;
  padding: 4px 10px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1%;

  li {
    width: 18%;
    height: 240px;
    text-align: center;
    border: 1px solid #cbc8c8;
    border-radius: 6px;
    background: #f4f4f4;
    margin: 1%;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }

    video {
      &::-webkit-media-controls {
        display: none;
        -webkit-appearance: none;
      }
    }

    div {
      &.text {
        color: #01579b;
        position: absolute;
        left: 0;
        bottom: 0;
        background: #FFF;
        font-size: 13px;
        padding: 6px 10px;
        width: 100%;
        min-height: 45px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 500;
      }
    }
  }
}

.search-results {
  height: 20rem;
  overflow: scroll;
}
