<div class="header mb-4">
  <h4 class="m-0">All Files</h4>
  <div class="btninnerDiv">
    <select [(ngModel)]="sortOrder" class="custom-select custom-select selectClass" (change)="onSortChange($event)">
      <option value="" selected>Sort By</option>
      <option [value]="item?.id" *ngFor="let item of ddlList?.sortList">{{item?.name}}</option>
    </select>
    <select [(ngModel)]="filetype" class="custom-select custom-select selectClass" (change)="onCategoryChange($event)">
      <option value="" selected>Select Category Type</option>
      <option [value]="item?.id" *ngFor="let item of ddlList?.categoryTypeList">{{item?.fileType}}</option>
    </select>
    <div class="imgInput">
      <input #fileInput type="file" multiple class="form-control"
        accept="image/*,.pdf,.xlsx,.xls,video/mp4,video/x-m4v,video/*,.mp3,audio/*" (change)="uploadImage($event)">
      <!-- accept="image/x-png, image/jpeg" -->
      <button class="AddBtn">+ ADD File</button>
    </div>
  </div>
</div>
<div>

  <ul *ngIf="imageLibraryData.length> 0" class="list-unstyled p-0" (scroll)="onScroll($event)">
    <li *ngFor="let item of imageLibraryData">
      <img *ngIf="item?.filetypeid == 4" [src]="item.fileurl ? imgUrl + item.fileurl : imageplaceholder" [alt]="
        item?.filename">
      <img *ngIf="item?.filetypeid == 1" [src]="pdfplaceholder " [alt]="
        item?.filename">
      <img *ngIf="item?.filetypeid == 2" [src]="excelplaceholder " [alt]="
          item?.filename">
      <img *ngIf="item?.filetypeid == 3" [src]="imageplaceholder" [alt]="item?.filename">
      <!-- <img *ngIf="item?.filetypeid == 5" [src]="videoplaceholder" [alt]="item?.filename"> -->
      <video controls style="width: 100%; height: 100%;" *ngIf="item?.filetypeid == 5">
        <source type="video/mp4" [src]="imgUrl+item?.fileurl ">
      </video>
      <div *ngIf="item?.originalfile" class="text">{{item?.originalfile}}</div>
    </li>
  </ul>

  <div class="nodata" *ngIf="imageLibraryData.length == 0">
    <div class="imageNO">
      <p>No Data Found</p>
    </div>
  </div>
</div>
