<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-190 p-b-30">
      <form class="form login100-form validate-form" *ngIf="loginScreen" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- <div class="login100-form-avatar">
          <img src="images/avatar-01.jpg" alt="AVATAR">
        </div> -->

        <div class="logintitle">Regsus Admin Panel</div>

        <div class="inputdiv" *ngIf="loginScreen">
          <input class="input100" type="text" name="username" placeholder="Username" required formControlName="username"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }" maxlength="50">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-user"></i>
          </span>
        </div>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>

        <div class="inputdiv" *ngIf="loginScreen">
          <span class="symbol-input100"><i class="fa fa-lock"></i></span>
          <input class="input100" type="{{type2}}" name="password" placeholder="Password" required
            formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" maxlength="50">
          <span class="focus-input100"></span>
          <span class="showPass" *ngIf="!showPass" (click)="showPassword()"><i class="fas fa-eye"></i></span>
          <span class="showPass" *ngIf="showPass" (click)="showPassword()"><i class="fas fa-eye-slash"></i></span>
        </div>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
        </div>


       

        <!-- <div class="forget">
          <p>Forgot Password ?</p>
        </div> -->

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit" *ngIf="loginScreen">
            Login
          </button>

          <button class="login100-form-btn" (click)="forgot();"  *ngIf="loginScreen">
            Forgot Password
          </button>

         
        </div>

      </form>

      <form class="form login100-form validate-form" *ngIf="!loginScreen" [formGroup]="recoverForm" (ngSubmit)="onSubmit()">
        <!-- <div class="login100-form-avatar">
          <img src="images/avatar-01.jpg" alt="AVATAR">
        </div> -->

        <div class="logintitle">Regsus Admin Panel</div>
        <div class="inputdiv" >
          <input class="input100" type="text" name="username" placeholder="User name" required formControlName="username"
            [ngClass]="{ 'is-invalid': submitted && r.username.errors }" maxlength="50">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-user"></i>
          </span>
        </div>
        <div *ngIf="submitted && r.username.errors" class="invalid-feedback">
          <div *ngIf="r.username.errors.required">Username is required</div>
        </div>

        
        <div class="inputdiv" >
          <input class="input100" type="text" name="email" placeholder="Email" required formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && r.email.errors }" maxlength="50">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-envelope"></i>
          </span>
        </div>
        <div *ngIf="submitted && r.email.errors" class="invalid-feedback">
          <div *ngIf="r.email.errors.required">Email is required</div>
        </div>


        <!-- <div class="forget">
          <p>Forgot Password ?</p>
        </div> -->

        <div class="container-login100-form-btn">
         
          <button class="login100-form-btn" (click)="signIn();"  *ngIf="!loginScreen">
            Login
          </button>


          <button class="login100-form-btn" type="submit" *ngIf="!loginScreen">
            Get Password
          </button>
        </div>

      </form>
    </div>
  </div>
</div>