<div class="bgHide" *ngIf="openCreateGrp" (click)="createGroup()"></div>
<div class="poopupDiv" *ngIf="openCreateGrp">
  <div class="upperdiv">
    <h1>Add Participants <span (click)="createGroup()" class="close">X</span></h1>
</div>
<div class="divBody">
  <div class="name">
        <p class="gpname">Group Name <span>*</span></p>
        <input type="text" placeholder="Group Name" [(ngModel)]="grpName">
  </div>
  <div class="name">
          <p>Description</p>
          <input type="text" placeholder="Description">
  </div>
  <div class="name">
      <p>Group Image</p>
      <div class="input-group">
          <span style="color:red;" *ngIf="message">{{message}}</span>
          <input *ngIf="!imgURL" #file type="file" accept='image/*' [(ngModel)]="str1"
            [ngModelOptions]="{standalone: true}" (change)="preview(file.files)" class="custom-file-input"
            id="inputGroupFile02" required aria-describedby="inputGroupFileAddon02" />
          <label *ngIf="!imgURL" style="bottom:0!important;" class="custom-file-label labelnew"
            for="inputGroupFile02">{{name1}}</label>
          <div *ngIf="imgURL" class="imageDiv">
            <img [src]="imgURL">
            <span class="RemoveImageicon" (click)=removeImage();>
              <i class="fas fa-times" aria-hidden="true"></i>
            </span>
          </div>
        </div>
  </div>
  <div class="selectDiv">
      <p class="gpname">Participants <span>*</span></p>
      <angular2-multiselect [data]="participants" [(ngModel)]="selectedItems" [settings]="settings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"  (onSelectAll)="onSelectAll($event)">
          <c-badge>
                    <ng-template let-item="item">
                        <img [src]="image" style="width: 16px; margin-right: 5px;border-radius: 50%;" />
                        <label style="margin: 0px;margin-top: 1px;">{{item.pname}}</label>
                    </ng-template>
          </c-badge>
          <c-item>
                  <ng-template let-item="item">
                    <img [src]="image" style="width: 30px; border: 1px solid #efefef;margin-right: 10px;border-radius: 50%;" />
                    <label style="color: #333;min-width: 150px;">{{item.pname}}</label>
                  </ng-template>
          </c-item>
        </angular2-multiselect>
  </div>
  
    <div class="row inscrp">
        <div class="col-md-6 corp">
           <ng-multiselect-dropdown style="background:white;" class="customMulti"
           [placeholder]="'Select Corporation'"
           [data]="corporations"
           [settings]="dropdownCorpSettings"
           [(ngModel)]="selectedCorps"
           (onSelect)="onItemSelect($event)"
           (onDeSelect)="onItemDeSelect($event)"
           (onSelectAll)="onSelectAll($event)"
           [ngModelOptions]="{standalone: true}"
         >
         </ng-multiselect-dropdown>
        </div>
        
        <div class="col-md-6 ins">
           <ng-multiselect-dropdown style="background:white;" class="customMulti"
           [placeholder]="'Select Interests'"
           [data]="interests"
           [settings]="dropdownSettings"
           [(ngModel)]="selectedIns"
           (onSelect)="onItemSelect($event)"
           (onDeSelect)="onItemDeSelect($event)"
           (onSelectAll)="onSelectAll($event)"
           [ngModelOptions]="{standalone: true}"
         >
         </ng-multiselect-dropdown> 
        </div>
</div>
</div>
<div class="footerDiv">
    <button (click)="createGroup()" [disabled]="selectedItems.length == 0 || !grpName" class="btn AddBtn">SAVE</button>
</div>

</div>
