.divBody{
    padding: 54px 16px 16px;
    overflow: auto;
    height: 92%;
    .name{
        text-align: initial;
        p{
            margin-bottom: 6px;
            margin-top: 6px;
            // &:first-child{
            // }
        }
        .gpname{
            margin-top: 0 !important;
            span{
                color: red;
            }
        }
        input{
            padding: 8px 12px;
            width: 100%;
            border-radius: 5px;
            border: none;
            /* box-shadow: 1px 1px 1px grey; */
            box-shadow: 0px 1px 5px 1px #939086;
        }
    }
    p:nth-of-type(1){
        margin-top: 0;
    }
}
.imageDiv{
    width: 100%;
    text-align: center;
    img{
        width: 100%;
        height: 80%;
    }
}
.toggleDiv{
  padding-bottom: 5px;
}
.toggleDiv .row{
  padding-top: 35px;
}
.RemoveImageicon{
    position: absolute;
    font-size: 14px;
    top: -11px;
    right: -11px;
    color: #01579b;
    cursor: pointer;
    border: 1px solid;
    padding: 3px 6px;
    border-radius: 50%;
    background: white;
  }
.caticon{
    padding-left: 22px;
}
.labelnew{
    margin: 0;
    height: 34px;
    padding-top: 6px;
}
.custom-file-label::after{
    height: calc(calc(2.3rem + 2px) - 1px * 2);
    padding: 0.4rem 0.75rem;
}
.inscrp{
    .corp{
        padding-right: 0;
    }
    .ins{
        padding-left: 0;
    }
}
.selectDiv{
    margin-top: 10px;
    p{
        margin: 6px 0px !important;
        // &:first-child{
        // }
        text-align: initial;
        span{
            color: red;
        }
    }
}
.upperdiv{
    padding: 16px 16px 0px 16px;
    position: fixed;
    background: white;
    width: 99.9%;
    border-bottom: 1px solid #585757;
    z-index: 2;
    top:0;
    .close{
        position: absolute;
        right: 4px;
        top: 4px;
        padding: 12px;
        color: #000;
        font-size: 15px;
        cursor: pointer;
    }
    h1{   
        margin: 0;
        font-size: 16px;  
        text-align: left;   
        padding-bottom: 13px;
        font-family: unset;   
        span{
            font-size: 14px;
            float: right;
            padding-right: 30px;
        }
    }
}
.footerDiv{
    // padding: 16px 16px 0px 16px;
    position: fixed;
    background: white;
    width: 99.9%;
    // border-top: 1px solid #585757;
    z-index: 2;
    bottom:0;
}
.AddBtn{
    border-radius: 0;
    width: 100%;
    background-color: #01579b;
    cursor: pointer !important;
}
.bgHide{
    position: fixed;
    background: #2a2828c4;
    z-index: 1041;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.poopupDiv{
    width: 35%;
    height: 80%;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background: #ffffff;
    // padding: 16px;
    border-radius: 7px;
    box-shadow: 1px 2px 10px 0px #585757;
    z-index: 1041;
    .upperdiv{
        padding: 16px 16px 0px 16px;
        .close{
            position: absolute;
            right: 4px;
            top: 4px;
            padding: 12px;
            color: #000;
            font-size: 15px;
            cursor: pointer;
        }
        h1{   
            margin: 0;
            font-size: 16px;  
            text-align: left;   
            padding-bottom: 10px;
            font-family: unset;   
            span{
                font-size: 14px;
                float: right;
                padding-right: 16px;
            }
        }
    }
}