<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
  <div class="TopButton">
    <div class="btninnerDiv">
      <button type="submit" class="btn AddBtn subBtn">Submit</button>
      <button class="btn AddBtn" (click)="back()">Back</button>
    </div>
  </div>
  <div class="mainDiv" style="margin-top:50px">
    <div class="text">
      <h1 *ngIf="this.gstData.length == 0">Add GST</h1>
      <h1 *ngIf="this.gstData.length > 0">Edit GST</h1>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>CGST(%) <span class="mandatory">*</span></label>
        <input (blur)="Validation($event)" type="text" class="form-control" placeholder="CGST" formControlName="cgst"
          [ngClass]="{ 'is-invalid': submitted && f.cgst.errors }" maxlength="3">
        <div *ngIf="submitted && f.cgst.errors" class="invalid-feedback">
          <div *ngIf="f.cgst.errors.required">CGST is required</div>
          <div *ngIf="f.cgst.errors.pattern">CGST is invalid</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>SGST(%) <span class="mandatory">*</span></label>
        <input (blur)="Validation($event)" type="text" class="form-control" placeholder="SGST" formControlName="sgst"
          [ngClass]="{ 'is-invalid': submitted && f.sgst.errors }" maxlength="3">
        <div *ngIf="submitted && f.sgst.errors" class="invalid-feedback">
          <div *ngIf="f.sgst.errors.required">SGST is required</div>
          <div *ngIf="f.sgst.errors.pattern">SGST is invalid</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>GST(%) <span class="mandatory">*</span></label>
        <input disabled (blur)="Validation($event)" type="text" class="form-control disabletext" placeholder="GST"
          formControlName="gst" [ngClass]="{ 'is-invalid': submitted && f.gst.errors }" min="0" max="100" maxlength="3">
        <div *ngIf="submitted && f.gst.errors" class="invalid-feedback">
          <div *ngIf="f.gst.errors.required">GST is required</div>
          <div *ngIf="f.gst.errors.pattern">GST is invalid</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Status <span class="mandatory">*</span></label>
        <select class="custom-select custom-select selectClass" formControlName="status">
          <option value="1">Active</option>
          <option value="2">Inactive</option>
        </select>
        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.status.errors.required">Status is required</div>
        </div>
      </div>
    </div>
  </div>
</form>