<div class="TopButton">
    <div class="btninnerDiv">
        <button class="AddBtn" (click)="AddSub()">ADD</button>
      <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
    </div>
  </div>
  
  <div class="TableDiv">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" (click)="sort('subsc')" (click)="invert()">Subscription Name<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'subsc' && !isDesc) ,'fa-sort-desc': (column == 'subsc' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <th scope="col">Features<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'features' && !isDesc),'fa-sort-desc': (column == 'features' && isDesc) }"
              aria-hidden="true"></i> </th>
          <!-- <th scope="col" (click)="sort('price')">Subscription Price (₹)<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'price' && !isDesc),'fa-sort-desc': (column == 'price' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th scope="col" (click)="sort('period')">Subscription Period (Days)<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'period' && !isDesc),'fa-sort-desc': (column == 'period' && isDesc) }"
              aria-hidden="true"></i> </th> -->
          <th scope="col" (click)="sort('status')">Status<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'status' && !isDesc),'fa-sort-desc': (column == 'status' && isDesc) }"
              aria-hidden="true"></i> </th>
           <th scope="col"></th>
          <!-- <th scope="col"></th> -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Subscription" [(ngModel)]="search.subsc" type="search"
                aria-describedby="basic-addon1">
            </div>
          </th>
          <th>
            <!-- <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Features" [(ngModel)]="search.features"
                type="search" aria-describedby="basic-addon1">
            </div> -->
          </th>
          <!-- <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Subscription Price" [(ngModel)]="search.price" type="search"
                aria-describedby="basic-addon1">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Subscription Period" [(ngModel)]="search.period"
                type="search" aria-describedby="basic-addon1">
            </div>
          </th> -->
          <th>
            <div class="Textbox">
              <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
                [(ngModel)]="search.status">
                <option value="" selected>Select</option>
                <option value="1">Active</option>
                <option value="2">Inactive</option>
              </select>
            </div>
          </th>
          <th class="clear"><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
          <!-- <th></th> -->
        </tr>
        <tr class="userList"
          *ngFor="let item of subcriptionList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <td>{{ item.subsc }}</td>
          <td class="featureList"><div *ngFor="let content of item.features;let i=index">{{content.name}}<span *ngIf="i < item.features.length-1">,</span></div></td>
          <!-- <td class="phoneClass">{{ item.price }}</td>
          <td class="phoneClass">{{ item.period }}</td> -->
          <td>
            <p *ngIf="item.status == 1">Active</p>
            <p no-margin *ngIf="item.status == 2">Inactive</p>
          </td>
          <td class="edit borderLeft"><i class="far fa-edit" (click)="editSub(item)"></i></td>
        </tr>
      </tbody>
    </table>
    <div class="nodata" *ngIf="subcriptionList.length == 0">
      <div class="imageNO">
        <p>No Data Found</p>
      </div>
    </div>
  </div>
  
  <div *ngIf="subcriptionList" style="width: 100%; text-align: center;margin-top: 10px;">
    <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true" autoHide="true">
    </pagination-controls>
  </div>