<!-- <div class="filter">
  <span class="txt">Bulk Deal : <span class="badge">{{(userList| filterBy: search).length}}</span></span>
  <button class="AddBtn exportBtn" (click)="exportExcelCorp()">EXPORT TO EXCEL</button>
</div>
<div class="corpButton">
</div>

<div class="uplosdDiv" [ngStyle]="{'display': display1}">
  <div class="innerUpload">
    <div class="row">
      <div class="col-5">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFileLangHTML1"
            accept=".csv,.xls,.xlsx, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
            (change)="readFileUrl1($event)" attr.data-title="{{fileName1}}">
          <label class="custom-file-label" for="customFileLangHTML1" data-browse="browse">{{fileName1}}</label>
        </div>
      </div>
      <div class="upBtn col-md-6">
        <button class="AddBtn" (click)="uploadSheet()">Upload</button>
        <button class="AddBtn">Download Template</button>
        <button class="AddBtn" (click)="remFile1()">Cancel</button>
      </div>
    </div>
  </div>
</div>

<div class="TableDiv marginClass">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="upperMiddle" scope="col" (click)="sort('name')" (click)="invert()">Name
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'name' && !isDesc) ,'fa-sort-desc': (column == 'name' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('email')">Email<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'email' && !isDesc),'fa-sort-desc': (column == 'email' && isDesc) }"
            aria-hidden="true"></i> </th>
        <th class="upperMiddle" scope="col" (click)="sort('phone')">Mobile No.<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'phone' && !isDesc),'fa-sort-desc': (column == 'phone' && isDesc) }"
            aria-hidden="true"></i> </th>
        <th class="upperMiddle" scope="col" (click)="sort('company')">Company<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'company' && !isDesc),'fa-sort-desc': (column == 'company' && isDesc) }"
            aria-hidden="true"></i> </th>
        <th class="upperMiddle" scope="col" (click)="sort('designation')">Designation<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'designation' && !isDesc),'fa-sort-desc': (column == 'designation' && isDesc) }"
            aria-hidden="true"></i> </th>
        <th class="upperMiddle" scope="col" (click)="sort('gst')">GST No.<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'gst' && !isDesc),'fa-sort-desc': (column == 'gst' && isDesc) }"
            aria-hidden="true"></i> </th>
        <th scope="col" (click)="sort('createdDate')">Registered Date<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'createdDate' && !isDesc),'fa-sort-desc': (column == 'createdDate' && isDesc) }"
            aria-hidden="true"></i> </th>
        <th class="upperMiddle" scope="col" (click)="sort('subcStarus')">Subscription<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'subcStarus' && !isDesc),'fa-sort-desc': (column == 'subcStarus' && isDesc) }"
            aria-hidden="true"></i> </th>
        <th class="upperMiddle" scope="col" (click)="sort('status')">Status<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'status' && !isDesc),'fa-sort-desc': (column == 'status' && isDesc) }"
            aria-hidden="true"></i> </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Name" alphabetOnly [(ngModel)]="search.name"
              type="search" aria-describedby="basic-addon1" maxlength="45">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Email" [(ngModel)]="search.email" type="search"
              aria-describedby="basic-addon1" maxlength="45">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Mobile No." myNumberOnly
              [(ngModel)]="search.phone" type="search" aria-describedby="basic-addon1" maxlength="10">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Company" [(ngModel)]="search.company"
              type="search" aria-describedby="basic-addon1" maxlength="200">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Designation" [(ngModel)]="search.designation"
              type="search" aria-describedby="basic-addon1" maxlength="45">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="GST No." [(ngModel)]="search.gst" type="search"
              aria-describedby="basic-addon1" maxlength="15">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Registered Date"
              [(ngModel)]="search.createdDate" type="search" aria-describedby="basic-addon1" maxlength="15">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <select class="selectSup" aria-placeholder="Subscription" (change)="subChange($event)"
              [(ngModel)]="search.subcStarus">
              <option value="" selected>Select</option>
              <option value="2">Active</option>
              <option value="1">Inactive</option>
            </select>
          </div>
        </th>
        <th>
          <div class="Textbox">
            <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
              [(ngModel)]="search.status">
              <option value="" selected>Select</option>
              <option value="1">Active</option>
              <option value="2">Inactive</option>
            </select>
          </div>
        </th>
        <th><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
      </tr>
      <tr class="userList1"
        *ngFor="let item of userList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: q, id: 'q'  }; let i = index">
        <td>{{ item.name }}</td>
        <td>{{ item.email }}</td>
        <td class="phoneClass">{{ item.phone }}</td>
        <td>{{ item.company }}</td>
        <td>{{ item.designation }}</td>
        <td>{{ item.gst }}</td>
        <td>{{ item.createdDate | date:'dd-MMM-yyyy'}}</td>
        <td>
          <p *ngIf="item.subcStarus == 2">Active</p>
          <p no-margin *ngIf="item.subcStarus == 1">Inactive</p>
        </td>
        <td>
          <p *ngIf="item.status == 1">Active</p>
          <p no-margin *ngIf="item.status == 2">Inactive</p>
        </td>
        <td class="edit borderLeft" (click)="editCorpuser(item)"><i class="far fa-edit"></i></td>
      </tr>
      <tr>

      </tr>
    </tbody>
  </table>
  <div class="nodata" *ngIf="!featureLength">
    <div class="imageNO">
      <p>No Data Found</p>
    </div>
  </div>
  <div class="nodata" *ngIf="setveractive">
    <div class="imageNO">
      <p>Server Error</p>
    </div>
  </div>
</div>

<div *ngIf="userList" style="width: 100%; text-align: center;margin-top: 10px;">
  <pagination-controls (pageChange)="q = $event" maxSize="5" directionLinks="true" autoHide="true" id='q'>
  </pagination-controls>
</div> -->

<ngx-subscribers [show]="flag"></ngx-subscribers>