<div class="row">
  <div class="col-4 mainCont">
    <nb-card size="medium" class="Group">
      <nb-card-header class="GroupH">
        Groups
        <i (click)="createGroup()" title="Create Group" class="fas fa-user-plus addG"></i>
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let group of groups" (click)="getMessages(group)">
          <nb-user size="large" [name]="group.name | truncate : 20 : '..'" [title]="group.msg | truncate : 20 : '..'"
            picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG">
          </nb-user>
          <span class="dateClass">{{group.date}}</span>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
  <div class="col-8 mainCont1">
    <div *ngIf="!enableChat">
      <span>Select a group to proceed for chatting.</span>
    </div>
    <!-- <nb-chat *ngIf="enableChat" [title]="groupName" size="large">
        <nb-chat-message *ngFor="let msg of messages"
                         [type]="text"
                         [message]="msg.text"
                         [reply]="msg.reply"
                         [sender]="msg.user[0].name"
                         [date]="msg.date"
                         [avatar]="msg.user[0].avatar">
        </nb-chat-message>
        <nb-chat-form (send)="sendMessage($event)">
        </nb-chat-form>
      </nb-chat> -->
    <nb-card size="medium" *ngIf="enableChat" [ngClass]="{'compress' : enableInfo}">
      <nb-card-header>
        <!-- <label>{{groupName}}</label>
            <i title="Group Details" class="fas fa-info-circle addG"></i> -->
        <!-- <nb-list-item> -->
        <nb-user size="large" [name]="groupName | truncate : 30 : '..'" [title]="members | truncate : 30 : '..'"
          picture="https://via.placeholder.com/50/4479e7/ffffff?Text=IMG">
        </nb-user>
        <i title="Group Details" (click)="openDeatails()" class="fas fa-info-circle addG"></i>
        <!-- </nb-list-item> -->
      </nb-card-header>
      <nb-card-body ngxInfiniteScroller
      strategy="scrollingToBoth"
      (onScrollUp)="onScrollUp()">
        <div #scrollMe>
          <div class="clearfix" *ngFor="let chat of messages; let i = index">
            <span *ngIf="i == 0 || chat.formatedDate != messages[i-1]?.formatedDate  ">{{chat.formatedDate}}</span>
            <!-- {{messages[i].date}} - {{chat.date}} -->
            <!-- {{chat.date == messages[i+1]?.date}} -->
            <!-- {{messages[i-1]?.formatedDate == chat.formatedDate || i==0}}  -->
            <!-- {{messages.length >= i && chat.date != messages[i+1].date && i != 0}} -->
            <div
              [ngClass]="{ 'talk-bubble' : chat.username !== userName, 'tri-right' : chat.username !== userName, 'left-top' : chat.username !== userName,
                             'talk-bubble1' : chat.username === userName, 'tri-right1' : chat.username === userName, 'left-top1' : chat.username === userName}">
              <div class="talktext">
                <p class="name">{{chat.username}}</p>
                <p class="msg">{{chat.text}} <span>{{chat.date | date:'hh:mm a'}}</span></p>
                <!-- <div class="time">
                  <span>{{chat.date | date:'hh:mm a'}}</span>
                </div> -->
              </div>
            </div>
          </div>
        </div>
        <!-- <div *ngFor="let chat of messages">
                <div class="talk-bubble1 tri-right1 left-top1"  *ngIf="chat.username === userName">
                    <div class="talktext">
                      <p class="name">{{chat.username}}</p>
                      <p class="msg">{{chat.text}}</p>
                      <div class="time">
                      <span>{{chat.date | date:'hh:mm a'}}</span>
                      </div>
                    </div>
                  </div>
            </div> -->
      </nb-card-body>
      <nb-card-footer>
        <div class="innerpotion">
          <input (keydown.enter)="sendMessage()" type="text" class="form-control" placeholder="Type a message" [(ngModel)]="sendMsg">
          <span (click)="sendMessage()" *ngIf="sendMsg" class="plsuoption"><i class="fas fa-paper-plane"></i> </span>
        </div>
      </nb-card-footer>
    </nb-card>
    <nb-card [ngClass]="{'info' : enableInfo}" *ngIf="enableInfo">
      <nb-card-header>
        Group Details
        <i title="close" (click)="closeDeatails()" [ngClass]="{'infoclose' : falseInfo}"
          class="fas fa-arrow-right addG"></i>
      </nb-card-header>
      <nb-card-body>
        <div class="avatar">
          <div class="inneravtar">
            <ngx-avatar name="Haithem Mosbahi" [src]="imgURL" value="28%" size="200" [round]="true"></ngx-avatar>
            <div class="imgeedit">
              <i class="fas fa-pen"></i>
              <input title="" #file type="file" accept='image/*' [(ngModel)]="str1"
                [ngModelOptions]="{standalone: true}" (change)="preview(file.files)" class="openimage"
                id="inputGroupFile02" required aria-describedby="inputGroupFileAddon02" />
            </div>
          </div>
          
          
          <div class="input-group">
              <span style="color:red;" *ngIf="message">{{message}}</span>
              <!-- <input *ngIf="!imgURL" #file type="file" accept='image/*' [(ngModel)]="str1"
                [ngModelOptions]="{standalone: true}" (change)="preview(file.files)" class="custom-file-input"
                id="inputGroupFile02" required aria-describedby="inputGroupFileAddon02" /> -->
            </div>
        </div>
        <div class="gtitle">
          <input [ngClass]="{'makeEdit' : enableGrpNameEdit}" [disabled]="!enableGrpNameEdit" type="text"
            placeholder="Group Name" [(ngModel)]="groupName">
          <i *ngIf="!enableGrpNameEdit" class="fas fa-pen" (click)="enableEdit()"></i>
          <i *ngIf="enableGrpNameEdit" class="fas fa-check" (click)="enableEdit()"></i>
        </div>
        <div class="divider">

        </div>
        <div class="gtitle">
          <p>Group Description</p>
          <input [ngClass]="{'makeEditDes' : enableGrpDescEdit}" [disabled]="!enableGrpDescEdit" type="text"
            placeholder="Add Description">
          <i *ngIf="!enableGrpDescEdit" class="fas fa-pen" (click)="enableEditDesc()"></i>
          <i *ngIf="enableGrpDescEdit" class="fas fa-check" (click)="enableEditDesc()"></i>
        </div>
        <div class="divider">

        </div>
        <div class="gtitle">
          <p>Corporate</p>
          <span>Corporate 1</span>
        </div>
        <div class="divider">

        </div>
        <nb-accordion>
            <nb-accordion-item>
             <nb-accordion-item-header>Participants</nb-accordion-item-header>
             <nb-accordion-item-body>
                <nb-user (click)="hideinvoice()" class="AddPartC" size="medium" name="Add Participants"
                picture="assets/images/AddUser.jpg">
                </nb-user>
               <div class="userDiv" *ngFor="let partc of partcList;let i = index" [ngClass]="{'upSpace': i > 0}">
                  <nb-user size="medium" [name]="partc.pname"
                  picture="assets/images/userfor.png">
                </nb-user>
                <span class="adminClass" *ngIf="partc.isAdmin == 1">Admin</span>
               </div>
             </nb-accordion-item-body>
            </nb-accordion-item>
           </nb-accordion>
           <div class="divider">

            </div>
            <div class="gtitle">
                <label>Active</label>
                <ui-switch [checked]="toggleNgModel" (change)="onChange($event)" color="white" switchColor="#01579b"></ui-switch>
              </div>
              <!-- <angular2-multiselect [data]="partcList" [(ngModel)]="selectedItems" [settings]="settings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"  (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                  <c-item>
                      <ng-template let-item="item">
                          <label style="color: #333;min-width: 150px;">{{item.pname}}</label>
                          <img [src]="item.image" style="width: 30px; border: 1px solid #efefef;margin-right: 20px;" />
                  </c-item> 
              </angular2-multiselect> -->
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="bgHide" *ngIf="hidePopup" (click)="hideinvoice()"></div>
  <div class="poopupDiv" *ngIf="hidePopup">
    <div class="upperdiv">
        <h1>Add Participants </h1>
        <span (click)="hideinvoice()" class="close">X</span>
    </div>
    <ngx-add-participants [interests]="interestList" [corporations]="corpList" [image]="imgURL" [participants]="allList" [selectedList]="partcList"></ngx-add-participants>
</div>

  <!-- <div class="bgHide" *ngIf="openCreateGrp" (click)="createGroup()"></div>
  <div class="poopupDiv1" *ngIf="openCreateGrp">
      <span (click)="createGroup()" class="close">X</span> -->
      <ngx-create-group *ngIf="openCreateGrp" [interests]="interestList" [image]="imgURL" [corporations]="corpList" [participants]="allList"></ngx-create-group>
  <!-- </div> -->