  .row{
    .mainCont{
        padding-right: 0;
        nb-card {
            min-width: 21rem;
            max-width: 28rem;
            height: 500px !important;
            margin: 0;
            // margin: 0 auto 2rem;
            nb-card-header {
                font-family: unset;
                font-weight: 500;
                border-bottom: 1px solid #e5e2e2;
                i{
                    color: #01579b;
                }
            }
          }
    }
    .mainCont1{
        padding-left: 0;
        margin: auto;
        text-align: center;
        color: #01579b;
        font-size: x-large;
        nb-card {
            // min-width: 21rem;
            // max-width: 26rem;
            height: 500px !important;
            margin: 0;
            // margin: 0 auto 2rem;
            nb-card-header {
                padding: 5px 17.5px;
                font-family: unset;
                font-weight: 500;
                border-bottom: 1px solid #e5e2e2;
                position: relative;
                i{
                    position: absolute;
                    top: 20px;
                    right: 18px;
                    color: #01579b;
                }
            }
            nb-card-footer {
                padding: 8px 17.5px;
                .form-control {
                    padding: 0.5rem 1.125rem !important;
                }
            }
          }
    }
  }
  .dateClass{
    font-size: 12px;
    font-weight: 300;
    position: absolute;
    top: 23px;
    right: 8px;
  }
  .addG{
      float: right;
      cursor: pointer;
  }
  .plsuoption{
    position: absolute;
    right: 0;
    top: 0;
    background: #01579b;
    padding: 10px 12px;
    color: #ffffff;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
    i{
      font-size: 14px;
      // transform: rotateZ(45deg);
      transition: 500ms ease;
    }
  }
  .innerpotion{
    position: relative;
  }

nb-card-body{
        .talk-bubble {
        //     margin: 40px;
        //   display: inline-block;
        margin: 0 1rem 1rem 1rem;
        position: relative;
        max-width: 70%;
        height: auto;
        background-color: #93a6b4;
        color: #ffffff;
        border-radius: 6px;
        float: left;
    }
    /* Right triangle placed top left flush. */
    .tri-right.border.left-top:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
    left: -10px;
        right: auto;
    top: -8px;
        bottom: auto;
        border: 15px solid;
        border-color: #93a6b4 transparent transparent transparent;
        // color: #ffffff;
    }
    .tri-right.left-top:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
    left: -10px;
        right: auto;
    top: 0px;
        bottom: auto;
        border: 15px solid;
        border-color: #93a6b4 transparent transparent transparent;

        // color: #ffffff;
    }
    .talk-bubble1 {
        //     margin: 40px;
        //   display: inline-block;
            margin: 0 1rem 1rem 1rem;
            position: relative;
            max-width: 70%;
            height: auto;
            background-color: #01597b;
            color: #ffffff;
            float: right;
            border-radius: 6px;
        }
        /* Right triangle placed top left flush. */
    .tri-right1.border.left-top1:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
    left: auto;
        right: -10px;
    top: -8px;
        bottom: auto;
        border: 15px solid;
        border-color: #01597b transparent transparent transparent;
        // color: #ffffff;
    }
    .tri-right1.left-top1:after{
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
    left: auto;
        right: -10px;
    top: 0px;
        bottom: auto;
        border: 15px solid;
        border-color: #01597b transparent transparent transparent;

        // color: #ffffff;
    }
    .talktext{
        padding: 0.4rem 1em;
        text-align: left;
        line-height: 1.5em;
        .name{
            font-size: 14px;
            font-weight: 500;
            margin: 0;
        }
        .time{
            text-align: right;
            span{
                font-size: 11px;
                font-weight: 300;
                color: #f0e7e7;
            }
        }
    }

    .talktext .msg{
        /* remove webkit p margins */
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        font-weight: 300;
        margin: 0;
        font-size: 12.6px;
        span{
            font-size: 11px;
            font-weight: 300;
            color: #fafafa;
            float: right;
            margin-top: 6px;
            padding-left: 14px;
        }
    }
}


.info{
    position: absolute;
    width: 51%;
    height: 500px !important;
    top: 0;
    right: 1px;
    animation: mymove 0.2s;
    nb-card-header {
        padding: 1.28rem !important;
        text-align: initial;
        i{
            position: unset !important;
            cursor: pointer;
            // float: left !important;
        }
    }
    nb-card-body{
        padding: 0;
    }
    nb-accordion-item-header{
        font-family: roboto;
        color: #01579b;
        font-size: 14px;
    }
}
@keyframes mymove {
    from {right: -55%;}
    to {right: 1px;}
}
.infoclose{
    animation: mymove1 0.2s;
}
@keyframes mymove1 {
    from {right: 1px;}
    to {right: -55%;}
}
.compress{
    width:50%
}
.gtitle{
    padding: 10px;
    text-align: initial;
    input{
        padding: 6px;
        width: 90%;
        border: 0;
        outline: 0;
        background: transparent;
        // border-bottom: 1px solid #01579b;
    }
    i{
        margin-left: 10px;
        color: #01579b;
        font-size: 16px;
    }
    p{
        text-align: initial;
        color: #01579b;
        margin: 0 6px 6px;
    }
    span{
        padding: 6px;
    }
    label{
        margin: 6px 8px;
    }
}
.makeEdit{
    border-bottom: 1px solid #01579b !important;
}
.makeEditDes{
    border-bottom: 1px solid #01579b !important;
}
.divider{
    padding: 3px;
    background: #d5d5d5;
}
.upSpace{
    margin-top: 6px;
}


.inneravtar {
    position: relative;
    .imgeedit {
        position: absolute;
        bottom: 0;
        right: 31%;
        cursor: pointer;
        i {
            background: #ffffff;
            padding: 8px;
            border-radius: 25px;
            color: #01579b;
            box-shadow: 1px 1px 1px #aea8a8;
            cursor: pointer;

        }
        .openimage {
            opacity: 0;
            position: absolute;
            width: 32px;
            right: 0;
            height: 32px;
        }
    }
}

.badgeDisp{
    img{
        width: 16px; 
        margin-right: 5px;
        border-radius: 50%;
    }
    label{
        margin: 0px;
    }
}
.itemDisp{
    img{
        width: 30px; 
        border: 1px solid #efefef;
        margin-right: 20px;
        border-radius: 50%;
    }
    label{
        color: #333;
        min-width: 150px;
    }
}
.AddPartC{
    cursor: pointer;
    margin-bottom: 0.4rem;
}
.bgHide{
    position: fixed;
    background: #2a2828c4;
    z-index: 1041;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.poopupDiv{
    width: 35%;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background: #ffffff;
    // padding: 16px;
    border-radius: 7px;
    box-shadow: 1px 2px 10px 0px #585757;
    z-index: 1041;
    .upperdiv{
        padding: 16px 16px 0px 16px;
        .close{
            position: absolute;
            right: 4px;
            top: 4px;
            padding: 12px;
            color: #000;
            font-size: 15px;
            cursor: pointer;
        }
        h1{   
            margin: 0;
            font-size: 16px;  
            text-align: left;   
            padding-bottom: 10px;
            font-family: unset;   
            span{
                font-size: 14px;
                float: right;
                padding-right: 30px;
            }
        }
    }
}
.poopupDiv1{
    width: 35%;
        height: 80%;
        // overflow: auto;
    text-align: center;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    background: #ffffff;
    // padding: 16px;
    border-radius: 7px;
    box-shadow: 1px 2px 10px 0px #585757;
    z-index: 1041;
    .close{
        position: absolute;
        z-index: 3;
        font-size: 15px;
        right: 20px;
        top: 18px;
    }
    .upperdiv{
        padding: 16px 16px 0px 16px;
        position: fixed;
        background: white;
        width: 99.9%;
        border-bottom: 1px solid #585757;
        z-index: 2;
        .close{
            position: absolute;
            right: 4px;
            top: 4px;
            padding: 12px;
            color: #000;
            font-size: 15px;
            cursor: pointer;
        }
        h1{   
            margin: 0;
            font-size: 16px;  
            text-align: left;   
            padding-bottom: 13px;
            font-family: unset;   
            span{
                font-size: 14px;
                float: right;
                padding-right: 30px;
            }
        }
    }
}
.userDiv{
    position: relative;
    .adminClass{
        padding: 2px 5px;
        border: 1px solid #01579b;
        color: #01579b;
        border-radius: 6px;
        font-size: 12px;
        position: absolute;
        top: 10px;
        right: -5px;
    }
}
