<div class="TopButton">
    <div class="btninnerDiv">
      <button class="AddBtn" (click)="addGst()">ADD</button>
      <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
    </div>
  </div>
  
  <div class="TableDiv">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="upperMiddle" scope="col" (click)="sort('cgst')" (click)="invert()"> CGST(%)
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'cgst' && !isDesc) ,'fa-sort-desc': (column == 'cgst' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sort('sgst')" (click)="invert()"> SGST(%)
              <i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'sgst' && !isDesc) ,'fa-sort-desc': (column == 'sgst' && isDesc) }"
                aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sort('gst')" (click)="invert()"> GST(%)
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'gst' && !isDesc) ,'fa-sort-desc': (column == 'gst' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sort('createdDate')" (click)="invert()"> Created Date
              <i class="fa"
                [ngClass]="{'fa-sort-asc': (column == 'createdDate' && !isDesc) ,'fa-sort-desc': (column == 'createdDate' && isDesc) }"
                aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sort('status')">Status<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'status' && !isDesc),'fa-sort-desc': (column == 'status' && isDesc) }"
              aria-hidden="true"></i> </th>
           <th scope="col"></th>
          <!-- <th scope="col"></th> -->
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="CGST" [(ngModel)]="search.cgst"
                type="search" aria-describedby="basic-addon1">
            </div>
          </th>
          <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="SGST" [(ngModel)]="search.sgst"
                  type="search" aria-describedby="basic-addon1">
              </div>
            </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="GST" [(ngModel)]="search.gst"
                type="search" aria-describedby="basic-addon1">
            </div>
          </th>
          <th>
              <div class="Textbox">
                <input class="form-control with-primary-addon" placeholder="Created Date" [(ngModel)]="search.createdDate"
                  type="search" aria-describedby="basic-addon1">
              </div>
          </th>
          <th>
            <div class="Textbox">
              <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
                [(ngModel)]="search.status">
                <option value="" selected>Select</option>
                <option value="1">Active</option>
                <option value="2">Inactive</option>
              </select>
            </div>
          </th>
          <th class="clear"><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
          <!-- <th></th> -->
        </tr>
        <tr class="userList"
          *ngFor="let item of gstList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
          <td class="phoneClass">{{ item.cgst }}</td>
          <td class="phoneClass">{{ item.sgst }}</td>
          <td class="phoneClass">{{ item.gst }}</td>
          <td>{{ item.createdDate }}</td>
          <td>
            <p *ngIf="item.status == 1">Active</p>
            <p no-margin *ngIf="item.status == 2">Inactive</p>
          </td>
          <td class="edit borderLeft"><i class="far fa-edit" (click)="editGst(item)"></i></td>
        </tr>
      </tbody>
    </table>
    <div class="nodata" *ngIf="!featureLength">
      <div class="imageNO">
        <!-- <img src="../../../assets/images/binders.png"> -->
        <p>No Data Found</p>
      </div>
    </div>
    <div class="nodata" *ngIf="setveractive">
      <div class="imageNO">
        <!-- <img src="../../../assets/images/binders.png"> -->
        <p>Server Error</p>
      </div>
    </div>
  </div>
  
  <div *ngIf="gstList" style="width: 100%; text-align: center;margin-top: 10px;">
    <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true" autoHide="true">
    </pagination-controls>
  </div>
  