$base-color: #01579b;
$btn-background: #fff;
$btn-border: #ccc;
$btn-text-color: #333;
$btn-arrow: #333;


$token-background: $base-color;
$token-text-color: #fff;
$token-remove-color: #fff;

$box-shadow-color: #959595;
$list-hover-background: #f5f5f5;
$label-color: #000;
$selected-background: #e9f4ff;

.c-btn {
  background: $btn-background;
  border: 1px solid $btn-border;
  color: $btn-text-color;
}

.selected-list {
  .c-list {
    .c-token {
      background: $token-background;

      .c-label {
        color: $token-text-color;
      }

      .c-remove {
        svg {
          fill: $token-remove-color;
        }
      }

    }
  }

  .c-angle-down,
  .c-angle-up {
    svg {
      fill: $btn-arrow;
    }

    opacity: 0;
  }
}

.cuppa-dropdown {
  .dropdown-list {
    ul {
      li:hover {
        background: $list-hover-background;
      }
    }

    display: contents !important;
  }
}

.arrow-up,
.arrow-down {
  border-bottom: 15px solid #fff;
  display: none;
}

.arrow-2 {
  border-bottom: 15px solid #ccc;
}

.list-area {
  border: 1px solid #ccc;
  background: #fff;
  box-shadow: 0px 1px 5px $box-shadow-color;
}

.select-all {
  border-bottom: 1px solid #ccc;
}

.list-filter {
  border-bottom: 1px solid #ccc;

  .c-search {
    svg {
      fill: #888;
    }
  }

  .c-clear {
    svg {
      fill: #888;
    }
  }
}

.pure-checkbox {

  input[type="checkbox"]:focus+label:before,
  input[type="checkbox"]:hover+label:before {
    border-color: $base-color;
    background-color: #f2f2f2;
  }

  input[type="checkbox"]+label {
    color: $label-color;
  }

  input[type="checkbox"]+label:before {
    color: $base-color;
    border: 1px solid $base-color;
  }

  input[type="checkbox"]+label:after {
    background-color: $base-color;
  }

  input[type="checkbox"]:disabled+label:before {
    border-color: #cccccc;
  }

  input[type="checkbox"]:disabled:checked+label:before {
    background-color: #cccccc;
  }

  input[type="checkbox"]+label:after {
    border-color: #ffffff;
  }

  input[type="radio"]:checked+label:before {
    background-color: white;
  }

  input[type="checkbox"]:checked+label:before {
    background: $base-color;
  }
}

.single-select-mode .pure-checkbox {

  input[type="checkbox"]:focus+label:before,
  input[type="checkbox"]:hover+label:before {
    border-color: $base-color;
    background-color: #f2f2f2;
  }

  input[type="checkbox"]+label {
    color: $label-color;
  }

  input[type="checkbox"]+label:before {
    color: transparent !important;
    border: 0px solid $base-color;
  }

  input[type="checkbox"]+label:after {
    background-color: transparent !important;
  }

  input[type="checkbox"]:disabled+label:before {
    border-color: #cccccc;
  }

  input[type="checkbox"]:disabled:checked+label:before {
    background-color: #cccccc;
  }

  input[type="checkbox"]+label:after {
    border-color: $base-color;
  }

  input[type="radio"]:checked+label:before {
    background-color: white;
  }

  input[type="checkbox"]:checked+label:before {
    background: none !important;
  }
}

.selected-item {
  background: $selected-background;
}

.btn-iceblue {
  background: $base-color;
  border: 1px solid $btn-border;
  color: #fff;
}

.nb-theme-corporate {
  nb-tabset {
    .tabset {
      padding: 0;
      background: transparent;
    }
  }

}

.select2 {
  .select2 {
    .selection {
      .select2-selection {
        border-color: #ced4da;
        min-height: 44px;
        border-radius: 0.25rem;

        // padding: 0;
        ul {
          padding: 0;

          li {
            border-radius: 30px;
            padding: 3px 8px;
            padding-right: 20px;
            color: #FFF;
            background: #01579b;
            border-color: #01579b;
            font-size: 13px;
            margin-left: 8px;
            margin-top: 8px;

            button {
              left: auto;
              right: 4px;
              border-right: none;
              top: 4px;
              color: #FFF;

              &:hover {
                background-color: transparent;
              }
            }
          }
        }

        .select2-search {
          textarea {
            margin-top: 13px;
            margin-left: 10px;

            &::placeholder {
              color: #89939e;
              font-size: 14px;
            }

            &::placeholder-shown {
              color: red;
            }
          }
        }
      }
    }
  }

  &.ng-invalid {
    .select2 {
      .selection {
        .select2-selection {
          .select2-search {
            textarea {
              margin-top: 13px;
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
}

.select2-container {
  .select2-dropdown {
    .select2-results {
      &__options {
        padding-left: 0;

        li {
          font-family: Roboto;
          font-size: 13px;
        }
      }
    }
  }
}

.cursor-p {
  cursor: pointer;
}

.ck {
  .ck-editor__main {
    .ck-editor__editable {
      min-height: 100px;
      max-height: 100px;
    }
  }
}

.cke_dialog_container {
  >table {
    .cke_dialog_body {
      .cke_dialog_tabs {
        .cke_dialog_tab[title="Link"] {
          display: none;
        }
      }

      // .cke_dialog_contents {
      //   .cke_dialog_contents_body {
      //     >div {
      //       >table {
      //         >tbody {
      //           >tr {
      //             &:last-child {
      //               display: none;
      //             }
      //           }
      //         }
      //       }
      //     }
      //   }
      // }
    }
  }
}
