
 @mixin ngx-pace-theme() {
  
  // after selected
    ::-webkit-scrollbar {
      width: 8px;
      height: 8px!important;
  }
  ::-webkit-scrollbar-thumb {
      background: #01579b!important; 
      border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  .pace .pace-progress {
    background: nb-theme(color-fg-highlight);
  }

  .pace .pace-progress-inner {
    box-shadow: 0 0 10px nb-theme(color-fg-highlight), 0 0 5px nb-theme(color-fg-highlight);
  }

  .pace .pace-activity {
    display: none;
    // border-top-color: nb-theme(color-fg-highlight);
    // border-left-color: nb-theme(color-fg-highlight);
  }
  .selectSup{
    width: 100%;
  }
  .table th, .table td{
    vertical-align: middle!important;
  }
  nb-user .user-name{
      font-family: sans-serif!important;
      padding-right: 12px!important;
      cursor: pointer;
      text-align: initial;
  }
  nb-user .user-title{
    text-align: initial;
}
  nb-user .user-name::after{
    content: ' \25BE';
    font-size: 20px;
    position: absolute;
    top: 5px;
  }
  ngx-avatar{
    .avatar-container{
      margin: auto;
      margin-top: 10px;
    }
  }

  // nb-layout.window-mode .scrollable-container{
  //   height: initial;
  // }

  nb-context-menu{
    box-shadow: 2px 2px 15px 0px #dfe3eb;
    border: 2px solid #01579b;
  }
  nb-context-menu .arrow{
    border-bottom: 11px solid #01579b;
  }
  nb-menu ul.menu-items .menu-item a .menu-title {
    padding: 0.20rem 1.5rem!important;
    font-size: 15px;
    flex: 0;
    font-family: sans-serif;
  }
  .user-title{
    font-size: 0.9rem !important;
    color: #8f8f8f;
  }
  nb-menu .menu-item .chevron {
    position: absolute;
    right: 10px;  
  }
  nb-list-item {
    position: relative;
    cursor: pointer;
  }
  nb-user .user-name::after {
    content: unset;
  }

 nb-accordion nb-accordion-item-body .item-body {
   overflow: hidden;
 }

  nb-chat .header {
    text-align: initial;
    font-size: 1.125rem;
    font-weight: 500;
    padding: 1.30rem;
  }
  nb-sidebar.menu-sidebar{
    z-index: 5;
  }
   nb-menu .menu-item {
    background-color:nb-theme(sidebar-bg);
    color: #0d2a5c;
    cursor: pointer;
  }
  nb-menu .menu-item .menu-icon{
    color: #0d2a5c;
  }
  nb-menu .menu-item a.active::before{
    background: #0d2a5c!important ;
  }
  nb-layout-column{
    // min-width: auto!important;
    // min-width: 1400px!important;
  }
  nb-layout .layout nb-layout-header nav{
    background: #01579b;
  }
  nb-layout .layout{
    color: #89939e;
  }
  pagination-controls /deep/ .ngx-pagination .current {
    background: #01579b!important;
    color: #ffffff!important;
    border-radius: 2px!important;
  }
  pagination-controls /deep/ .ngx-pagination a, .ngx-pagination button{
    color: #01579b;
  }
  .modal-header{
    // display: none !important;
    button{
      z-index: 1;
    }
  }
  .inscrp{
    .dropdown-list{
      top: -230px;
      // overflow: hidden;
      // max-height: 225px;
      ul{
        max-height: 146px !important;
      }
    }
  }
  .cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 0.81) !important;
}
  modal-dialog{
    .fade.show {
      background: #000000b8 !important;
    }
    max-width: none !important;
  }
  .disabletextdd{
    .multiselect-dropdown .dropdown-btn {
      background-color: #0b0b0b0d !important;
    }
    .dropdown-list {
      background: #e7ebee !important;
    }
    .dropdown-list .filter-textbox input {
      background: #e7ebee;
    }
  }
  .multiselect-dropdown .dropdown-btn{
    background-color:  rgb(255, 254, 254)!important;
    // box-shadow: 0 2px 12px 0 #dfe3eb;
    border: 1px solid #dce1e8 !important;  
    padding: 0.75rem !important; 
    // padding: 8.5px 12px !important;
    .selected-item{
      border: 1px solid #01579b !important;
      background: #01579b !important;
      margin-bottom: 2px;
    } 
  }
  .multiselect-dropdown .dropdown-btn .dropdown-down{
    border-top: 7px solid #b1b1b1!important;
    border-left: 6px solid #ff000000!important;
    border-right: 6px solid #1aff1600!important;
  }
  .dropdown-list{
    padding-top: 0px!important;
    margin-top: 4px!important;
    margin-bottom: 10px!important;
  }
  .multiselect-item-checkbox input[type=checkbox]:checked + div:before {
    background: #01579b !important;
    color: #01579b !important;
    border: 2px solid #01579b !important;
  }
  .nb-theme-corporate nb-accordion nb-accordion-item-header {
    padding: 0.5rem;
  }
  .imageNO{
    transform: translate(-50%,-50%);
    width: 100%;
    left: 50%;
    top: 65%;
    text-align: center;
    position: relative;
  }
  .imageNO p{
    font-size: 23px;
    // font-family: cursive;
    font-weight: 700;
    color: #01579b;
  }
  .imageNO img{
    width: 15%;
  }
  nb-tabset{
    .tabset{
        position: sticky;
        // top: 64px;
        // width: 100%;
        background: white;
        z-index: 4;
        .tab a{
          span{
            font-family: sans-serif;
          }
        } 
    }
    nb-tab{
        padding-top: 21px;
    }
    .tabset{
      .tab a::before{
        background: #01579b;
        background-image: -webkit-gradient(linear, left top, right top, from(#73a1ff), to(#73a1ff));
        background-image: linear-gradient(to right, #01579b, #01579b);
        font-family: sans-serif;
    }
    }
}
nb-menu .menu-item a.active .menu-icon{
  font-size: 2rem;
  width: 2.5rem;
  color: #01579b;
}
nb-menu .menu-item .menu-icon{
  font-size: 1.5rem;
  width: 2.5rem;
  color: #01579b;
}
ui-switch{
  .switch-medium{
      float: right;
  }
  .checked{
      background: #98ccf6 !important;
      border-color: #98ccf6 !important;
  }
}
nb-menu .menu-item > .menu-items > .menu-item a{
  border-color: transparent!important; 
}
nb-menu .menu-item > .menu-items > .menu-item a:hover{
  background: transparent!important;
}
nb-menu .menu-item > .menu-items > .menu-item a.active{
  background-color: #cdd5dc0f!important;
  border-color: transparent; 
}
nb-menu .menu-item > .menu-items{
  background-color: #fcfbfb!important;
}
nb-menu .menu-item > .menu-items > .menu-item{
  background: #fcfbfb!important;  
}
.ion-chevron-left:before {
  transform: rotateZ(180deg) !important;
}

.chart-legend .legend-labels{
  // width: auto!important;
  padding-left: 0!important;
}
nb-chat.large-chat {
    height: 501px;
}

// table 
.TableDiv{
  background: #ffffff;
  box-shadow: 0px 0px 4px 1px #99cbf361;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px; 
  margin-top: 25px;
}
.TableDiv table>thead{
  background: #99cbf361;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.TableDiv table>thead>tr>th {
  color: #01579b;
  cursor: pointer;
}
.Textbox input{
  height: 26px; 
  padding: 6px 6px;
  border-radius: 5px !important;
}
::-webkit-input-placeholder{
 font-size: 10px;
}
.TopButton {
  span {
    position: absolute;
    left: 12px;
    top: 14px;
    font-size: 20px;
    color: #01579b;
  }
}
// add-edit
.mainDiv {
  border: 1px solid #01579b !important;
}

@media (min-width: 576px) {
  .modal-dialog {
    max-width: 800px!important;
    margin: 1.75rem auto;
  }
}

  @media screen and (max-width: 576px) {
    nb-tabset{
      .tabset{
        z-index: 4!important;
      }
    }
    nb-layout-header nav{
        height: 3.75rem!important;
    }
    nb-sidebar.fixed {
      top: 3.75rem!important;
    }
    nb-layout-header.fixed ~ .layout-container{
      padding-top: 3.75rem;
    }
    nb-tabset{
      .tabset{
        position: fixed;
        top: 50px;
        // width: 100%;
        left: 6%;
        // background: white;
        z-index: 2;
      }
    }
    .modal-dialog {
      max-width: none !important;
      margin: 1.75rem auto;
  }
  }
  
}
