<div class="header-container"
     [class.left]="position === 'normal'"
     [class.right]="position === 'inverse'">
  <div class="logo-containter">
    <a (click)="toggleSidebar()" href="#" class="navigation"><i class="nb-menu"></i></a>
    <div class="logo" (click)="goToHome()">
      <div class="form-row">
        <div class="form-group col-md-2 nomar rimage">
            <img src="../../../../assets/images/regsus.jpg" width="27" height="31" alt="" class="hoimg01a">
        </div>
        <div class="form-group col-md-10 nomar rname" style="padding-left: 12px;">
          REGSUS
          </div>
        </div>
    </div>
  </div>
  <ngx-theme-switcher></ngx-theme-switcher>
 
</div>

<div class="header-container">
  <ngx-layout-direction-switcher></ngx-layout-direction-switcher>
  <!-- <i class="far fa-bell notificationBell" (click)="showNotifications()" >
    <div class="badge primary" >
      <span>{{notifBadge}}</span>
    </div>
  </i> -->
  <nb-actions
    size="medium"
    [class.left]="position === 'inverse'">
    <!-- [class.right]="position === 'normal'" -->


    <nb-action *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu" [name]="user?.name">&#9660;</nb-user>
      <!-- <nb-user [nbContextMenu]="userMenu" [name]="user?.name" [picture]="user?.picture">&#9660;</nb-user> -->
      <!-- <span class="arrow"><i class="fas fa-sort-down"></i></span> -->
    </nb-action>
    <!-- <nb-action class="control-item" icon="nb-notifications" ></nb-action> -->

    
    <!-- <nb-action class="control-item" icon="nb-email"></nb-action>      
    <nb-action class="control-item">
      <nb-search type="rotate-layout" (click)="startSearch()"></nb-search>
    </nb-action> -->
  </nb-actions>

   <div class="changePass" (click)="goChangePassword()" >
    
    <i class="fa fa-key" aria-hidden="true"></i>
    Change password

  </div>
</div>
