<form [formGroup]="broadcastForm" class="addDiv">
  <!-- (ngSubmit)="onSubmit()" -->
  <div class="TopButton">
    <div class="btninnerDiv">
      <button type="submit" class="btn AddBtn subBtn" (click)="onSubmit()">Submit</button>
      <button class="btn AddBtn" (click)="back()">Back</button>
    </div>
  </div>
  <div class="mainDiv" style="margin-top:50px">
    <div class="text">
      <h1>Broadcast Management</h1>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Title <span class="mandatory">*</span></label>
        <input type="text" class="form-control" placeholder="Max 100 Characters" formControlName="title"
          [ngClass]="{ 'is-invalid': submitted && f.title.errors }" maxlength="100">
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Type <span class="mandatory">*</span></label>
        <select class="custom-select custom-select selectClass" formControlName="type" (change)="onTypeChange($event)">
          <option value="" selected>Select Type</option>
          <option [value]="item?.id" *ngFor="let item of typeList">{{item?.name}}</option>
        </select>
        <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.type.errors.required">Type is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Publish Date <span class="mandatory">*</span></label>
        <input (ngModelChange)="setExpirtyStartDate($event)" class="form-control" [owlDateTimeTrigger]="dt1"
          [owlDateTime]="dt1" placeholder="Publish Date" formControlName="publishDate"
          [ngClass]="{ 'is-invalid': submitted && f.publishDate.errors }" [min]="minPublishDate">
        <owl-date-time [pickerMode]="'dialog'" [pickerType]="'both'" #dt1></owl-date-time>
        <div *ngIf="submitted && f.publishDate.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.publishDate.errors.required">Publish Date is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Expiry Date <span class="mandatory">*</span></label>
        <input class="form-control" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" placeholder="Expiry Date"
          formControlName="expiryDate" [ngClass]="{ 'is-invalid': submitted && f.expiryDate.errors }"
          [min]="minExpiryDate">
        <owl-date-time [pickerMode]="'dialog'" [pickerType]="'both'" #dt2></owl-date-time>
        <div *ngIf="submitted && f.expiryDate.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.expiryDate.errors.required">Expiry Date is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Recipent <span class="mandatory">*</span></label>
        <select class="custom-select custom-select selectClass" formControlName="recipent">
          <option value="" selected>Select Recipent</option>
          <option [value]="item?.id" *ngFor="let item of recipentList">{{item?.name}}</option>
        </select>
        <div *ngIf="submitted && f.recipent.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.recipent.errors.required">Recipent is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Status <span class="mandatory">*</span></label>
        <div class="clear"></div>
        <div>
          <label class="switch">
            <input type="checkbox" formControlName="status" (change)="statusChange($event)">
            <span class="slider round"></span>
          </label>
        </div>

        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.status.errors.required">Recipent is required</div>
        </div>
      </div>
    </div>
  </div>
</form>
