<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
  <div class="TopButton">
    <div class="btninnerDiv">
      <button type="submit" class="btn AddBtn subBtn">Submit</button>
      <button class="btn AddBtn" (click)="back()">Back</button>
    </div>
  </div>
  <div class="mainDiv" style="margin-top:50px">
    <div class="text">
      <h1 *ngIf="this.rateData.length == 0">Add Rate Card</h1>
      <h1 *ngIf="this.rateData.length > 0">Edit Rate Card</h1>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
          <label>Feature Name <span class="mandatory">*</span></label>
          <select class="custom-select custom-select selectClass" formControlName="fname">
            <option *ngFor="let content of featuresList" value="{{content.featureId}}">{{content.featurename}}</option>
          </select>
          <!-- <input (blur)="Validation($event)" type="text" class="form-control" placeholder="Feature Name" formControlName="fname"
            [ngClass]="{ 'is-invalid': submitted && f.fname.errors, 'disabletext': isedit }" > -->
          <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
            <div *ngIf="f.fname.errors.required">Feature name is required</div>
          </div>
      </div>
      <div class="form-group col-md-6">
          <label>Base Rate(₹) <span class="mandatory">*</span></label>
          <input (blur)="Validation($event)" type="text" class="form-control" placeholder="Base Rate" formControlName="frate"
            [ngClass]="{ 'is-invalid': submitted && f.frate.errors }" maxlength="11">
          <div *ngIf="submitted && f.frate.errors" class="invalid-feedback">
            <div *ngIf="f.frate.errors.required">Base rate is required</div>
            <div *ngIf="f.frate.errors.pattern">Base rate is invalid</div>
          </div>
      </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Status <span class="mandatory">*</span></label>
            <select class="custom-select custom-select selectClass" formControlName="status">
              <option value="1">Active</option>
              <option value="2">Inactive</option>
            </select>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                <div class="statusmargin" *ngIf="f.status.errors.required">Status is required</div>
            </div>
        </div>
    </div>
  </div>
</form>

