<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
  <div class="TopButton">
    <div class="btninnerDiv">
      <button type="submit" class="btn AddBtn subBtn">Submit</button>
      <button class="btn AddBtn" (click)="back()">Back</button>
    </div>
  </div>
  <div class="mainDiv" style="margin-top:50px">
    <div class="text">
      <h1 *ngIf="editUserData.length == 0">Add User</h1>
      <h1 *ngIf="editUserData.length >
         0">Edit User</h1>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Name <span class="mandatory">*</span></label>
        <input (blur)="checkVal($event)" type="text" class="form-control" placeholder="Name" formControlName="name"
          [ngClass]="{ 'is-invalid': submitted && f.name.errors }" maxlength="100">
        <label class="warning">Maximum length of characters is 100</label>
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Name is required</div>
          <!-- <div *ngIf="f.name.errors.pattern">Numbers and Special characters are not allowed</div> -->
          <!-- <span id="name">Please enter characters less than 100</span> -->
          <!-- <div *ngIf="f.name.errors.maxLength">Please enter characters less than 100</div> -->
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Email <span class="mandatory">*</span></label>
        <input (blur)="checkVal($event)" type="text" class="form-control" placeholder="Email" formControlName="email"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" maxlength="45">
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email is required</div>
          <div *ngIf="f.email.errors.pattern">Email is invalid</div>
        </div>

      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Mobile No. <span class="mandatory">*</span></label>
        <input (blur)="checkVal($event)" type="number" class="form-control" placeholder="Mobile No."
          formControlName="mob" [ngClass]="{ 'is-invalid': submitted && f.mob.errors , 'disabletext' : userFlag}"
          max="10">
        <div *ngIf="submitted && f.mob.errors" class="invalid-feedback">
          <div *ngIf="f.mob.errors.required">Mobile No. is required</div>
          <div *ngIf="f.mob.errors.pattern">Please enter valid mobile no.</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Company <span *ngIf="editUserData.userType == 1" class="mandatory">*</span></label>
        <input (blur)="checkVal($event)" type="text" class="form-control" placeholder="Company"
          formControlName="company" [ngClass]="{ 'is-invalid': submitted && f.company.errors, 'disabletext': userFlag }"
          maxlength="200">
        <!-- <select *ngIf="userStatus == 1" (change)="changeDetails($event)" class="custom-select custom-select selectClass" formControlName="company">
            <option *ngFor="let content of companyList" value="{{content.corpId}}">{{content.corpname}}</option>
        </select> -->
        <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
          <div *ngIf="f.company.errors.required">Company is required</div>
          <!-- <div *ngIf="f.company.errors.pattern">Special characters are not allowed</div> -->
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Country <span class="mandatory">*</span></label>
        <select class="custom-select custom-select selectClass" formControlName="country"
          (change)="onCountryChange($event)" [ngClass]="{ 'is-invalid': submitted && f.address.errors, 'disabletext':
          userFlag }">
          <option value="" selected>Select Country</option>
          <option [value]="item?.countryId" *ngFor="let item of countryList">{{item?.country}}</option>
        </select>
      </div>

      <div class="form-group col-md-6">
        <label>Currency <span class="mandatory">*</span></label>
        <select class="custom-select custom-select selectClass" formControlName="currency" disabled>
          <option value="" selected>Select Currency</option>
          <option [value]="item?.currencyId" *ngFor="let item of currencyList">{{item?.currencyName}}</option>
        </select>
      </div>
    </div>
    <!-- <div class="form-row">
      <div class="form-group col-md-6">
        <label>Registered Date </label>
        <input disabled type="text" class="form-control disabletext" placeholder="Registred Date"
          formControlName="regDate" [ngClass]="{ 'is-invalid': submitted && f.regDate.errors }">
        <div *ngIf="submitted && f.regDate.errors" class="invalid-feedback">
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Subscription </label>
        <select  [ngClass]="{'disabletext': editUserData.userType == 0}" class="custom-select custom-select selectClass" formControlName="subsc">
          <option *ngFor="let content of dropdownList" value="{{content.subscId}}">{{content.subsc}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Subscription Start Date </label>
        <input disabled type="text" class="form-control disabletext" placeholder="Subscription Start Date"
        formControlName="subscstart">
      </div>
      <div class="form-group col-md-6">
        <label>Subscription End Date </label>
        <input disabled type="text" class="form-control disabletext" placeholder="Subscription End Date"
        formControlName="subscend">
      </div>
    </div> -->
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Designation <span *ngIf="editUserData.userType == 1" class="mandatory">*</span></label>
        <input (blur)="checkVal($event)" type="text" class="form-control" placeholder="Designation"
          formControlName="designation" [ngClass]="{ 'is-invalid': submitted && f.designation.errors }" maxlength="45">
        <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
          <div *ngIf="f.designation.errors.required">Designation is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>GST No. <span *ngIf="editUserData.userType == 1" class="mandatory">*</span></label>
        <input (blur)="checkVal($event)" type="text" class="form-control" placeholder="GST No." formControlName="gst"
          [ngClass]="{ 'is-invalid': submitted && f.gst.errors, 'disabletext':userFlag }" maxlength="15">
        <div *ngIf="submitted && f.gst.errors" class="invalid-feedback">
          <div *ngIf="f.gst.errors.required">GST is required</div>
          <!-- <div *ngIf="f.gst.errors.minlength">GST is invalid</div> -->
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Address <span *ngIf="editUserData.userType == 1" class="mandatory">*</span></label>
        <textarea (blur)="checkVal($event)" class="form-control textAr" placeholder="Address" rows="6"
          formControlName="address" [ngClass]="{ 'is-invalid': submitted && f.address.errors, 'disabletext': userFlag }"
          maxlength="2000"></textarea>
        <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
          <div *ngIf="f.address.errors.required">Address is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Status <span class="mandatory">*</span></label>
        <select class="custom-select custom-select selectClass" formControlName="selectTag"
          [ngClass]="{ 'disabletext': !userFlag }">
          <option value="1">Active</option>
          <option value="2">Inactive</option>
        </select>
        <div *ngIf="submitted && f.selectTag.errors" class="invalid-feedback">
          <div *ngIf="f.selectTag.errors.required">Status is required</div>
        </div>
      </div>

      <!-- <div class="form-group col-md-6">
        <label>Log In Status <span class="mandatory">*</span></label>
        <select class="custom-select custom-select selectClass" formControlName="isLogin"
        >
          <option value="1">Log In</option>
          <option value="0">Log Out</option>
        </select>
        <div *ngIf="submitted && f.isLogin.errors" class="invalid-feedback">
            <div *ngIf="f.isLogin.errors.required">Log In is required</div>
          </div>
      </div> -->
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Post Email</label>
        <select class="custom-select custom-select selectClass" formControlName="isemailone">
          <option value="1">Yes</option>
          <option value="2">No</option>
        </select>
        <div *ngIf="submitted && f.isemailone.errors" class="invalid-feedback">
          <div *ngIf="f.isemailone.errors.required">Post Email is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>All Email</label>
        <select class="custom-select custom-select selectClass" formControlName="isemailall">
          <option value="1">Yes</option>
          <option value="2">No</option>
        </select>
        <div *ngIf="submitted && f.isemailall.errors" class="invalid-feedback">
          <div *ngIf="f.isemailall.errors.required">All Email is required</div>
        </div>
      </div>

    </div>
  </div>


</form>

<form [formGroup]="NumberChangeForm" *ngIf="showSecondForm">
  <div class="mainDiv" style="margin-top:50px">
    <div class="text">
      <h1>Edit Phone No.</h1>

    </div>


    <div class="form-row ">
      <div class="form-group col-md-6">
        <label>Mobile No. <span class="mandatory">*</span></label>
        <input (blur)="checkVal($event)" type="number" class="form-control" placeholder="Mobile No."
          formControlName="mobChn" [ngClass]="{ 'is-invalid': submitted && s.mobChn.errors}" max="10">
        <div *ngIf="submitted && s.mobChn.errors" class="invalid-feedback">
          <div *ngIf="s.mobChn.errors.required">Mobile No. is required</div>
          <div *ngIf="s.mobChn.errors.pattern">Please enter valid mobile no.</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <button *ngIf="showChangeBtn" (click)="onChangeSubmit()" class="formBtn">Change No.</button>
        <button *ngIf="!showChangeBtn" class="formBtn" (click)="checkAvail()">Check Availablity</button>

      </div>
    </div>


  </div>
</form>

<form [formGroup]="corporateForm" *ngIf="showSecondForm && isCorporate">
  <div class="mainDiv" style="margin-top:50px">
    <div class="text">
      <h1>Move to Corporate</h1>
    </div>
    <div class="form-row ">
      <div class="form-group col-md-6">
        <label>Select Corporate <span class="mandatory">*</span></label>
        <select class="custom-select custom-select selectClass" formControlName="corporate"
          (change)="corporateChange($event)">
          <option value="">Select Corporate</option>
          <option *ngFor="let item of corporateList" [value]="item?.corpId">{{item?.corpname}}</option>
        </select>
      </div>
      <div class="form-group col-md-6">
        <button (click)="changeCorporate()" class="formBtn">Submit</button>
      </div>
    </div>


  </div>
</form>
