nb-card {
  padding: 30px;
  position: relative;
  width: 600px;
  height: 500px;

  button {
    border: none;
    background: transparent;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10px;
    top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }

  img {
    max-height: 100%;
    object-fit: contain;
  }
}
