<div class="TopButton">
  <span>Packages : {{(packageList | filterBy: search).length }}</span>
  <div class="btninnerDiv">
    <button class="AddBtn" (click)="AddSub()">ADD</button>
    <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
  </div>
</div>

<div class="TableDiv">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" (click)="sort('pkgName')" (click)="invert()">Package Name<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'pkgName' && !isDesc) ,'fa-sort-desc': (column == 'pkgName' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th scope="col" (click)="sort('packType')" (click)="invert()">Package Type<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'packType' && !isDesc) ,'fa-sort-desc': (column == 'packType' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th scope="col" (click)="sort('price')">Price (₹)<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'price' && !isDesc),'fa-sort-desc': (column == 'price' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th scope="col" (click)="sort('countryname')">Country<i class="fa" [ngClass]="{'fa-sort-asc': (column == 'countryname' && !isDesc),'fa-sort-desc': (column == 'countryname' &&
            isDesc)
            }" aria-hidden="true"></i>
        </th>
        <th scope="col" (click)="sort('duration')">Duration (Months)<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'duration' && !isDesc),'fa-sort-desc': (column == 'duration' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th scope="col" (click)="sort('discount')">Discount (₹)<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'discount' && !isDesc),'fa-sort-desc': (column == 'discount' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th scope="col" (click)="sort('isActive')">Status<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'isActive' && !isDesc),'fa-sort-desc': (column == 'isActive' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th scope="col" (click)="sort('isSpecial')">Special<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'isSpecial' && !isDesc),'fa-sort-desc': (column == 'isSpecial' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Package Name" [(ngModel)]="search.pkgName"
              type="search" aria-describedby="basic-addon1" maxlength="50">
          </div>
        </th>
        <!-- <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Package Type" [(ngModel)]="search.packTypeName" type="search"
              aria-describedby="basic-addon1" maxlength="10">
          </div>
        </th> -->
        <th>
          <div class="Textbox">
            <select class="selectSup" aria-placeholder="Package Type" (change)="myFunction1($event)"
              [(ngModel)]="search.packType">
              <option value="" selected>Select</option>
              <option value="D">Default</option>
              <option value="N">Normal</option>
            </select>
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Price" myNumberOnly [(ngModel)]="search.price"
              type="search" aria-describedby="basic-addon1" maxlength="11">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Country" [(ngModel)]="search.countryname"
              type="search" aria-describedby="basic-addon1" maxlength="11">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Duration" myNumberOnly
              [(ngModel)]="search.duration" type="search" aria-describedby="basic-addon1" maxlength="11">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Discount" myNumberOnly
              [(ngModel)]="search.discount" type="search" aria-describedby="basic-addon1" maxlength="3">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
              [(ngModel)]="search.isActive">
              <option value="" selected>Select</option>
              <option value="1">Active</option>
              <option value="2">Inactive</option>
            </select>
          </div>
        </th>
        <th>
          <div class="Textbox">
            <select class="selectSup" aria-placeholder="Status" (change)="myFunction2($event)"
              [(ngModel)]="search.isSpecial">
              <option value="" selected>Select</option>
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
          </div>
        </th>
        <th class="clear"><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
      </tr>
      <tr class="userList"
        *ngFor="let item of packageList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
        <td>{{ item.pkgName }}</td>
        <!-- <td>{{ item.packTypeName }}</td> -->
        <td>
          <p *ngIf="item.packType == 'D'">Default</p>
          <p no-margin *ngIf="item.packType == 'N'">Normal</p>
        </td>
        <td class="phoneClass">{{ item.price }}</td>
        <td>{{ item.countryname }}</td>
        <!-- <td>{{ item.subsc }}</td> -->
        <!-- <td class="featureList"><span *ngFor="let content of item.features;let i=index">{{content.name}}<span *ngIf="i < item.features.length-1">, </span></span></td> -->
        <td class="phoneClass">{{ item.duration }}</td>
        <td class="phoneClass">{{ item.discount }}</td>
        <td class="text-center">
          <p *ngIf="item.isActive == 1">Active</p>
          <p no-margin *ngIf="item.isActive == 2">Inactive</p>
        </td>
        <td class="text-center">
          {{ item.isSpecialName }}
        </td>
        <td class="edit borderLeft"><i class="far fa-edit" (click)="editSub(item)"></i></td>
      </tr>
    </tbody>
  </table>
  <div class="nodata" *ngIf="packageList.length == 0">
    <div class="imageNO">
      <p>No Data Found</p>
    </div>
  </div>
</div>

<div *ngIf="packageList" style="width: 100%; text-align: center;margin-top: 10px;">
  <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true" autoHide="false">
  </pagination-controls>
</div>
