<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
  <div class="TopButton">
    <div class="btninnerDiv">
      <button [disabled]="disableAll" type="submit" class="btn AddBtn subBtn">Submit</button>
      <button class="btn AddBtn" (click)="back()">Back</button>
    </div>
  </div>
  <div class="mainDiv" style="margin-top:50px">
    <div class="text">
      <h1 *ngIf="pollsData.length == 0">Add Poll</h1>
      <h1 *ngIf="pollsData.length > 0">Edit Poll</h1>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Poll Name/Title <span class="mandatory">*</span></label>
        <input [disabled]="disableAll" (blur)="checkVal($event)" type="text" class="form-control" placeholder="Poll Name" formControlName="pname"
          [ngClass]="{ 'is-invalid': submitted && f.pname.errors , 'disableClass': disableAll }" maxlength="2000">
        <!-- <label class="warning">Maximum length of characters is 100</label> -->
        <div *ngIf="submitted && f.pname.errors" class="invalid-feedback">
          <div *ngIf="f.pname.errors.required">Poll Name is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
          <label>Interests <span class="mandatory">*</span></label>
          <ng-multiselect-dropdown style="background:white;" class="customMulti" [ngClass]="{ 'disabletextdd': disableAll }"
            [placeholder]="'Select Interests'"
            [data]="dropdownList"
            [settings]="dropdownSettings"
            [(ngModel)]="selectedItems"
            (onSelect)="onItemSelect($event)"
            (onDeSelect)="onItemDeSelect($event)"
            (onSelectAll)="onSelectAll($event)"
            [ngModelOptions]="{standalone: true}"
            [disabled]="disableAll"
          >
          </ng-multiselect-dropdown>
          <div *ngIf="selectedItems.length == 0" class="invalid-feedback">
            <div class="statusmargin">{{isCheck1}}</div>
          </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-12">
        <label>Poll Description <span class="mandatory">*</span></label>
            <textarea (blur)="checkVal($event)" class="form-control textAr"  placeholder="Poll Description" rows="6" formControlName="descri" 
            [ngClass]="{ 'is-invalid': submitted && f.descri.errors , 'disableClass': disableAll }" maxlength="10000"></textarea>
            <div *ngIf="submitted && f.descri.errors" class="invalid-feedback">
                <div *ngIf="f.descri.errors.required">Description is required</div>
            </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Start Date <span class="mandatory">*</span></label>
          <input (blur)="checkVal($event)" class="form-control" [min]="minDate" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" 
          placeholder="Start Date" formControlName="startDt" 
          [ngClass]="{ 'is-invalid': submitted && f.startDt.errors , 'disableClass': disableAll }">
          <owl-date-time [pickerMode]="'dialog'" [pickerType]="'both'" #dt1></owl-date-time>
          <div *ngIf="submitted && f.startDt.errors" class="invalid-feedback">
              <div *ngIf="f.startDt.errors.required">Start Date is required</div>
          </div>
      </div>
      <div class="form-group col-md-6">
        <label>End Date <span class="mandatory">*</span></label>
          <input (blur)="checkVal($event)" class="form-control" [min]="minDate" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" 
          placeholder="End Date" formControlName="endDt" 
          [ngClass]="{ 'is-invalid': submitted && f.endDt.errors , 'disableClass': disableAll }">
          <owl-date-time [pickerMode]="'dialog'" [pickerType]="'both'" #dt2></owl-date-time>
          <div *ngIf="submitted && f.endDt.errors" class="invalid-feedback">
              <div *ngIf="f.endDt.errors.required">End Date is required</div>
          </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6 addoption">
        <label>Options <span class="mandatory">*</span></label>
        <div formArrayName="options">
          <div *ngFor="let item of Qoptions.controls; let pointIndex=index" [formGroupName]="pointIndex">
            <div class="innerpotion">
                <input [disabled]="disableAll" type="text" (blur)="checkVal($event)" [ngClass]="{ 'setTop': pointIndex > 0 , 'disableClass': disableAll || disableOption }" class="form-control" placeholder="Add option" formControlName="element" required maxlength="200">
                <input [disabled]="disableAll" type="text" class="form-control hidden" placeholder="ID" formControlName="cid">
                <!-- <span (click)="addoption()" class="plsuoption"><i class="fa fa-plus"  [ngClass]="{ 'rotateIcon': newoption }"></i> </span> -->
                <span *ngIf="pointIndex > 1 && !disableAll" (click)="deleteOption(pointIndex)" class="plsuoption"><i class="fas fa-times"></i> </span>
                <span class="invalid-feedback" *ngIf="item.invalid && isInvalid">Option is required</span>
            </div>
          </div>
          <button *ngIf="(!disableAll && !disableOption) && !stopAdd" [disabled]="disableAll || disableOption" type="button" (click)="addNewOption()" class="optionBtn"><i class="fa fa-plus"></i> Add New Option</button>
        </div>
      </div>
      <div class="form-group col-md-6">
          <label>Status <span class="mandatory">*</span></label>
          <select class="custom-select custom-select selectClass" formControlName="status">
            <option value="1">Active</option>
            <option value="2">Inactive</option>
          </select>
          <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div class="statusmargin" *ngIf="f.status.errors.required">Status is required</div>
          </div>
      </div>
    </div>
  </div>
</form>

