<div class="TopButton">
    <span>Separator Management : {{( tableList | filterBy: search).length}}</span>
    <div class="btninnerDiv">
        <button class="AddBtn" (click)="addEditSection('', 'add')">ADD NEW +</button>
        <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
    </div>
</div>
<div class="TableDiv">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="upperMiddle" scope="col" (click)="sort('name')" (click)="invert()">Position
                    <i class="fa" [ngClass]="{'fa-sort-asc': (column == 'name' && !isDesc) ,'fa-sort-desc': (column == 'name' && isDesc) }" aria-hidden="true"></i>
                </th>
                <th class="upperMiddle" scope="col" (click)="sort('description')" (click)="invert()">Html Editor
                    <i class="fa" [ngClass]="{'fa-sort-asc': (column == 'description' && !isDesc) ,'fa-sort-desc': (column == 'description' &&
            isDesc)
            }" aria-hidden="true"></i>
                </th>
                <th class="upperMiddle" scope="col" (click)="sort('ismandatory')" (click)="invert()">Content Link
                    <i class="fa" [ngClass]="{'fa-sort-asc': (column == 'ismandatory' && !isDesc) ,'fa-sort-desc': (column == 'ismandatory' &&
            isDesc)
            }" aria-hidden="true"></i>
                </th>

                <th class="upperMiddle" scope="col" (click)="sort('status')">Link Type<i class="fa" [ngClass]="{'fa-sort-asc': (column == 'status' && !isDesc),'fa-sort-desc': (column == 'status' && isDesc) }" aria-hidden="true"></i> </th>


                <th class="upperMiddle" scope="col" (click)="sort('isActive')">
                    Status
                    <i class="fa" [ngClass]="{
              'fa-sort-asc': column == 'isActive' && !isDesc,
              'fa-sort-desc': column == 'isActive' && isDesc
            }" aria-hidden="true"></i>
                </th>
                <th scope="col"></th>
                <!-- <th scope="col"></th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <div class="Textbox">
                        <input class="form-control with-primary-addon" placeholder="position" [(ngModel)]="search.position" type="search" aria-describedby="basic-addon1" maxlength="45">
                    </div>
                </th>
                <th>
                    <div class="Textbox">
                        <input class="form-control with-primary-addon" placeholder="Html editor" [(ngModel)]="search.html" type="search" aria-describedby="basic-addon1" maxlength="45">
                    </div>
                </th>
                <th>
                    <div class="Textbox">
                        <div class="Textbox">
                            <input class="form-control with-primary-addon" placeholder="contentlink" [(ngModel)]="search.link" type="search" aria-describedby="basic-addon1" maxlength="45">
                        </div>
                    </div>
                </th>
                <!-- <th> -->
                <!-- <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Category Icon" [(ngModel)]="search.catIcon"
                type="search" aria-describedby="basic-addon1">
            </div> -->
                <!-- </th> -->
                <!-- <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Created Date" [(ngModel)]="search.cDate"
                type="search" aria-describedby="basic-addon1">
            </div>
          </th> -->
                <th>
                    <div class="Textbox">
                        <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)" [(ngModel)]="search.linkType">
              <option value="" selected>Select</option>
              <option value="1">Internal</option>
              <option value="2">External</option>
            </select>
                    </div>
                </th>


                <th>
                    <div class="Textbox">
                        <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)" [(ngModel)]="search.isActive" style="width: 75px">
              <option value="" selected>Select</option>
              <option value="1">Active</option>
              <option value="2">Inactive</option>
            </select>
                    </div>
                </th>

                <th class="clear"><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
                <!-- <th></th> -->
            </tr>
            <tr class="userList" *ngFor="let item of tableList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p }; let
        i = index">
                <td>{{ item.position | truncate : 50 : ".." }}</td>
                <td>{{ item.html | truncate : 50 : ".." }}</td>
                <td class="text-center">
                    {{item.link}}
                    <!-- {{ item.ismandatory == 1 ? 'Yes': 'No'}} -->
                </td>
                <td class="text-center">
                    <p *ngIf="item.linkType == 1">Internal</p>
                    <p no-margin *ngIf="item.linkType == 2">External</p>
                </td>
                <td>
                    <p *ngIf="item.isActive == 1">Active</p>
                    <p no-margin *ngIf="item.isActive == 2">Inactive</p>
                </td>
                <td class="edit borderLeft"><i class="far fa-edit" (click)="addEditSection(item, 'edit')"></i></td>
            </tr>
        </tbody>
    </table>
    <div class="nodata" *ngIf="tableList.length == 0">
        <div class="imageNO">
            <p>No Data Found</p>
        </div>
    </div>
    <div class="nodata" *ngIf="setveractive">
        <div class="imageNO">
            <p>Server Error</p>
        </div>
    </div>
</div>
<div *ngIf="tableList" style="width: 100%; text-align: center;margin-top: 10px;">
    <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true">
    </pagination-controls>
</div>
