<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
  <div class="TopButton">
    <div class="btninnerDiv">
      <button type="submit" [ngClass]="{'colorBtn' : disablebtn}" class="btn AddBtn subBtn">Submit</button>
      <button class="btn AddBtn" (click)="back()">Back</button>
    </div>
  </div>
  <div class="mainDiv" style="margin-top:50px">
    <div class="text">
      <!-- <h1 *ngIf="this.dealsData.length == 0 && this.renewList.length == 0">Add Deal</h1> -->
      <h1 *ngIf="this.dealsData.length > 0">Edit Deal</h1>
      <h1 *ngIf="this.renewList.length > 0">Renew Deal</h1>

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Tracker Id <span class="mandatory">*</span></label>
        <input type="text" class="form-control disabletext" placeholder="Tracker Id" formControlName="trackId"
          [ngClass]="{ 'is-invalid': submitted && f.trackId.errors }">
        <div *ngIf="submitted && f.trackId.errors" class="invalid-feedback">
          <div *ngIf="f.trackId.errors.required">Tracker Id is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Package <span class="mandatory">*</span></label>
        <select (blur)="checkPackage($event)" class="custom-select custom-select selectClass" formControlName="pkg"
          [ngClass]="{ 'is-invalid': submitted && f.trackId.errors , 'disabletext': disablebtn }">
          <option *ngFor="let content of packageList" value="{{content.pkgId}}">{{content.pkgName}}</option>
        </select>
        <!-- <input (blur)="Validation($event)" type="text" class="form-control" placeholder="Feature Name" formControlName="fname"
            [ngClass]="{ 'is-invalid': submitted && f.fname.errors, 'disabletext': isedit }" > -->
        <div *ngIf="submitted && f.pkg.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.pkg.errors.required">Package is required</div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <!-- <div class="form-group col-md-6">
        <label>Features </label>
        <ng-multiselect-dropdown style="background:white;" class="customMulti disabletextdd"
              [placeholder]="'Features'"
              [data]="dropdownList"
              [settings]="dropdownSettings"
              [(ngModel)]="selectedItems"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onItemDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              [ngModelOptions]="{standalone: true}"
              [disabled] = "true"
              >
            </ng-multiselect-dropdown>
        <div class="form-control feaDIv" [ngClass]="{ 'addHeight': feaAdd }">
          <div class="features" *ngFor="let feat of selectedItems">
            <span>{{feat.featurename}}</span>
          </div>
        </div>
        <div *ngIf="selectedItems.length == 0" class="invalid-feedback">
          <div class="fetmargin statusmargin">{{isCheck}}</div>
        </div>
      </div> -->
      <div class="form-group col-md-6">
        <label>Duration <span class="mandatory">*</span></label>
        <input disabled (blur)="checkDuration($event)" type="text" class="form-control disabletext"
          placeholder="Duration" formControlName="duration" [(ngModel)]="duration"
          [ngClass]="{ 'is-invalid': submitted && f.duration.errors }">
        <!-- <select disabled (blur)="checkDuration($event)" class="custom-select custom-select selectClass disablebtn" formControlName="duration" [(ngModel)]="duration">
               
                <option *ngFor="let content of durationList" value="{{content.duration}}">{{content.duration}}</option>
              </select> -->
        <div *ngIf="submitted && f.duration.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.duration.errors.required">Duration is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Purchase Date <span class="mandatory">*</span></label>
        <input class="form-control disabletext" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" [(ngModel)]="prdt"
          placeholder="Purchase Date" formControlName="purDate"
          [ngClass]="{ 'is-invalid': submitted && f.purDate.errors}">
        <owl-date-time [pickerType]="'calendar'" #dt2></owl-date-time>
        <div *ngIf="submitted && f.purDate.errors" class="invalid-feedback">
          <div *ngIf="f.purDate.errors.required">Purchase Date is required</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>From Date <span class="mandatory">*</span></label>
        <input (blur)="getToDate($event)" [min]="maxDate" class="form-control" [owlDateTimeTrigger]="dt1"
          [owlDateTime]="dt1" [(ngModel)]="frmdt" placeholder="From Date" formControlName="fromDate"
          [ngClass]="{ 'is-invalid': submitted && f.fromDate.errors , 'disabletext': disbaleformdate }">
        <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" #dt1></owl-date-time>
        <div *ngIf="submitted && f.fromDate.errors" class="invalid-feedback">
          <div *ngIf="f.fromDate.errors.required">From Date is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>To Date <span class="mandatory">*</span></label>
        <!-- <input type="text" class="form-control disabletext" placeholder="To Date" formControlName="toDate"
              [ngClass]="{ 'is-invalid': submitted && f.toDate.errors }"> -->
        <input class="form-control " (blur)="changeToDate($event)" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3"
          [(ngModel)]="todt" placeholder="To Date" [ngClass]="{ 'disabletext': graceAdd }" formControlName="toDate"
          [ngClass]="{ 'is-invalid': submitted && f.toDate.errors}">
        <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
        <div *ngIf="submitted && f.toDate.errors" class="invalid-feedback">
          <div *ngIf="f.toDate.errors.required">To Date is required</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Grace Period</label>
        <input class="form-control" [min]="todt" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5" [(ngModel)]="gracePir"
          [ngClass]="{ 'disabletext': graceAdd }" placeholder="Grace Period" formControlName="grcPir">
        <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" #dt5></owl-date-time>
      </div>
      <div class="form-group col-md-6">
        <!-- <label>Total Amount <span class="mandatory">* </span><span class="calc" (click)="calculate()">Calculate</span> </label> -->
        <label>Discount(%) <span class="mandatory">*</span></label>
        <input (blur)="setDisc($event)" type="text" class="form-control" placeholder="Discount"
          formControlName="discountPercent"
          [ngClass]="{ 'is-invalid': submitted && f.discountPercent.errors , 'disabletext': disablebtn}" min="0"
          max="100" maxlength="3">
        <div *ngIf="submitted && f.discountPercent.errors" class="invalid-feedback">
          <div *ngIf="f.discountPercent.errors.required">Discount is required</div>
          <div *ngIf="f.discountPercent.errors.pattern">Discount is invalid</div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <!-- <label>No. of Users <span class="mandatory">*</span></label>
          <input (blur)="setPerson($event)" type="text" class="form-control" placeholder="No. of Persons"
            formControlName="userCount" [ngClass]="{ 'is-invalid': submitted && f.userCount.errors, 'disabletext': disablebtn, 'disabletext': uAdd }">
          <div *ngIf="submitted && f.userCount.errors" class="invalid-feedback">
            <div *ngIf="f.userCount.errors.required">No. of Persons is required</div>
            <div *ngIf="f.userCount.errors.pattern">No. of Persons is invalid</div>
          </div> -->
        <label>Total Amount <span class="mandatory">* </span></label>

        <input type="text" class="form-control disabletext" placeholder="Total Amount" formControlName="totalAmt"
          [ngClass]="{ 'is-invalid': submitted && f.totalAmt.errors }">
        <div *ngIf="submitted && f.totalAmt.errors" class="invalid-feedback">
          <div *ngIf="f.totalAmt.errors.required">Total Amount is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Payment Type </label>
        <input type="text" [ngClass]="{ 'disabletext': disablebtn  }" class="form-control" placeholder="Payment Type"
          formControlName="paytype" maxlength="45">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Receipt No.</label>
        <input type="text" [ngClass]="{ 'disabletext': disablebtn  }" class="form-control" placeholder="Receipt No."
          formControlName="recptno" maxlength="45">
      </div>
      <div class="form-group col-md-6">
        <label>Payment Date</label>
        <input class="form-control" [max]="maxDate" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4"
          [ngClass]="{ 'disabletext': disablebtn  }" placeholder="Payment Date" formControlName="paydate">
        <owl-date-time [pickerMode]="'dialog'" [pickerType]="'calendar'" #dt4></owl-date-time>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>State <span class="mandatory">*</span></label>
        <select class="custom-select custom-select selectClass" [ngClass]="{ 'disabletext': statusDropdown  }"
          formControlName="dealstaname">
          <option value="1">Pending</option>
          <option value="2">Running</option>
          <option value="3">Expired</option>
        </select>
        <div *ngIf="submitted && f.dealstaname.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.dealstaname.errors.required">State is required</div>
        </div>
      </div>
      <div class="form-group col-md-6">
        <label>Status <span class="mandatory">*</span></label>
        <select class="custom-select custom-select selectClass" [ngClass]="{ 'disabletext': statusDropdown  }"
          formControlName="status">
          <option value="1">Active</option>
          <option value="2">Inactive</option>
        </select>
        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
          <div class="statusmargin" *ngIf="f.status.errors.required">Status is required</div>
        </div>
      </div>
    </div>


  </div>

  <div class="mainDiv" style="margin-top:50px">

    <div class="form-row marTop">

      <div class="form-group col-md-6">
        <label>Payment Recieved Date </label>
        <input class="form-control" [owlDateTimeTrigger]="dt6" [owlDateTime]="dt6" [(ngModel)]="payrecdt"
          placeholder="Payment Recieved Date" formControlName="payRecDate"
          [ngClass]="{ 'is-invalid': submitted && f.payRecDate.errors}">
        <owl-date-time [pickerType]="'calendar'" #dt6></owl-date-time>
        <div *ngIf="submitted && f.payRecDate.errors" class="invalid-feedback">
          <div *ngIf="f.payRecDate.errors.required">Payment Recieved Date is required</div>
        </div>
      </div>


      <div class="form-group col-md-6">
        <label>Gross Amount </label>
        <input type="text" class="form-control" placeholder="Gross Amount" formControlName="gross"
          [ngClass]="{ 'is-invalid': submitted && f.gross.errors}" min="0" max="100" maxlength="20">
      </div>

    </div>

    <div class="form-row">

      <div class="form-group col-md-6">
        <label>Deducted Amount</label>
        <input type="text" class="form-control " placeholder="Deducted Amount" formControlName="deducted"
          [ngClass]="{ 'is-invalid': submitted && f.deducted.errors }">
      </div>

      <div class="form-group col-md-6">
        <label>Net Amount </label>
        <input type="text" class="form-control" placeholder="Net Amount" formControlName="netAmount"
          [ngClass]="{ 'is-invalid': submitted && f.netAmount.errors }" min="0" max="100" maxlength="20">
      </div>
    </div>
  </div>


  <div class="bgHide" *ngIf="!hidePopup" (click)="hideinvoice()"></div>
  <div class="poopupDiv" *ngIf="!hidePopup">
    <h1 text-center>SUMMARY</h1>
    <span (click)="hideinvoice()" class="close">X</span>
    <table>
      <tr class="heading">
        <th>Feature Name</th>
        <th></th>
        <th>Price(₹)</th>
        <!-- <th>Total(₹)</th> -->
      </tr>
      <!-- <tr *ngFor="let item of feaCostArray">
        <td>{{item.featurename}}</td>
        <td>{{item.baserate}} X {{confirmList.countUser}} </td>
        <td>{{featuretotal(item.baserate)}}</td>
      </tr> -->
      <tr *ngFor="let item of selectedItems">
        <td>{{item.featurename}}</td>
        <td></td>
        <td>{{item.baserate}}</td>
        <!-- <td>{{featuretotal(item.baserate)}}</td> -->
      </tr>
      <tr class="topbor">
        <td>Package price(₹):</td>
        <td></td>
        <td>{{confirmList.pkg.price}}</td>
      </tr>
      <tr class="topbor">
        <td>Total price(₹):</td>
        <td>Package price({{confirmList.pkg.price}}) x Users({{this.confirmList.countUser}})</td>
        <td>{{confirmList.baseAmt}}</td>
      </tr>
      <tr>
        <td>Discount</td>
        <td>{{confirmList.discountPer}}%</td>
        <td>- {{percent(confirmList.baseAmt, confirmList.discountPer)}}</td>
      </tr>
      <tr>
        <td>GST</td>
        <td>{{confirmList.gstNo}}%</td>
        <td>+{{gstpercent()}}</td>
      </tr>
      <tr class="topbor">
        <td>Grand Total(₹):</td>
        <td></td>
        <td>{{GrandTotal()}}</td>
      </tr>
    </table>
    <div class="btndivPop">
      <button (click)="hideinvoice()" type="button" class="btn AddBtn">cancel</button>
      <button type="button" class="btn AddBtn" (click)="confirmSubmit()">Submit</button>
    </div>
  </div>
</form>
