<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
    <div class="TopButton">
      <div class="btninnerDiv">
        <button type="submit" class="btn AddBtn subBtn">Submit</button>
        <button class="btn AddBtn" (click)="back()">Back</button>
      </div>
    </div>
    <div class="mainDiv" style="margin-top:50px">
      <div class="text">
        <h1 *ngIf="this.interestData.length == 0">Add Interest</h1>
        <h1 *ngIf="this.interestData.length > 0">Edit Interest</h1>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-4">
            <label>Interest Name <span class="mandatory">*</span></label>
            <input (blur)="Validation($event)" type="text" class="form-control" placeholder="Interest Name" formControlName="iname"
              [ngClass]="{ 'is-invalid': submitted && f.iname.errors }" maxlength="50">
            <div *ngIf="submitted && f.iname.errors" class="invalid-feedback">
              <div *ngIf="f.iname.errors.required">Interest name is required</div>
            </div>
        </div>
        <div class="form-group col-md-4">
          <label>Interest Code <span class="mandatory">*</span></label>
          <input (blur)="Validation($event)" type="text" class="form-control" placeholder="Interest Code" formControlName="icode"
            [ngClass]="{ 'is-invalid': submitted && f.icode.errors }" maxlength="5">
          <div *ngIf="submitted && f.icode.errors" class="invalid-feedback">
            <div *ngIf="f.icode.errors.required">Interest Code is required</div>
          </div>
      </div>
        <div class="form-group col-md-4">
            <label>Status <span class="mandatory">*</span></label>
            <select class="custom-select custom-select selectClass" formControlName="status">
              <option value="1">Active</option>
              <option value="2">Inactive</option>
            </select>
            <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                <div class="statusmargin" *ngIf="f.status.errors.required">Status is required</div>
            </div>
        </div>
      </div>
    </div>
  </form>
  
  