<div class="TopButton">
  <div class="btninnerDiv">
    <button class="AddBtn" (click)="addRate()">ADD</button>
    <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
  </div>
</div>

<div class="TableDiv">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="upperMiddle" scope="col" (click)="sort('fname')" (click)="invert()"> Feature Name
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'fname' && !isDesc) ,'fa-sort-desc': (column == 'fname' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('frate')" (click)="invert()"> Base Rate(₹)
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'frate' && !isDesc) ,'fa-sort-desc': (column == 'frate' && isDesc) }"
              aria-hidden="true"></i>
          </th>
        <th class="upperMiddle" scope="col" (click)="sort('status')">Status<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'status' && !isDesc),'fa-sort-desc': (column == 'status' && isDesc) }"
            aria-hidden="true"></i> </th>
         <th scope="col"></th>
        <!-- <th scope="col"></th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Feature Name" alphabetOnly [(ngModel)]="search.fname"
              type="search" aria-describedby="basic-addon1" maxlength="50">
          </div>
        </th>
        <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Base Rate" myNumberOnly [(ngModel)]="search.frate"
                type="search" aria-describedby="basic-addon1" maxlength="11">
            </div>
          </th>
        <th>
          <div class="Textbox">
            <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
              [(ngModel)]="search.status">
              <option value="" selected>Select</option>
              <option value="1">Active</option>
              <option value="2">Inactive</option>
            </select>
          </div>
        </th>
        <th class="clear"><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
        <!-- <th></th> -->
      </tr>
      <tr class="userList"
        *ngFor="let item of rateList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
        <td>{{ item.fname }}</td>
        <td class="phoneClass">{{ item.frate }}</td>
        <td>
          <p *ngIf="item.status == 1">Active</p>
          <p no-margin *ngIf="item.status == 2">Inactive</p>
        </td>
        <td class="edit borderLeft"><i class="far fa-edit" (click)="editRate(item)"></i></td>
      </tr>
    </tbody>
  </table>
  <div class="nodata" *ngIf="!featureLength">
    <div class="imageNO">
      <!-- <img src="../../../assets/images/binders.png"> -->
      <p>No Data Found</p>
    </div>
  </div>
  <div class="nodata" *ngIf="setveractive">
    <div class="imageNO">
      <!-- <img src="../../../assets/images/binders.png"> -->
      <p>Server Error</p>
    </div>
  </div>
</div>

<div *ngIf="rateList" style="width: 100%; text-align: center;margin-top: 10px;">
  <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true" autoHide="true">
  </pagination-controls>
</div>
