<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
    <div class="TopButton">
      <div class="btninnerDiv">
        <button type="submit" class="btn AddBtn subBtn">Submit</button>
        <button class="btn AddBtn" (click)="back()">Back</button>
      </div>
    </div>
    <div class="mainDiv" style="margin-top:50px">
      <div class="text">
        <h1 *ngIf="this.duratationData.length == 0">Add Duration</h1>
        <h1 *ngIf="this.duratationData.length > 0">Edit Duration</h1>
      </div>
  
      <div class="form-row">
        <div class="form-group col-md-6">
            <label>Duration(Months) <span class="mandatory">*</span></label>
            <input (blur)="Validation($event)" type="text" class="form-control" placeholder="Duration" formControlName="months"
              [ngClass]="{ 'is-invalid': submitted && f.months.errors }">
            <div *ngIf="submitted && f.months.errors" class="invalid-feedback">
              <div *ngIf="f.months.errors.required">Duration is required</div>
              <div *ngIf="f.months.errors.pattern">Duration is invalid</div>
            </div>
        </div>
        <!-- <div class="form-group col-md-6">
            <label>Per Price <span class="mandatory">*</span></label>
              <select class="custom-select custom-select selectClass" formControlName="perPrice">
                <option value="0">0</option>
                <option value="1">1</option>
              </select>
            <div *ngIf="submitted && f.perPrice.errors" class="invalid-feedback">
              <div *ngIf="f.perPrice.errors.required">Per Price is required</div>
            </div>
        </div> -->
        <div class="form-group col-md-6">
            <label>Discount(%) <span class="mandatory">*</span></label>
            <input (blur)="Validation($event)" type="text" class="form-control" placeholder="Discount" formControlName="discount"
              [ngClass]="{ 'is-invalid': submitted && f.discount.errors }" min="0" max="100" maxlength="3">
            <div *ngIf="submitted && f.discount.errors" class="invalid-feedback">
              <div *ngIf="f.discount.errors.required">Discount is required</div>
              <div *ngIf="f.discount.errors.pattern">Discount is invalid</div>
            </div>
          </div>
      </div>
      <div class="form-row">
          <div class="form-group col-md-6">
              <label>Status <span class="mandatory">*</span></label>
              <select class="custom-select custom-select selectClass" formControlName="status">
                <option value="1">Active</option>
                <option value="2">Inactive</option>
              </select>
              <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
                  <div class="statusmargin" *ngIf="f.status.errors.required">Status is required</div>
              </div>
          </div>
      </div>
    </div>
  </form>
