<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="addDiv">
  <div class="TopButton">
    <div class="btninnerDiv">
      <button type="submit"  class="btn AddBtn subBtn" [disabled]="message">Submit</button>
      <button class="btn AddBtn" (click)="back()">Back</button>
    </div>  
  </div>
  <div class="mainDiv" style="margin-top:50px">
    <div class="text">
      <h1 *ngIf="editProdata.length > 0">Edit Promotion</h1>
      <h1 *ngIf="editProdata.length == 0">Add Promotion</h1>
    </div>

    <div class="progress form-group" *ngIf="progress > 0">
        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
        </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Promotion Name <span class="mandatory">*</span></label>
        <input type="text" class="form-control" placeholder="Promotion Name" formControlName="pname" maxlength="45"
          [ngClass]="{ 'is-invalid': submitted && f?.pname.errors }">
        <div *ngIf="submitted && f?.pname.errors" class="invalid-feedback">
            <div *ngIf="f?.pname.errors.required">Promotion name is required</div>
        </div>
      </div>

      <div class="form-group col-md-6">
          <label>Status <span class="mandatory">*</span></label>
          <select class="custom-select custom-select selectClass" formControlName="status">
            <option value="" selected disabled>Select</option>
            <option value="1">Active</option>
            <option value="2">Inactive</option>
          </select>
          <div *ngIf="submitted && f?.status.errors" class="invalid-feedback">
            <div class="statusmargin" *ngIf="f?.status.errors.required">Status is required</div>
          </div>
      </div>
    </div>

    <div class="form-row">
      
        <div class="form-group col-md-6">
            <label>Start Date <span class="mandatory">*</span></label>
              <input class="form-control" [min]="minDate" [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" 
              placeholder="Start Date" formControlName="startDt" 
              [ngClass]="{ 'is-invalid': submitted && f?.startDt.errors }">
              <owl-date-time [pickerMode]="'dialog'" [pickerType]="'both'" #dt1></owl-date-time>
              <div *ngIf="submitted && f?.startDt.errors" class="invalid-feedback">
                  <div *ngIf="f?.startDt.errors.required">Start Date is required</div>
              </div>
          </div>

          <div class="form-group col-md-6">
              <label>End Date <span class="mandatory">*</span></label>
                <input class="form-control" [min]="maxDate" [owlDateTimeTrigger]="dt2" [owlDateTime]="dt2" 
                placeholder="End Date" formControlName="endDt" 
                [ngClass]="{ 'is-invalid': submitted && f?.endDt.errors }">
                <owl-date-time [pickerMode]="'dialog'" [pickerType]="'both'" #dt2></owl-date-time>
                <div *ngIf="submitted && f?.endDt.errors" class="invalid-feedback">
                    <div *ngIf="f?.endDt.errors.required">End Date is required</div>
                </div>
            </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Descripition <span class="mandatory">*</span></label>
            <textarea  class="form-control textAr"  placeholder="Descripition" rows="4"  formControlName="desc" maxlength="5000"
              [ngClass]="{ 'is-invalid': submitted && f?.desc.errors }"></textarea>
            <div *ngIf="submitted && f?.desc.errors" class="invalid-feedback">
              <div *ngIf="f?.desc.errors.required">Discripition is required</div>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label>Upload file <span class="mandatory">*</span></label>
            <div class="custom-file">
                <input type="file" formControlName="file" accept="video/*,image/*,application/pdf" class="custom-file-input" title="{{ fileName }}" id="customFile" (change)="handleFileInput($event.target.files)">
                <label class="custom-file-label" for="customFile">{{ fileName }}</label>
            </div>
            <span style="color:red;" *ngIf="message">{{message}}</span>
        </div>


        <!-- <div class="form-group col-md-2">
            <label class=toggleLabel> Status </label>
            <div>
                <label class="switch">
                    <input type="checkbox"  formControlName="highL" value="test"  (click)="onToggle(test)" >
                    <span class="slider round"></span>
                </label>
            </div>
        </div> -->
        
    </div>

    <!-- <div class="form-row">
    
        
    </div> -->

  </div>
</form>