<div class="TopButton">
  <span>Broadcast : {{( tableList | filterBy: search).length}}</span>
  <div class="btninnerDiv">
    <button class="AddBtn" (click)="addEditBrodcast('', 'add')">ADD NEW +</button>
    <button class="AddBtn" (click)="exportExcel()">EXPORT TO EXCEL</button>
  </div>
</div>
<div class="TableDiv">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="upperMiddle" scope="col" (click)="sort('title')" (click)="invert()">Title
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'title' && !isDesc) ,'fa-sort-desc': (column == 'title' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('type')" (click)="invert()">Type
          <i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'type' && !isDesc) ,'fa-sort-desc': (column == 'type' && isDesc) }"
            aria-hidden="true"></i>
        </th>
        <th class="upperMiddle" scope="col" (click)="sort('category')" (click)="invert()">Recipent
          <i class="fa" [ngClass]="{'fa-sort-asc': (column == 'category' && !isDesc) ,'fa-sort-desc': (column == 'category' &&
            isDesc) }" aria-hidden="true"></i>
        </th>

        <th class="upperMiddle" scope="col" (click)="sort('publishDate')" (click)="invert()">Publish Date
          <i class="fa" [ngClass]="{'fa-sort-asc': (column == 'publishDate' && !isDesc) ,'fa-sort-desc': (column == 'publishDate' &&
            isDesc)}" aria-hidden="true"></i>
        </th>

        <th class="upperMiddle" scope="col" (click)="sort('expiryDate')" (click)="invert()">Expiry Date
          <i class="fa" [ngClass]="{'fa-sort-asc': (column == 'expiryDate' && !isDesc) ,'fa-sort-desc': (column == 'expiryDate' &&
            isDesc)}" aria-hidden="true"></i>
        </th>

        <th class="upperMiddle" scope="col" (click)="sort('status')">Status<i class="fa"
            [ngClass]="{'fa-sort-asc': (column == 'status' && !isDesc),'fa-sort-desc': (column == 'status' && isDesc) }"
            aria-hidden="true"></i> </th>
        <th scope="col"></th>
        <!-- <th scope="col"></th> -->
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Title" [(ngModel)]="search.title" type="search"
              aria-describedby="basic-addon1" maxlength="45">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Type" alphabetOnly [(ngModel)]="search.type"
              type="search" aria-describedby="basic-addon1" maxlength="45">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Category" alphabetOnly
              [(ngModel)]="search.category" type="search" aria-describedby="basic-addon1" maxlength="45">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Publish Date" [(ngModel)]="search.publishDate"
              type="search" aria-describedby="basic-addon1" maxlength="15">
          </div>
        </th>
        <th>
          <div class="Textbox">
            <input class="form-control with-primary-addon" placeholder="Expiry Date" [(ngModel)]="search.expiryDate"
              type="search" aria-describedby="basic-addon1" maxlength="15">
          </div>
        </th>

        <th>
          <div class="Textbox">
            <select class="selectSup" aria-placeholder="Status" (change)="myFunction($event)"
              [(ngModel)]="search.status">
              <option value="" selected>Select</option>
              <option value="1">Active</option>
              <option value="2">Inactive</option>
            </select>
          </div>
        </th>
        <th class="clear"><button class="AddBtn clearBtn" (click)="clearBtn()">CLEAR</button></th>
        <!-- <th></th> -->
      </tr>
      <tr class="userList"
        *ngFor="let item of tableList | filterBy: search | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
        <td>{{ item.title }}</td>
        <td>{{ item.type }}</td>
        <td>{{ item.category }}</td>
        <td>{{ item.publishDate }}</td>
        <td>{{ item.expiryDate }}</td>
        <td class="text-center">
          <p *ngIf="item.status == 1">Active</p>
          <p no-margin *ngIf="item.status == 2">Inactive</p>
        </td>
        <td class="edit borderLeft"><i class="far fa-edit" (click)="addEditBrodcast(item, 'edit')"></i></td>
      </tr>
    </tbody>
  </table>
  <div class="nodata" *ngIf="tableList.length == 0">
    <div class="imageNO">
      <p>No Data Found</p>
    </div>
  </div>
  <div class="nodata" *ngIf="setveractive">
    <div class="imageNO">
      <p>Server Error</p>
    </div>
  </div>
</div>
<div *ngIf="tableList" style="width: 100%; text-align: center;margin-top: 10px;">
  <pagination-controls (pageChange)="p = $event" maxSize="5" directionLinks="true">
  </pagination-controls>
</div>
