.AddBtn{
    padding: 8px 21px;
    border: 1px solid #01579b;
    background: #01579b;
    color: #ffffff;
    transition: .4s ease-in-out;
    cursor: pointer!important;
    border-radius: 3px;
    outline: none;
    margin-top: -7px;
    margin-right: 10px;
    float: right;
}

.clearBtn {
    padding: 3px 6px;
    border: 1px solid #01579b;
    background: #01579b;
    color: #ffffff;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    cursor: pointer !important;
    border-radius: 3px;
    outline: none;
    margin-top: 0px;
    margin-right: 8px;
    float: right;
}

.txtn{
    font-weight: 500;
    font-size: 16px;
}