<div>
  <div class="filter">
    <button class="AddBtn exportBtn" (click)="goBack()">BACK</button>
    <span class="txtn">{{category}} : {{(activityDetail| filterBy: searchManual).length}}</span>
    <button class="AddBtn exportBtn" (click)="exportExcelCorp()">EXPORT TO EXCEL</button>
  </div>
  <div class="corpButton">
  </div>


  <div class="TableDiv marginClass">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="upperMiddle" scope="col" (click)="sort('subname')" (click)="invert()">NAME
            <i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'subname' && !isDesc) ,'fa-sort-desc': (column == 'subname' && isDesc) }"
              aria-hidden="true"></i>
          </th>
          <th class="upperMiddle" scope="col" (click)="sort('corpname')">COMPANY<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'corpname' && !isDesc),'fa-sort-desc': (column == 'corpname' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('phoneno')">MOB NO.<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'phoneno' && !isDesc),'fa-sort-desc': (column == 'phoneno' && isDesc) }"
              aria-hidden="true"></i> </th>

          <th class="upperMiddle" scope="col" (click)="sort('baseAmt')">TAXABLE VALUE<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'baseAmt' && !isDesc),'fa-sort-desc': (column == 'baseAmt' && isDesc) }"
              aria-hidden="true"></i> </th>

          <th class="upperMiddle" scope="col" (click)="sort('totalAmt')">INVOICE AMT.<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'totalAmt' && !isDesc),'fa-sort-desc': (column == 'totalAmt' && isDesc) }"
              aria-hidden="true"></i> </th>

          <th class="upperMiddle" scope="col" (click)="sort('fromDate')">START DATE<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'fromDate' && !isDesc),'fa-sort-desc': (column == 'fromDate' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('gracePeriod')">END DATE<i class="fa"
              [ngClass]="{'fa-sort-asc': (column == 'gracePeriod' && !isDesc),'fa-sort-desc': (column == 'gracePeriod' && isDesc) }"
              aria-hidden="true"></i> </th>
          <th class="upperMiddle" scope="col" (click)="sort('status')">STATUS<i class="fa" aria-hidden="true"></i> </th>

          <th scope="col"></th>
        </tr>
      </thead>
      <tbody *ngIf="activityDetail.length > 0">
        <tr>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Name" alphabetOnly
                [(ngModel)]="searchManual.subname" type="search" aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Company" [(ngModel)]="searchManual.corpname"
                type="search" aria-describedby="basic-addon1" maxlength="45">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Mob No." myNumberOnly
                [(ngModel)]="searchManual.phoneno" type="search" aria-describedby="basic-addon1" maxlength="10">
            </div>
          </th>


          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Taxable Value"
                [(ngModel)]="searchManual.baseAmt" type="search" aria-describedby="basic-addon1" maxlength="10">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Invoice Value" myNumberOnly
                [(ngModel)]="searchManual.totalAmt" type="search" aria-describedby="basic-addon1" maxlength="10">
            </div>
          </th>



          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Start date"
                [(ngModel)]="searchManual.fromDate" type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="End date"
                [(ngModel)]="searchManual.gracePeriod" type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>
          <th>
            <div class="Textbox">
              <input class="form-control with-primary-addon" placeholder="Status" [(ngModel)]="searchManual.status"
                type="search" aria-describedby="basic-addon1" maxlength="15">
            </div>
          </th>



          <th><button class="clearBtn clearBtn" (click)="clearBtnManual()">CLEAR</button></th>
        </tr>
        <tr class="userList1"
          *ngFor="let item of activityDetail  | filterBy: searchManual | paginate: { itemsPerPage: 10, currentPage: q, id: 'q'  }; let i = index">
          <td>{{ item.subname }}</td>
          <td>{{ item.corpname }}</td>
          <td class="phoneClass">{{ item.phoneno }}</td>
          <td>{{ item.baseAmt }}</td>
          <td>{{ item.totalAmt }}</td>

          <td>{{ item.fromDate }}</td>
          <td>{{ item.gracePeriod }}</td>
          <td>{{ item.status}}</td>
          <td></td>
        </tr>
        <tr></tr>
      </tbody>
    </table>




    <div *ngIf="activityDetail" style="width: 100%; text-align: center;margin-top: 10px;">
      <pagination-controls (pageChange)="q = $event" maxSize="5" directionLinks="true" autoHide="true" id='q'>
      </pagination-controls>
    </div>
  </div>
