<div class="ForumDiv comfort">
    <div class="btninnerDiv">
      <label class="title">{{title}}</label>
      <p style="margin-bottom: 0px;" class="description">{{discription}}</p>
      <div class="dateDiv">
          <label class="dateFormat">Start date : {{stDate | date:'dd-MMM-yyyy, h:mm a'}}</label>
          <label class="dateFormat ed">End date : {{eDate | date:'dd-MMM-yyyy, h:mm a'}}</label>    
          <button *ngIf="showAnsBtn" class="answerBtn" (click)="giveAnswerMultiple()">Answer</button>
      </div>
      <button class="AddBtn" (click)="goToForums()">BACK</button>
    </div>
  <div>

    <div class="nodata" *ngIf="featureLength">
      <div class="imageNO serErr">
        <p>No comments yet</p>
      </div>
    </div>
    <div class="nodata" *ngIf="setveractive">
      <div class="imageNO serErr">
        <p>Server Error</p>
      </div>
    </div>
      

<div class="Maindivin" [ngClass]="viewForum.length == 0 ? 'demo' : ''">
  <nb-card class="pollCard" *ngFor="let item of viewForum">
    <nb-card-body class="cardBody">
        <div class="row mainRow">
            <!-- <div *ngIf="item.forumCommReply.length == 0"> -->
              <div>
                <label class="containerd">
                    <!-- (change)="check($event)"  -->
                    <input type="checkbox" [(ngModel)]= item.isChecked  [disabled]="item.forumCommReply.length == 0 ? fasle : true" (change)="checkValue(item)"/>
                    <span class="checkmarks" [ngStyle]="{'background':item.forumCommReply.length == 0 ? '' : 'lightgrey' }"></span>
                </label>
            </div>  
            <img style="margin-left: 29px;" src="assets/images/userfor.png" height="24">
            <label>{{item.commSubName}}&nbsp; <span style="font-size: 15px;" *ngIf="item.commSubCorp"> ({{item.commSubCorp}}) </span></label>
              <!-- <input type="checkbox"  (change)="checkValue(item)" /> -->
            <div class="Adate">
                <p> <i class="far fa-calendar-alt"></i><span>{{item.commDate | date :'dd-MMM-yyyy, h:mm a'}}</span></p>
            </div>
        </div>
        <hr>
        <div class="comment">
            {{item.commentText}}
        </div>
    
        <nb-accordion>
          <nb-accordion-item>
            <nb-accordion-item-header class="lesspadding">
              <div class="row accor">
                <div class="col pdng">
                  <i class="fas fa-thumbs-up"></i>
                  <span> {{item.CommLikeCount}}</span>
                    <!-- <p>Likes</p> -->
                </div>
                <div class="col pdng1">
                    <i class="fas fa-reply"></i>
                  <span> {{item.CommReplyCount}}</span>
                    <!-- <p>Replies</p> -->
                </div>
              </div>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              <div class="scrollReplies">
                  <div *ngFor="let content of item.forumCommReply">
                      <div class="row mainRow">
                          <img src="assets/images/userfor.png" height="24">
                          <label>{{content.repSubName}} <i class="fas fa-thumbs-up"></i> {{content.CommReplyLikeCount}}</label>
                          <div class="Adate1">
                              <p><i class="far fa-calendar-alt"></i><span>{{content.repDate | date :'dd-MMM-yyyy, h:mm a'}}</span></p>
                      </div>
                      </div>
                      <hr>
                      <div class="comment">
                          {{content.replyText}}
                      </div>
                  </div>
              </div>
      
              <!-- <div *ngFor="let obj of adminCommList">
                  <div class="row mainRow">
                      <img src="assets/images/replyimg.jpg" height="24">
                      <label>{{obj.commentUser}}</label>
                      <div class="Adate">
                          <p><i class="far fa-calendar-alt"></i><span>{{obj.commentDate | date :'dd-MM-yyyy'}}</span></p>
                  </div>
                  </div>
                  <hr>
                  <div class="comment"> 
                      {{obj.commentText}}
                  </div>
              </div> -->
              <!-- <textarea class="textArR" [disabled]="disableAll" placeholder="Answer" rows="6" [(ngModel)]="admCom"></textarea>
              <button (click)="postComment(item)" [disabled]="disableAll" class="AddBtn1" [ngClass]="{ 'disbl': disableAll }">Post</button> -->
              <div class="container" *ngIf="item.forumCommReply.length == 0">
                  <div class="row">
                    <div class="col-10" style="padding-right: 0px; padding-left: 4px;">
                        <textarea class="textArR" [disabled]="disableAll" placeholder="Answers" rows="6" [(ngModel)]="admCom"></textarea> 
                    </div>
                    <div class="col-2">
                        <button (click)="postComment(item)" [disabled]="disableAll" class="answerBtn2" [ngClass]="{ 'disbl': disableAll }">Post</button>      
                    </div>
                  </div>
                </div>
                <!-- <div class="row mainRow">
                    <img src="assets/images/replyimg.jpg" height="24">
                    <label>Rock</label>
                    <div class="Adate">
                        <p><i class="far fa-calendar-alt"></i><span>15-04-2019</span></p>
                </div>
                </div>
                <hr>
                <div class="comment">
                    I, too am using angular-meteor with the latest release of Angular 4 without issue, but my use of Meteor calls on the client-side is quite minimal, as we’re primarily using Apollo GraphQL.
                </div> -->
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
    </nb-card-body>
  </nb-card>
</div>

<div class="footerDiv">
  <textarea [disabled]="disableAll" class="textAr" placeholder="Question" rows="6" [(ngModel)]="admNewCom"></textarea>
  <button [disabled]="disableAll" (click)="postNewComment()" class="cmtBtn" [ngClass]="{ 'disbl': disableAll }">Post</button>
</div>

<!-- pop up -->
<div class="bgHide" *ngIf="commentSection" (click)="onMainScreen()"></div>
<div *ngIf="commentSection" class="poopupDiv">
  <nav class="navbar" style="background-color: #01579b; padding-bottom: 0px;">
    <div class="navbar-brand">
      <h4 style="color: white;">Multiple Answers</h4>         
    </div>
    <i class="fa fa-times" style="float: right; color: white;"  (click)="onMainScreen()" aria-hidden="true"></i>
  </nav>

  <div class="container" style=" margin-top: 16px;">
    <div class="popinnerQuestion" *ngFor="let name of questionList; let i = index">
      <span style="color: black ;">Q&nbsp;{{i+1}}</span> : &nbsp;<span>{{name}}</span>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-9">
          <span class="questionLabel"> 
              Question by admin for same answer.
          </span>
      </div>
      <div class="col-md-3">
        <button class="questionBtn" (click)="onadminComment()"> 
          <span *ngIf="!adminComment">Create</span> 
          <span *ngIf="adminComment">X</span> 
        </button>
      </div>
    </div>
  </div>
  <div class="container" *ngIf="adminComment">
    <div class="row">
        <textarea [disabled]="disableAll" class="textArs" placeholder="Your Question" rows="6" [(ngModel)]="admNewCom"></textarea>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
      <div class="col-10">
          <textarea class="textArR" [disabled]="disableAll" placeholder="Answers for Comment" rows="6" [(ngModel)]="admCom"></textarea> 
      </div>
      <div class="col-2">
          <button (click)="postMultipleAnswer()" [disabled]="disableAll" class="answerBtn2" [ngClass]="{ 'disbl': disableAll }">Post</button>      
      </div>
    </div>
  </div>
</div>


