//popup
.bgHide{
  position: fixed;
  background: #1b1a1a12;
  z-index: 1041;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.poopupDiv{
  overflow-y: scroll;
  text-align: center;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 49%;
  left: 50%;
  scroll-behavior: unset;
  width: 50%;
  background: #ffffff;
  border-radius: 7px;
  -webkit-box-shadow: 1px 2px 10px 0px #585757;
  box-shadow: 1px 2px 10px 0px #585757;
  z-index: 1041;
  .close{
    position: absolute;
    right: 4px;
    top: 4px;
    padding: 12px;
    color: #000;
    font-size: 15px;
    cursor: pointer;
  }
}
.popinnerQuestion {
  font-size: 13px;
  padding-left: 14px;
  text-align: left;
  line-height: 1.2;
  display: flex;
  padding-bottom: 8px;
}
.questionLabel {
  float: left;
  color: black;
  font-size: 15.5px;
  align-content: center;
  padding-top: 5px;
}
.header {
  margin-top: 24px;;
}
.questionBtn {
  padding: 6px 12px;
  float: right;
  border: 1px solid #01579b;
  background: #01579b;
  color: #ffffff;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer !important;
  border-radius: 3px;
  outline: none;
}
.answerBtn {
  padding: 8px 21px;
  margin-right: 17px;
  border: 1px solid #01579b;
  background: #01579b;
  color: #ffffff;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer !important;
  border-radius: 3px;
  outline: none;
  float: right  ;
  margin-left: 6px;
}
.textArs {
  resize: none;
  width: 78%;
  margin-top: 16px;
  margin-bottom: 27px;
  height: 56px;
  margin-left: 3%;
  border-radius: 6px !important;
  padding: 12px;
}
.ForumDiv {
    background: white;
    position: sticky;
    top: 66px;
    width: 100%;
    z-index: 2;
    left: 0;
    // height: 56px;
    box-shadow: 3px 3px 5px 0px #ccc;
  }

  .labelAnswer{
    float: left;
    margin-left: 11px;
    color: black;
    font-size: 16px;
  }

  .containerd {
    display: block;
   
    // padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .containerd input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmarks {
    position: absolute;
   
    top: 0;
    
    height: 25px;
    width: 25px;
    border: 1px solid slategrey;
    border-radius: 6px;
  }
  
  /* On mouse-over, add a grey background color */
  .containerd:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .containerd input:checked ~ .checkmarks {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmarks:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .containerd input:checked ~ .checkmarks:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .containerd .checkmarks:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .answerBtn2{
    float: right;
    margin-top: 20px;
    border: 1px solid #01579b;
    background: #01579b;
    color: #ffffff;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    cursor: pointer !important;
    border-radius: 3px;
    outline: none;
    padding: 7px 18px;
    margin-right: 1px;
    
  }
  .multiplecomment{
   
    position: fixed;
    // display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
  }



  .description{
    font-size: 16px;
    color: darkslategrey;
    padding-left: 10px;

  }
  .btninnerDiv {
    // position: absolute;
    right: 0;
    .title{
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 25px;
    color: black;
    width: 85%;
    }
  }
  .AddBtn,
.listBtn {
  padding: 8px 21px;
  border: 1px solid #01579b;
  background: #01579b;
  color: #ffffff;
  transition: .4s ease-in-out;
  cursor: pointer !important;
  border-radius: 3px;
  outline: none;
  margin-top: 8px;
  margin-right: 17px;
  position: absolute;
    right: 0;
    top: 0;
}

.AddBtn:hover {
  color: #01579b;
  background: #ffffff;
}
.Maindivin{
  padding: 0px 26px;
  .TableDiv{
    background: #ffffff;
    box-shadow: 0px 0px 4px 1px #99cbf361;
    border-radius: 8px;
    // border-top-left-radius: 6px;
    // border-top-right-radius: 6px; 
    // border-bottom: 1px solid #7e7e7e;
    padding: 6px;
    margin-top: 4vh;
}
}
.scrollReplies{
  max-height: 150px;
    width: 100%;
    overflow-Y: scroll;
    overflow-x: hidden;
}
.mainRow{
    padding-left: 19px;
    position: relative;
    img{
      width: 28px;
      padding-right: 2px;
    }
    label{
      // width: 77%;
      font-size: 18px;
      margin-left: 2px;
      margin-right: 2px;
      i{
        font-size: 16px;
        margin-left: 6px;
        color:#01579b;
      }
    }
    div{
      display: contents;
      p{
          margin: 0;
      }
      span{
        color: #89939e !important;
      }
    }
    .Adate {
        margin-left: 4px;
        img{
          height: 22px;
          width: 22px;
          padding-right: 2px;
        }
        i {
          padding-right: 6px;
          font-size: 20px;
        }
        a{
          font-size: 14px;
        }
        h5 {
          font-size: 12px;
          font-weight: 700;
          margin-bottom: 3px;
          color: #999999;
        }
    
        p {
          margin-bottom: 5px;
          font-size: 12px;
          position: absolute;
          /* margin-left: 12px; */
          right: 17px;
        }
        a {
          color: #01579b;
        }
        div{
          border: 1px solid #01579b;
          color: #01579b;
          padding: 2px 4px;
          border-radius: 6px;
        }
        &:nth-child(1){
          margin-left: 0;
        }
      }
      .Adate1{
        p {
          margin-bottom: 5px;
          font-size: 12px;
          position: absolute;
          /* margin-left: 12px; */
          right: 32px;
        }
        i {
          padding-right: 6px;
          font-size: 20px;
        }
      }
  }
hr{
    margin-bottom: 0;
    margin-top: 0;
}
.comment{
    padding: 6px 35px;
}
.textAr{
    resize: none;
    width: 78%;
    margin-top: 10px;
    height: 56px;
    margin-left: 5%;
    border-radius: 6px !important;
    background: white;
  }
.textArR{
  padding: 12px;
  resize: none;
  width: 100%;
  margin-top: 10px;
  height: 56px;
  margin-left: 0px;
  border-radius: 6px !important;
  margin-bottom: 13px;
  background: white;
}
.AddBtn1{
  padding: 8px 21px;
  border: 1px solid #01579b;
  background: #01579b;
  color: #ffffff;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer !important;
  border-radius: 3px;
  outline: none;
  margin-top: 21px;
  margin-right: 17px;
  position: absolute;
  margin-left: 6px;
}
.accor{
    text-align: center;
    padding: 0;
    margin: 0;
    p{
        margin: 0;
    }
    .pdng{
        // padding: 0;
    }
    .pdng1{
      padding: 0px 15px 0px 0px;
    }
    i{
      right: unset;
    }
    span{
      margin-left: 18px;
    }
}
.cmtBtn{
    padding: 8px 21px;
    border: 1px solid #01579b;
    background: #01579b;
    color: #ffffff;
    transition: .4s ease-in-out;
    cursor: pointer !important;
    border-radius: 3px;
    outline: none;
    position: relative;
    margin-left: 6px;
    top: -24px;
    vertical-align: middle;
}
.newTxt{
    margin-top: 16px !important;
}
.newTxt:hover{
  color: #01579b;
  background: #ffffff;
}
.AddBtn1:hover{
  color: #01579b;
  background: #ffffff;
}
.footerDiv{
  position: sticky;
    bottom: 0;
    width: 100%;
    left: 50px;
    background: white;
}
.disbl{
  opacity: 0.7;
  cursor: default !important;
}
.disbl:hover{
  background: #01579b;
  color: #ffffff;
}

  .dateFormat{
    margin: 0;
    padding: 8px 2px;
    font-size: 14px;
    font-weight: 500;
  }
  .ed{
    margin-left: 10px;
  }
  .dateDiv{
    margin-left: 10px;
    padding-bottom: 10px; 
  }
  .pollCard{
    border-radius: 8px;
    box-shadow: 0px 0px 6px 6px #dfe3eb;
    margin: 20px;
    position: relative;
  }
  .cardBody{
    position: relative;
    
  }
  nb-accordion{
    box-shadow: none;
    .lesspadding{
      padding: 10px;
      margin-left: 12px;
      color: #01579b;
      box-shadow: none;
    }
  }
  .demo{
    height: 45vh;
  }
  .serErr{
    margin-top: 5%;
  }
@media only screen and (max-width: 768px) {
  .textAr {
    margin-left: 2%;
    width: 77%;
  }
  .cmtBtn {
    padding: 5px 10px;
  }
  .Maindivin {
    // padding: inherit;
    // padding-top: 30px;
    // padding-bottom: 70px;
  }
  .textArR {
    width: 83%;
  }
  .AddBtn {
    margin-right: 9px;
    padding: 5px 11px;
    font-size: 12px;
  }
  .AddBtn1 {
    padding: 6px 12px;
  }
  .btninnerDiv {
    .title {
    margin-left: 8%;
    margin-top: 3px;
    margin-bottom: 2px;
    font-size: 18px;
    }
  }
  .dateDiv {
    margin-left: 8%;
    .dateFormat {
      font-size: 11px;
    }
  }
}

@media only screen and (max-width: 576px) {
  .Maindivin {
    // padding: inherit;
    // padding-top: 12px;
    // padding-bottom: 70px;
  }
    .ed{
      margin-left: 0px;
    }

    .ForumDiv {
      top: 53px;
      height: inherit;
    }
  
    .cardDiv {
  
      .imageDiv,
      .contentDiv {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  
    .card {
      padding: 0px;
    }
  
    .cardDiv .contentDiv .edit {
      bottom: -10.9%;
      right: 2%;
      // bottom: -1.9%;
      // right: 0%;
    }
  
    .listDiv {
      .imageDiv1 img {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 6px;
      }
  
      .contentDiv {
        .edit {
          bottom: -0.9%;
        }
      }
    }

    .footerDiv {
      left: 0;
    }
    .textArR {
      width: 83%;
    }
    .btninnerDiv {
       .title {
       margin-left: 1%;
     }
    }
    .dateDiv {
      margin-left: 1%;
    }
}

@media only screen and (max-width: 546px) {
  .Maindivin {
    // padding-top: 38px;
    padding: 0px 26px;
  }
}

  @media only screen and (max-width: 480px) {
    .Maindivin {
      // padding-top: 28px;
      padding: 0px 26px;
    }
   .btninnerDiv {
     .title {
       width: 80%;
       font-size: 15px;
     }
   }
  //  .comment {
  //   padding: 6px 10px;
  //  }
   .textAr {
     width: 72%;   
   }
   .textArR {
    width: 74%;
  }
   .cmtBtn {
    padding: 6px 8px;
    font-size: 10px;
   }
   .AddBtn1 {
    position: absolute;
    margin-left: 5px;
   }
   .pollCard {
     margin: 20px;
   }
   .mainRow{
    .Adate1{
      p{
        position: relative;
        right: unset; 
      }
    }
  }
  }

  @media only screen and (max-width: 430px) {
    .mainRow{
      .Adate{
        p{
          position: relative;
          right: unset; 
        }
      }
    }
  }

  @media only screen and (max-width: 380px) {
    .textAr {
      width: 69%;
    }
    .mainRow{
      .Adate{
        p{
          position: relative;
          right: unset; 
        }
      }
    }
  //   nb-accordion{
  //   .lesspadding{
  //     margin-left: 0;
  //   }
  // }
  }